<!-- loancards INDEX PAGE -->
<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/requests">Requests</a>
			</li>
		</ul>
	</nav>
</section>
<div class="container mt-3 pt-3">
	<div class="container mt-3 pt-3">
		<div>
			<div class="row">
				<label class="col-3 col-form-label text-right" for="placed">Completed Requests:</label>
				<select id="placed" class='form-control col-9' type="text">
					<option value="1" <% if (query.placed === '1') { %>selected<% } %> >Include</option>
					<option value="2" <% if (query.placed === '2') { %>selected<% } %> >Exclude</option>
					<option value="3" <% if (query.placed === '3') { %>selected<% } %> >Only</option>
				</select>
			</div>
		</div>
	</div>
	<div>
		<table id="requestTable" class="table table-sm table-hover mx-auto w-100">
			<thead class="thead-dark">
				<th class="w-20" onclick="sortTable(0, 'requestTable')">Item</th>
				<th class="w-10" onclick="sortTable(1, 'requestTable')">Size</th>
				<th class="w-5" onclick="sortTable(4, 'requestTable')">Quantity</th>
				<th class="w-15" onclick="sortTable(2, 'requestTable')">Requested For</th>
				<th class="w-15" onclick="sortTable(3, 'requestTable')">Request Date</th>
				<th class="w-10" onclick="sortTable(6, 'requestTable')">Status</th>
				<th class="w-10" onclick="sortTable(7, 'requestTable')">Approval Date</th>
				<th class="w-10" onclick="sortTable(8, 'requestTable')">Approved By</th>
			</thead>
			<tbody>
				<% if (requests) { %>
					<% requests.forEach((request) => { %>
						<tr>
							<td><a href="/stores/requests/<%= request.request_id %>"> <%= request.size.item._description %></a></td>
							<td><a href="/stores/requests/<%= request.request_id %>"> <%= request.size.size._text %></a></td>
							<td><a href="/stores/requests/<%= request.request_id %>"> <%= request._qty %></a></td>
							<td><a href="/stores/requests/<%= request.request_id %>"> <%= request.requestedFor.rank._rank %> <%= request.requestedFor._name %>, <%= request.requestedFor._ini %></a></td>
							<td><a href="/stores/requests/<%= request.request_id %>"> <%= request._date.toDateString() %></a></td>
							<td><a href="/stores/requests/<%= request.request_id %>"> <%= request._status %></a></td>
							<td><a href="/stores/requests/<%= request.request_id %>"> <% if(request._date_approved) { %><%= request._date_approved.toDateString() %><% } %></a></td>
							<td><a href="/stores/requests/<%= request.request_id %>"> <% if(request.approvedBy) { %><%= request.approvedBy.rank._rank %> <%= request.approvedBy._name %>, <%= request.approvedBy._ini %><% } %></a></td>
						</tr>
					<% }) %>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
<% include ../../partials/foot/full %>
<script src="/js/tableSort.js"></script>
<script>
	function filter() {
		var filters = [];
		if ($("#placed").val() != '') 	{filters.push("placed=" +   $("#placed").val());}
		if ($("#received").val() != '') {filters.push("received=" + $("#received").val());}
		if ($("#issued").val() != '')   {filters.push("issued=" +   $("#issued").val());}
		window.location.replace("/stores/requests?" + filters.join("&"))
	}	
</script>
<% include ../../partials/foot/htmlClose %>