<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',		  	 text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/requests', text: 'Requests'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'requests'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<div class="container">
	<%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{value: '', text: 'All'}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Draft'}, {value: '_status=2', text: 'Open', selected: true}, {value: '_status=3', text: 'Complete'}]}) %>
	<table class="table table-sm table-hover w-100">
		<thead class="thead-dark">
			<th class="w-40" onclick="sortTable(0, 'tbl_requests')">For</th>
			<th class="w-35" onclick="sortTable(1, 'tbl_requests')">Date</th>
			<th class="w-10" onclick="sortTable(2, 'tbl_requests')">Lines</th>
			<th class="w-15" onclick="sortTable(3, 'tbl_requests')">Status</th>
			<th><i class='fas fa-search'></i></th>
		</thead>
		<tbody id="tbl_requests"></tbody>
	</table>
</div>
<%- include(`${partials}/foot/app`) %>
<script src='/js/spinner.js'></script>
<script src='/js/get.js'></script>
<script src='/js/data/send.js'></script>
<script src='/js/stores/requests/index/requests.js'></script>
<script async>getRequests()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>