<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= selectedUser.user_id %>"><%= selectedUser.rank._rank %> <%= selectedUser._name %>, <%= selectedUser._ini %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/requests/new?user=<%= selectedUser.user_id %>">New Request</a>
            </li>
        </ul>
    </nav>
</section>
<section>
	<div class="container">
		<form id="requestForm" action="/stores/requests" method="POST">
			<input type="hidden" name="requested_for" value="<%= selectedUser.user_id %>">
			<div class="row mx-auto">
				<div class="col-12 col-md-6 bordered mx-auto mb-3">
					<h5>Selected Items</h5>
					<p class="btn btn-primary mb-3 w-100" onclick=openAddWindow()>Add Item</p>
					<div id="selectedItems">
					</div>
					<div>
						<input class="btn btn-primary mt-3" type="submit" value="Request Selected Items">
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/newRequest.js"></script>
<% include ../../partials/foot/htmlClose %>