<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= user.user_id %>"><%= user.rank._rank %> <%= user._name %>, <%= user._ini %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/requests/new?user=<%= user.user_id %>">New Request</a>
            </li>
        </ul>
    </nav>
</section>
<section>
	<div class="container">
		<form id="requestForm" action="/stores/requests" method="POST">
			<input type="hidden" name="requested_for" value="<%= user.user_id %>">
            <div>
                <input class="btn btn-success mb-2 confirm" type="submit" value="Request Selected Items">
            </div>
			<div class="row">
				<div class="col-12 bordered mb-3">
                    <a class='float-left btn btn-success' href='javascript:openAddItem("request")'><i class='fas fa-plus'></i></a>
					<h5>Selected Items</h5>
                    <div id="selectedItems" class='menu row'>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/removeID.js"></script>
<script src='/js/newItemCard.js'></script>
<script>
	<% if (typeof(items) !== 'undefined' && items.length > 0) { %>
		<% items.forEach(item => { %>
			addSize(<%- JSON.stringify(item) %>)
		<% }); %>
	<% }; %>
</script>
<% include ../../partials/foot/htmlClose %>