<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">
					Stores
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/requests">
					Requests
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/requests/<%= request.request_id %>">
					<%= request.request_id %>
				</a>
			</li>
		</ul>
	</nav>
</section>
<section class="container">
	<div class="row">
		<div class="col-12 col-lg-6 mb-3 bordered">
			<% if (permissions.request_edit && !request._complete) { %>
				<form action="/stores/requests/<%= request.request_id %>/close?_method=PUT" method="POST">
					<button class="float-left btn btn-warning confirm">
						<i class='fas fa-window-close'></i>
					</button>
				</form>
			<% }; %>
			<% if (permissions.request_delete) { %>
				<form action="/stores/requests/<%= request.request_id %>/close?_method=DELETE&user=<%= request.requested_for %>" method="POST">
					<button class="float-right btn btn-danger confirm">
						<i class='fas fa-trash-alt'></i>
					</button>
				</form>
			<% }; %>
			<h4 class='mb-3'>Details</h4>
			<div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend w-20">
                    <span class="input-group-text w-100">For</span>
                </div>
                <p class="form-control"><%= request._for.rank._rank %> <%= request._for._name %>, <%= request._for._ini %></p>
				<div class="input-group-append">
					<a class='btn btn-primary' href="/stores/users/<%= request._for.user_id %>">
						<i class='fas fa-search'></i>
					</a>
				</div>
            </div>
			<div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend w-20">
                    <span class="input-group-text w-100">By</span>
                </div>
                <p class="form-control"><%= request._by.rank._rank %> <%= request._by._name %>, <%= request._by._ini %></p>
				<div class="input-group-append">
					<a class='btn btn-primary' href="/stores/users/<%= request._by.user_id %>">
						<i class='fas fa-search'></i>
					</a>
				</div>
            </div>
			<div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend w-20">
                    <span class="input-group-text w-100">Date</span>
                </div>
                <p class="form-control"><%= request._date.toDateString() %></p>
            </div>
			<div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend w-20">
                    <span class="input-group-text w-100">Complete</span>
                </div>
                <p class="form-control"><% if (request._complete) { %>Yes<% } else { %>No<% } %></p>
            </div>
		</div>
		<% if (permissions.access_notes) { %> 
			<div class="col-12 col-lg-6 mb-3 bordered">
				<% if (permissions.note_add) { %>
					<a class="float-left btn btn-success" href='javascript:addNote("requests","<%= request.request_id %>")'>
						<i class='fas fa-plus'></i>
					</a>
				<% }; %>
				<% include ../../partials/noteTable %>
			</div>
		<% }; %>
		<div class="col-12 bordered">
			<h4>Lines</h4>
			<% if (permissions.request_edit && user.user_id !== request._for.user_id) { %>
				<form action="/stores/requests/<%= request.request_id %>/approval?_method=PUT" method="POST">
					<div class="input-group mb-1">
						<select class="custom-select" name='action'>
							<option value="cancel">Decline Selected Lines</option>
							<option value="order">Order Selected Lines</option>
							<option value="issue">Issue Selected Lines</option>
						</select>
						<div class="input-group-append w-25">
						  	<button class="btn btn-success w-100 confirm" type="button">Go</button>
						</div>
					</div>
			<% } %>
				<table class="table table-sm table-hover mx-auto w-100">
					<thead class="thead-dark">
						<% if (!request._complete) { %><th class="w-5" ></th><% } %>
						<th class="w-20" onclick="sortTable(1, 'requestTable')">Item</th>
						<th class="w-15" onclick="sortTable(2, 'requestTable')">Size</th>
						<th class="w-5"  onclick="sortTable(3, 'requestTable')">Qty</th>
						<% if (!request._complete) { %><th class="w-5"  onclick="sortTable(4, 'requestTable')">Current<br>Stock</th><% } %>
						<th class="w-10" onclick="sortTable(5, 'requestTable')">Status</th>
						<th class="w-15" onclick="sortTable(6, 'requestTable')">Date Approved</th>
						<th class="w-15" onclick="sortTable(7, 'requestTable')">Approved By</th>
						<th class="w-10" onclick="sortTable(8, 'requestTable')"></th>
					</thead>
					<tbody id="requestTable">
						<% if (request.lines) request.lines.forEach(line => { %>
							<tr>
								<% if (!request._complete) { %>
									<td>
										<% if (line._status === 'Pending') { %>
											<input class='form-control form-control-sm' type="checkbox" name='selected[]' value='<%= line.line_id %>'>
										<% } %>
									</td>
								<% } %>
								<td>
									<a class='float-right btn btn-sm btn-primary' href="/stores/items/<%= line.size.item_id %>">
										<i class='fas fa-search'></i>
									</a>
									<%= line.size.item._description %>
								</td>
								<td>
									<a class='float-right btn btn-sm btn-primary' href="/stores/sizes/<%= line.size_id %>">
										<i class='fas fa-search'></i>
									</a>
									<%= line.size._size %>
								</td>
								<td>
									<%= line._qty %>
								</td>
								<% if (!request._complete) { %>
									<td>
										<% let _stock = 0 %>
										<% line.size.stocks.forEach(stock => { %>
											<% _stock += Number(stock._qty) %>
										<% }) %>
										<%= _stock %>
									</td>
								<% } %>
								<td>
									<%= line._status %>
								</td>
								<td>
									<% if (line._date) { %>
										<%= line._date.toDateString() %>
									<% } %>
								</td>
								<td>
									<% if (line.user) { %>
										<%= line.user.rank._rank %> <%= line.user._name %>, <%= line.user._ini %>
									<% } %>
								</td>
								<td>
									<% if (line._id && line._id !== '') { %>
										<%= line._action %>: <%= line._id %>
										<a class='float-right btn btn-sm btn-primary' href="/stores/<% if (line._action === 'Issue') { %>issues<% } else if (line._action === 'Order') { %>orders<% } %>/<%= line._id %>">
											<i class='fas fa-search'></i>
										</a>
									<% } %>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			<% if (permissions.request_edit && user.user_id !== request._for.user_id) { %>
				</form>
			<% } %>
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['system'],"/stores/requests/<%= request.request_id %>");
    };
</script>
<% include ../../partials/foot/htmlClose %>