<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',		  	 text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/requests', text: 'Requests'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class="container">
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%- include(`${partials}/notes/menu_add`) %>
				<button id='btn_action' form='form_action' class='dropdown-item confirm' disabled>Action Lines</button>
				<% if (permissions.request_edit) { %><form id='form_complete'><% } %>
					<button id='btn_complete' class='dropdown-item confirm' disabled>Complete</button>
				<% if (permissions.request_edit) { %></form><% } %>
				<%- include(`${partials}/stores/sizes/select_button`, {permission: 'request_line_add'}) %>
				<div class="dropdown-divider"></div>
				<% if (permissions.request_edit) { %><form id='form_delete'><% } %>
					<button id='btn_delete' class="dropdown-item confirm" disabled>Cancel</button>
				<% if (permissions.request_edit) { %></form><% } %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'request'}) %>
        <%- include(`${partials}/tab_head`, {id: 'lines',   title: 'Lines',	  spinner: 'request_lines', count_id: 'line'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',   title: 'Notes',	  spinner: 'notes', 		count_id: 'note', permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/inputs/display`, {id: 'user_request', title: 'For', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'user', 		   title: 'By',  link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'createdAt',	   title: 'Date'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'updatedAt',	   title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: '_status',  	   title: 'Status'}) %>
		</div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
			<%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{value: '', text: 'All', selected: true}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Pending'}, {value: '_status=2', text: 'Open'}, {value: '_status=3', text: 'Approved'}, {value: '_status=4', text: 'Declined'}]}) %>
			<% if (permissions.request_line_edit) { %>
				<form id='form_action'>
			<% } %>
			<table class="table table-sm table-hover mx-auto w-100">
				<thead id='table_header_lines' class="thead-dark">
					<th class='w-35' onclick="sortTable(1, 'tbl_lines')">Item</th>
					<th class='w-35' onclick="sortTable(2, 'tbl_lines')">Size</th>
					<th class='w-10' onclick="sortTable(3, 'tbl_lines')">Qty</th>
					<th class='w-20' onclick="sortTable(4, 'tbl_lines')">Status</th>
					<th><i class='fas fa-search'></i></th>
				</thead>
				<tbody id="tbl_lines"></tbody>
			</table>
			<% if (permissions.request_line_edit) { %>
				</form>
			<% } %>
		</div>
        <%- include(`${partials}/notes/tab_body`) %>
	</div>
	<div id="div_modals">
		<%- include(`${partials}/stores/sizes/select`,  {permission: 'request_line_add', 	 table: 'Request'}) %>
		<%- include(`${partials}/stores/mdl_line_view`, {permission: 'access_request_lines', table: 'Request'}) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<!-- get/spinner/XHRsend/send from notes include -->
<script src='/js/tabs.js'></script>
<script src='/js/addSize.js'></script>
<script src="/js/search/select.js"></script>
<script src='/js/data/addFormListener.js'></script>
<script>
	let statuses = {'0': 'Cancelled', '1': 'Draft', '2': 'Open', '3': 'Closed'};
	showTab('<%= tab %>');
</script>

<script src="/js/stores/utils/getResult.js"></script>
<script></script>
<script async>getResult('request')</script>
<script>document.querySelector('#reload').addEventListener('click', function () {getResult('request')});</script>

<% if (permissions.request_edit) { %>
	<script src="/js/stores/utils/setButtons.js"></script>
	<script async>setButtons('request')</script>
	<script>
		window.addEventListener( "load", function () {
			addFormListener(
				'form_complete',
				'PUT',
				`/stores/requests/${path[3]}`,
				{
					onComplete: [
						function () {getResult('request')}<% if (permissions.access_request_lines) { %>,
						function () {getLines('request')}<% } %>
					]
				}
			);
		});
	</script>
<% } %>
<% if (permissions.access_request_lines) { %>
	<script src="/js/stores/utils/showLine.js"></script>
	<script src="/js/stores/utils/showLineActions.js"></script>
	<script src="/js/stores/utils/getLines.js"></script>
	<script>
		let lines_loaded  = false,
			line_statuses = {'0': 'Cancelled', '1': 'Pending', '2': 'Open', '3':'Approved', '4':'Declined'};
		window.addEventListener('load', function () {
			document.querySelector('#reload')    .addEventListener('click',  function () {getLines('request')});
			document.querySelector('#sel_status').addEventListener('change', function () {getLines('request')});
			$('#mdl_line_view').on('show.bs.modal', function (event) {showLine(       'request', event.relatedTarget.dataset[`request_line_id`])});
			$('#mdl_line_view').on('show.bs.modal', function (event) {showLineActions('request', event.relatedTarget.dataset[`request_line_id`])});
		});
	</script>
	<script async>getLines('request')</script>
	<% if (permissions.access_notes) { %>
		<script>
            set_attribute({id: 'btn_request_lines_note_add', attribute: 'data-source', value: 'line_view'});
			$('#mdl_line_view').on('show.bs.modal', function (event) {
				set_attribute({id: 'btn_request_lines_note_add', attribute: 'data-_table', value: 'request_lines'});
				set_attribute({id: 'btn_request_lines_note_add', attribute: 'data-_id',    value: event.relatedTarget.dataset.request_line_id});
				getLineNotes({
					line_id: 'request_lines',
					table: 	 'request_lines',
					id:		 event.relatedTarget.dataset.request_line_id
				});
			});
		</script>
	<% } %>
	<% if (permissions.request_line_edit) { %>
		<script src="/js/stores/nsns/list.js"></script>
		<script src="/js/stores/stock/list.js"></script>
		<script src="/js/stores/serials/list.js"></script>
		<script src="/js/stores/requests/show/lineEdit.js"></script>
		<script src="/js/stores/utils/setLineButtons.js"></script>
		<script>
			function setActions() {
				let actions_interval = window.setInterval(
					function () {
						if (lines_loaded === true) {
							getLineActions();
							clearInterval(actions_interval);
						}
					},
					500
				);
			};
			document.querySelector('#reload').addEventListener('click', setActions);
		</script>
		<script async>setActions()</script>
		<script async>setLineButtons('request')</script>
		<script>
			window.addEventListener( "load", function () {
				addFormListener(
					'form_action',
					'PUT',
					`/stores/request_lines/${path[3]}`,
					{
						onComplete: [
							function () {getLines('request')},
							setActions,
							function () {setLineButtons('request')}
						]
					}
				);
			});
		</script>
	<% } %>
<% } %>
<% if (permissions.request_delete) { %>
	<script>
		window.addEventListener( "load", function () {
			addFormListener(
				'form_delete',
				'DELETE',
				`/stores/requests/${path[3]}`,
				{
					onComplete: [
						function () {getResult('request')}<% if (permissions.access_request_lines) { %>,
						function () {getLines('request')}<% } %>
					]
				}
			);
		});
	</script>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>