<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">
					Stores
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/requests">
					Requests
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/requests/<%= request.request_id %>">
					<%= request.request_id %>
				</a>
			</li>
		</ul>
	</nav>
</section>
<section class="container">
	<div class="row">
		<div class="col-12 col-lg-6 mb-3 bordered">
			<% if (permissions.requests_delete) { %>
				<form action="/stores/requests/<%= request.request_id %>?_method=DELETE&user=<%= request.requested_for %>" method="POST">
					<button class="float-left btn btn-danger confirm">
						<i class='fas fa-trash-alt'></i>
					</button>
				</form>
			<% }; %>
			<h4 class='mb-3'>Details</h4>
			<div class="row">
				<div class="col-sm-4">
					<p class="col-form-label">For:</p>
				</div>
				<div class="col-sm-7">
					<p class="form-control"><%= request._for.rank._rank %> <%= request._for._name %>, <%= request._for._ini %></p>
				</div>
				<div class="col-sm-1">
					<a class='float-right btn btn-primary' href="/stores/users/<%= request._for.user_id %>"><i class='fas fa-search'></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<p class="col-form-label">By:</p>
				</div>
				<div class="col-sm-7">
					<p class="form-control"><%= request._by.rank._rank %> <%= request._by._name %>, <%= request._by._ini %></p>
				</div>
				<div class="col-sm-1">
					<a class='float-right btn btn-primary' href="/stores/users/<%= request._by.user_id %>"><i class='fas fa-search'></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<p class="col-form-label">Date:</p>
				</div>
				<div class="col-sm-8">
					<p class="form-control"><%= request._date.toDateString() %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<p class="col-form-label">Complete:</p>
				</div>
				<div class="col-sm-8">
					<input class="form-control" type="checkbox" <% if (request._complete) { %>checked <% } %>disabled>
				</div>
			</div>
		</div>
		<% if (permissions.access_notes) { %> 
			<div class="col-12 col-lg-6 mb-3 bordered">
				<% if (permissions.notes_add) { %>
					<a class="float-left btn btn-success" href="/stores/notes/new?table=requests&id=<%= request.request_id %>">
						<i class='fas fa-plus'></i>
					</a>
				<% }; %>
				<% include ../../partials/noteTable %>
			</div>
		<% }; %>
		<div class="col-12 bordered">
			<h4>Lines</h4>
			<% if (permissions.requests_edit) { %>
				<form id="requestForm" action="/stores/requests/<%= request.request_id %>/approval?_method=PUT" method="POST">
					<input type="hidden" name="requested_for" value="<%= request.requested_for %>">
					<input class="btn btn-success w-100 mb-1 confirm" type="submit" value='Action Selected Requests'>
			<% } %>
				<table class="table table-sm table-hover mx-auto w-100">
					<thead class="thead-dark">
						<th class="w-15" onclick="sortTable(0, 'requestTable')">Item</th>
						<th class="w-10" onclick="sortTable(1, 'requestTable')">Size</th>
						<th class="w-5"  onclick="sortTable(2, 'requestTable')">Qty</th>
						<th class="w-10" onclick="sortTable(3, 'requestTable')">Status</th>
						<th class="w-10" onclick="sortTable(4, 'requestTable')"><% if (permissions.requests_edit) { %>Action/<% } %>Date Approved</th>
						<th class="w-10" onclick="sortTable(5, 'requestTable')"><% if (permissions.requests_edit) { %>NSN/<% } %>Approved By</th>
						<th class="w-10" onclick="sortTable(6, 'requestTable')"></th>
					</thead>
					<tbody id="requestTable">
						<% if (request.lines) { %>
							<% request.lines.forEach(line => { %>
								<tr>
									<td>
										<a class='float-right btn btn-sm btn-primary' href="/stores/items/<%= line.item_size.item_id %>">
											<i class='fas fa-search'></i>
										</a>
										<%= line.item_size.item._description %>
									</td>
									<td>
										<a class='float-right btn btn-sm btn-primary' href="/stores/item_sizes/<%= line.item_size_id %>">
											<i class='fas fa-search'></i>
										</a class='float-right btn btn-sm btn-primary'>
										<%= line.item_size._size %>
									</td>
									<td>
										<%= line._qty %>
									</td>
									<td>
									<% if (line._status === 'Pending' && permissions.requests_edit && user.user_id !== request._for.user_id) { %>
										<select id='status<%= line.line_id %>' class='form-control form-control-sm' name='declines[]' onchange='checkAction( <%= line.line_id %>)'>
											<option value="pending" selected>Pending</option>
											<option value="approved">Approved</option>
											<option value='{"request_line_id": <%= line.line_id %>, "request_id": <%= request.request_id %>, "_status": "Declined"}'>Declined</option>
										</select>
									<% } else { %>
										<%= line._status %>
									<% }; %>
									</td>
									<td>
										<% if (line._status === 'Pending' && permissions.requests_edit && user.user_id !== request._for.user_id) { %>
											<select id="action<%= line.line_id %>" style="display:none;" class="form-control form-control-sm" name="approves[]" onchange='checkNSNs(<%= line.line_id %>)'>
												<option value="" selected></option>
												<% if (line.item_size.stocks) { %>
													<% line.item_size.stocks.forEach(stock => { %>
														<option value='{"request_line_id": <%= line.line_id %>, "request_id": <%= request.request_id %>, "_status": "Approved", "_action": "Issue", "qty": <%= line._qty %>, "item_size_id": <%= line.item_size_id %>, "stock_id": <%= stock.stock_id %>}'>
															Issue from: <%= stock.location._location %>
														</option>
													<% }); %>
												<% }; %>
												<% if (line.item_size._orderable) { %>
													<option value='{"request_line_id": <%= line.line_id %>, "request_id": <%= request.request_id %>, "_status": "Approved", "_action": "Order", "qty": <%= line._qty %>, "item_size_id": <%= line.item_size_id %>}'>Order</option>
												<% }; %>
											</select>
										<% } else if (line._date) { %>
											<%= line._date.toDateString() %>
										<% } %>
									</td>
									<td>
										<% if (line._status === 'Pending' && permissions.requests_edit && user.user_id !== request._for.user_id) { %>
											<select id="nsns<%= line.line_id %>" name="nsns[line<%= line.line_id %>]" class="form-control form-control-sm" style="display:none;">
												<% if (line.item_size.nsns) { %>
													<% line.item_size.nsns.forEach(nsn => { %>
														<option value='<%= nsn.nsn_id %>'<% if (nsn._default) { %> selected <% } %>>
															<% if (nsn._default) { %>*<% } %><%= nsn._nsn %><% if (nsn._default) { %>*<% } %>
														</option>
													<% }); %>
												<% }; %>
											</select>
										<% } else if (line.user) { %>
											<%= line.user.rank._rank %> <%= line.user._name %>, <%= line.user._ini %>
										<% } %>
									</td>
									<td>
										<% if (line._id && line._id !== '') { %>
											<a href="/stores/<% if (line._action === 'Issue') { %>issues<% } else if (line._action === 'Order') { %>orders<% } %>/<%= line._id %>">
												<%= line._action %>: <%= line._id %>
											</a>
										<% } %>
									</td>
								</tr>
							<% }); %>
						<% }; %>
					</tbody>
				</table>
			<% if (permissions.requests_edit) { %></form><% } %>
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['system'],"/stores/requests/<%= request.request_id %>");
    };
	function checkAction(line) {
		var status = document.querySelector('#status' + line),
			action = document.querySelector('#action' + line);
		if (status.value === 'approved') {
			action.style.display = 'block';
		} else {
			action.style.display = 'none';
			action.value = "";
		};
		checkNSNs(line);
	};
	function checkNSNs(line) {
		var action = document.querySelector('#action' + line),
			nsns   = document.querySelector('#nsns' + line);
		if (action.value.indexOf('Issue') !== -1) {
			nsns.style.display = 'block';
		} else {
			nsns.style.display = 'none';
		};
	};
</script>
<% include ../../partials/foot/htmlClose %>