<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">
					Stores
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/requests">
					Requests
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/requests/<%= request.request_id %>">
					<%= request.request_id %>
				</a>
			</li>
		</ul>
	</nav>
</section>
<section class="container">
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lines-tab" data-toggle="tab" href="#lines" role="tab" aria-controls="lines" aria-selected="true">
                Lines (<span id='line_count'></span>)
            </a>
        </li>
        <% if (permissions.access_notes) { %>
            <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
                    Notes (<span id='note_count'></span>)
                </a>
            </li>
        <% } %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
				<% if (permissions.request_edit && !request._complete) { %>
					<form id='closeForm'>
						<button class="float-left btn btn-warning confirm">
							<i class='fas fa-window-close'></i>
						</button>
					</form>
				<% }; %>
				<% if (permissions.request_delete) { %>
					<form id='deleteForm'>
						<button class="float-right btn btn-danger confirm">
							<i class='fas fa-trash-alt'></i>
						</button>
					</form>
				<% }; %>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-20">
						<span class="input-group-text w-100">For</span>
					</div>
					<p class="form-control"><%= request._for.rank._rank %> <%= request._for._name %>, <%= request._for._ini %></p>
					<div class="input-group-append">
						<a class='btn btn-primary' href="/stores/users/<%= request._for.user_id %>">
							<i class='fas fa-search'></i>
						</a>
					</div>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-20">
						<span class="input-group-text w-100">By</span>
					</div>
					<p class="form-control"><%= request._by.rank._rank %> <%= request._by._name %>, <%= request._by._ini %></p>
					<div class="input-group-append">
						<a class='btn btn-primary' href="/stores/users/<%= request._by.user_id %>">
							<i class='fas fa-search'></i>
						</a>
					</div>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-20">
						<span class="input-group-text w-100">Date</span>
					</div>
					<p class="form-control"><%= request._date.toDateString() %></p>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-20">
						<span class="input-group-text w-100">Complete</span>
					</div>
					<p class="form-control"><% if (request._complete) { %>Yes<% } else { %>No<% } %></p>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-20">
						<span class="input-group-text w-100">Closed</span>
					</div>
					<p class="form-control"><% if (request._closed) { %>Yes<% } else { %>No<% } %></p>
				</div>
			</div>
		</div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
            <div class="container">
				<% if (permissions.request_edit && user.user_id !== request._for.user_id) { %>
					<form id='approveForm'>
						<div class="input-group mb-1">
							<select class="custom-select" name='action'>
								<option value="cancel">Decline Selected Lines</option>
								<option value="order">Order Selected Lines</option>
								<option value="issue">Issue Selected Lines</option>
							</select>
							<div class="input-group-append w-25">
								  <button class="btn btn-success w-100 confirm" type="button">Go</button>
							</div>
						</div>
				<% } %>
				<div class="input-group mb-2">
					<div class="input-group-prepend w-20">
						<label class="input-group-text w-100" for="sel_status">Status</label>
					</div>
					<select class="custom-select" id='sel_status' onchange='getLines(<%= request.request_id %>, <%= request._complete %>, <%= request._closed %>, <%= permissions.request_line_edit %>, <%= permissions.request_line_delete %>)'>
						<option value='All' selected>All</option>
						<option value='Pending'>Pending</option>
						<option value='Approved'>Approved</option>
						<option value='Rejected'>Rejected</option>
						<option value='Cancelled'>Cancelled</option>
					</select>
				</div>
				<div id="spn_requests" class="spinner-border text-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<table class="table table-sm table-hover mx-auto w-100">
					<thead class="thead-dark">
						<th class="w-20" onclick="sortTable(0, 'requestTable')">Item</th>
						<th class="w-20" onclick="sortTable(1, 'requestTable')">Size</th>
						<th class="w-5"  onclick="sortTable(2, 'requestTable')">Qty</th>
						<th class="w-15" onclick="sortTable(4, 'requestTable')">Status</th>
						<th class="w-20" onclick="sortTable(5, 'requestTable')">Date Approved</th>
						<th class="w-20" onclick="sortTable(6, 'requestTable')">Approved By</th>
						<% if (permissions.request_line_delete && !request._complete && !request.closed) { %>
						<th><i class="fas fa-trash-alt"></i></th>
						<% } %>
					</thead>
					<tbody id="requestTable">
					</tbody>
				</table>
				<% if (permissions.request_edit && user.user_id !== request._for.user_id) { %>
					</form>
				<% } %>
			</div>
		</div>
		<% if (permissions.access_notes) { %> 
			<div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
				<div class="container">
					<% include ../../partials/noteTable %>
				</div>
			</div>
		<% }; %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/specific/requests_show.js"></script>
<script>
    window.addEventListener( "load", function () {
        let delete_form = document.querySelector("#deleteForm");
        delete_form.addEventListener("submit", function (event) {
            event.preventDefault();
            sendData(delete_form, 'DELETE', '/stores/requests/<%= request.request_id %>',{reload: true});
        });
    });
    window.addEventListener( "load", function () {
        let close_form = document.querySelector("#closeForm");
        close_form.addEventListener("submit", function (event) {
            event.preventDefault();
            sendData(close_form, 'PUT', '/stores/requests/<%= request.request_id %>/close',{reload: true});
        });
    });
    window.addEventListener( "load", function () {
        let close_form = document.querySelector("#closeForm");
        close_form.addEventListener("submit", function (event) {
            event.preventDefault();
            sendData(close_form, 'PUT', '/stores/requests/<%= request.request_id %>/approval',{reload: true});
        });
    });
    showTab('<%= show_tab %>');
</script>
<script async>getLines(<%= request.request_id %>, <%= request._complete %>, <%= request._closed %>, <%= permissions.request_line_edit %>, <%= permissions.request_line_delete %>)</script>
<% include ../../partials/foot/htmlClose %>