<%- include(`${partials}/head/full`) %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
            <%- include(`${partials}/breadcrumb`, {href: '/stores',		  	 text: 'Stores'}) %>
			<%- include(`${partials}/breadcrumb`, {href: '/stores/requests', text: 'Requests'}) %>
			<%- include(`${partials}/breadcrumb`) %> 
		</ul>
	</nav>
</section>
<section class="container" id='main_container'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%- include(`${partials}/notes/menu_add`) %>
				<input id='btn_action' form='form_approve' class='dropdown-item dropdown_button confirm' type="submit" value='Action Lines' disabled>
				<form id='form_complete'>
					<input id='btn_complete' class='dropdown-item dropdown_button confirm' type="submit" value='Complete' disabled>
				</form>
				<div id='form_addSize'>
					<button type='button' class='dropdown-item dropdown_button' id='btn_addSize' data-toggle='modal' data-target='#mdl_add_size' disabled>
						Add Item
					</button>
				</div>
				<div class="dropdown-divider"></div>
				<form id='form_delete'>
					<input id='btn_delete' type="submit" class="dropdown-item dropdown_button confirm" value='Cancel' disabled>
				</form>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details'}) %>
        <%- include(`${partials}/tab_head`, {id: 'lines',   title: 'Lines', count_id: 'line'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',   title: 'Notes', count_id: 'note', permission: 'access_notes'}) %>
        <%- include(`${partials}/reload`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/spinner`, {id: 'requests'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'user_for', 	title: 'For', append: {a: {id: 'user_for_link', type: 'primary', text: '<i class="fas fa-search"></i>'}}}) %>
			<%- include(`${partials}/inputs/display`, {id: 'user_by', 	title: 'By',  append: {a: {id: 'user_by_link',  type: 'primary', text: '<i class="fas fa-search"></i>'}}}) %>
			<%- include(`${partials}/inputs/display`, {id: 'createdAt', title: 'Date'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'updatedAt', title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: '_status',   title: 'Status'}) %>
		</div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
			<% if (permissions.request_line_edit) { %>
				<form id='form_approve'>
			<% } %>
			<%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{value: '', text: 'All', selected: true}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Pending'}, {value: '_status=2', text: 'Open'}, {value: '_status=3', text: 'Approved'}, {value: '_status=4', text: 'Declined'}]}) %>
			<table class="table table-sm table-hover mx-auto w-100">
				<thead id='table_header_lines' class="thead-dark">
					<th class='w-10' onclick="sortTable(0,'linesTable')"><%- include(`${partials}/spinner`, {id: 'request_lines', spinner_sm: true, spinner_float_left: true, small: true}) %>Line ID</th>
					<th class='w-30' onclick="sortTable(1,'linesTable')">Item</th>
					<th class='w-30' onclick="sortTable(2,'linesTable')">Size</th>
					<th class='w-10' onclick="sortTable(3,'linesTable')">Qty</th>
					<th class='w-20' onclick="sortTable(4,'linesTable')">Status</th>
					<th id='col_view'><i class='fas fa-search'></i></th>
				</thead>
				<tbody id="linesTable">
				</tbody>
			</table>
			<% if (permissions.request_line_edit) { %>
				</form>
			<% } %>
		</div>
        <%- include(`${partials}/notes/tab_body`) %>
	</div>
	<div id="div_modals"></div>
</section>
<%- include(`${partials}/foot/full`) %>
<!-- get/spinner/XHRsend/send from notes include -->
<script src='/js/tabs.js'></script>
<script src='/js/addSize.js'></script>
<script src="/js/stores/nsns/list.js"></script>
<script src="/js/stores/stock/list.js"></script>
<script src="/js/stores/serials/list.js"></script>
<script src="/js/search/select.js"></script>
<script src="/js/stores/requests/show/request.js"></script>
<script src="/js/stores/requests/show/lines.js"></script>
<script src='/js/data/addFormListener.js'></script>
<script src='/js/utils/select_sel_status.js'></script>
<script src='/js/utils/getLineNotes.js'></script>
<script>showTab('<%= tab %>')</script>
<script>
	function getRequest() {
		get(
			showRequest,
			{
				table: 'requests',
				query: [`request_id=${path[3]}`],
				permissions: {
					edit: 	     <%= permissions.request_edit  		 || false %>,
					delete:		 <%= permissions.request_delete		 || false %>,
					line_add:	 <%= permissions.request_line_add	 || false %>,
					line_delete: <%= permissions.request_line_delete || false %>
				}
			}
		);
	};
</script>
<script async>getRequest()</script>
<script>
    function getLines() {
		get(
			showLines,
			{
				table: 'request_lines',
				query: [`request_id=${path[3]}`, sel_status.value],
				permissions: {
					delete:	   <%= permissions.request_line_delete || false %>,
					line_edit: <%= permissions.request_line_edit   || false %>
				}
			}
		);
	};
	getrequestlines = getLines;
    document.querySelector('#reload').addEventListener('click', () => getLines());
    document.querySelector('#reload').addEventListener('click', () => getRequest());
    document.querySelector('#sel_status').addEventListener('change', () => getLines());
</script>
<script async>getLines()</script>
<script>
    window.addEventListener( "load", () => {
		<% if (permissions.request_delete) { %>
			addFormListener('form_delete', 'DELETE', `/stores/requests/${path[3]}`, {onComplete: [getRequest, getLines]});
		<% } %>
		<% if (permissions.request_edit) { %>
			addFormListener('form_complete', 'PUT', `/stores/requests/${path[3]}`,		{onComplete: [getRequest, getLines]});
			addFormListener('form_approve',  'PUT', `/stores/request_lines/${path[3]}`, {onComplete: getLines});
		<% } %>
	});
</script>
<%- include(`${partials}/foot/htmlClose`) %>