<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/demands', text: 'Demands'}) %>
<%- include(`${partials}/breadcrumb`, {id: 'bcr_demand'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'demand_line'}) %>
        <%- include(`${partials}/common/actions/tab_head`) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/inputs/display`, {id: 'line_item',  	 title: 'Item', 	link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'line_size',  	 title: 'Size', 	link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'line_qty',  	 title: 'Quantity'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'line_user',		 title: 'Added By', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'line_status',    title: 'Status'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'line_createdAt', title: 'Created'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'line_updatedAt', title: 'Last Updated'}) %>
		</div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
	</div>
	<div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script>show_tab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>

<script src="/js/stores/demand_lines/show/view.js"></script>
<script async>getDemandLine()</script>

<%- include(`${partials}/foot/components/htmlClose`) %>