<%- include(`${partials}/head/app`, {text: 'Settings'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%- include(`${partials}/menu/button`, {id: 'setting_add',  text: 'Add Setting',    modal: 'setting_add'}) %>
                <%- include(`${partials}/menu/button`, {id: 'logs_flush',   text: 'Flush Logs',     btn_form: {id: 'logs_flush'}}) %>
                <%- include(`${partials}/menu/button`, {id: 'git_pull',     text: 'Update',         btn_form: {id: 'git_pull'}}) %>
                <%- include(`${partials}/menu/button`, {id: 'pm2_reload',   text: 'Restart Server', btn_form: {id: 'pm2_reload'}}) %>
                <%- include(`${partials}/menu/button`, {id: 'gender_add',   text: 'Add Gender',     modal: 'gender_add'}) %>
                <%- include(`${partials}/menu/button`, {id: 'account_add',  text: 'Add Account',    modal: 'account_add'}) %>
                <%- include(`${partials}/menu/button`, {id: 'category_add', text: 'Add Category',   modal: 'category_add'}) %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'printers',   title: 'Printers',     spinner: 'printers'}) %>
        <%- include(`${partials}/tab_head`, {id: 'logs',       title: 'Logs'}) %>
        <%- include(`${partials}/tab_head`, {id: 'genders',    title: 'Genders',      spinner: 'genders',    permission: 'stores_stock_admin'}) %>
        <%- include(`${partials}/tab_head`, {id: 'files',      title: 'Files',        spinner: 'files',      permission: 'supplier_admin'}) %>
        <%- include(`${partials}/tab_head`, {id: 'accounts',   title: 'Accounts',     spinner: 'accounts',   permission: 'supplier_admin'}) %>
        <%- include(`${partials}/tab_head`, {id: 'categories', title: 'Categories',   spinner: 'categories', permission: 'stores_stock_admin'}) %>
        <%- include(`${partials}/tab_head`, {id: 'settings',   title: 'All Settings', spinner: 'settings'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="printers" role="tabpanel" aria-labelledby="printers-tab">
            <%- include(`${partials}/inputs/display`, {title: 'Printer', id: 'setting_printer'}) %>
            <%- include(`${partials}/button/button`, {text: 'Find Printer', type: 'primary', id: 'printers', classes: ['w-100']}) %>
            <form id='form_printers'>
                <%- include(`${partials}/button/button`, {text: 'Save Selected Printer', type: 'success', classes: ['w-100']}) %>
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th><i class='fas fa-check'></i></th>
                        <th class="w-100" onclick="sortTable(1, 'tbl_printers')">Printer</th>
                    </thead>
                    <tbody id='tbl_printers'></tbody>
                </table>
            </form>
        </div>
        <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab">
            <ul class="nav nav-tabs" id="mainTab" role="tablist">
                <%- include(`${partials}/tab_head`, {id: 'log-out',   title: 'Out',   spinner: 'log_out', active: true}) %>
                <%- include(`${partials}/tab_head`, {id: 'log-error', title: 'Error', spinner: 'log_error'}) %>
            </ul>
            <div class="tab-content pt-3" id="myTabContent">
                <div class="tab-pane fade active show" id="log-out" role="tabpanel" aria-labelledby="log-out-tab">
                    <p id="log_out" class="form-control text-start"></p>
                </div>
                <div class="tab-pane fade" id="log-error" role="tabpanel" aria-labelledby="log-error-tab">
                    <p id="log_error" class="form-control text-start"></p>
                </div>
            </div>
        </div>
        <% if (permissions.stores_stock_admin) { %>
            <div class="tab-pane fade" id="genders" role="tabpanel" aria-labelledby="genders-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class='w-100' onclick='sortByRow(this, getGenders)' data-sort_col='gender'>Gender<span class='sort_ind float-end'></span></th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_genders'></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.supplier_admin) { %>
            <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class='w-20' onclick='sortByRow(this, getFiles)' data-sort_col='file_id' >File ID <span class='sort_ind float-end'></span></th>
                        <th class='w-60' onclick='sortByRow(this, getFiles)' data-sort_col='filename'>Filename<span class='sort_ind float-end'></span></th>
                        <th class='w-20'>Gender</th>
                        <th><i class='fas fa-trash-alt'></i></th>
                    </thead>
                    <tbody id='tbl_files'></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.supplier_admin) { %>
            <div class="tab-pane fade" id="accounts" role="tabpanel" aria-labelledby="accounts-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class='w-40' onclick='sortByRow(this, getAccounts)' data-sort_col='name'   >Name  <span class='sort_ind float-end'></span></th>
                        <th class='w-20' onclick='sortByRow(this, getAccounts)' data-sort_col='number' >Number<span class='sort_ind float-end'></span></th>
                        <th class='w-40' onclick='sortByRow(this, getAccounts)' data-sort_col='user_id'>Owner <span class='sort_ind float-end'></span></th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_accounts'></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.stores_stock_admin) { %>
            <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
                <script>let dragging = false</script>
                <form id='form_category_move'>
                    <input type="hidden" name='category_id' id='category_id_move'>
                    <input type="hidden" name='category[category_id_parent]' id='category_id_parent_move'>
                    <ul class="list-group category_ul" id='ul_category_'></ul>
                </form>
            </div>
        <% } %>
        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
					<th class='w-50' onclick='sortByRow(this, getSettings)' data-sort_col='name' >Setting<span class='sort_ind float-end'></span></th>
					<th class='w-50' onclick='sortByRow(this, getSettings)' data-sort_col='value'>Value  <span class='sort_ind float-end'></span></th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id='tbl_settings'></tbody>
            </table>
        </div>
    </div>
    <div id="div_modals">
        <div class="modal fade" id="mdl_setting_view" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Setting</h5>
                        <span class="float-end">
                            <span id="setting_delete" class='float-end ms-1'></span>
                            <span id="setting_edit"   class='float-end ms-1'></span>
                        </span>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {title: 'Name',    id: 'setting_name'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Value',   id: 'setting_value'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Created', id: 'setting_createdAt'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Updated', id: 'setting_updatedAt'}) %>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto'>ID: <span id='setting_id'></span></p>
                        <%- include(`${partials}/button/modal/close`) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="mdl_setting_add" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <form class="modal-content" id='form_setting_add'>
                    <div class="modal-header">
                        <h5 class="modal-title">Setting</h5>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/text`, {title: 'Name',  name: 'setting[name]',  required: true}) %>
                        <%- include(`${partials}/inputs/text`, {title: 'Value', name: 'setting[value]', required: true}) %>
                    </div>
                    <div class="modal-footer">
                        <%- include(`${partials}/button/save`) %>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="mdl_setting_edit" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <form class="modal-content" id='form_setting_edit'>
                    <div class="modal-header">
                        <h5 class="modal-title">Setting</h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name='setting_id' id='setting_id_edit'>
                        <%- include(`${partials}/inputs/text`, {title: 'Name',  id: 'setting_name_edit',  name: 'setting[name]',  required: true}) %>
                        <%- include(`${partials}/inputs/text`, {title: 'Value', id: 'setting_value_edit', name: 'setting[value]', required: true}) %>
                    </div>
                    <div class="modal-footer">
                        <%- include(`${partials}/button/save`) %>
                    </div>
                </form>
            </div>
        </div>
        <% if (permissions.stores_stock_admin) { %>
            <div class="modal fade" id="mdl_gender_view" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Gender</h5>
                        <span class="float-end">
                            <span id="gender_delete" class='float-end ms-1'></span>
                            <span id="gender_edit"   class='float-end ms-1'></span>
                        </span>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/display`, {title: 'Gender',  id: 'gender_gender'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Created', id: 'gender_createdAt'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Updated', id: 'gender_updatedAt'}) %>
                        </div>
                        <div class="modal-footer">
                        <p class='me-auto'>ID: <span id='gender_id'></span></p>
                        <%- include(`${partials}/button/modal/close`) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="mdl_gender_add" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="modal-content" id='form_gender_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Gender</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`, {title: 'Name', name: 'gender[gender]', required: true}) %>
                        </div>
                        <div class="modal-footer">
                        <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="mdl_gender_edit" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="modal-content" id='form_gender_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Gender</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name='gender[gender_id]' id='gender_id_edit'>
                            <%- include(`${partials}/inputs/text`, {title: 'Gender', id: 'gender_gender_edit', name: 'gender[gender]', required: true}) %>
                        </div>
                        <div class="modal-footer">
                        <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>

        <% if (permissions.supplier_admin) { %>
            <div class="modal fade" id="mdl_account_view" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Account</h5>
                            <span class='float-end'>
                                <span id="account_delete" class='float-end ms-1'></span>
                                <span id="account_edit"   class='float-end ms-1'></span>
                            </span>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/display`, {title: 'Name',    id: 'account_name'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Number',  id: 'account_number'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Owner',   id: 'account_user', link: true}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Created', id: 'account_createdAt'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Updated', id: 'account_updatedAt'}) %>
                        </div>
                        <div class="modal-footer">
                        <p class='me-auto'>ID: <span id='account_id'></span></p>
                        <%- include(`${partials}/button/modal/close`) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="mdl_account_add" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="modal-content" id='form_account_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Gender</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`,   {title: 'Name',   name: 'account[name]',            required: true}) %>
                            <%- include(`${partials}/inputs/text`,   {title: 'Number', name: 'account[number]',          required: true}) %>
                            <%- include(`${partials}/inputs/select`, {title: 'Owner',  name: 'account[user_id_account]', required: true, id: 'sel_account_user_add'}) %>
                        </div>
                        <div class="modal-footer">
                        <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="mdl_account_edit" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="modal-content" id='form_account_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Account</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name='account[account_id]' id='account_id_edit'>
                            <%- include(`${partials}/inputs/text`,   {title: 'Name',   id: 'account_name_edit',     name: 'account[name]',            required: true}) %>
                            <%- include(`${partials}/inputs/text`,   {title: 'Number', id: 'account_number_edit',   name: 'account[number]',          required: true}) %>
                            <%- include(`${partials}/inputs/select`, {title: 'Owner',  id: 'sel_account_user_edit', name: 'account[user_id_account]', required: true}) %>
                        </div>
                        <div class="modal-footer">
                        <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>

        <% if (permissions.stores_stock_admin) { %>
            <div class="modal fade" id="mdl_category_view" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Category</h5>
                            <span class="float-end">
                                <span id="category_delete" class='float-end ms-1'></span>
                                <span id="category_edit"   class='float-end ms-1'></span>
                            </span>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/display`, {title: 'Parent',   id: 'parent'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Category', id: 'category'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Created',  id: 'createdAt_category'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Updated',  id: 'updatedAt_category'}) %>
                        </div>
                        <div class="modal-footer">
                        <%- include(`${partials}/button/modal/close`) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="mdl_category_add" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="modal-content" id='form_category_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Category</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/select`, {title: 'Parent',   name: 'category[category_id_parent]', id: 'sel_category_add'}) %>
                            <%- include(`${partials}/inputs/text`,   {title: 'Category', name: 'category[category]', required: true}) %>
                        </div>
                        <div class="modal-footer">
                        <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="mdl_category_edit" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="modal-content" id='form_category_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Category</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name='category_id' id='category_id_edit'>
                            <%- include(`${partials}/inputs/select`, {title: 'Parent',   name: 'category[category_id_parent]', id: 'sel_category_edit'}) %>
                            <%- include(`${partials}/inputs/text`,   {title: 'Category', name: 'category[category]',           id: 'category_edit', required: true}) %>
                        </div>
                        <div class="modal-footer">
                        <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script>show_tab('settings')</script>
<script src="/js/settings/settings/view.js"></script>
<script src="/js/settings/settings/add.js"></script>
<script src="/js/settings/settings/edit.js"></script>
<script src="/js/settings/settings/delete.js"></script>
<script async>getSettings()</script>
<script async>getPrinter()</script>
<script async>getErrorLog()</script>
<script async>getOutLog()</script>

<% if (permissions.stores_stock_admin) { %>
    <script src="/js/settings/genders/view.js"></script>
    <script src="/js/settings/genders/add.js"></script>
    <script src="/js/settings/genders/edit.js"></script>
    <script src="/js/settings/genders/delete.js"></script>
    <script async>getGenders()</script>
    <script src="/js/utils/list/categories.js"></script>
    <script src="/js/settings/categories/view.js"></script>
    <script src="/js/tree.js"></script>
    <script async>getCategories('')</script>
    <script src="/js/settings/categories/add.js"></script>
    <script src="/js/settings/categories/edit.js"></script>
    <script async>loadCategoriesEdit()</script>
    <script src="/js/settings/categories/delete.js"></script>
<% } %>

<% if (permissions.supplier_admin) { %>
    <script src="/js/settings/files/view.js"></script>
    <script src="/js/settings/files/delete.js"></script>
    <script async>getFiles()</script>
    
    <script src="/js/settings/accounts/view.js"></script>
    <script src="/js/utils/list/users.js"></script>
    <script src="/js/settings/accounts/add.js"></script>
    <script src="/js/settings/accounts/edit.js"></script>
    <script src="/js/settings/accounts/delete.js"></script>
    <script async>getAccounts()</script>
<% } %>

<%- include(`${partials}/foot/components/htmlClose`) %>