<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {text: 'Stores'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section>
	<div class="row container m-auto p-0 menu">
		<%- include(`${partials}/card`, {id: 'users', 	  href: '/users', 	  title: 'Users', 	  image: 'users', 	  permission: 'access_users'}) %>
		<%- include(`${partials}/card`, {id: 'suppliers', href: '/suppliers', title: 'Suppliers', image: 'warehouse', permission: 'access_suppliers'}) %>
		<%- include(`${partials}/card`, {id: 'items', 	  href: '/items', 	  title: 'Items', 	  image: 'tshirt', 	  permission: 'access_items'}) %>
		<%- include(`${partials}/card`, {id: 'issues', 	  href: '/issues', 	  title: 'Issues', 	  image: 'address-card'}) %>
		<%- include(`${partials}/card`, {id: 'orders', 	  href: '/orders', 	  title: 'Orders', 	  image: 'list', 	  permission: 'access_orders'}) %>
		<%- include(`${partials}/card`, {id: 'demands',   href: '/demands',   title: 'Demands',   image: 'stream', 	  permission: 'access_demands'}) %>
		<%- include(`${partials}/card`, {id: 'loancards', href: '/loancards', title: 'Loancards', image: 'address-card'}) %>
		<%- include(`${partials}/card`, {id: 'reports',   href: '/reports',   title: 'Reports',   image: 'chart-pie', permission: 'access_reports'}) %>
		<%- include(`${partials}/card`, {id: 'settings',  href: '/settings',  title: 'Settings',  image: 'cog', 	  permission: 'access_settings'}) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/stores/index/show.js"></script>
<% if (permissions.access_orders) { %>
	<script async>getCount('orders',  	['status=1'], {text: 'Placed',    colour: 'danger',  float: 'start'})</script>
	<script async>getCount('orders',  	['status=2'], {text: 'Demanded',  colour: 'warning', float: 'end'})</script>
<% } %>
<% if (permissions.access_demands) { %>
	<script async>getCount('demands', 	['status=1'], {text: 'Draft', 	  colour: 'warning', float: 'start'})</script>
	<script async>getCount('demands', 	['status=2'], {text: 'Open',  	  colour: 'success', float: 'end'})</script>
<% } %>
<% if (permissions.access_issues) { %>
	<script async>getCount('issues',  	['status=1'], {text: 'Requested', colour: 'danger',  float: 'start'})</script>
	<script async>getCount('issues',  	['status=2'], {text: 'Approved',  colour: 'warning', float: 'end'})</script>
<% } %>
<% if (permissions.access_loancards) { %>
	<script async>getCount('loancards', ['status=1'], {text: 'Draft', 	  colour: 'danger',  float: 'start'})</script>
	<script async>getCount('loancards', ['status=2'], {text: 'Open',  	  colour: 'success', float: 'end'})</script>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>