<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/head/components/close`) %>
<section>
	<div class="row container menu mx-auto">
		<%- include(`${partials}/card`, {id: 'suppliers', href: '/suppliers', title: 'Suppliers', image: 'warehouse', permission: 'supplier_admin'}) %>
		<%- include(`${partials}/card`, {id: 'items', 	  href: '/items', 	  title: 'Items', 	  image: 'tshirt'}) %>
		<%- include(`${partials}/card`, {id: 'issues', 	  href: '/issues', 	  title: 'Issues', 	  image: 'address-card'}) %>
		<%- include(`${partials}/card`, {id: 'scraps', 	  href: '/scraps', 	  title: 'Scraps', 	  image: 'trash-alt'}) %>
		<%- include(`${partials}/card`, {id: 'orders', 	  href: '/orders', 	  title: 'Orders', 	  image: 'list', 	  permission: 'stores_stock_admin'}) %>
		<%- include(`${partials}/card`, {id: 'demands',   href: '/demands',   title: 'Demands',   image: 'stream', 	  permission: 'authorised_demander'}) %>
		<%- include(`${partials}/card`, {id: 'loancards', href: '/loancards', title: 'Loancards', image: 'address-card'}) %>
		<%- include(`${partials}/card`, {id: 'reports',   href: '/reports',   title: 'Reports',   image: 'chart-pie'}) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/stores/index/view.js"></script>
<% if (permissions.stores_stock_admin) { %>
	<script async>getCount('orders',  	1, {text: 'Placed',    colour: 'danger',  float: 'start'})</script>
	<script async>getCount('orders',  	2, {text: 'Demanded',  colour: 'warning', float: 'end'})</script>
<% } %>
<% if (permissions.authorised_demander) { %>
	<script async>getCount('demands', 	1, {text: 'Draft', 	  colour: 'warning', float: 'start'})</script>
	<script async>getCount('demands', 	2, {text: 'Open',  	  colour: 'success', float: 'end'})</script>
<% } %>
<% if (permissions.issuer) { %>
	<script async>getCount('issues',  	1, {text: 'Requested', colour: 'danger',  float: 'start'})</script>
	<script async>getCount('issues',  	2, {text: 'Approved',  colour: 'warning', float: 'end'})</script>
	<script async>getCount('loancards', 1, {text: 'Draft', 	  colour: 'danger',  float: 'start'})</script>
	<script async>getCount('loancards', 2, {text: 'Open',  	  colour: 'success', float: 'end'})</script>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>