<%- include(`${partials}/head/app`, {text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Movements'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'movements'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <%- include(`${partials}/sort`, {table: 'movements'}) %>
	<table class="table table-sm table-hover">
        <thead class="thead-dark">
            <th class='w-30'>From</th>
            <th class='w-30'>To</th>
            <th class='w-30'>Description</th>
            <th class='w-10'>Amount</th>
            <th><i class='fas fa-search'></i></th>
        </thead>
        <tbody id="tbl_movements"></tbody>
    </table>
    <%- include(`${partials}/limit`, {table: 'movements'}) %>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/canteen/movements/index/view.js"></script>
<script async>getMovements()</script>
<%- include(`${partials}/foot/components/htmlClose`) %>