<li class='nav-item'>
    <a
        class='nav-link<% if (locals.classes) classes.forEach(e => { %> <%= e %><% }) %>'
        <% if (locals.href) { %>
            href='<%= href %>'
        <% } else { %>
            id='<%= locals.id || 'breadcrumb' %>'
        <% }%>
    ><% if (locals.text) { %>
            <%= text %>
        <% } else if (locals.html) { %>
            <%- html %>
        <% } %></a>
</li>