<nav class='float-start'>
    Showing <span id="<%= table%>_page_low"></span> to <span id="<%= table%>_page_high"></span> of <span id="<%= table%>_page_max"></span>
    <ul class="pagination pagination-sm offset_<%= table%>" id='page_buttons_<%= table%>'></ul>
</nav>
<nav class='float-end'>
    Records per page
    <ul class="pagination pagination-sm limit_<%= table%>">
        <li class="page-item active" data-value="10">
            <button type='button' class="page-link" id="limit_<%= table%>_10">10</button>
        </li>
        <li class="page-item" data-value="20">
            <button type='button' class="page-link" id="limit_<%= table%>_20">20</button>
        </li>
        <li class="page-item" data-value="30">
            <button type='button' class="page-link" id="limit_<%= table%>_30">30</button>
        </li>
        <li class="page-item" data-value="All">
            <button type='button' class="page-link" id="limit_<%= table%>_all">All</button>
        </li>
    </ul>
</nav>