<% if (locals.button_html) { %>
    <%- include(`${partials}/sidebar_button`, {id: id, html: button_html}) %>
<% } %>
<div class="offcanvas offcanvas-start" tabindex="-1" id="sdb<%= id %>" aria-labelledby="sdb<%= id %>Label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sdb<%= id %>Label"><%= sidebar_text %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">