<% if (!locals.permission || permissions[locals.permission]) { %>
    <li class="nav-item">
        <a
            class="nav-link<% if (locals._class) { %> <%= _class %><% } %><% if (locals.active) { %> active<% } %>"
            id="<%= id %>-tab"
            data-bs-toggle="tab"
            href="#<%= id %>"
            role="tab"
            aria-controls="<%= id %>"
            aria-selected="true"
        >
            <%= title %>
            <% if (locals.count_id) { %>(<span id='<%= count_id %>_count'></span>)<% } %>
            <% if (locals.addBtn)   { %><button class='btn btn-success'><i class="fas fa-plus-circle"></i></button><% } %>
            <% if (locals.spinner)  { %><%- include(`${partials}/spinner`, {id: spinner}) %><% } %>
        </a>
    </li>
<% } %>