<% if (permissions[permission]) { %>
    <div id='mdl_action_view' class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Action <span id="action_id"></span></h5>
                    <span id="span_view_buttons" class="float-right"></span>
                </div>
                <div class="modal-body">
                    <%- include(`${partials}/inputs/display`, {title: 'Action',   id: 'action_action'}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Date',     id: 'action_date'}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'User',     id: 'action_user',     link: true}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Location', id: 'action_location', link: true, inp_id: 'inp_location', inp_classes: ['hidden']}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Serial #', id: 'action_serial',   link: true, inp_id: 'inp_serial',   inp_classes: ['hidden']}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'NSN',      id: 'action_nsn',      link: true, inp_id: 'inp_nsn',      inp_classes: ['hidden']}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Order',    id: 'action_order',    link: true, inp_id: 'inp_order',    inp_classes: ['hidden']}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Issue',    id: 'action_issue',    link: true, inp_id: 'inp_issue',    inp_classes: ['hidden']}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Loancard', id: 'action_loancard', link: true, inp_id: 'inp_loancard', inp_classes: ['hidden']}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Demand',   id: 'action_demand',   link: true, inp_id: 'inp_demand',   inp_classes: ['hidden']}) %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/utils/actions.js"></script>
    <script async>showActions()</script>
<% } %>