<% if (!locals.permission || permissions[permission]) { %>
    <div id='mdl_line_view' class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><%= table %> Line</h5>
                    <a id="btn_line_link" class='btn btn-primary float-end'><i class="fas fa-search"></i></a>
                </div>
                <div class="modal-body">
                    <%- include(`${partials}/inputs/display`, {title: 'Item', 	   id: 'line_item', link: true}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Size', 	   id: 'line_size', link: true}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Quantity',  id: 'line_qty'}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Raised by', id: 'line_user', link: true}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Created',   id: 'line_createdAt'}) %>
                    <%- include(`${partials}/inputs/display`, {title: 'Updated',   id: 'line_updatedAt'}) %>
                </div>
                <div class="modal-footer">
                    <p class='me-auto'>ID: <span id='<%= table.toLowerCase() %>_line_id'></span></p>
                </div>
            </div>
        </div>
    </div>
<% } %>