<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Orders'}) %>
<%- include(`${partials}/menu/breadcrumb_add`, {permission: 'stores_stock_admin', modal: 'order_add'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'orders'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<button class="btn btn-primary w-100 mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#col-filter" aria-expanded="false" aria-controls="col-filter">
		Filter
	</button>
	<div class="collapse mb-1" id="col-filter">
		<h5 class='text-start'>Status:</h5>
		<div class="row">
			<div class="col-6 col-sm-3">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Cancelled', id: 'status_0', value: 'status=0', colour: 'secondary', classes: ['status']}) %>
			</div>
			<div class="col-6 col-sm-3">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Placed', 	id: 'status_1', value: 'status=1', colour: 'info', 		classes: ['status'], checked: true}) %>
			</div>
			<div class="col-6 col-sm-3">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Demanded', 	id: 'status_2', value: 'status=2', colour: 'primary', 	classes: ['status'], checked: true}) %>
			</div>
			<div class="col-6 col-sm-3">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Received', 	id: 'status_3', value: 'status=3', colour: 'success', 	classes: ['status']}) %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h5 class='text-start'>Date From:</h5>
				<input type="date" class='form-control' id='createdAt_from'>
			</div>
			<div class="col-sm-6">
				<h5 class='text-start'>Date To:</h5>
				<input type="date" class='form-control' id='createdAt_to'>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h5 class='text-start'>Item:</h5>
				<input type="text" class='form-control' id='item'>
			</div>
			<div class="col-sm-6">
				<h5 class='text-start'>Size:</h5>
				<input type="text" class='form-control' id='size'>
			</div>
		</div>
	</div>
	<% if (permissions.stores_stock_admin) { %>
		<form id='form_order_edit'>
		<button class='btn btn-success w-100 mb-1'>Action Selected Orders</button>
	<% } %>
		<table class="table table-sm table-hover">
			<thead class="thead-dark">
				<th class="w-20" onclick="sortTable(0, 'tbl_orders')">Date</th>
				<th class="w-25" onclick="sortTable(1, 'tbl_orders')">Item</th>
				<th class="w-20" onclick="sortTable(2, 'tbl_orders')">Size</th>
				<th class="w-15" onclick="sortTable(3, 'tbl_orders')">Quantity</th>
				<th class="w-20">
					<select id="sel_all" class='form-select form-select-sm hidden'>
						<option>Select All</option>
						<option value="0">Cancel</option>
						<option value="2">Demand</option>
						<option value="3">Receive</option>
					</select>
					Status
				</th>
				<th><i class="fas fa-search"></i></th>
			</thead>
			<tbody id="tbl_orders"></tbody>
		</table>
	<% if (permissions.stores_stock_admin) { %></form><% } %>
	<div id="div_modals">
		<% if (permissions.stores_stock_admin) { %>
			<div class="modal fade" id="mdl_order_add" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
					<form class="modal-content" id='form_order_add'>
						<div class="modal-header">
							<h5 class="modal-title">Add Order</h5>
						</div>
						<div class="modal-body">
							<%- include(`${partials}/inputs/number`, {title: 'Quantity', value: '1', min: '1', id: 'order_add_qty'}) %>
							<button type='button' class='btn btn-success w-100 mb-1' id='btn_order_sizes'>Add Item(s)</button>
							<table class="table table-sm table-hover">
								<thead class="thead-dark">
									<th class="w-40" onclick="sortTable(0, 'tbl_order_add')">Item</th>
									<th class="w-40" onclick="sortTable(1, 'tbl_order_add')">Size</th>
									<th class="w-20" onclick="sortTable(2, 'tbl_order_add')">Quantity</th>
									<th><i class="fas fa-trash-alt"></i></th>
								</thead>
								<tbody id="tbl_order_add"></tbody>
							</table>
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-success w-100" value='Add Orders'>
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		<% } %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/stores/orders/index/view.js'></script>
<script async>getOrders()</script>
<% if (permissions.stores_stock_admin) { %>
	<script src="/js/stores/sizes/select/showWindow.js"></script>
	<script src='/js/stores/orders/index/add.js'></script>
	<script src='/js/stores/orders/index/edit.js'></script>
	<% if (permissions.authorised_demander) { %>
		<script src='/js/stores/orders/index/demand.js'></script>
	<% } %>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>