<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {text: 'Stores', href: '/stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Orders'}) %>
<% if (permissions.order_add) { %>
	<li class="nav-item">
		<a class="nav-link" data-toggle="modal" data-target="#mdl_order_add">
			<i class="fas fa-plus"></i>
		</a>
	</li>
<% } %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'orders'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
	<%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{text: 'All'}, {value: 'status=1', text: 'Placed'}, {value: 'status=2', text: 'Demanded'}, {value: 'status=1&status=2', text: 'Placed & Demanded'}, {value: 'status=3', text: 'Closed'}]}) %>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-20" onclick="sortTable(0, 'tbl_orders')">Date</th>
			<th class="w-25" onclick="sortTable(1, 'tbl_orders')">Item</th>
			<th class="w-20" onclick="sortTable(2, 'tbl_orders')">Size</th>
			<th class="w-15" onclick="sortTable(3, 'tbl_orders')">Quantity</th>
			<th class="w-20" onclick="sortTable(4, 'tbl_orders')">Status</th>
			<th><i class="fas fa-search"></i></th>
		</thead>
		<tbody id="tbl_orders"></tbody>
	</table>
	<div id="div_modals">
		<% if (permissions.order_add) { %>
			<div class="modal fade" id="mdl_order_add" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Add Order</h5>
						</div>
						<form class="modal-body" id='form_line'>
							<%- include(`${partials}/inputs/number`, {title: 'Quantity', value: '1', min: '1', id: 'order_add_qty'}) %>
							<button type='button' class='btn btn-success w-100 mb-1' id='btn_order_sizes'>Add Item(s)</button>
							<table class="table table-sm table-hover">
								<thead class="thead-dark">
									<th class="w-40" onclick="sortTable(0, 'tbl_order_new')">Item</th>
									<th class="w-40" onclick="sortTable(1, 'tbl_order_new')">Size</th>
									<th class="w-20" onclick="sortTable(2, 'tbl_order_new')">Quantity</th>
									<th><i class="fas fa-trash-alt"></i></th>
								</thead>
								<tbody id="tbl_order_new"></tbody>
							</table>
						</form>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		<% } %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/stores/orders/index/view.js'></script>
<script async>getOrders()</script>
<% if (permissions.order_add) { %>
	<script src='/js/stores/orders/index/add.js'></script>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>