<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Orders'}) %>
<%- include(`${partials}/menu/breadcrumb_add`, {permission: 'stores_stock_admin', modal: 'order_add'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'orders'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<div class="row">
		<div class="col-6">
			<%- include(`${partials}/filter/button`, {id: 'order'}) %>
		</div>
		<div class="col-6">
			<%- include(`${partials}/button/button`, {id: 'action_lines', type: 'success', text: 'Action Selected Issues', classes: ['w-100', 'mb-1'], form: 'order_edit', disabled: true}) %>
		</div>
	</div>
	<%- include(`${partials}/filter/stores/orders`) %>
	<%- include(`${partials}/sort`, {table: 'orders'}) %>
	<% if (permissions.stores_stock_admin) { %><form id='form_order_edit'><% } %>
		<table class="table table-sm table-hover">
			<thead class="thead-dark">
				<th class='w-15'>Date</th>
				<th class='w-20'>Description</th>
				<th class='w-15'>Size</th>
				<th class='w-15'>Qty</th>
				<th class='w-20'>Status</th>
				<th class='w-15'>Actions</th>
				<th><i class="fas fa-search"></i></th>
			</thead>
			<tbody id="tbl_orders"></tbody>
		</table>
	<% if (permissions.stores_stock_admin) { %></form><% } %>
	<%- include(`${partials}/limit`, {table: 'orders'}) %>
	<div id="div_modals">
		<% if (permissions.stores_stock_admin) { %>
			<div class="modal fade" id="mdl_order_add" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
					<form class="modal-content" id='form_order_add'>
						<div class="modal-header">
							<h5 class="modal-title">Add Order</h5>
						</div>
						<div class="modal-body">
							<%- include(`${partials}/inputs/number`, {title: 'Quantity', value: '1', min: '1', id: 'order_add_qty'}) %>
							<button type='button' class='btn btn-success w-100 mb-1' id='btn_order_sizes'>Add Item(s)</button>
							<table class="table table-sm table-hover">
								<thead class="thead-dark">
									<th class="w-40">Item</th>
									<th class="w-40">Size</th>
									<th class="w-20">Quantity</th>
									<th><i class="fas fa-trash-alt"></i></th>
								</thead>
								<tbody id="tbl_order_add"></tbody>
							</table>
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-success w-100" value='Add Orders'>
							<%- include(`${partials}/button/modal/close`) %>
						</div>
					</form>
				</div>
			</div>
		<% } %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/stores/orders/index/view.js'></script>
<% if (permissions.stores_stock_admin) { %>
	<script src="/js/stores/sizes/select/showWindow.js"></script>
	<script src='/js/stores/orders/index/add.js'></script>
	<script src='/js/stores/orders/index/edit.js'></script>
	<% if (permissions.authorised_demander) { %>
		<script src='/js/stores/orders/index/demand.js'></script>
	<% } %>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>