<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <% if (user.user_id !== -1) { %>
                <li class="nav-item">
                    <a class="nav-link stores_nav" href="/stores/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link stores_nav" href="/stores/users/<%= user.user_id %>"><%= user.rank._rank %> <%= user._name %>, <%= user._ini %></a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/orders">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/orders/new?user=<%= user.user_id %>">New</a>
            </li>
        </ul>
    </nav>
</section>
<section>
	<div class="container">
		<form id="orderForm" action="/stores/orders" method="POST" onsubmit="return confirm('Add order?');">
			<input type="hidden" name="ordered_for" value="<%= user.user_id %>">
			<div class="row mx-auto">
				<div class="col-12 col-md-6 bordered mx-auto mb-3">
					<h5>Selected Items</h5>
					<p class="btn btn-primary mb-3 w-100" onclick=openAddWindow()>Add Item</p>
					<div id="selectedItems">
					</div>
					<div>
						<input class="btn btn-primary mt-3" type="submit" value="Order Selected Items">
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/newOrder.js"></script>
<% include ../../partials/foot/htmlClose %>