<% include ../../partials/head/full %>
<section class='mb-2'>
	<nav class='navbar navbar-expand navbar-light bg-nav'>
		<ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores'>Stores</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/orders'>Orders</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/orders/<%= order.order_id %>'><%= order.order_id %></a>
			</li>
			<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle stores_nav" href="#" id="optionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                	Options
                </a>
                <div class="dropdown-menu" aria-labelledby="optionsDropdown">
					<% console.log(order.ordered_for) %>
					<% if ((permissions.order_edit || Number(user.user_id) === Number(order.ordered_for)) && !order._complete && !order._closed) { %>
						<!-- ////////////////////////////////// -->
						<form id='completeForm'>
							<button class="dropdown-item dropdown_button confirm">
								Complete
							</button>
						</form>
						<div class="dropdown-divider"></div>
						<!-- ////////////////////////////////// -->
						<a class="dropdown-item" href='javascript:addSize("order",<%= order.order_id %>)'>
							Add Item
						</a>
						<div class="dropdown-divider"></div>
					<% } %>
					<% if (permissions.order_delete) { %>
						<form id='deleteForm'>
							<button class='dropdown-item dropdown_button confirm'>
								Delete
							</button>
						</form>
					<% }; %>
                </div>
            </li>
		</ul>
	</nav>
</section>
<section class='container'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lines-tab" data-toggle="tab" href="#lines" role="tab" aria-controls="lines" aria-selected="true">
                Lines (<span id='line_count'></span>)
            </a>
        </li>
        <% if (permissions.access_notes) { %>
            <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
                    Notes (<span id='note_count'></span>)
                </a>
            </li>
        <% } %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
				<div class="input-group mb-1">
					<div class="input-group-prepend w-30">
						<span class="input-group-text w-100">For</span>
					</div>
					<p class="form-control"><% if (order.ordered_for !== -1) { %><%= order._for.rank._rank %> <%= order._for._name %>, <%= order._for._ini %><% } else { %>Backing Stock<% } %></p>
					<% if (order.ordered_for !== -1) { %>
						<div class="input-group-append">
							<a class='btn btn-primary' href="/stores/users/<%= order.ordered_for %>">
								<i class='fas fa-search'></i>
							</a>
						</div>
					<% } %>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-30">
						<span class="input-group-text w-100">By</span>
					</div>
					<p class="form-control"><%= order._by.rank._rank %> <%= order._by._name %>, <%= order._by._ini %></p>
					<% if (order.ordered_for !== -1) { %>
						<div class="input-group-append">
							<a class='btn btn-primary' href="/stores/users/<%= order.user_id %>">
								<i class='fas fa-search'></i>
							</a>
						</div>
					<% } %>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-30">
						<span class="input-group-text w-100">Ordered</span>
					</div>
					<p class="form-control"><%= order._date.toDateString() %></p>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-30">
						<span class="input-group-text w-100">Complete</span>
					</div>
					<p class="form-control"><% if (order._complete) { %>Yes<% } else { %>No<% } %></p>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-30">
						<span class="input-group-text w-100">Closed</span>
					</div>
					<p class="form-control"><% if (order._closed) { %>Yes<% } else { %>No<% } %></p>
				</div>
			</div>
		</div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
            <div class="container">
				<% if (permissions.order_edit && !order._complete) { %>
					<form action='/stores/orders/<%= order.order_id %>?_method=PUT' method='POST'>
						<div class="input-group mb-1">
							<select class="custom-select" name='action'>
								<option value='demand'>Demand Selected Lines</option>
								<option value='receive'>Receive Selected Lines</option>
								<option value='issue'>Issue Selected Lines</option>
								<% if (permissions.order_delete) { %>
									<option value='cancel'>Cancel Selected Lines</option>
								<% } %>
							</select>
							<div class="input-group-append w-25">
								  <button class="btn btn-success w-100 confirm" type="button">Go</button>
							</div>
						</div>
				<% } %>
				<div class="input-group mb-2">
					<div class="input-group-prepend w-20">
						<label class="input-group-text w-100" for="sel_status">Status</label>
					</div>
					<select class="custom-select" id='sel_status' onchange='getLines(<%= order.order_id %>, <%= order._complete %>, <%= order._closed %>, <%= permissions.order_line_edit %>, <%= permissions.order_line_delete %>)'>
						<option value='All' selected>All</option>
						<option value='Open'>Open</option>
						<option value='Received'>Received</option>
						<option value='Cancelled'>Cancelled</option>
					</select>
				</div>
				<div id='spn_orders' class="spinner-border text-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<table class='table table-sm table-hover mx-auto w-100'>
					<thead class='thead-dark'>
						<% let display_check = (permissions.order_line_edit && order._complete && !order._closed) %>
						<th class='w-<% if (display_check) { %>20<% } else { %>25<% } %>' onclick='sortTable(0, "orderTable")'>Item</th>
						<th class='w-15' onclick='sortTable(1, "orderTable")'>Size</th>
						<th class='w-5'  onclick='sortTable(2, "orderTable")'>Qty</th>
						<th class='w-10' onclick='sortTable(3, "orderTable")'>Status</th>
						<th class='w-15' onclick='sortTable(4, "orderTable")'>Demand Date</th>
						<th class='w-15' onclick='sortTable(5, "orderTable")'>Receipt Date</th>
						<th class='w-15' onclick='sortTable(6, "orderTable")'>Issue Date</th>
						<% if (display_check) { %>
						<th class='w-5'><i class='fas fa-check'></i></th>
						<% } %>
						<% if (permissions.order_line_delete && !order._complete && !order._closed) { %>
						<th><i class='fas fa-trash-alt'></i></th>
						<% } %>
					</thead>
					<tbody id='orderTable'>
					</tbody>
				</table>
				<% if (permissions.order_edit && !order._complete) { %>
				</form>
				<% } %>
			</div>
		</div>
        <% include ../../partials/noteTable %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/specific/orders_show.js"></script>
<script src="/js/addSize.js"></script>
<script>
    window.addEventListener( "load", function () {
		<% if (permissions.order_delete) { %>
			addFormListener('deleteForm', 'DELETE', '/stores/orders/<%= order.order_id %>',{redirect: '/stores/orders'});
		<% } %>
		<% if ((permissions.order_edit || Number(user.user_id) === Number(order.ordered_for)) && !order._complete && !order._closed) { %>
			addFormListener('completeForm', 'PUT', '/stores/orders/<%= order.order_id %>/complete', {reload: true});
		<% } %>
    });
    showTab('<%= show_tab %>');
</script>
<script async>getLines(<%= order.order_id %>, <%= order._complete %>, <%= order._closed %>, <%= permissions.order_line_edit %>, <%= permissions.order_line_delete %>)</script>
<% include ../../partials/foot/htmlClose %>