<!-- loancards INDEX PAGE -->
<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/orders">Orders</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/orders/<%= order.order_id %>"><%= order.order_id %></a>
			</li>
		</ul>
	</nav>
</section>
<section>
	<nav class="navbar navbar-expand navbar-dark bg-dark stores">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Options
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<% if (permissions.notes_add) { %>
						<a class="dropdown-item" href="/stores/notes/new?table=orders&id=<%= order.order_id %>">Add Note</a>
						<div class="dropdown-divider"></div>
					<% } %>
					<a class="dropdown-item" href="/stores/orders">Back to Orders</a>
				</div>
			</li>
		</ul>
	</nav>
</section>
<section class="detailBox container-fluid pt-3">
	<div class="row">
		<div class="col-12 col-lg-6 col-xl-4 mb-3">
			<div class="bordered" id="divUsers">
				<h4><a href="/stores/item_sizes/<%= order.size.stock_id %>"> Item Details</a></h4>
				<div class="details">
					<div class="row">
						<div class="col-sm-4">
							<label class="col-form-label">Item:</label>
						</div>
						<div class="col-sm-8">
							<input class="form-control" type="text" value="<%= order.size.item._description %>" readonly>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="col-form-label">Size:</label>
						</div>
						<div class="col-sm-8">
							<input class="form-control" type="text" value="<%= order.size.size._text %>" readonly>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="col-form-label">Quantity:</label>
						</div>
						<div class="col-sm-8">
							<input class="form-control" type="text" value="<%= order._qty %>" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 col-xl-4 mb-3">
			<div class="bordered" id="divUsers">
				<h4>User Details</h4>
				<div class="details">
					<div class="row">
						<div class="col-sm-4">
							<label class="col-form-label">Ordered For:</label>
						</div>
						<div class="col-sm-8">
							<input class="form-control" type="text" value="<%= order.orderedFor.rank._rank %> <%= order.orderedFor._name %>, <%= order.orderedFor._ini %>" readonly>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="col-form-label">Ordered By:</label>
						</div>
						<div class="col-sm-8">
								<input class="form-control" type="text" value="<%= order.orderedBy.rank._rank %> <%= order.orderedBy._name %>, <%= order.orderedBy._ini %>" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 col-xl-4 mb-3">
				<div class="bordered" id="divUsers">
					<h4>Dates</h4>
					<div class="details">
						<div class="row">
							<div class="col-sm-4">
								<label class="col-form-label">Ordered:</label>
							</div>
							<div class="col-sm-8">
								<input class="form-control" type="text" value="<%= order._date.toDateString() %>" readonly>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label class="col-form-label">Placed:</label>
							</div>
							<div class="col-sm-8">
								<input class="form-control" type="text" value="<% if (order.demand) { %><%= order.demand._date.toDateString() %><% } %>" readonly>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label class="col-form-label">Received:</label>
							</div>
							<div class="col-sm-8">
								<input class="form-control" type="text" value="<% if (order.receipt) { %><%= order.receipt._date.toDateString() %><% } %>" readonly>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label class="col-form-label">Issued:</label>
							</div>
							<div class="col-sm-8">
								<input class="form-control" type="text" value="<% if (order.issue) { %><%= order.issue._date.toDateString() %><% } %>" readonly>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% if (permissions.access_notes) { %> 
			<div class="col-12 col-lg-6 col-xl-12 mb-3">
				<% include ../../partials/noteTable %>
			</div>
		<% } %>
		<% if (permissions.orders_delete) { %>
			<div class="col-12 mb-3">
				<form action="/stores/orders/<%= order.order_id %>?_method=DELETE&user=<%= order.ordered_for %>" method="POST">
					<button class="btn btn-danger">Delete Order</button>
				</form>
			</div>
		<% } %>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/filters.js"></script>
<script>
    function filterSelects() {
        filter(['sn'],"/stores/orders/<%= order.order_id %>");
    };
</script>
<% include ../../partials/foot/htmlClose %>