<% include ../../partials/head/full %>
<section class='mb-2'>
	<nav class='navbar navbar-expand navbar-light bg-nav'>
		<ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores'>Stores</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/orders'>Orders</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/orders/<%= order.order_id %>'><%= order.order_id %></a>
			</li>
		</ul>
	</nav>
</section>
<section class='container'>
	<div class='row'>
		<div class='col-12 col-xl-4 mb-3 bordered'>
			<% if (permissions.orders_delete) { %>
				<form action='/stores/orders/<%= order.order_id %>?_method=DELETE&user=<%= order.ordered_for %>' method='POST'>
					<button class='float-left btn btn-danger confirm'>
						<i class='fas fa-trash-alt'></i>
					</button>
				</form>
			<% } %>
			<h4 class='mb-3'>Details</h4>
			<div class='row'>
				<div class='col-sm-4'>
					<label class='col-form-label'>For:</label>
				</div>
				<div class='col-sm-8'>
					<input class='form-control form-control-sm' type='text' value='<% if (order.ordered_for !== -1) { %><%= order._for.rank._rank %> <%= order._for._name %>, <%= order._for._ini %><% } else { %>Backing Stock<% } %>' readonly>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-4'>
					<label class='col-form-label'>By:</label>
				</div>
				<div class='col-sm-8'>
						<input class='form-control form-control-sm' type='text' value='<%= order._by.rank._rank %> <%= order._by._name %>, <%= order._by._ini %>' readonly>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-4'>
					<label class='col-form-label'>Ordered:</label>
				</div>
				<div class='col-sm-8'>
					<input class='form-control form-control-sm' type='text' value='<%= order._date.toDateString() %>' readonly>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-4'>
					<label class='col-form-label'>Complete:</label>
				</div>
				<div class='col-sm-8'>
					<input class='form-control form-control-sm' type='checkbox' disabled<% if (order._complete) { %> checked<% } %>>
				</div>
			</div>
		</div>
		<% if (permissions.access_notes) { %> 
			<div class='col-12 col-xl-8 mb-3 bordered'>
				<% if (permissions.notes_add) { %>
					<a class='float-left btn btn-success' href='/stores/notes/new?table=orders&id=<%= order.order_id %>'>
						<i class='fas fa-plus'></i>
					</a>
				<% } %>
				<% include ../../partials/noteTable %>
			</div>
		<% } %>
		<div class='col-12 mb-3 bordered container'>
			<div class='row'>
				<div class='col-12 col-md-4'>
					<div class='row'>
						<div class='col-5'>
							<label class='col-form-label text-right' for='demanded'>Demanded Lines:</label>
						</div>
						<div class='col-7'>
							<select id='demanded' class='form-control form-control-sm' type='text' onchange=filterSelects()>
								<option value='1' <% if (query.demanded === 1) { %>selected<% } %> >Include</option>
								<option value='2' <% if (query.demanded === 2) { %>selected<% } %> >Exclude</option>
								<option value='3' <% if (query.demanded === 3) { %>selected<% } %> >Only</option>
							</select>
						</div>
					</div>
				</div>
				<div class='col-12 col-md-4'>
					<div class='row'>
						<div class='col-5'>
							<label class='col-form-label text-right'  for='received'>Received Lines:</label>
						</div>
						<div class='col-7'>
							<select id='received' class='form-control form-control-sm' type='text' onchange=filterSelects()>
								<option value='1' <% if (query.received === 1) { %>selected<% } %> >Include</option>
								<option value='2' <% if (query.received === 2) { %>selected<% } %> >Exclude</option>
								<option value='3' <% if (query.received === 3) { %>selected<% } %> >Only</option>
							</select>
						</div>
					</div>
				</div>
				<div class='col-12 col-md-4'>
					<div class='row'>
						<div class='col-5'>
							<label class='col-form-label text-right'  for='issued'>Issued Lines:</label>
						</div>
						<div class='col-7'>
							<select id='issued' class='form-control form-control-sm' type='text' onchange=filterSelects()>
								<option value='1' <% if (query.issued === 1) { %>selected<% } %> >Include</option>
								<option value='2' <% if (query.issued === 2) { %>selected<% } %> >Exclude</option>
								<option value='3' <% if (query.issued === 3) { %>selected<% } %> >Only</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<form action='/stores/orders/<%= order.order_id %>?_method=PUT' method='POST'>
				<div class='row'>
					<div class='col-12 col-md-6'>
						<select class='w-100 form-control' name='action'>
							<option value='demand'>Demand Selected Lines</option>
							<option value='receive'>Receive Selected Lines</option>
							<option value='issue'>Issue Selected Lines</option>
						</select>
					</div>
					<div class='col-12 col-md-6'>
						<input class='w-100 btn btn-success mb-1' type='submit' value='Go'>
					</div>
				</div>
				<table class='table table-sm table-hover mx-auto w-100'>
					<thead class='thead-dark'>
						<th class='w-5'></th>
						<th class='w-25' onclick='sortTable(1, "orderTable")'>Item</th>
						<th class='w-20' onclick='sortTable(2, "orderTable")'>Size</th>
						<th class='w-5' onclick='sortTable(3, "orderTable")'>Quantity</th>
						<th class='w-15' onclick='sortTable(4, "orderTable")'>Demand Date</th>
						<th class='w-15' onclick='sortTable(5, "orderTable")'>Receipt Date</th>
						<th class='w-15' onclick='sortTable(6, "orderTable")'>Issue Date</th>
						<% if (permissions.orders_delete) { %>
							<th><i class='fas fa-trash-alt'></i></th>
						<% } %>
					</thead>
					<tbody id='orderTable'>
						<% if (order.lines) { %>
							<% order.lines.forEach(line => { %>
								<tr>
									<td>
										<input class='form-control form-control-sm' type='checkbox' name='lines[]' value='{"line_id":<%= line.line_id %>,"itemsize_id":<%= line.itemsize_id %>,"qty":<%= line._qty %>,"supplier_id":<%= line.item_size.supplier_id %>,"_for":<%= order.ordered_for %><% if (line.demands_l) { %>,"demand_line_id":<%= line.demand_line_id %><% } %><% if (line.receipts_l) { %>,"receipt_line_id":<%= line.receipt_line_id %><% } %><% if (line.issues_l) { %>,"issue_line_id":<%= line.issue_line_id %><% } %>}'></td>
									<td>
										<a class='float-right' href='/stores/items/<%= line.item_size.item_id %>'><i class='fas fa-search'></i></a>
										<%= line.item_size.item._description %>
									</td>
									<td>
										<a class='float-right' href='/stores/item_sizes/<%= line.itemsize_id %>'><i class='fas fa-search'></i></a>
										<%= line.item_size._size %>
									</td>
									<td>
										<%= line._qty %>
									</td>
									<td>
										<% if (line.demands_l) { %>
											<a class='float-right' href='/stores/demands/<%= line.demands_l.demand_id %>'>
												<i class='fas fa-search'></i>
											</a>
											<%= line.demands_l.demand._date.toDateString() %>
										<% }; %>
									</td>
									<td>
										<% if (line.receipts_l) { %>
											<a class='float-right' href='/stores/receipts/<%= line.receipts_l.receipt_id %>'>
												<i class='fas fa-search'></i>
											</a>
											<%= line.receipts_l.receipt._date.toDateString() %>
										<% }; %>
									</td>
									<td>
										<% if (Number(order.ordered_for) === -1) { %>
											N/A
										<% } else { %>
											<% if (line.issues_l) { %>
												<a class='float-right' href='/stores/issues/<%= line.issues_l.issue_id %>'><i class='fas fa-search'></i></a>
												<%= line.issues_l.issue._date.toDateString() %>
											<% }; %>
										<% }; %>
									</td>
									<% if (permissions.orders_delete) { %>
										<th>
											<form action='/stores/orders_l/<%= line.line_id %>?_method=DELETE' method='POST'>
												<button class='btn btn-sm btn-danger confirm'><i class='fas fa-trash-alt'></i></button>
											</form>
										</th>
									<% } %>
								</tr>
							<% }); %>
						<% }; %>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {filter(['system', 'demanded', 'received', 'issued'], '/stores/orders/<%= order.order_id %>')};
</script>
<% include ../../partials/foot/htmlClose %>