<%- include(`${partials}/head/full`) %>
<section class='mb-2'>
	<nav class='navbar navbar-expand navbar-light bg-nav'>
		<ul class='navbar-nav mr-auto'>
            <%- include(`${partials}/breadcrumb`, {href: '/stores',		   text: 'Stores'}) %>
			<%- include(`${partials}/breadcrumb`, {href: '/stores/orders', text: 'Orders'}) %>
			<%- include(`${partials}/breadcrumb`) %>
		</ul>
	</nav>
</section>
<section class='container'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="optionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Menu
			</a>
			<div class="dropdown-menu" aria-labelledby="optionsDropdown">
				<%- include(`${partials}/notes/menu_add`) %>
				<% if (permissions.order_edit) { %><form id='form_complete'><% } %>
					<input id='btn_complete' class='dropdown-item dropdown_button confirm' type="submit" value='Complete' disabled>
				<% if (permissions.order_edit) { %></form><% } %>
				<div id='form_addSize'>
					<button type='button' class='dropdown-item dropdown_button' id='btn_addSize' data-toggle='modal' data-target='#mdl_add_size' disabled >
						Add Item
					</button>
				</div>
				<% if (permissions.order_delete) { %><form id='form_delete'><% } %>
					<input id='btn_delete' type="submit" class="dropdown-item dropdown_button confirm" value='Cancel' disabled>
				<% if (permissions.order_edit) { %></form><% } %>
				<input id='btn_action' form='form_action' class='dropdown-item dropdown_button confirm' type="submit" value='Action Lines' disabled>
			</div>
		</li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details'}) %>
        <%- include(`${partials}/tab_head`, {id: 'lines',   title: 'Lines', count_id: 'line_count'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',   title: 'Notes', count_id: 'note_count', permission: 'access_notes'}) %>
        <%- include(`${partials}/reload`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/spinner`, {id: 'orders'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'user_for', 	title: 'For', append: {a: {id: 'user_for_link', type: 'primary', text: '<i class="fas fa-search"></i>'}}}) %>
			<%- include(`${partials}/inputs/display`, {id: 'user_by', 	title: 'By',  append: {a: {id: 'user_by_link',  type: 'primary', text: '<i class="fas fa-search"></i>'}}}) %>
			<%- include(`${partials}/inputs/display`, {id: 'createdAt', title: 'Date'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'updatedAt', title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: '_status', 	title: 'Status'}) %>
		</div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
			<%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{value: '', text: 'All', selected: true}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Pending'}, {value: '_status=2', text: 'Open'}, {value: '_status=3', text: 'Demanded'}, {value: '_status=4', text: 'Received'}, {value: '_status=5', text: 'Closed'}]}) %>
			<% if (permissions.order_line_edit) { %>
				<form id='form_action'>
			<% } %>
			<table class='table table-sm table-hover mx-auto w-100'>
				<thead id='table_header_lines' class='thead-dark'>
					<th class='w-10' onclick='sortTable(0, "tbl_lines")'>
						<%- include(`${partials}/spinner`, {id: 'order_lines', float_left: true, small: true}) %>
						Line ID
					</th>
					<th class='w-30' onclick="sortTable(1,'tbl_lines')">Item</th>
					<th class='w-15' onclick="sortTable(2,'tbl_lines')">Size</th>
					<th class='w-5'  onclick="sortTable(3,'tbl_lines')">Qty</th>
					<th class='w-20' onclick="sortTable(4,'tbl_lines')">Status</th>
					<th class='w-20' onclick="sortTable(5,'tbl_lines')">Action</th>
					<th id='col_view'><i class='fas fa-search'></i></th>
				</thead>
				<tbody id='tbl_lines'>
				</tbody>
			</table>
			<% if (permissions.order_line_edit) { %>
				</form>
			<% } %>
		</div>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
	<div id="div_modals"></div>
</section>
<%- include(`${partials}/foot/full`) %>
<!-- get/spinner/XHRsend/send from notes include -->
<script src='/js/tabs.js'></script>
<script src="/js/stores/orders/show/order.js"></script>
<script src="/js/stores/orders/show/lines.js"></script>
<script src="/js/stores/nsns/list.js"></script>
<script src="/js/stores/stock/list.js"></script>
<script src="/js/stores/serials/list.js"></script>
<script src="/js/search/select.js"></script>
<script src="/js/addSize.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script src='/js/utils/select_sel_status.js'></script>
<script src='/js/utils/getLineNotes.js'></script>
<script>showTab('<%= tab %>');</script>
<script>
	function getOrder() {
		get(
			showOrder,
			{
				table: 'orders',
				query: [`order_id=${path[3]}`],
				permissions: {
					edit: 	     <%= permissions.order_edit  	   || false %>,
					delete:		 <%= permissions.order_delete	   || false %>,
					line_add:	 <%= permissions.order_line_add	   || false %>,
					line_delete: <%= permissions.order_line_delete || false %>
				}
			}
		);
	};
    document.querySelector('#reload').addEventListener('click', () => getOrder());
</script>
<script async>getOrder()</script>
<script>
    function getLines() {
		get(
			showLines,
			{
				table: 'order_lines',
				query: [`order_id=${path[3]}`, sel_status.value],
				permissions: {
					line_edit:	 <%= permissions.order_line_edit   || false %>,
					line_delete: <%= permissions.order_line_delete || false %>
				}
			}
		);
	};
	// getorderlines = getLines;
    document.querySelector('#reload').addEventListener('click', () => getLines());
    document.querySelector('#sel_status').addEventListener('change', () => getLines());
</script>
<script async>getLines()</script>
<script>
    window.addEventListener( "load", function () {
		<% if (permissions.order_delete) { %>
			addFormListener('form_delete', 'DELETE', `/stores/orders/${path[3]}`,{onComplete: [getOrder, getLines]});
		<% } %>
		<% if (permissions.order_edit) { %>
			addFormListener('form_complete', 'PUT', `/stores/orders/${path[3]}`, {onComplete: [getOrder, getLines]});
		<% } %>
		<% if (permissions.order_line_edit) { %>
			addFormListener('form_action', 'PUT', `/stores/order_lines/${path[3]}`,{onComplete: getLines});
		<% } %>
    });
</script>
<%- include(`${partials}/foot/htmlClose`) %>