<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/orders', text: 'Orders'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="optionsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Menu
			</a>
			<div class="dropdown-menu" aria-labelledby="optionsDropdown">
				<%- include(`${partials}/menu/button`, {id: 'delete', 		 text: 'Cancel', 		   btn_form: true}) %>
				<%- include(`${partials}/menu/button`, {id: 'mark_placed', 	 text: 'Mark as Placed',   btn_form: true}) %>
				<%- include(`${partials}/menu/button`, {id: 'mark_demanded', text: 'Mark as Demanded', btn_form: true}) %>
				<%- include(`${partials}/menu/button`, {id: 'mark_received', text: 'Mark as Received', btn_form: true}) %>
			</div>
		</li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'order'}) %>
        <%- include(`${partials}/common/actions/tab_head`) %>
		<%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/inputs/display`, {id: 'item_name', title: 'Item', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'size_desc', title: 'Size', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'qty',	 	title: 'Quantity'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'createdAt', title: 'Date'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'updatedAt', title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'status',  	title: 'Status'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'user', 	    title: 'Raised By', link: true}) %>
		</div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
    </div>
	<div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script>show_tab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>

<script src="/js/stores/orders/show/view.js"></script>
<script async>showOrder()</script>
<% if (permissions.stores_stock_admin) { %>
	<script src="/js/stores/orders/show/delete.js"></script>
	<script async>setDeleteButton()</script>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>