<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/orders', text: 'Orders'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <%- include(`${partials}/sidebar/button`, {id: 'actions', text: 'Actions', float: true}) %>
	<%- include(`${partials}/sidebar/open`, {id: 'actions', text: 'Actions'}) %>
		<%- include(`${partials}/button/modal/open`, {text: 'Edit Size',     id: 'size_edit', type: 'warning'}) %>
		<%- include(`${partials}/button/modal/open`, {text: 'Edit Quantity', id: 'qty_edit',  type: 'warning'}) %>
		<form class="input-group mb-3" id='form_mark_as'>
			<label class="input-group-text" for="sel_mark_as">Mark Order As:</label>
			<select class="form-select" id="sel_mark_as" name='order[status]'>
				<option value="0" id='btn_mark_0' disabled>Cancelled</option>
				<option value="1" id='btn_mark_1' disabled>Placed</option>
				<option value="2" id='btn_mark_2' disabled>Demanded</option>
				<option value="3" id='btn_mark_3' disabled>Received</option>
			</select>
			<button class="btn btn-success" id='btn_mark_as' disabled><i class="fas fa-save"></i></button>
		</form>
    	<%- include(`${partials}/button/form`, {id: 'delete', text: 'Cancel', colour: 'danger', align_bottom: true}) %>
	<%- include(`${partials}/sidebar/close`) %>
    <div class="row mb-1">
        <span class="badge text-bg-secondary w-33" id="bdg_status_1">Placed</span>
        <span class="badge text-bg-secondary w-33" id="bdg_status_2">Demanded</span>
        <span class="badge text-bg-secondary w-34" id="bdg_status_3">Received</span>
    </div>
	<ul class="nav nav-tabs nav-justified" id="mainTab" role="tablist">
		<%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'order'}) %>
		<%- include(`${partials}/common/actions/tab_head`) %>
		<%- include(`${partials}/common/notes/tab_head`) %>
  	</ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/inputs/display`, {id: 'order_item', 	  title: 'Item', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'order_size', 	  title: 'Size', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'order_qty',	 	  title: 'Quantity'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'order_createdAt', title: 'Date'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'order_updatedAt', title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'order_user', 	  title: 'Raised By', link: true}) %>
		</div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
    </div>
	<div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
        <%- include(`${partials}/modals/size_edit`) %>
        <%- include(`${partials}/modals/qty_edit`) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script>show_tab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>

<% if (permissions.stores_stock_admin) { %>
	<script src="/js/stores/orders/show/edit.js"></script>
	<script src="/js/stores/orders/show/delete.js"></script>
<% } %>
<script src="/js/stores/orders/show/view.js"></script>
<%- include(`${partials}/foot/components/htmlClose`) %>