<% include ../../partials/head/head %>
<body>
<% include ../../partials/head/flash %>
<section id='body'>
    <form id='adjustForm'>
        <input name="adjust[stock_id]" type="hidden" value='<%= stock.stock_id %>'>
        <%- include('../../partials/inputs/text',    {title: 'Type',             name: 'adjust[_type]', value: query.adjustType, required: true, readonly: true}) %>
        <%- include('../../partials/inputs/display', {title: 'Item',             text: stock.size.item._description}) %>
        <%- include('../../partials/inputs/display', {title: 'Size',             text: stock.size._size}) %>
        <%- include('../../partials/inputs/display', {title: 'Location',         text: stock.location._location}) %>
        <%- include('../../partials/inputs/display', {title: 'Current Quantity', text: stock._qty}) %>
        <%- include('../../partials/inputs/number',  {title: 'Quantity',         name: 'adjust[_qty]', maxLength:11, required: true}) %>
        <% include ../../partials/save_cancel %>
    </form>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
        addFormListener('adjustForm', 'POST', '/stores/adjusts');
    });
</script>
<% include ../../partials/foot/htmlClose %>