<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>
                    Stores
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/items'>
                    Items
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/items/<%= stock.size.item.item_id %>'>
                    <%= stock.size.item._description %>
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/sizes/<%= stock.size_id %>'>
                    Size: <%= stock.size._size %>
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/stock/<%= stock.stock_id %>'>
                    Location: <%= stock.location._location %>
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/adjusts/new?stock_id=<%= stock.size_id %>&adjustType=<%= query.adjustType %>'>
                    <%= query.adjustType %>
                </a>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
	<div class='row'>
		<div class='col-12 col-lg-3 mx-auto mb-3 bordered'>
            <h4><%= query.adjustType %></h4>
            <h5>Current Quantity: <%= stock._qty %></h5>
            <form action='/stores/adjusts' method='POST'>
                <div class='mb-2'>
                    <input type='hidden' name='adjust[_type]' value='<%= query.adjustType %>'>
                    <input type='hidden' name='adjust[stock_id]' value='<%= stock.stock_id %>'>
                    <input class='form-control' type='number' name='adjust[_qty]' inputmode='numeric' maxlength='11' placeholder='Quantity' required>
                </div>
                <div class='mb-2'>
                    <input type='submit' class='btn btn-success w-100 confirm' value='Save'>
                </div>
            </form>
		</div>
    </div>
</section>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>