<%- include(`${partials}/head/app`,   {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Locations'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <%- include(`${partials}/sidebar/button`, {id: 'actions', text: 'Actions', float: true}) %>
    <%- include(`${partials}/sidebar/open`, {id: 'actions', text: 'Actions'}) %>
        <%- include(`${partials}/button/modal/open`, {id: 'location_edit', text: 'Edit', type: 'warning', modal: 'location_edit'}) %>
        <form id="form_delete" class="mt-auto">
            <button id='btn_delete' type='button' class="btn btn-danger w-100" disabled>Delete</button>
        </form>
    <%- include(`${partials}/sidebar/close`) %>
    <ul class="nav nav-tabs nav-justified" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'location'}) %>
        <%- include(`${partials}/tab_head`, {id: 'stocks',  title: 'Stock',   spinner: 'stocks',  count_id: 'stock'}) %>
        <%- include(`${partials}/tab_head`, {id: 'serials', title: 'Serials', spinner: 'serials', count_id: 'serial'}) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: 'location_location',  title: 'Location'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'location_createdAt', title: 'Created'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'location_updatedAt', title: 'Updated'}) %>
        </div>
        <div class="tab-pane fade" id="stocks" role="tabpanel" aria-labelledby="stocks-tab">
	        <table class='table table-sm table-hover w-100'>
                <thead class='thead-dark' id="tbl_stocks_head">
					<th class='w-40' data-column='["size","item","description"]' data-dir="ASC">Item</th>
					<th class='w-40' data-column='["size","size1"]'                            >Size</th>
					<th class='w-20' data-column='["qty"]'                                     >Qty </th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id='tbl_stocks'></tbody>
            </table>
            <%- include(`${partials}/limit`, {table: 'stocks'}) %>
        </div>
        <div class="tab-pane fade" id="serials" role="tabpanel" aria-labelledby="serials-tab">
	        <table class='table table-sm table-hover w-100'>
                <thead class='thead-dark' id="tbl_serials_head">
					<th class='w-100' data-column='["size","item","description"]' data-dir="ASC">Item</th>
					<th class='w-100' data-column='["size","size1"]'                            >Size  </th>
					<th class='w-100' data-column='["serial"]'                                  >Serial</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id='tbl_serials'></tbody>
            </table>
            <%- include(`${partials}/limit`, {table: 'serials'}) %>
        </div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
        <% if (permissions.stores_stock_admin) { %>
            <div id='mdl_location_edit' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_location_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Location</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`, {title: 'Location', name: 'location', id: 'location_location_edit'}) %>
                        </div>
                        <div class="modal-footer">
							<%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
        <div id='mdl_stock_view'    class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Stock</h5>
                        <a class='btn btn-primary float-end' id='btn_stock_link'><i class="fas fa-search"></i></a>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {id: 'stock_item',      title: 'Item', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'stock_size',      title: 'Size', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'stock_qty',       title: 'Quantity'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'stock_createdAt', title: 'Created'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'stock_updatedAt', title: 'Updated'}) %>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto'>ID: <span id='stock_id'></span></p>
                        <%- include(`${partials}/button/modal/close`) %>
                    </div>
                </div>
            </div>
        </div>
        <div id='mdl_serial_view'   class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Serial</h5>
                        <a class='btn btn-primary float-end' id='btn_serial_link'><i class="fas fa-search"></i></a>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {id: 'serial_item',      title: 'Item', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'serial_size',      title: 'Size', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'serial_serial',    title: 'Serial #'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'serial_createdAt', title: 'Created'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'serial_updatedAt', title: 'Updated'}) %>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto'>ID: <span id='serial_id'></span></p>
                        <%- include(`${partials}/button/modal/close`) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script>show_tab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>
<script src='/js/stores/locations/show/view.js'></script>
<script async>getLocation()</script>
<% if (permissions.stores_stock_admin) { %>
    <script src='/js/stores/locations/show/edit.js'></script>
    <script src="/js/stores/locations/show/delete.js"></script>
<% } %>
<script src='/js/stores/locations/show/stocks/view.js'></script>
<script async>getStocks()</script>
<script src='/js/stores/locations/show/serials/view.js'></script>
<script async>getSerials()</script>
<%- include(`${partials}/foot/components/htmlClose`) %>