<%- include(`${partials}/head/site`) %>
<h2>Resources</h2>
<section class="container bordered mb-2">
    <a class="my-3" data-toggle="collapse" href="#collapseLinks" role="button" aria-expanded="false" aria-controls="collapseLinks">
        <h4>Links</h4>
    </a>
    <div class="collapse show mb-3" id="collapseLinks">
        <div class="menu row">
            <% let linkCards = [] %>
            <% linkCards.push({title: 'Canteen',      body: 'Canteen management',      href: '/canteen'}) %>
            <% linkCards.push({title: 'Stores',       body: 'Stores management',       href: '/stores'}) %>
            <% linkCards.push({title: 'Bader',   	  body: 'Bader landing page',      href: 'https://bader.mod.uk'}) %>
            <% linkCards.push({title: 'Cadet Portal', body: 'Cadet portal login page', href: 'https://cadets.bader.mod.uk/'}) %>
            <% linkCards.push({title: 'UltiLearn',    body: 'Ultilearn login page',    href: 'https://learning.bader.mod.uk'}) %>
            <% linkCards.forEach(card => { %>
                <div class="col-6 col-lg-4 col-xl-3">
                    <div class="card m-3">
                        <a href="<%= card.href %>">
                            <div class="card-header">
                                <h3><%= card.title %></h3>
                            </div>
                            <div class="card-body">
                                <p><%= card.body %></p>
                            </div>
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>
<section class="container bordered mb-2">
    <a class="my-3" data-toggle="collapse" href="#collapsePublications" role="button" aria-expanded="false" aria-controls="collapsePublications">
        <h4>Publications</h4>
    </a>
    <div class="collapse mb-3" id="collapsePublications">
        <div class="menu row">
            <!-- Beret moulding https://vimeo.com/338293093
How to iron a shirt https://vimeo.com/442125686
How to iron a brassard https://vimeo.com/439754523
How to wear a lanyard https://vimeo.com/437804342
How to polish boots https://vimeo.com/431470998
How to iron trousers or slacks https://vimeo.com/419407079
How to iron a skirt https://vimeo.com/442435046 -->
            <% let pubCards = [] %>
            <% pubCards.push({title: 'PI 5-01',  body: 'ATC Cadet Code of Conduct', href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/Eex9QL5dFdpFgeS8CaEcCdQBcfqkKVmQQFGM8_LNTDE0rw?e=TUtYTi&web=1'}) %>
            <% pubCards.push({title: 'ACP1', 	 body: 'Ethos, Core Values and Standards in the Air Cadet Organisation', href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/EfTIkp4w2QtLjBxb6Y-_v9sBfYkI0wFlXZSx1CEeQGUzNw?e=e3Rded&web=1'}) %>
            <% pubCards.push({title: 'ACP2',     body: 'A Guide to Cultural and Religious Diversity', href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/EfxLZizAK2JNi3v6oNUENmABhoPI19AQTS7ad1JrE6Zq0g?e=ZM26sO&web=1'}) %>
            <% pubCards.push({title: 'ACP5',     body: 'Health, Safety and Environmental Protection', href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/EaNwtBklRrhImQgqrmOrejYB40AJoQIQmHkEkVPla3Gqgg?e=0nekDy&web=1'}) %>
            <% pubCards.push({title: 'AP818',    body: 'RAF Drill and Ceremonial', href: 'https://rafac.sharepoint.com/:b:/s/interim/QM/ETFDSrxuCflNrXGwTBki6skBOJR2bGJveZDLQcX-1gZJOg?e=K8MiGP&web=1'}) %>
            <% pubCards.push({title: 'AP1358C',  body: 'Uniform Dress and Appearance Regulations for the RAF Air Cadets', href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/Eex9QL5dFdpFgeS8CaEcCdQBcfqkKVmQQFGM8_LNTDE0rw?e=TUtYTi&web=1'}) %>
            <% pubCards.push({title: 'ACTO 001', body: 'RAF Air Cadets Progressive Syllabus of Training', href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/ESYwgPP9tyhJr7BWq0enJI8Bsuy5J_szoV1Kwx3o2cz2HA?e=yjTH9z&web=1'}) %>
            <% pubCards.forEach(card => { %>
                <div class="col-6 col-lg-4 col-xl-3">
                    <div class="card m-3">
                        <a href="<%= card.href %>">
                            <div class="card-header">
                                <h3><%= card.title %></h3>
                            </div>
                            <div class="card-body">
                                <p><%= card.body %></p>
                            </div>
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>
<section class="container bordered">
    <a class="my-3" data-toggle="collapse" href="#collapseForms" role="button" aria-expanded="false" aria-controls="collapseForms">
        <h4>Forms</h4>
    </a>
    <div class="collapse mb-3" id="collapseForms">
        <div class="menu row">
            <% let formCards = [] %>
            <% formCards.push({title: 'TG 21',   body: 'Cadet Activity Consent Form', href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/EfhrSpaRhRNOrLMjvFDKJp8Bgkl25I-FjQAR69Y6lyhyAw?web=1'}) %>
            <% formCards.push({title: 'TG 22', 	 body: 'Staff Activity Consent Form', href: 'https://rafac.sharepoint.com/:w:/r/sites/interim/QM/_layouts/15/Doc.aspx?sourcedoc=%7B517AFCD8-140E-47BC-904B-AA780CA58045%7D&file=TG%20Form%20022.docx&action=default&mobileredirect=true'}) %>
            <% formCards.push({title: 'TG 23',   body: 'Health Declaration Form', href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/EVXEjgPn9rtCiLUW9b_dVHoBUkaEOvYgRbkLKswmQ-ksWQ?web=1'}) %>
            <% formCards.push({title: 'AVMed 1', body: 'Flying Medical Declaration Form', href: 'https://rafac.sharepoint.com/:x:/s/interim/QM/EcT2Dx52vUJBnTG8QNrANPAB_-zkIXdFnjJ42RYqB4S0-Q?e=Wg0bGe&web=1'}) %>
            <% formCards.forEach(card => { %>
                <div class="col-6 col-lg-4 col-xl-3">
                    <div class="card m-3">
                        <a href="<%= card.href %>">
                            <div class="card-header">
                                <h3><%= card.title %></h3>
                            </div>
                            <div class="card-body">
                                <p><%= card.body %></p>
                            </div>
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>
<%- include(`${partials}/foot/site`) %>