<%- include(`${partials}/head/full`) %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <%- include(`${partials}/breadcrumb`, {href: '/canteen',	      text: 'Canteen'}) %>
            <%- include(`${partials}/breadcrumb`, {href: '/canteen/receipts', text: 'Receipts'}) %>
            <%- include(`${partials}/breadcrumb`) %>
			<%- include(`${partials}/reload`) %>
        </ul>
    </nav>
</section>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.receipt_line_add) { %>
                    <a class='dropdown-item' href='javascript:$("#mdl_add_item").modal("show")'>
                        Add Item
                    </a>
                <% } %>
                <%- include(`${partials}/notes/menu_add`) %>
                <% if (permissions.item_delete) { %>
                    <%- include(`${partials}/menu/delete`) %>
                <% } %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'receipt'}) %>
        <%- include(`${partials}/tab_head`, {id: 'lines',   title: 'Lines',   spinner: 'receipt_lines', count_id: 'line_count', permission: 'access_receipt_lines'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',   title: 'Notes',   spinner: 'notes',         count_id: 'note_count', permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: 'createdAt', title: 'Date'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_status',   title: 'Status'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'user',      title: 'Raised By', append: {a: {id: 'receipt_user', text: '<i class="fas fa-search"></i>'}}}) %>
        </div>
        <% if (permissions.access_receipt_lines) { %>
            <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-50" onclick="sortTable(0, 'tbl_receipt_lines')">Item</th>
                        <th class="w-25" onclick="sortTable(1, 'tbl_receipt_lines')">Qty</th>
                        <th class="w-25" onclick="sortTable(2, 'tbl_receipt_lines')">Cost</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id="tbl_receipt_lines"></tbody>
                </table>
            </div>
            <div id="div_line_modals"></div>
        <% } %>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
</section>
<%- include(`${partials}/foot/full`) %>
<script src="/js/canteen/receipts/show/getReceipt.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script src="/js/tabs.js"></script>
<script>showTab('<%= tab %>')</script>
<script async>getReceipt()</script>
<% if (permissions.access_receipt_lines) { %>
    <script src="/js/canteen/receipts/show/getLines.js"></script>
    <script async>getLines()</script>
<% } %>
<%- include(`${partials}/foot/htmlClose`) %>