<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/canteen',	      text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/canteen/receipts', text: 'Receipts'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%- include(`${partials}/menu/button`, {id: 'note_add', modal: 'note_add', text: 'Add Note'}) %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'receipt'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',   title: 'Notes',   spinner: 'notes',         count_id: 'note', permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: 'item',      title: 'Item', link: true}) %>
            <%- include(`${partials}/inputs/display`, {id: '_qty',      title: 'Qty'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_cost',     title: 'Cost Each'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'createdAt', title: 'Received'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'user',      title: 'Received By', link: true}) %>
        </div>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/addFormListener.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/canteen/receipts/show/getReceipt.js"></script>
<script>showTab('<%= tab %>')</script>
<script async>getReceipt()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>