<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',		     text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/settings', text: 'Settings'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'ranks',    title: 'Ranks',    spinner: 'ranks'}) %>
        <%- include(`${partials}/tab_head`, {id: 'statuses', title: 'Statuses', spinner: 'statuses'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="ranks" role="tabpanel" aria-labelledby="ranks-tab">
            <form action='/stores/settings/ranks' method='POST' class="mb-2">
                <input class='form-control' type='text' name='ranks[_rank]' maxlength='10' placeholder='Rank' required>
                <button class="btn btn-sm btn-success w-100">Add Rank</button>
            </form>
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-100" onclick="sortTable(0, 'tbl_ranks')">Rank</th>
                    <th><i class='fas fa-trash-alt'></i></th>
                </thead>
                <tbody id='tbl_ranks'></tbody>
            </table>
            <script src="/js/stores/settings/ranks/view.js"></script>
            <script async>getRanks()</script>
        </div>
        <div class="tab-pane fade" id="statuses" role="tabpanel" aria-labelledby="statuses-tab">
            <form action='/stores/settings/statuses' method='POST' class="mb-2">
                <input class='form-control' type='text' name='statuses[_status]' maxlength='10' placeholder='Status' required>
                <button class="btn btn-sm btn-success w-100">Add Status</button>
            </form>
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-100" onclick="sortTable(0, 'tbl_statuses')">Status</th>
                    <th><i class='fas fa-trash-alt'></i></th>
                </thead>
                <tbody id='tbl_statuses'></tbody>
            </table>
            <script src="/js/stores/settings/statuses/view.js"></script>
            <script async>getStatuses()</script>
        </div>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/tabs.js"></script>
<script>showTab('settings')</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>