<ul class="navbar-nav ms-auto">
    <% if (!user) { %>
        <%- include('./login') %>
    <% } else { %>
        <%- include('./notifications') %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= user.rank.rank %> <%= user.full_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/<%= user.user_id %>">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li>
    <% } %>  
</ul>