<!-- USER ITEM PAGE -->
<% include ../../partials/header %>
<% include ../../partials/nav %>
<% include ../../partials/bodyTop %>
<section class="container page_title">
    <a href="/stores"><h2>Stores Management</h2></a>
    <p class="text-left"><a href="/stores">Main Menu</a>>   >   ><a href="/stores/items">Items</a>>   >   ><a href="/stores/items/<%= item.item_id %>"><%= item._description %></a>>   >   ><a href="/stores/items/details/<%= item.item_id %>">Size:<%= details._size_text %></a></p>
    <a href="/stores/items/<%= item.item_id %>"><h3><%= item._description %></h3></a>
    <h4><%= details._size_text %></h4>
</section> 
<nav class="navbar navbar-expand navbar-dark bg-dark stores">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Options
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="/stores/items/details/<%= details.stock_id %>">Back to <%= item._description %>/Size: <%= details._size_text %></a>
			</div>
		</li>
	</ul>
</nav>
<section class="detailBox container-fluid pt-3">
	<div class="row">
		<div class="col-12 col-lg-3 mx-auto mb-3">
			<div class="container bordered">
				<h4>NSN</h4>
				<div class="details">
					<form action="/stores/items_nsns" method="POST">
						<input type="hidden" name="nsn[stock_id]" value="<%= details.stock_id %>" readonly>
						<p><input type="text" inputmode="numeric" name="nsn[_nsn]" maxlength="20" placeholder="NSN" required></p>
						<p><button class="btn btn-success">Save</button></p>
					</form>
                </div>
			</div>
		</div>
    </div>
</section>
<% include ../../partials/bodyBottom %>
<% include ../../partials/footer %>
<% include ../../partials/footjs %>
<% include ../../partials/htmlBottom %>