<%- include(`${process.env.PARTIALS}/head/full`) %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores',		   text: 'Stores'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores/issues', text: 'Issues'}) %>
			<%- include(`${process.env.PARTIALS}/reload`) %>
        </ul>
    </nav>
</section>
<section class='container'>
	<%- include(`${process.env.PARTIALS}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{value: '', text: 'All'}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Draft', selected: true}, {value: '_status=2', text: 'Open'}, {value: '_status=3', text: 'Complete'}]}) %>
	<%- include(`${process.env.PARTIALS}/spinner`, {id: 'issues'}) %>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-40" onclick="sortTable(0, 'issueTable')">Issued To</th>
			<th class="w-30" onclick="sortTable(1, 'issueTable')">Date</th>
			<th class="w-15" onclick="sortTable(2, 'issueTable')">Lines</th>
			<th class="w-15" onclick="sortTable(3, 'issueTable')">Status</th>
			<th><i class="fas fa-search"></i></th>
		</thead>
		<tbody id="tbl_issues">
		</tbody>
	</table>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<script src='/js/stores/issues/index/issues.js'></script>
<script src='/js/data/addFormListener.js'></script>
<script src='/js/data/send.js'></script>
<script src='/js/utils/select_sel_status.js'></script>
<script>
	function getIssues() {
		get(
			showIssues,
			{
				table: 'issues',
				query: [sel_status.value]
			}
		);
	};
</script>
<script async>getIssues()</script>
<script>document.querySelector('#reload').addEventListener('click', () => getIssues());</script>
<script>document.querySelector('#sel_status').addEventListener('change', () => getIssues());</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>
