<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {text: 'Stores', href: '/stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Issue'}) %>
<li class="nav-item">
	<a class="nav-link" data-toggle="modal" data-target="#mdl_issue_add">
		<i class="fas fa-plus"></i>
	</a>
</li>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'issues'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class="container">
	<%- include(`${partials}/inputs/select`, {title: 'Filter By User', id: 'sel_users', spinner_id: 'users', reload_id: 'reload_users'}) %>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'status_0', count_id: 'status_0', spinner: 'status_0', title: 'Cancelled'}) %>
        <%- include(`${partials}/tab_head`, {id: 'status_1', count_id: 'status_1', spinner: 'status_1', title: 'Requested'}) %>
        <%- include(`${partials}/tab_head`, {id: 'status_2', count_id: 'status_2', spinner: 'status_2', title: 'Approved'}) %>
        <%- include(`${partials}/tab_head`, {id: 'status_3', count_id: 'status_3', spinner: 'status_3', title: 'Ordered'}) %>
        <%- include(`${partials}/tab_head`, {id: 'status_4', count_id: 'status_4', spinner: 'status_4', title: 'Issued'}) %>
        <%- include(`${partials}/tab_head`, {id: 'status_5', count_id: 'status_5', spinner: 'status_5', title: 'Returned'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
		<%- include(`${partials}/tables/issue_tab_body`, {status: '0'}) %>
		<%- include(`${partials}/tables/issue_tab_body`, {status: '1'}) %>
		<%- include(`${partials}/tables/issue_tab_body`, {status: '2'}) %>
		<%- include(`${partials}/tables/issue_tab_body`, {status: '3'}) %>
		<%- include(`${partials}/tables/issue_tab_body`, {status: '4'}) %>
		<%- include(`${partials}/tables/issue_tab_body`, {status: '5'}) %>
	</div>
	<div id="div_modals">
		<div class="modal fade" id="mdl_issue_add" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Issue</h5>
						<a class='btn btn-primary float-right' id="reload_add"><i class='fas fa-redo'></i></a>
					</div>
					<form class="modal-body" id='form_line'>
						<%- include(`${partials}/inputs/select`, 	 {title: 'User',     	 id: 'sel_users_add', name: 'line[user_id_issue]', spinner_id: 'users_add', reload_id: 'reload_users_add', required: true}) %>
						<div id="div_items"   class='hidden'>
							<%- include(`${partials}/inputs/text`,   {title: 'Search Items', id: 'inp_item',  autocomplete: 'off'}) %>
							<%- include(`${partials}/inputs/select`, {title: 'Item',         id: 'sel_items', size: '10', spinner_id: 'items'}) %>
						</div>
						<div id="div_sizes"   class='hidden'>
							<%- include(`${partials}/inputs/text`,   {title: 'Search Sizes', id: 'inp_size',  autocomplete: 'off'}) %>
							<%- include(`${partials}/inputs/select`, {title: 'Size',         id: 'sel_sizes', name: 'line[size_id]', required: true, size: '10', spinner_id: 'sizes'}) %>
						</div>
						<div id="div_details" class='hidden'>
							<%- include(`${partials}/inputs/number`, {title: 'Quantity',     id: '_qty',	  name: 'line[_qty]',    required: true, value: '1', min: '1'}) %>
							<button class="btn btn-success w-100">Add</button>
						</div>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/addFormListener.js'></script>
<script src='/js/stores/issues/index/get.js'></script>
<script src='/js/utils/list/users.js'></script>
<script src='/js/stores/issues/index/add.js'></script>
<script src='/js/search/select.js'></script>
<script src='/js/tabs.js'></script>
<script>showTab('status_1');</script>
<% if (permissions.order_add) { %>
	<script src='/js/stores/issues/index/order.js'></script>
<% } %>
<% if (permissions.issue_approve) { %>
	<script src='/js/stores/issues/index/approve.js'></script>
<% } %>
<% if (permissions.loancard_line_add) { %>
	<script src='/js/utils/list/nsns.js'></script>
	<script src='/js/utils/list/serials.js'></script>
	<script src='/js/utils/list/stocks.js'></script>
	<script src='/js/stores/issues/index/issue.js'></script>
<% } %>
<script async>getUsers()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>