<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Issues'}) %>
<%- include(`${partials}/menu/breadcrumb_add`, {permission: 'issue_add', modal: 'issue_add'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'issues'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class="container">
	<button class="btn btn-primary w-100 mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#col-filter" aria-expanded="false" aria-controls="col-filter">
		Filter
	</button>
	<div class="collapse" id="col-filter">
		<%- include(`${partials}/inputs/select`, {title: 'Filter By User', id: 'sel_users', spinner_id: 'users', reload_id: 'reload_users'}) %>
		<h5 class='text-start'>Status:</h5>
		<div class="row">
			<div class="col-6 col-sm-4">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Cancelled', id: 'status_0', value: 'status=0', colour: 'secondary', classes: ['status']}) %>
			</div>
			<div class="col-6 col-sm-4">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Requested', id: 'status_1', value: 'status=1', colour: 'warning', 	classes: ['status'], checked: true}) %>
			</div>
			<div class="col-6 col-sm-4">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Approved', 	id: 'status_2', value: 'status=2', colour: 'success', 	classes: ['status'], checked: true}) %>
			</div>
			<div class="col-6 col-sm-4">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Ordered', 	id: 'status_3', value: 'status=3', colour: 'primary', 	classes: ['status'], checked: true}) %>
			</div>
			<div class="col-6 col-sm-4">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Issued', 	id: 'status_4', value: 'status=4', colour: 'info', 		classes: ['status']}) %>
			</div>
			<div class="col-6 col-sm-4">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Returned', 	id: 'status_5', value: 'status=5', colour: 'secondary', classes: ['status']}) %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h5 class='text-start'>Date From:</h5>
				<input type="date" class='form-control' id='createdAt_from'>
			</div>
			<div class="col-sm-6">
				<h5 class='text-start'>Date To:</h5>
				<input type="date" class='form-control' id='createdAt_to'>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h5 class='text-start'>Item:</h5>
				<input type="text" class='form-control' id='item'>
			</div>
			<div class="col-sm-6">
				<h5 class='text-start'>Size:</h5>
				<input type="text" class='form-control' id='size'>
			</div>
		</div>
	</div>
	<% if (permissions.issue_edit) { %>
		<form id='form_issue_edit'>
		<button class='btn btn-success w-100 mb-1'>Action Selected Issues</button>
	<% } %>
		<table class="table table-sm table-hover">
			<thead class="thead-dark">
				<th class="w-15" onclick="sortTable(0, 'tbl_issues')">Date</th>
				<th class="w-20" onclick="sortTable(1, 'tbl_issues')">User</th>
				<th class="w-20" onclick="sortTable(2, 'tbl_issues')">Item</th>
				<th class="w-20" onclick="sortTable(3, 'tbl_issues')">Size</th>
				<th class="w-10" onclick="sortTable(4, 'tbl_issues')">Quantity</th>
				<th class="w-15">
					<% if (permissions.issue_edit) { %>
						<select id="sel_all" class='form-select form-select-sm hidden'>
							<option>Select All</option>
							<option value="-1">Decline</option>
							<option value="0">Cancel</option>
							<option value="2">Approve</option>
							<option value="3">Order</option>
							<option value="4">Issue</option>
						</select>
					<% } %>
					Status
				</th>
				<th><i class="fas fa-search"></i></th>
			</thead>
			<tbody id="tbl_issues"></tbody>
		</table>
	<% if (permissions.issue_edit) { %></form><% } %>
	<div id="div_modals">
		<% if (permissions.issue_add) { %>
			<div class="modal fade" id="mdl_issue_add" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-xl">
					<form class="modal-content" id='form_issue_add'>
						<div class="modal-header">
							<h5 class="modal-title">Add Issue(s)</h5>
						</div>
						<div class="modal-body">
							<button type='button' class='btn btn-success w-100 mb-1' id='btn_issue_users'>Add User(s)</button>
							<table class="table table-sm table-hover">
								<thead class="thead-dark">
									<th class="w-40" onclick="sortTable(0, 'tbl_issue_add')">Service #</th>
									<th class="w-60" onclick="sortTable(1, 'tbl_issue_add')">User</th>
									<th><i class="fas fa-trash-alt"></i></th>
								</thead>
								<tbody id="tbl_issue_users_add"></tbody>
							</table>
							<%- include(`${partials}/inputs/number`, {title: 'Quantity', value: '1', min: '1', id: 'issue_add_qty'}) %>
							<button type='button' class='btn btn-success w-100 mb-1' id='btn_issue_sizes'>Add Item(s)</button>
							<table class="table table-sm table-hover">
								<thead class="thead-dark">
									<th class="w-40" onclick="sortTable(0, 'tbl_issue_add')">Item</th>
									<th class="w-40" onclick="sortTable(1, 'tbl_issue_add')">Size</th>
									<th class="w-20" onclick="sortTable(2, 'tbl_issue_add')">Quantity</th>
									<th><i class="fas fa-trash-alt"></i></th>
								</thead>
								<tbody id="tbl_issue_sizes_add"></tbody>
							</table>
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-success w-100" value='Add Issues'>
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		<% } %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/utils/list/users.js'></script>
<script src='/js/search/select.js'></script>
<script src='/js/stores/issues/index/view.js'></script>
<% if (permissions.issue_add) { %>
	<script src="/js/users/select/showWindow.js"></script>
	<script src="/js/stores/sizes/select/showWindow.js"></script>
	<script src='/js/stores/issues/index/add.js'></script>
<% } %>
<% if (permissions.issue_edit) { %>
	<script src='/js/stores/issues/edit/edit.js'></script>
	<% if (permissions.issue_add) { %>
		<script src='/js/stores/issues/edit/approve.js'></script>
	<% } %>
	<% if (permissions.order_add) { %>
		<script src='/js/stores/issues/edit/order.js'></script>
	<% } %>
	<% if (permissions.loancard_line_add) { %>
		<script src='/js/stores/issues/edit/issue.js'></script>
	<% } %>
<% } %>
<script async>getIssues()</script>
<script async>getUsers()</script>
<%- include(`${partials}/foot/components/htmlClose`) %>