<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/issues">Issues</a>
            </li>
        </ul>
    </nav>
</section>
<section>
	<nav class='navbar navbar-expand navbar-dark bg-dark stores'>
		<ul class='navbar-nav mr-auto'>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Options
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<% if (permissions.issues_return) { %>
						<button form='returnedLines' class="dropdown-item dropdown_button">Return Selected Lines</button>
					<% } %>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/stores">Back to Stores</a>
				</div>
			</li>
		</ul>
	</nav>
</section>
<section>
	<div class='container mt-3 pt-3'>
		<div class="row mx-1">
			<label class="col-5 col-form-label" for="ci">Closed Issues:</label>
			<select class='col-7 form-control form-control-sm' id="ci" type="text" onchange=filterSelects()>
				<option value="1" <% if (query.ci === 1) { %>selected<% } %> >Include</option>
				<option value="2" <% if (query.ci === 2) { %>selected<% } %> >Exclude</option>
				<option value="3" <% if (query.ci === 3) { %>selected<% } %> >Only</option>
			</select>
		</div>
		<form id='returnedLines' action="/stores/issues?_method=PUT" method='POST' onsubmit="return confirm('Return issued items?');">
			<table id="tableIssues" class='table table-sm table-hover mx-auto'>
				<thead class="thead-dark">
					<th onclick="sortTable(0, 'tableIssues')" class='w-40'>To</th>
					<th onclick="sortTable(1, 'tableIssues')" class='w-40'>Issued</th>
					<th onclick="sortTable(2, 'tableIssues')" class='w-10'>Lines</th>
					<th onclick="sortTable(3, 'tableIssues')" class='w-10'>Closed</th>
				</thead>
					<tbody>
					<% if (issues) { %>
						<% issues.forEach(issue => { %>
							<tr>
								<td><a href='/stores/issues/<%= issue.issue_id %>'> <%= issue._for.rank._rank %> <%= issue._for._name %>, <%= issue._for._ini %></a></td>
								<td data-sort="<%= issue._date.getTime() %>"><a href='/stores/issues/<%= issue.issue_id %>'> <%= issue._date.toDateString() %></a></td>
								<td><a href='/stores/issues/<%= issue.issue_id %>'> <%= issue.lines.length %></a></td>
								<td><input class="form-control form-control-sm" type="checkbox" disabled <% if (issue._complete) { %> checked <% } %>></td>
							</tr>
						<% }) %>
					<% } %>
				</tbody>
			</table>
		</form>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/tableSort.js"></script>
<script src="/js/filters.js"></script>
<script>
    function filterSelects() {
        filter(['ci'],"/stores/issues");
    };
</script>
<% include ../../partials/foot/htmlClose %>
