<!-- ISSUES INDEX PAGE -->
<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/issues">Issues</a>
            </li>
        </ul>
    </nav>
</section>
<section>
	<nav class='navbar navbar-expand navbar-dark bg-dark stores'>
		<ul class='navbar-nav mr-auto'>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Options
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<% if (permissions.issues_return) { %>
						<button form='returnedLines' class="dropdown-item dropdown_button">Return Selected Lines</button>
					<% } %>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/stores">Back to Stores</a>
				</div>
			</li>
		</ul>
	</nav>
</section>
<section>
	<div class='container mt-3 pt-3'>
		<div class="row mx-1">
			<label class="col-5 col-form-label" for="rl">Returned Lines:</label>
			<select class='col-7 form-control form-control-sm' id="rl" type="text" onchange=filterSelects()>
				<option value="1" <% if (query.rl === 1) { %>selected<% } %> >Include</option>
				<option value="2" <% if (query.rl === 2) { %>selected<% } %> >Exclude</option>
				<option value="3" <% if (query.rl === 3) { %>selected<% } %> >Only</option>
			</select>
		</div>
		<table id="tableIssues" class='table table-sm table-hover mx-auto'>
			<thead class="thead-dark">
				<th onclick="sortTable(0, 'tableIssues')" class='w-20'>Issued</th>
				<th onclick="sortTable(1, 'tableIssues')" class='w-20'>To</th>
				<th onclick="sortTable(2, 'tableIssues')" class='w-30'>Item</th>
				<th onclick="sortTable(3, 'tableIssues')" class='w-15'>Size</th>
				<th onclick="sortTable(4, 'tableIssues')" class='w-5'>Quantity</th>
				<th class='w-10'>Return to: </th>
			</thead>
			<tbody>
				<form id='returnedLines' action="/stores/issues?_method=PUT" method='POST'>
					<% issues.forEach((issue) => { %>
						<tr>
							<td><a href='/stores/issues/<%= issue.issue_id %>'> <%= issue._date.toDateString() %></a></td>
							<td><a href='/stores/issues/<%= issue.issue_id %>'> <%= issue.issuedTo.rank._rank %> <%= issue.issuedTo._name %>, <%= issue.issuedTo._ini %></a></td>
							<td><a href='/stores/issues/<%= issue.issue_id %>'> <%= issue.size.item._description %></a></td>
							<td><a href='/stores/issues/<%= issue.issue_id %>'> <%= issue.size.size._text %></a></td>
							<td><a href='/stores/issues/<%= issue.issue_id %>'> <%= issue._qty %></a></td>
							<td>
								<% if (issue.return_location) { %>
									<a href='/stores/issues/<%= issue.issue_id %>'><%= issue.returnLocation._location %></a>
								<% } else { %>
									<select class='form-control form-control-sm' name="locations[]">
										<option value=""></option>
										<% issue.size.locations.forEach((location) => { %>
											<option value="<%= JSON.stringify({'issue_id': issue.issue_id, 'location_id': location.location_id}) %>"><%= location._location %></option>
										<% }) %>
									</select>
								<% } %>
							</td>
						</tr>
					<% }) %>
				</form>
			</tbody>
		</table>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/tableSort.js"></script>
<script src="/js/filters.js"></script>
<script>
    function filterSelects() {
        filter(['rl'],"/stores/issues");
    };
</script>
<% include ../../partials/foot/htmlClose %>
