<%- include(`${partials}/head/app`,   {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Issues'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'issues'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class="container">
	<div class="row justify-content-between">
		<div class="col-12 col-md-4 mb-1">
			<%- include(`${partials}/sidebar/button`, {id: 'filter', text: 'Filter/Actions'}) %>
		</div>
	</div>
	<%- include(`${partials}/sidebar/open`, {id: 'filter', text: 'Filter'}) %>
		<%- include(`${partials}/button/modal/open`, {text: 'New Issue', id: 'issue_add', type: 'success'}) %>
		<%- include(`${partials}/filter/user`, {append: '_issue', table: 'issue'}) %>
		<div class="input-group mb-1">
			<span class="input-group-text w-30">Status</span>
			<select id="filter_issue_statuses" class="form-select" multiple size="8">
				<option value="-3"	  	  >Cancelled (Ordered)</option>
				<option value="-2"	  	  >Cancelled (Approved)</option>
				<option value="-1"		  >Declined</option>
				<option value="1" selected>Requested</option>
				<option value="2" selected>Approved</option>
				<option value="3" selected>Ordered</option>
				<option value="4"		  >Added to Loancard</option>
				<option value="5"		  >Returned</option>
			</select>
		</div>
		<%- include(`${partials}/filter/date`, {table: 'issue', field: 'createdAt'}) %>
		<%- include(`${partials}/filter/size`, {table: 'issue'}) %>

		<button class="btn btn-success w-100 mt-auto" form="form_issue_edit">
			Action Selected Issues
		</button>
	<%- include(`${partials}/sidebar/close`) %>

	<% if (permissions.issuer) { %><form id='form_issue_edit'><% } %>
		<table class="table table-sm table-hover">
			<thead class="thead-dark" id="tbl_issues_head">
				<th class='w-15' data-column='["createdAt"]' data-dir='DESC'>Date		</th>
				<th class='w-20' data-column='["user_issue","surname"]'		>User		</th>
				<th class='w-20' data-column='["size","item","description"]'>Description</th>
				<th class='w-10' data-column='["size","size1"]'				>Size		</th>
				<th class='w-10' data-column='["qty"]'						>Qty		</th>
				<th class='w-10' data-column='["status"]'					>Status		</th>
				<th class='w-15'>Actions</th>
				<th><i class="fas fa-search"></i></th>
			</thead>
			<tbody id="tbl_issues"></tbody>
		</table>
	<% if (permissions.issuer) { %></form><% } %>
	<%- include(`${partials}/limit`, {table: 'issues'}) %>
	<div id="div_modals">
		<%- include(`${partials}/modals/stores/issue_add`) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/utils/list/users.js'></script>
<% if (permissions.issuer) { %>
	<script src="/js/common/radios/nil_cancel.js"></script>
	<script src="/js/common/radios/approve_decline.js"></script>
	<script src="/js/common/radios/restore.js"></script>
	<script src="/js/common/radios/issue_loancard.js"></script>

	<script src='/js/stores/issues/options.js'></script>
	<% if (permissions.stores_stock_admin) { %>
		<script src="/js/common/radios/order.js"></script>
	<% } %>
<% } %>
<script src='/js/stores/issues/index/view.js'></script>
<%- include(`${partials}/foot/components/htmlClose`) %>