<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>Stores</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/issues'>Issues</a>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
	<div class="input-group mb-2">
		<div class="input-group-prepend">
			<label class="input-group-text" for="closed">Closed Issues</label>
		</div>
		<select class="custom-select" id='closed' onchange=filterSelects()>
			<option value='1' <% if (query.closed === 1) { %>selected<% } %> >Include</option>
			<option value='2' <% if (query.closed === 2) { %>selected<% } %> >Exclude</option>
			<option value='3' <% if (query.closed === 3) { %>selected<% } %> >Only</option>
		</select>
	</div>
	<% if (issues) { %>
		<div class='row'>
			<% issues.forEach(issue => { %>
				<div class='col-12 col-sm-6 col-lg-4 col-xl-3'>
					<div class='card cardDarkText m-3 text-left <% if (issue._complete) { %> cardGreen <% } else { %> cardRed <% } %>'>
						<div class='card-header'>
							<a class='float-right btn btn-sm btn-primary' href='/stores/issues/<%= issue.issue_id %>'>
								<i class='fas fa-search'></i>
							</a>
							<h3><%= issue._to.rank._rank %> <%= issue._to._name %>, <%= issue._to._ini %></h3>
							<p class='card-subtitle text-muted'><%= issue._date.toDateString() %></p>
						</div>
						<div class='card-body'>
							<p>Lines: <%= issue.lines.length %></p>
							<p>Due Back: <%= issue._date_due.toDateString() %></p>
						</div>
					</div>
				</div>
			<% }) %>
		</div>
	<% } %>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['closed'],'/stores/issues');
    };
</script>
<% include ../../partials/foot/htmlClose %>
