<!-- ISSUES NEW PAGE -->
<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= user.user_id %>"><%= user.rank._rank %> <%= user._name %>, <%= user._ini %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/issues/new?user=<%= user.user_id %>">New Issue</a>
            </li>
        </ul>
    </nav>
</section>
<section>
	<div class="container">
		<form id="issueForm" action="/stores/issues" method="POST">
			<input type="hidden" name="issue[issued_to]" value="<%= user.user_id %>">
			<div class="row">
				<div class="col-12 col-md-6 bordered mb-3">
					<h5>Selected Items</h5>
					<p class="btn btn-primary mb-3 w-100" onclick=openAddWindow()>Add Item</p>
					<div id="selectedItems">
					</div>
				</div>
				<div class="col-12 col-md-6 bordered mb-3">
					<h5>Issue Dates</h5>
					<label>Date Issued</label>
					<input id="issueDate" type="date" name="issue[_date]" required>
					<label>Date Due Back</label>
					<input id="dueDate" type="date" name="issue[_date_due]" required>
				</div>
			</div>
		</form>
		<div>
			<input type="submit" form="issueForm" class="btn btn-primary mt-3" value="Issue Selected Items">
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/newIssue.js"></script>
<% include ../../partials/foot/htmlClose %>