<!-- ISSUES NEW PAGE -->
<% include ../../partials/head/full %>
<section class='container page_title'>
	<div class='row'>
		<div class='col-md-6 mx-auto'>
			<a href='/stores'><h2>Stores Management</h2></a>
		</div>
	</div>
	<p class='text-left'><a href='/stores'> Main Menu </a>> > ><a href='/stores/issues'> Issues </a>> > ><a href='/stores/issues/userlist'> Users </a>> > ><a href='/stores/issues?user=<%= selectedUser.user_id %>'> <%= selectedUser._name %>, <%= selectedUser._ini %></a></p>
	<div>
		<h3>Issue Items to:</h3>
		<h4><%= selectedUser.rank._rank %> <%= selectedUser._name %>, <%= selectedUser._ini %></h4>
	</div>
</section>
<section>
	<div class="container">
		<button class="btn btn-primary" onclick=openAddWindow()>Add Item</button>
		<form id="issueForm" action="/stores/issues" method="POST">
			<input type="hidden" name="issue[issued_to]" value="<%= selectedUser.user_id %>">
			<div class="row">
				<div class="col-12 col-md-6 bordered mb-3">
					<h5>Selected Items</h5>
					<div id="selectedItems">
					</div>
				</div>
				<div class="col-12 col-md-6 bordered mb-3">
					<h5>Issue Dates</h5>
					<label>Date Issued</label>
					<input id="issueDate" type="date" name="issue[_date_issued]" required>
					<label>Date Due Back</label>
					<input id="dueDate" type="date" name="issue[_date_due]" required>
				</div>
			</div>
		</form>
		<div>
			<input type="submit" form="issueForm" class="btn btn-primary mt-3" value="Issue Selected Items">
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/newIssue.js"></script>
<% include ../../partials/foot/htmlClose %>