<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>Stores</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/users'>Users</a>
			</li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/users/<%= user.user_id %>'><%= user.rank._rank %> <%= user._name %>, <%= user._ini %></a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/issues/new?user=<%= user.user_id %>'>New Issue</a>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
	<form id='issueForm' action='/stores/issues' method='POST'>
		<input type='hidden' name='issue[issued_to]' value='<%= user.user_id %>'>
		<div class='row'>
			<input class='btn btn-success mb-2 confirm' type='submit' value='Issue Selected Items'>
		</div>
		<div class='row'>
			<div class='col-12 bordered mb-3'>
				<h5>Dates</h5>
				<div class='row'>
					<div class='col-6'>
						<label>Issued</label>
						<input class='form-control' id='issueDate' type='date' name='issue[_date]' required>
					</div>
					<div class='col-6'>
						<label>Due Back</label>
						<input class='form-control' id='dueDate' type='date' name='issue[_date_due]' required>
					</div>
				</div>
			</div>
			<div class='col-12 bordered mb-3'>
				<a href='javascript:openAddItem("issue")' class='btn btn-primary mb-3 float-left'><i class='fas fa-plus'></i></a>
				<h5>Selected Items</h5>
				<div class='row menu' id='selectedItems'>
				</div>
			</div>
		</div>
	</form>
</section>
<% include ../../partials/foot/full %>
<script src='/js/removeID.js'></script>
<script src='/js/openAddItem.js'></script>
<script src='/js/newItemCard.js'></script>
<script src='/js/newIssue.js'></script>
<script>
	<% if (typeof(items) !== 'undefined' && items.length > 0) { %>
		<%- JSON.stringify(items) %>.forEach(item => addSize(item));
	<% }; %>
</script>
<% include ../../partials/foot/htmlClose %>