<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>Stores</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/issues'>Issues</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/issues/<%= issue.issue_id %>'><%= issue.issue_id %></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle stores_nav" href="#" id="optionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu" aria-labelledby="optionsDropdown">
                    <% if (permissions.issue_edit && !issue._complete) { %>
                        <form id='completeForm'>
                            <input type="hidden" name='issue[_complete]' value='1'>
                            <button class='dropdown-item dropdown_button confirm'>
                                Complete Issue
                            </button>
                        </form>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <% if (!issue._complete && permissions.issue_line_add) { %>
                        <a class='dropdown-item' href='javascript:addSize("issue",<%= issue.issue_id %>,{"height":600})'>
                            Add Line
                        </a>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <% if (issue._complete && permissions.file_download) { %>
                        <% if (issue._filename) { %>
                            <a class='dropdown-item' href='javascript:download_file("<%= issue._filename %>")'>
                                Download Loancard
                            </a>
                        <% } else { %>
                            <a class='dropdown-item' href='javascript:download_file("<%= issue._filename %>")'>
                                Generate Loancard
                            </a>
                        <% } %>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <% if (permissions.return_add && issue._complete) { %>
                        <button class='dropdown-item dropdown_button confirm' form='issues'>Return Selected Lines</button>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <% if (permissions.issue_delete && !issue._complete && !issue._closed) { %>
                        <form id='deleteForm'>
                            <button class='dropdown-item dropdown_button confirm'>
                                Delete Issue
                            </button>
                        </form>
                    <% } %>
                </div>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lines-tab" data-toggle="tab" href="#lines" role="tab" aria-controls="lines" aria-selected="true">
                Lines (<span id='line_count'></span>)
            </a>
        </li>
        <% if (permissions.access_notes) { %>
            <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
                    Notes (<span id='note_count'></span>)
                </a>
            </li>
        <% } %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-20">
                        <span class="input-group-text w-100">To</span>
                    </div>
                    <p class="form-control"><%= issue._to.rank._rank %> <%= issue._to._name %>, <%= issue._to._ini %></p>
                    <div class="input-group-append">
                        <a class='btn btn-primary' href="/stores/users/<%= issue.issued_to %>">
                            <i class='fas fa-search'></i>
                        </a>
                    </div>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-20">
                        <span class="input-group-text w-100">By</span>
                    </div>
                    <p class="form-control"><%= issue._by.rank._rank %> <%= issue._by._name %>, <%= issue._by._ini %></p>
                    <div class="input-group-append">
                        <a class='btn btn-primary' href="/stores/users/<%= issue.user_id %>">
                            <i class='fas fa-search'></i>
                        </a>
                    </div>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-20">
                        <span class="input-group-text w-100">Date</span>
                    </div>
                    <p class="form-control"><%= issue._date.toDateString() %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-20">
                        <span class="input-group-text w-100">Due Back</span>
                    </div>
                    <p class="form-control"><%= issue._date_due.toDateString() %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-20">
                        <span class="input-group-text w-100">Complete</span>
                    </div>
                    <p class="form-control"><% if (issue._complete) { %>Yes<% } else { %>No<% } %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-20">
                        <span class="input-group-text w-100">Closed</span>
                    </div>
                    <p class="form-control"><% if (issue._closed) { %>Yes<% } else { %>No<% } %></p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
            <div class="container">
                <% if (permissions.return_add) { %>
                <form id='issues' action='/stores/returns?src=/stores/issues/<%= issue.issue_id %>' method='POST'>
                    <input type='hidden' name='from' value='<%= issue.issued_to %>'>
                <% } %>
				<div id='spn_issues' class="spinner-border text-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
                <table class='table table-sm table-hover mx-auto w-100'>
                    <thead class='thead-dark'>
                        <th class='w-5' onclick='sortTable(0, "issueTable")'>Line</th>
                        <th class='w-10' onclick='sortTable(1, "issueTable")'>NSN</th>
                        <th class='w-10' onclick='sortTable(2, "issueTable")'>Serial</th>
                        <th class='w-20' onclick='sortTable(3, "issueTable")'>Item</th>
                        <th class='w-20' onclick='sortTable(4, "issueTable")'>Size</th>
                        <th class='w-5'  onclick='sortTable(5, "issueTable")'>Qty</th>
                        <th class='w-10' onclick='sortTable(6, "issueTable")'>Issue Location</th>
                        <th class='w-10' onclick='sortTable(7, "issueTable")'>Return Location</th>
                        <th class='w-10' onclick='sortTable(8, "issueTable")'>Date Returned</th>
                        <% if (permissions.issue_line_delete) { %><th><i class='fas fa-trash-alt'></i></th><% } %>
                    </thead>
                    <tbody id='issueTable'>
                    </tbody>
                </table>
                <% if (permissions.return_add) { %></form><% } %>
            </div>
        </div>
        <% include ../../partials/noteTable %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src='/js/addSize.js'></script>
<script src="/js/specific/issues_show.js"></script>
<script>
    window.addEventListener( "load", function () {
        addFormListener('deleteForm', 'DELETE', '/stores/issues/<%= issue.issue_id %>', {redirect: '/stores/issues'});
    });
    window.addEventListener( "load", function () {
        addFormListener('completeForm', 'PUT', '/stores/issues/<%= issue.issue_id %>', {reload: true});
    });
    showTab('<%= show_tab %>');
</script>
<script async>getLines(<%= issue.issue_id %>, <%= issue._complete %>, <%= permissions.return_add %>, <%= permissions.issue_delete %>)</script>
<% include ../../partials/foot/htmlClose %>