<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>Stores</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/users'>Users</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/users/<%= issue.issued_to %>'><%= issue._to.rank._rank %> <%= issue._to._name %>, <%= issue._to._ini %></a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/issues'>Issues</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/issues/<%= issue.issue_id %>'><%= issue.issue_id %></a>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lines-tab" data-toggle="tab" href="#lines" role="tab" aria-controls="lines" aria-selected="true">
                Lines (<%= issue.lines.length %>)
            </a>
        </li>
        <% if (permissions.access_notes) { %>
            <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
                    Notes (<%= notes.notes.length %>)
                </a>
            </li>
        <% } %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
                <a class='float-left btn btn-primary m-1' href='/stores/issues/<%= issue.issue_id %>/loancard'>
                    <i class='fas fa-file-download'></i>
                </a>
                <% if (permissions.issue_delete) { %>
                    <form id='deleteForm'>
                        <button class='float-left btn m-1 btn-danger confirm'>
                            <i class='fas fa-trash-alt'></i>
                        </button>
                    </form>
                <% } %>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-20">
                        <span class="input-group-text w-100">To</span>
                    </div>
                    <p class="form-control"><%= issue._to.rank._rank %> <%= issue._to._name %>, <%= issue._to._ini %></p>
                    <div class="input-group-append">
                        <a class='btn btn-primary' href="/stores/users/<%= issue.issued_to %>">
                            <i class='fas fa-search'></i>
                        </a>
                    </div>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-20">
                        <span class="input-group-text w-100">By</span>
                    </div>
                    <p class="form-control"><%= issue._by.rank._rank %> <%= issue._by._name %>, <%= issue._by._ini %></p>
                    <div class="input-group-append">
                        <a class='btn btn-primary' href="/stores/users/<%= issue.user_id %>">
                            <i class='fas fa-search'></i>
                        </a>
                    </div>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-20">
                        <span class="input-group-text w-100">Date</span>
                    </div>
                    <p class="form-control"><%= issue._date.toDateString() %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-20">
                        <span class="input-group-text w-100">Due Back</span>
                    </div>
                    <p class="form-control"><%= issue._date_due.toDateString() %></p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
            <div class="container">
                <% if (permissions.return_add) { %>
                    <form id='issues' action='/stores/returns?src=/stores/issues/<%= issue.issue_id %>' method='POST'>
                    <input class='btn btn-primary mb-1 confirm' type='submit' value='Return Selected Lines'>
                    <input type='hidden' name='from' value='<%= issue.issued_to %>'>
                <% } %>
                <table class='table table-sm table-hover mx-auto w-100'>
                    <thead class='thead-dark'>
                        <th class='w-5' onclick='sortTable(0, "issueTable")'>Line</th>
                        <th class='w-15' onclick='sortTable(1, "issueTable")'>NSN/Serial</th>
                        <th class='w-25' onclick='sortTable(2, "issueTable")'>Item</th>
                        <th class='w-20' onclick='sortTable(3, "issueTable")'>Size</th>
                        <th class='w-5' onclick='sortTable(4, "issueTable")'>Qty</th>
                        <th class='w-10' onclick='sortTable(5, "issueTable")'>Issue Location</th>
                        <th class='w-10' onclick='sortTable(6, "issueTable")'>Return Location</th>
                        <th class='w-10' onclick='sortTable(7, "issueTable")'>Date Returned</th>
                    </thead>
                    <tbody id='issueTable'>
                        <% if (issue.lines) issue.lines.forEach(line => { %>
                            <tr>
                                <td>
                                    <%= String(line._line).padStart(2, '0') %>
                                </td>
                                <td>
                                    <% if (line.nsn_id) { %>
                                        <a class='float-right btn btn-sm btn-primary' href='/stores/nsns/<%= line.nsn_id %>/edit'><i class='fas fa-search'></i></a>
                                        <%= line.nsn._nsn %>
                                    <% } %>
                                    <% if (line.serial_id) { %>
                                        <a class='float-right btn btn-sm btn-primary' href='/stores/serials/<%= line.serial_id %>/edit'><i class='fas fa-search'></i></a>
                                        <%= line.serial._serial %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (line.stock && line.stock.size && line.stock.size.item) { %>
                                        <a class='float-right btn btn-sm btn-primary' href='/stores/items/<%= line.stock.size.item_id %>'><i class='fas fa-search'></i></a>
                                        <%= line.stock.size.item._description %>
                                    <% } else { %>
                                        ?
                                    <% } %>
                                </td>
                                <td>
                                    <% if (line.stock && line.stock.size) { %>
                                        <a class='float-right btn btn-sm btn-primary' href='/stores/sizes/<%= line.stock.size_id %>'><i class='fas fa-search'></i></a>
                                        <%= line.stock.size._size %>
                                    <% } else { %>
                                        ?
                                    <% } %>
                                </td>
                                <td>
                                    <%= line._qty %>
                                </td>
                                <td>
                                    <% if (line.stock) { %>
                                        <a class='float-right btn btn-sm btn-primary' href='/stores/stock/<%= line.stock_id %>/edit'><i class='fas fa-search'></i></a>
                                        <%= line.stock.location._location %>
                                    <% } else { %>
                                        ?
                                    <% } %>
                                </td>
                                <td>
                                    <% if (line.return) { %>
                                        <a class='float-right btn btn-sm btn-primary' href='/stores/stock/<%= line.return.stock_id %>/edit'><i class='fas fa-search'></i></a>
                                        <%= line.return.stock.location._location %>
                                    <% } else if (permissions.return_add) { %>
                                        <select class='form-control form-control-sm' name='returnLines[]'>
                                            <option value='' selected></option>
                                            <% if (line.stock && line.stock.size && line.stock.size.stocks) line.stock.size.stocks.forEach(stock => { %>
                                                <option value='{"line_id":<%= line.line_id %>,"qty":<%= line._qty %>,"stock_id":<%= stock.stock_id %>,"issue_id":<%= issue.issue_id %>}'><%= stock.location._location %></option>
                                            <% }); %>
                                        </select>
                                    <% }; %>
                                </td>
                                <td>
                                    <% if (line.return) { %>
                                        <%= line.return.return._date.toDateString() %>
                                    <% }; %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <% if (permissions.return_add) { %></form><% } %>
            </div>
        </div>
        <% if (permissions.access_notes) { %> 
            <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                <div class="container">
                    <% include ../../partials/noteTable %>
                </div>
            </div>
        <% } %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src='/js/download.js'></script>
<script>
    window.addEventListener( "load", function () {
        let form = document.querySelector("#deleteForm");
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            sendData(form, 'DELETE', '/stores/issues/<%= issue.issue_id %>');
        });
    });
	<% if (download) { %>
	    download_file('<%= download %>');
	<% } %>
    function filterSelects() {
        filter(['system'],'/stores/issues/<%= issue.issue_id %>');
    };
    showTab('<%= show_tab %>');
</script>
<% include ../../partials/foot/htmlClose %>