<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/issues', text: 'Issues'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class="container">
    <%- include(`${partials}/sidebar/button`, {id: 'actions', text: 'Actions', float: true}) %>
	<%- include(`${partials}/sidebar/open`, {id: 'actions', text: 'Actions'}) %>
        <%- include(`${partials}/button/modal/open`, {text: 'Edit Size',     id: 'size_edit', type: 'warning'}) %>
        <%- include(`${partials}/button/modal/open`, {text: 'Edit Quantity', id: 'qty_edit',  type: 'warning'}) %>
        <form class="input-group mb-3" id='form_mark_as'>
            <label class="input-group-text" for="sel_mark_as">Mark Issue As:</label>
            <select class="form-select" id="sel_mark_as" name='issue[status]'>
                <option value="0" id='btn_mark_0' disabled>Cancelled</option>
                <option value="1" id='btn_mark_1' disabled>Requested</option>
                <option value="2" id='btn_mark_2' disabled>Approved </option>
                <option value="3" id='btn_mark_3' disabled>Ordered  </option>
                <option value="4" id='btn_mark_4' disabled>Issued   </option>
                <option value="5" id='btn_mark_5' disabled>Returned </option>
            </select>
            <button class="btn btn-success" type="button" id='btn_mark_as' disabled><i class="fas fa-floppy-disk"></i></button>
        </form>
    	<%- include(`${partials}/button/form`, {id: 'delete', text: 'Cancel', colour: 'danger', align_botton: true}) %>
    <%- include(`${partials}/sidebar/close`) %>
	<ul class="nav nav-tabs nav-justified" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'issue'}) %>
        <%- include(`${partials}/common/actions/tab_head`) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/inputs/display`, {id: 'issue_user_issue', title: 'For',  link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_item',	   title: 'Item', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_size',	   title: 'Size', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_qty',	 	   title: 'Quantity'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_createdAt',  title: 'Date Raised'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_updatedAt',  title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_status',	   title: 'Status'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_user',       title: 'By',   link: true}) %>
		</div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
	</div>
	<div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
        <div id='mdl_size_edit' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content" id='form_size_edit'>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Size</h5>
                    </div>
                    <div class="modal-body">
                        <table class='table table-sm table-hover'>
                            <thead class='thead-dark' id="tbl_sizes_head">
                                <th class='w-35' data-column='["size1"]' data-dir="ASC">Size 1</th>
                                <th class='w-35' data-column='["size2"]'>Size 2</th>
                                <th class='w-30' data-column='["size3"]'>Size 3</th>
                                <th><i class="fas fa-check"></i></th>
                            </thead>
                            <tbody id='tbl_sizes'></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <%- include(`${partials}/button/save`) %>
                    </div>
                </form>
            </div>
        </div>
        <div id='mdl_qty_edit'  class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content" id='form_qty_edit'>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Quantity</h5>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/number`, {title: 'Qty', id: 'issue_qty_edit', name: 'qty'}) %>
                    </div>
                    <div class="modal-footer">
                        <%- include(`${partials}/button/save`) %>
                    </div>
                </form>
            </div>
        </div>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/search/select.js"></script>
<script>show_tab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>

<% if (permissions.issuer) { %>
    <script src="/js/stores/issues/show/edit.js"></script>
	<script src="/js/stores/issues/show/delete.js"></script>
<% } %>
<script src="/js/stores/issues/show/view.js"></script>
<%- include(`${partials}/foot/components/htmlClose`) %>