<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/issues', text: 'Issues'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class="container">
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'issue'}) %>
        <%- include(`${partials}/common/actions/tab_head`) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="input-group mb-1">
                <span class="input-group-text w-30">Actions</span>
                <%- include(`${partials}/button/delete`, {no_ms4: true}) %>
            </div>
			<%- include(`${partials}/inputs/display`, {id: 'issue_user_issue', title: 'For',  link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_item',	   title: 'Item', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_size',	   title: 'Size', link: true, edit: {modal: 'size_edit', tip: 'Edit Size'}}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_qty',	 	   title: 'Quantity', edit: {modal: 'qty_edit', tip: 'Edit Qty'}}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_createdAt',  title: 'Date Raised'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_updatedAt',  title: 'Last Updated'}) %>
			<div class="input-group mb-1">
				<span class="input-group-text w-30">Status</span>
				<p class="form-control mb-0" id='issue_status'></p>
                <% if (permissions.issuer) { %>
                    <%- include(`${partials}/button/button`, {id: 'mark_0', text: '0', type: 'danger', 	  form: 'mark_cancelled', disabled: true, tip: 'Mark as cancelled'}) %>
                    <%- include(`${partials}/button/button`, {id: 'mark_1', text: '1', type: 'primary',	  form: 'mark_requested', disabled: true, tip: 'Mark as requested'}) %>
                    <%- include(`${partials}/button/button`, {id: 'mark_2', text: '2', type: 'warning',	  form: 'mark_approved',  disabled: true, tip: 'Mark as approved'}) %>
                    <%- include(`${partials}/button/button`, {id: 'mark_3', text: '3', type: 'info',	  form: 'mark_ordered',   disabled: true, tip: 'Mark as ordered'}) %>
                    <%- include(`${partials}/button/button`, {id: 'mark_4', text: '4', type: 'success',	  form: 'mark_issued',    disabled: true, tip: 'Mark as issued'}) %>
                    <%- include(`${partials}/button/button`, {id: 'mark_5', text: '5', type: 'secondary', form: 'mark_returned',  disabled: true, tip: 'Mark as returned'}) %>
                <% } %>
			</div>
            <% if (permissions.issuer) { %>
                <form id="form_mark_cancelled"></form>
                <form id="form_mark_requested"></form>
                <form id="form_mark_approved" ></form>
                <form id="form_mark_ordered"  ></form>
                <form id="form_mark_issued"   ></form>
                <form id="form_mark_returned" ></form>
            <% } %>
			<%- include(`${partials}/inputs/display`, {id: 'issue_user', title: 'By', link: true}) %>
		</div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
	</div>
	<div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
        <%- include(`${partials}/modals/size_edit`) %>
        <%- include(`${partials}/modals/qty_edit`) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/search/select.js"></script>
<script>show_tab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>

<script src="/js/stores/issues/show/view.js"></script>
<script async>getIssue()</script>
<% if (permissions.issuer) { %>
	<script src="/js/stores/issues/show/delete.js"></script>
<% } %>
<script>getSizes_funcs('issue', [1, 2], getIssue, {});</script>
<script>getQty_funcs(  'issue', [1, 2], getIssue);</script>
<%- include(`${partials}/foot/components/htmlClose`) %>