<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>Stores</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/users'>Users</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/users/<%= issue.issued_to %>'><%= issue._to.rank._rank %> <%= issue._to._name %>, <%= issue._to._ini %></a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/issues'>Issues</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/issues/<%= issue.issue_id %>'><%= issue.issue_id %></a>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
    <div class='row'>
        <div class='col-12 col-lg-6 col-xl-5 mb-3 bordered'>
            <a class='float-left btn btn-primary mr-1' href='/stores/issues/<%= issue.issue_id %>/loancard'>
                <i class='fas fa-file-download'></i>
            </a>
            <% if (permissions.issues_delete) { %>
                <form action='/stores/issues/<%= issue.issue_id %>?_method=DELETE&user=<%= issue.issued_to %>' method='POST'>
                    <button class='float-left btn btn-danger confirm'>
                        <i class='fas fa-trash-alt'></i>
                    </button>
                </form>
            <% } %>
            <h4 class='mb-3'>Issue Details</h4>
            <div class='row'>
                <div class='col-sm-4'>
                    <label class='col-form-label'>To:</label>
                </div>
                <div class='col-10 col-sm-6'>
                    <input class='form-control' type='text' value='<%= issue._to.rank._rank %> <%= issue._to._name %>, <%= issue._to._ini %>' readonly>
                </div>
                <div class="col-2">
                    <a class='btn btn-primary float-right' href="/stores/users/<%= issue.issued_to %>"><i class='fas fa-search'></i></a>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4'>
                    <label class='col-form-label'>By:</label>
                </div>
                <div class='col-10 col-sm-6'>
                    <input class='form-control' type='text' value='<%= issue._by.rank._rank %> <%= issue._by._name %>, <%= issue._by._ini %>' readonly>
                </div>
                <div class="col-2">
                    <a class='btn btn-primary float-right' href="/stores/users/<%= issue.user_id %>"><i class='fas fa-search'></i></a>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4'>
                    <label class='col-form-label'>Date:</label>
                </div>
                <div class='col-sm-8'>
                    <input class='form-control' type='text' value='<%= issue._date.toDateString() %>' readonly>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4'>
                    <label class='col-form-label'>Due Back:</label>
                </div>
                <div class='col-sm-8'>
                    <input class='form-control' type='text' value='<%= issue._date_due.toDateString() %>' readonly>
                </div>
            </div>
        </div>
        <% if (permissions.access_notes) { %> 
            <div class='col-12 col-lg-6 col-xl-7 mb-3 bordered'>
                <% if (permissions.notes_add) { %>
                    <a class='float-left btn btn-success' href='/stores/notes/new?table=issues&id=<%= issue.issue_id %>'>
                        <i class='fas fa-plus'></i>
                    </a>
                <% } %>
                <% include ../../partials/noteTable %>
            </div>
        <% } %>
        <div class='col-12 mb-3 bordered'>
            <h4>Lines</h4>
            <% if (permissions.returns_add) { %>
                <form id='issues' action='/stores/returns?src=/stores/issues/<%= issue.issue_id %>' method='POST'>
                <input class='btn btn-primary mb-1 confirm' type='submit' value='Return Selected Lines'>
                <input type='hidden' name='from' value='<%= issue.issued_to %>'>
            <% } %>
            <table class='table table-sm table-hover mx-auto w-100'>
                <thead class='thead-dark'>
                    <th class='w-5' onclick='sortTable(0, "issueTable")'>Line</th>
                    <th class='w-15' onclick='sortTable(1, "issueTable")'>NSN</th>
                    <th class='w-25' onclick='sortTable(2, "issueTable")'>Item</th>
                    <th class='w-20' onclick='sortTable(3, "issueTable")'>Size</th>
                    <th class='w-5' onclick='sortTable(4, "issueTable")'>Qty</th>
                    <th class='w-10' onclick='sortTable(5, "issueTable")'>Issue Location</th>
                    <th class='w-10' onclick='sortTable(6, "issueTable")'>Return Location</th>
                    <th class='w-10' onclick='sortTable(7, "issueTable")'>Date Returned</th>
                </thead>
                <tbody id='issueTable'>
                    <% if (issue.lines) { %>
                        <% issue.lines.forEach(line => { %>
                            <tr>
                                <td>
                                    <%= String(line._line).padStart(2, '0') %>
                                </td>
                                <td>
                                    <a class='float-right btn btn-sm btn-primary' href='/stores/nsns/<%= line.nsn_id %>/edit'><i class='fas fa-search'></i></a>
                                    <%= line.nsn._nsn %>
                                </td>
                                <td>
                                    <a class='float-right btn btn-sm btn-primary' href='/stores/items/<%= line.item_size.item_id %>'><i class='fas fa-search'></i></a>
                                    <%= line.item_size.item._description %>
                                </td>
                                <td>
                                    <a class='float-right btn btn-sm btn-primary' href='/stores/item_sizes/<%= line.item_size_id %>'><i class='fas fa-search'></i></a>
                                    <%= line.item_size._size %>
                                </td>
                                <td>
                                    <%= line._qty %>
                                </td>
                                <td>
                                    <% if (line.stock) { %>
                                        <a class='float-right btn btn-sm btn-primary' href='/stores/stock/<%= line.stock_id %>/edit'><i class='fas fa-search'></i></a>
                                        <%= line.stock.location._location %>
                                    <% } else { %>
                                        ?
                                    <% } %>
                                </td>
                                <td>
                                    <% if (line.return_line) { %>
                                        <a class='float-right btn btn-sm btn-primary' href='/stores/stock/<%= line.return_line.stock_id %>/edit'><i class='fas fa-search'></i></a>
                                        <%= line.return_line.stock.location._location %>
                                    <% } else if (permissions.returns_add) { %>
                                        <select class='form-control form-control-sm' name='returnLines[]'>
                                            <option value='' selected></option>
                                            <% if (line.item_size.stocks) { %>
                                                <% line.item_size.stocks.forEach(stock => { %>
                                                    <option value='{"line_id":<%= line.line_id %>,"qty":<%= line._qty %>,"stock_id":<%= stock.stock_id %>,"issue_id":<%= issue.issue_id %>}'><%= stock.location._location %></option>
                                                <% }); %>
                                            <% }; %>
                                        </select>
                                    <% }; %>
                                </td>
                                <td>
                                    <% if (line.return_line) { %>
                                        <%= line.return_line.return._date.toDateString() %>
                                    <% }; %>
                                </td>
                            </tr>
                        <% }); %>
                    <% }; %>
                </tbody>
            </table>
            <% if (permissions.returns_add) { %></form><% } %>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['system'],'/stores/issues/<%= issue.issue_id %>');
    };
</script>
<% include ../../partials/foot/htmlClose %>