<%- include(`${process.env.PARTIALS}/head/full`) %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores',		   text: 'Stores'}) %>
			<%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores/issues', text: 'Issues'}) %>
			<%- include(`${process.env.PARTIALS}/breadcrumb`) %>
        </ul>
    </nav>
</section>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="optionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="optionsDropdown">
                <%- include(`${process.env.PARTIALS}/notes/menu_add`) %>
				<% if (permissions.issue_edit) { %><form id='form_complete'><% } %>
					<input type="hidden" name='_status' value='2'>
					<input id='btn_complete' class='dropdown-item dropdown_button confirm' type="submit" value='Complete' disabled>
                <% if (permissions.issue_edit) { %>
                    </form>
                    <form id='form_cancel'>
                <% } %>
					<input type="hidden" name='_status' value='0'>
					<input id='btn_cancel' class='dropdown-item dropdown_button confirm' type="submit" value='Cancel' disabled>
				<% if (permissions.issue_edit) { %></form><% } %>
				<div id='form_addSize'>
					<button type='button' class='dropdown-item dropdown_button' id='btn_addSize' data-toggle='modal' data-target='#mdl_add_size' disabled >
						Add Item
					</button>
				</div>
				<% if (permissions.issue_delete) { %><form id='form_delete'><% } %>
					<input id='btn_delete' type="submit" class="dropdown-item dropdown_button confirm" value='Delete' disabled>
				<% if (permissions.issue_edit) { %></form><% } %>
				<input id='btn_action' form='form_action' class='dropdown-item dropdown_button confirm' type="submit" value='Action Lines' disabled>
                <a class='dropdown-item' id='btn_loancard'>
                    Download Loancard
                </a>
            </div>
        </li>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'details', title: 'Details'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'lines',   title: 'Lines', count_id: 'line_count'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'notes',   title: 'Notes', count_id: 'note_count', permission: 'access_notes'}) %>
        <%- include(`${process.env.PARTIALS}/reload`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${process.env.PARTIALS}/spinner`, {id: 'issuess'}) %>
			<%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'user_to', 	title: 'To',  append: {a: {id: 'user_to_link', type: 'primary', text: '<i class="fas fa-search"></i>'}}}) %>
			<%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'user_by', 	title: 'By',  append: {a: {id: 'user_by_link', type: 'primary', text: '<i class="fas fa-search"></i>'}}}) %>
			<%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'createdAt', title: 'Date'}) %>
			<%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'updatedAt', title: 'Last Updated'}) %>
			<%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_date_due', title: 'Date Due Back'}) %>
			<%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_status', 	title: 'Status'}) %>
		</div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
            <%- include(`${process.env.PARTIALS}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{value: '', text: 'All', selected: true}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Pending'}, {value: '_status=2', text: 'Open'}, {value: '_status=5', text: 'Closed'}]}) %>
			<%- include(`${process.env.PARTIALS}/spinner`, {id: 'issues'}) %>
            <% if (permissions.return_line_add) { %>
                <form id='form_action'>
            <% } %>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-10' onclick='sortTable(0, "tbl_lines")'>
                            <%- include(`${process.env.PARTIALS}/spinner`, {id: 'issue_lines', float_left: true, small: true}) %>
                            Line
                        </th>
                        <th class='w-20' onclick='sortTable(1, "tbl_lines")'>Item</th>
                        <th class='w-20' onclick='sortTable(2, "tbl_lines")'>Size</th>
                        <th class='w-10'  onclick='sortTable(3, "tbl_lines")'>Qty</th>
                        <th class='w-20'  onclick='sortTable(4, "tbl_lines")'>Status</th>
                        <th class='w-20' onclick='sortTable(5, "tbl_lines")'>Action</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id='tbl_lines'>
                    </tbody>
                </table>
            <% if (permissions.return_line_add) { %>
                </form>
            <% } %>
            <div id="div_modals"></div>
        </div>
        <%- include(`${process.env.PARTIALS}/notes/tab_body`) %>
    </div>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<!-- get/spinner/XHRsend/send from notes include -->
<script src='/js/tabs.js'></script>
<script src="/js/issues/show/issue.js"></script>
<script src="/js/issues/show/lines.js"></script>
<script src="/js/nsns/list.js"></script>
<script src="/js/stock/list.js"></script>
<script src="/js/serials/list.js"></script>
<script src="/js/search/select.js"></script>
<script src="/js/addSize.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script src='/js/utils/select_sel_status.js'></script>
<script>showTab('<%= tab %>');</script>
<script>
	function getIssue() {
		get(
			showIssue,
			{
				table: 'issues',
				query: [`issue_id=${path[3]}`],
				permissions: {
					edit: 	     <%= permissions.issue_edit  	   || false %>,
					delete:		 <%= permissions.issue_delete	   || false %>,
					line_add:	 <%= permissions.issue_line_add	   || false %>,
					line_delete: <%= permissions.issue_line_delete || false %>
				}
			}
		);
	};
    document.querySelector('#reload').addEventListener('click', () => getIssue());
</script>
<script async>getIssue()</script>
<script>
    function getLines() {
		get(
			showLines,
			{
				table: 'issue_lines',
				query: [`issue_id=${path[3]}`, sel_status.value],
				permissions: {
					line_edit:	 <%= permissions.issue_line_edit   || false %>,
					line_delete: <%= permissions.issue_line_delete || false %>
				}
			}
		);
	};
	// getissuelines = getLines;
    document.querySelector('#reload').addEventListener('click', () => getLines());
    document.querySelector('#sel_status').addEventListener('change', () => getLines());
</script>
<script async>getLines()</script>
<script>
    window.addEventListener( "load", () => {
		<% if (permissions.issue_delete) { %>
			addFormListener('form_delete', 'DELETE', `/stores/issues/${path[3]}`,{redirect: '/stores/issues'});
		<% } %>
		<% if (permissions.issue_edit) { %>
			addFormListener('form_complete', 'PUT', `/stores/issues/${path[3]}`, {onComplete: [getIssue, getLines]});
			addFormListener('form_cancel',	 'PUT', `/stores/issues/${path[3]}`, {onComplete: [getIssue, getLines]});
		<% } %>
		<% if (permissions.issue_line_edit) { %>
			addFormListener('form_action', 'PUT', `/stores/issue_lines/${path[3]}`,{onComplete: getLines});
		<% } %>
    });
</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>