<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',		   text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/issues', text: 'Issues'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="optionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="optionsDropdown">
                <%- include(`${partials}/notes/menu_add`) %>
				<%- include(`${partials}/menu/action`) %>
				<%- include(`${partials}/menu/complete`, {permission: 'issue_edit'}) %>
				<%- include(`${partials}/stores/sizes/select_button`, {permission: 'issue_line_add'}) %>
				<button class='dropdown-item' id='btn_loancard' disabled>Download Loancard</button>
				<%- include(`${partials}/menu/delete`, {permission: 'issue_edit'}) %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'issue'}) %>
        <%- include(`${partials}/tab_head`, {id: 'lines',   title: 'Lines',	  spinner: 'issue_lines', count_id: 'line', permission: 'access_issue_lines'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',   title: 'Notes',	  spinner: 'notes',		  count_id: 'note', permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/spinner`, {id: 'issuess'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'user_issue', title: 'To',  link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'user', 		 title: 'By',  link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'createdAt',	 title: 'Date'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'updatedAt',	 title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: '_date_due',	 title: 'Date Due Back'}) %>
			<%- include(`${partials}/inputs/display`, {id: '_status', 	 title: 'Status'}) %>
		</div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
            <%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{value: '', text: 'All', selected: true}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Pending'}, {value: '_status=2', text: 'Issued'}, {value: '_status=3', text: 'Returned'}]}) %>
			<% if (permissions.issue_line_edit) { %><form id='form_action'><% } %>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-10' onclick='sortTable(0, "tbl_lines")'>Line</th>
                        <th class='w-30' onclick='sortTable(1, "tbl_lines")'>Item</th>
                        <th class='w-30' onclick='sortTable(2, "tbl_lines")'>Size</th>
                        <th class='w-10' onclick='sortTable(3, "tbl_lines")'>Qty</th>
                        <th class='w-20' onclick='sortTable(4, "tbl_lines")'>Status</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id='tbl_lines'></tbody>
                </table>
            <% if (permissions.issue_line_edit) { %></form><% } %>
        </div>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
    <div id="div_modals">
		<%- include(`${partials}/stores/sizes/select`,  {permission: 'issue_line_add', 	   table: 'Issue'}) %>
		<%- include(`${partials}/stores/mdl_line_view`, {permission: 'access_issue_lines', table: 'Issue'}) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<!-- get/spinner/send from notes include -->
<script src='/js/tabs.js'></script>
<script src="/js/search/select.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script>showTab('<%= tab %>');</script>

<script src="/js/stores/issues/show/view.js"></script>
<script async>getIssue()</script>
<% if (permissions.issue_edit) { %>
    <script src="/js/stores/issues/show/edit.js"></script>
    <script src="/js/stores/utils/setButtons.js"></script>
    <script async>setButtons('issue')</script>
<% } %>
<% if (permissions.issue_delete) { %><script src="/js/stores/issues/show/delete.js"></script><% } %>
<% if (permissions.access_issue_lines) { %>
    <% if (permissions.access_notes) { %><script src="/js/stores/issues/show/notesView.js"></script><% } %>
	<script src="/js/stores/utils/showLine.js"></script>
	<script src="/js/stores/utils/showLineActions.js"></script>
	<script src="/js/stores/issues/show/lineView.js"></script>
	<script src="/js/stores/stock/list.js"></script>
	<script async>getLines()</script>
	<% if (permissions.issue_line_add) { %>
		<script src="/js/stores/nsns/list.js"></script>
		<script src="/js/stores/serials/list.js"></script>
		<script src="/js/stores/sizes/select.js"></script>
	<% } %>
    <% if (permissions.issue_line_edit) { %>
        <script src="/js/stores/issues/show/lineEdit.js"></script>
		<script src="/js/stores/utils/setLineButtons.js"></script>
		<script src="/js/stores/utils/setActions.js"></script>
		<script async>setActions()</script>
		<script async>setLineButtons('issue')</script>
    <% } %>
	<% if (permissions.issue_line_delete) { %><script src="/js/stores/issues/show/lineDelete.js"></script><% } %>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>