<!-- ISSUES INDEX PAGE -->
<% include ../../partials/header %>
<% include ../../partials/nav %>
<% include ../../partials/bodyTop %>
<section class="container page_title">
	<div class="row">
		<div class="col-md-6 mx-auto">
			<a href="/stores"><h2>Stores Management</h2></a>
		</div>
	</div>
	<p class="text-left"><a href="/stores"> Main Menu </a>> > ><a href="/stores/issues"> Issues </a>> > ><a href='/stores/issues/userlist'> Users </a></p>
	<div class="row">
		<div class="col-2 mx-auto">
			<a href="/stores/issues"><h3>Issues</h3></a>
		</div>
	</div>
</section>
<div class="container mt-3 pt-3">
	<div class="container mt-3 pt-3">
		<label for="_system">Showing:</label>
		<select id="_system" type="text" onchange="window.location = '/stores/issues/userlist?status=' + this.options[this.selectedIndex].value">
			<% statuses.forEach((stat) => { %>
				<% if (stat.status_id !== 4) { %>
					<% if (stat.status_id === Number(status)) { %>
						<option value="<%= stat.status_id %>" selected><%= stat._status %></option>
					<% } else { %>
						<option value="<%= stat.status_id %>"><%= stat._status %></option>
					<% } %>
				<% } %>
			<% }) %>
		</select>
		<table style="width:90%" class="mx-auto">
			<thead>
				<th style="width:40%">Bader/Service #</th>
				<th style="width:10%">Rank</th>
				<th style="width:40%">Surname</th>
				<th style="width:10%">Initials</th>
			</thead>
			<tbody>
				<% users.forEach((user) => { %>
					<tr>
						<td><a href="/stores/issues?user=<%= user.user_id %>"> <%= user._bader %></a></td>
						<td><a href="/stores/issues?user=<%= user.user_id %>"> <%= user.rank._rank %></a></td>
						<td><a href="/stores/issues?user=<%= user.user_id %>"> <%= user._name %></a></td>
						<td><a href="/stores/issues?user=<%= user.user_id %>"> <%= user._ini %></a></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>
<% include ../../partials/bodyBottom %>
<% include ../../partials/footer %>
<% include ../../partials/footjs %>
<% include ../../partials/htmlBottom %>