<%- include(`${partials}/head/full`) %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
			<%- include(`${partials}/breadcrumb`, {href: '/canteen', text: 'Canteen'}) %>
			<%- include(`${partials}/breadcrumb`, {html: '<i class="fas fa-redo"></i>', id: 'reload'}) %>
			<%- include(`${partials}/spinner`,    {id: 'sessions'}) %>
        </ul>
    </nav>
</section>
<section class='container'>
	<div class="row m-auto p-0 menu">
        <%- include(`${partials}/card`, {title: 'Point of Sale', image: 'cash-register', hidden: true, id: 'card_pos'}) %>
		<%- include(`${partials}/card`, {title: 'Items',         image: 'candy-cane',    href: '/canteen/items'}) %>
		<%- include(`${partials}/card`, {title: 'Sessions',      image: 'list',          href: '/canteen/sessions'}) %>
        <%- include(`${partials}/card`, {title: 'Receipts',      image: 'receipt',       href: '/canteen/receipts'}) %>
        <%- include(`${partials}/card`, {title: 'Writeoffs',     image: 'receipt',       href: '/canteen/writeoffs'}) %>
        <%- include(`${partials}/card`, {title: 'Movements',     image: 'wallet',        href: '/canteen/movements'}) %>
        <%- include(`${partials}/card`, {title: 'Users',         image: 'user',          href: '/canteen/users'}) %>
	</div>
</section>
<%- include(`${partials}/foot/full`) %>
<script src="/js/canteen/index/checkSession.js"></script>
<script async>checkSession()</script>
<%- include(`${partials}/foot/htmlClose`) %>    