<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/head/navbar/switcher`, {text: 'Canteen'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`,    {id: 'sessions'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
	<div class="row menu">
        <%- include(`${partials}/card`, {title: 'Point of Sale', image: 'cash-register', hidden: true, id: 'card_pos'}) %>
		<%- include(`${partials}/card`, {title: 'Items',         image: 'candy-cane',    href: '/canteen_items'}) %>
		<%- include(`${partials}/card`, {title: 'Sessions',      image: 'list',          href: '/sessions'}) %>
        <%- include(`${partials}/card`, {title: 'Receipts',      image: 'receipt',       href: '/receipts'}) %>
        <%- include(`${partials}/card`, {title: 'Writeoffs',     image: 'receipt',       href: '/writeoffs'}) %>
        <%- include(`${partials}/card`, {title: 'Movements',     image: 'wallet',        href: '/movements'}) %>
        <%- include(`${partials}/card`, {title: 'Holdings',      image: 'wallet',        href: '/holdings'}) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/canteen/index/checkSession.js"></script>
<script async>checkSession()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>    