<%- include(`${process.env.PARTIALS}/head/full`) %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
			<%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/canteen', text: 'Canteen'}) %>
			<%- include(`${process.env.PARTIALS}/breadcrumb`, {html: '<i class="fas fa-redo"></i>', id: 'reload'}) %>
        </ul>
    </nav>
</section>
<section class='container'>
	<div class="row container m-auto p-0 menu">
        <%- include(`${process.env.PARTIALS}/card`, {title: 'Point of Sale', image: 'cash-register', hidden: true, id: 'card_pos'}) %>
		<%- include(`${process.env.PARTIALS}/card`, {title: 'Items',         image: 'candy-cane',    href: '/canteen/items'}) %>
		<%- include(`${process.env.PARTIALS}/card`, {title: 'Sessions',      image: 'list',          href: '/canteen/sessions'}) %>
        <%- include(`${process.env.PARTIALS}/card`, {title: 'Receipts',      image: 'receipt',       href: '/canteen/receipts'}) %>
        <%- include(`${process.env.PARTIALS}/card`, {title: 'Writeoffs',     image: 'receipt',       href: '/canteen/writeoffs'}) %>
	</div>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<script src="/js/canteen/index/getSession.js"></script>
<script>
    function checkSession() {
        get(
            getSession,
            {
                db:    'canteen',
                table: 'sessions',
                query: ['_status=1']
            }
        );
    };
    document.querySelector('#reload').addEventListener('click', checkSession);
</script>
<script async>checkSession()</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>    