<%- include(`${process.env.PARTIALS}/head/head`) %>
<body>
<%- include(`${process.env.PARTIALS}/head/flash`) %>
<section id='body'>
<section class='mb-2'>
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
			<%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/canteen',     text: 'Canteen'}) %>
			<%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/canteen/pos', text: 'POS'}) %>
			<%- include(`${process.env.PARTIALS}/breadcrumb`) %>
			<%- include(`${process.env.PARTIALS}/breadcrumb`, {classes: ['alert']}) %>
        </ul>
</section>
<section class='mx-5'>
	<div class='row'>
		<div class="order-last order-lg-first col-12 col-lg-7 col-xl-8 bordered">
            <div class="menu row" id='div_items'>
            </div>
        </div>
        <div class="order-first order-lg-last col-12 col-lg-5 col-xl-4 bordered">
            <% if (permissions.sale_edit) { %>
                <a href="javascript:$('#complete_sale').modal('show')" class='btn btn-lg btn-success w-100 mb-2'>Finish</a>
                <%- include(`${process.env.PARTIALS}/inputs/display`, {title: 'Total (£)', id: 'total', classes: ['total']}) %>
            <% } %>
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-40" onclick="sortTable(0, 'selectedItems')">Item</th>
                    <th class="w-25" onclick="sortTable(1, 'selectedItems')">£/Each</th>
                    <th class="w-10" onclick="sortTable(2, 'selectedItems')">Qty</th>
                    <th class="w-25" onclick="sortTable(3, 'selectedItems')">£/Total</th>
                    <th><i class='fas fa-minus'></i></th>
                </thead>
                <tbody id="tbl_sale_lines"></tbody>
            </table>
        </div>
    </div>
    <% if (permissions.sale_edit) { %>
        <div id="div_modals">
            <div id='complete_sale' class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Finish Sale <span class='alert'></span></h5>
                            <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <%- include(`${process.env.PARTIALS}/inputs/display`, {title: 'Total (£)', id: 'total', classes: ['total']}) %>
                            <% [['7','8','9'],['4','5','6'],['1','2','3']].forEach(r => { %>
                                <div class="row mb-2">
                                    <% r.forEach(e => { %>
                                        <div class="col-4">
                                            <a class='btn btn-lg btn-primary w-100' href="javascript:numberBtn(<%= e %>)"><%= e %></a>
                                        </div>
                                    <% }) %>
                                </div>
                            <% }) %>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <a class='btn btn-lg btn-primary w-100' href="javascript:numberBtn(0)">0</a>
                                </div>
                                <div class="col-4">
                                    <a class='btn btn-lg btn-warning w-100' href="javascript:backspace()"><i class='fas fa-backspace'></i></a>
                                </div>
                                <div class="col-4">
                                    <a class='btn btn-lg btn-danger w-100 confirm' href="javascript:cancelSale()">Cancel</a>
                                </div>
                            </div>
                            <form id='form_complete_sale'>
                                <input type="hidden" class='sale_id' name='sale_id'>
                                <%- include(`${process.env.PARTIALS}/inputs/select`,  {title: 'Debit from',    id: 'debit',  name: 'sale[debit_user_id]'}) %>
                                <%- include(`${process.env.PARTIALS}/inputs/select`,  {title: 'Credit change', id: 'credit', name: 'sale[credit_user_id]'}) %>
                                <%- include(`${process.env.PARTIALS}/inputs/display`, {title: 'Tendered (£)',  html: '<input id="_tendered" class="form-control" type="number" step="0.01" name="sale[tendered]" readonly required>'}) %>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button form='form_complete_sale' class='btn btn-lg btn-success w-100 mb-2'>Pay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<script src="/js/canteen/pos/showSale.js"></script>
<script src="/js/canteen/pos/showSaleLines.js"></script>
<script src="/js/canteen/pos/showItems.js"></script>
<script src="/js/get.js"></script>
<script src="/js/spinner.js"></script>
<script src="/js/data/XHRsend.js"></script>
<script src="/js/data/send.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script>
    window.addEventListener('keydown', function (e) {
        if (['0','1','2','3','4','5','6','7','8','9'].includes(e.key)) {
            numberBtn(e.key)
        } else if (e.key === 'Backspace') {
            backspace();
        };
    });
    function clear_alert() {
        let alerts = document.querySelectorAll('.alert');
        alerts.forEach(e => e.innerText = '');
    };
    function alert(message) {
        let alerts = document.querySelectorAll('.alert');
        alerts.forEach(e => e.innerText = message);
        setTimeout(clear_alert, 3000);
    };

    function getItems() {
        get(
            showItems,
            {
                db: 'canteen',
                table: 'items',
                query: ['_current=1'],
                permissions: {
                    pay_out: <%= permissions.pay_out || false %>
                }
            }
        )
    };
</script>
<% if (permissions.sale_edit) { %>
    <script src="/js/canteen/pos/showUsers.js"></script>
    <script src="/js/canteen/pos/showCredits.js"></script>
    <script>
        function getUsers() {
            get(
                showUsers,
                {
                    db:    'users',
                    table: 'current',
                    query: []
                }
            )
        };
    </script>
    <script>
        function getCredits() {
            get(
                showCredits,
                {
                    db:    'canteen',
                    table: 'credits',
                    query: []
                }
            )
        };
    </script>
    <script async>getUsers()</script>
    <script async>getCredits()</script>
<% } %>
<script async>getItems()</script>
<script>
    function cancelSale() {
        selected = {};
        let tendered = document.querySelector('#_tendered');
        tendered.value = '';
        showSelected();
    };
    function numberBtn(num) {
        let tendered = document.querySelector('#_tendered'),
            amt = Number(String(tendered.value).replace('.', '').replace('£', ''));
        if (amt === 0) {
            amt = String(num);
        } else {
            amt += String(num);
        };
        set_tendered(amt);
    };
    function backspace() {
        let tendered = document.querySelector('#_tendered'),
            amt = Number(String(tendered.value).replace('.', ''));
            amt = String(amt);
        set_tendered(amt.substring(0, amt.length - 1))
    };
    function set_tendered(amt) {
        amt = String(amt).padStart(3, '0');
        amt = amt.substring(0, amt.length - 2) + "." + amt.substring(amt.length - 2);
        let tendered = document.querySelector('#_tendered');
        tendered.value = amt;
    };
    <% if (permissions.sale_edit) { %>
        window.addEventListener( "load", function () {
            addFormListener(
                'form_complete_sale',
                'PUT',
                '/canteen/sales',
                {onComplete: window.getSale}
            );
        });
    <% } %>
</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>    