<%- include(`${process.env.PARTIALS}/head/head`) %>
<body>
<%- include(`${process.env.PARTIALS}/head/flash`) %>
<section id='body'>
<section class='mb-2'>
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
			<%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/canteen',     text: 'Canteen'}) %>
			<%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/canteen/pos', text: 'POS'}) %>
			<%- include(`${process.env.PARTIALS}/breadcrumb`) %>
        </ul>
</section>
<section class='mx-5'>
	<div class='row'>
		<div class="col-6 col-lg-8 bordered">
            <div class="menu row" id='div_items'>
            </div>
        </div>
        <div class="col-6 col-lg-4 bordered">
            <% [['7','8','9'],['4','5','6'],['1','2','3']].forEach(r => { %>
                <div class="row mb-2">
                    <% r.forEach(e => { %>
                        <div class="col-4">
                            <a class='btn btn-lg btn-primary w-100' href="javascript:numberBtn(<%= e %>)"><%= e %></a>
                        </div>
                    <% }) %>
                </div>
            <% }) %>
            <div class="row mb-2">
                <div class="col-4">
                    <a class='btn btn-lg btn-primary w-100' href="javascript:numberBtn(0)">0</a>
                </div>
                <div class="col-4">
                    <a class='btn btn-lg btn-warning w-100' href="javascript:backspace()"><i class='fas fa-backspace'></i></a>
                </div>
                <div class="col-4">
                    <a class='btn btn-lg btn-danger w-100 confirm' href="javascript:cancelSale()">Cancel</a>
                </div>
            </div>
            <form id='form_complete_sale'>
                <button class='btn btn-lg btn-success w-100 confirm mb-2'>Pay</button>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="col-form-label">Total (£)</label>
                    </div>
                    <div class="col-6">
                        <input id="_total" class="form-control" type="text" name='sale[total]' readonly required>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="col-form-label">Tendered (£)</label>
                    </div>
                    <div class="col-6">
                        <input id="_tendered" class="form-control" type="number" step='0.01' name='sale[tendered]' required>
                    </div>
                </div>
            </form>
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-25" onclick="sortTable(0, 'selectedItems')">Item</th>
                    <th class="w-25" onclick="sortTable(1, 'selectedItems')">£/Each</th>
                    <th class="w-10" onclick="sortTable(2, 'selectedItems')">Qty</th>
                    <th class="w-65" onclick="sortTable(3, 'selectedItems')">£/Total</th>
                    <th><i class='fas fa-minus'></i></th>
                    <th><i class='fas fa-plus'></i></th>
                </thead>
                <tbody id="tbl_sale_lines"></tbody>
            </table>
        </div>
    </div>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<script src="/js/canteen/pos/showSale.js"></script>
<script src="/js/canteen/pos/showSaleLines.js"></script>
<script src="/js/canteen/pos/showItems.js"></script>
<script src="/js/get.js"></script>
<script src="/js/spinner.js"></script>
<script src="/js/data/XHRsend.js"></script>
<script src="/js/data/send.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script>
    function getItems() {
        get(
            showItems,
            {
                db: 'canteen',
                table: 'items',
                query: [],
                permissions: {
                    pay_out: <%= permissions.pay_out || false %>
                }
            }
        )
    };
</script>
<script async>getItems()</script>
<script>
    function cancelSale() {
        selected = {};
        let tendered = document.querySelector('#_tendered');
        tendered.value = '';
        showSelected();
    };
    function numberBtn(num) {
        let tendered = document.querySelector('#_tendered'),
            amt = Number(String(tendered.value).replace('.', '').replace('£', ''));
        if (amt === 0) {
            amt = String(num);
        } else {
            amt += String(num);
        };
        set_tendered(amt);
    };
    function backspace() {
        let tendered = document.querySelector('#_tendered'),
            amt = Number(String(tendered.value).replace('.', ''));
            amt = String(amt);
        set_tendered(amt.substring(0, amt.length - 1))
    };
    function set_tendered(amt) {
        amt = String(amt).padStart(3, '0');
        amt = amt.substring(0, amt.length - 2) + "." + amt.substring(amt.length - 2);
        let tendered = document.querySelector('#_tendered');
        tendered.value = amt;
    };
</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>    