<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/canteen',     text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/canteen/pos', text: 'POS'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'current_sale'}) %>
<%- include(`${partials}/breadcrumb`, {id: 'alert_main', classes: ['alert_pos']}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='mx-5'>
	<div class='row'>
		<div class="order-last order-lg-first col-12 col-lg-7 col-xl-8">
            <ul class="nav nav-tabs" id="tab_headers" role="tablist">
            </ul>
            <div class="tab-content pt-3" id="tab_pages">
            </div>
            <div class="row" id='div_items' style='height: 100px'>
            </div>
        </div>
        <div class="order-first order-lg-last col-12 col-lg-5 col-xl-4">
            <button id='btn_finish' class='btn btn-lg btn-success w-100 mb-2' data-toggle="modal" data-target="#mdl_sale_complete">Finish</button>
            <%- include(`${partials}/inputs/display`, {title: 'Total (£)', id: 'total', classes: ['total']}) %>
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-40" onclick="sortTable(0, 'tbl_sale_lines')">Item</th>
                    <th class="w-25" onclick="sortTable(1, 'tbl_sale_lines')">£/Each</th>
                    <th class="w-10" onclick="sortTable(2, 'tbl_sale_lines')">Qty</th>
                    <th class="w-25" onclick="sortTable(3, 'tbl_sale_lines')">£/Total</th>
                    <th><i class='fas fa-minus'></i></th>
                </thead>
                <tbody id="tbl_sale_lines"></tbody>
            </table>
        </div>
    </div>
    <div id="div_modals">
        <div id='mdl_sale_complete' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Finish Sale <span class='alert_pos'></span></h5>
                        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {title: 'Total (£)', id: 'total', classes: ['total']}) %>
                        <% [['7','8','9'],['4','5','6'],['1','2','3']].forEach(r => { %>
                            <div class="row mb-2">
                                <% r.forEach(e => { %>
                                    <div class="col-4">
                                        <a class='btn btn-lg btn-primary w-100' href="javascript:numberBtn(<%= e %>)"><%= e %></a>
                                    </div>
                                <% }) %>
                            </div>
                        <% }) %>
                        <div class="row mb-2">
                            <div class="col-4">
                                <a class='btn btn-lg btn-primary w-100' href="javascript:numberBtn(0)">0</a>
                            </div>
                            <div class="col-8">
                                <a class='btn btn-lg btn-warning w-100' href="javascript:backspace()"><i class='fas fa-backspace'></i></a>
                            </div>
                        </div>
                        <form id='form_complete_sale'>
                            <input type="hidden" class='sale_id' name='sale_id'>
                            <%- include(`${partials}/inputs/select`,  {title: 'Debit from',    id: 'sel_credits', name: 'sale[user_id_debit]',  spinner_id: 'users_debit',  reload_id: 'reload_debit',  permission: 'access_credits'}) %>
                            <%- include(`${partials}/inputs/select`,  {title: 'Credit change', id: 'sel_users',   name: 'sale[user_id_credit]', spinner_id: 'users_credit', reload_id: 'reload_credit', permission: 'access_users'}) %>
                            <%- include(`${partials}/inputs/number`,  {title: 'Tendered (£)',  id: '_tendered',   name: 'sale[tendered]', step: '0.01', value: '0.00', required: true}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Change (£)',    id: 'change'}) %>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id='btn_complete_sale'       class='btn btn-lg btn-success w-100 mb-2'       form='form_complete_sale'>Pay</button>
                        <button id='btn_close_complete_sale' class='btn btn-lg btn-danger w-100 mb-2 hidden' data-dismiss="modal"     >Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/addFormListener.js"></script>
<script src='/js/tabs.js'></script>
<script src="/js/canteen/pos/view.js"></script>
<% if (permissions.access_users) { %>
    <script src="/js/utils/list/users.js"></script>
    <script src="/js/canteen/pos/credit.js"></script>
<% } %>
<% if (permissions.access_credits) { %>
    <script src="/js/canteen/pos/debit.js"></script>
<% } %>
<script async>getPages()</script>
<script async>getSale()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>    