<div id='mdl_action_view' class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <%- include(`${partials}/modals/header`, {title: 'Action'}) %>
            <div class="modal-body">
                <%- include(`${partials}/inputs/display`, {id: 'action_action',    title: 'Action'}) %>
                <%- include(`${partials}/inputs/display`, {id: 'action_createdAt', title: 'Created'}) %>
                <%- include(`${partials}/inputs/display`, {id: 'action_user',      title: 'User', link: true}) %>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-90'>Table</th>
                        <th class='w-10'>Active</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_links'></tbody>
                </table>
            </div>
            <%- include(`${partials}/modals/footer`, {link_id: 'action_id'}) %>
        </div>
    </div>
</div>