<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {text: 'Stores', href: '/stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Reports'}) %>
<%- include(`${partials}/spinner`,    {id: 'negative_stock'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
    <form id="form_adjustments">
        <button class="btn btn-success w-100 mb-1">Action lines</button>
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <th class="w-40" onclick="sortTable(0, 'tbl_stocks')">Item</th>
                <th class="w-30" onclick="sortTable(1, 'tbl_stocks')">Size</th>
                <th class="w-10" onclick="sortTable(2, 'tbl_stocks')">Location</th>
                <th class="w-10" onclick="sortTable(3, 'tbl_stocks')">Qty</th>
                <th class="w-10"><i class="fas fa-pencil-alt"></i></th>
            </thead>
            <tbody id="tbl_stocks"></tbody>
        </table>
    </form>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/addFormListener.js"></script>
<script src="/js/stores/reports/1/view.js"></script>
<script async>getSizes()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>