<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {text: 'Stores', href: '/stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Reports'}) %>
<%- include(`${partials}/spinner`,    {id: 'issues_due'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
    <form id="form_actions">
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <th class="w-20" onclick="sortTable(0, 'tbl_issues')">Issued To</th>
                <th class="w-15" onclick="sortTable(1, 'tbl_issues')">Item</th>
                <th class="w-15" onclick="sortTable(2, 'tbl_issues')">Size</th>
                <th class="w-5"  onclick="sortTable(3, 'tbl_issues')">Quantity</th>
                <th class="w-15" onclick="sortTable(4, 'tbl_issues')">Date Issued</th>
                <th class="w-15" onclick="sortTable(5, 'tbl_issues')">Date Due</th>
                <th class="w-15">
                    <% if (permissions.loancard_line_edit) { %>
                        <select id="sel_all" class='form-select form-select-sm hidden'>
                            <option>Select All</option>
                            <option value="3">Return</option>
                        </select>
                    <% } %>
                    Status
                </th>
                <th><i class='fas fa-search'></i></th>
            </thead>
            <tbody id="tbl_issues"></tbody>
        </table>
    </form>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/addFormListener.js"></script>
<script src="/js/stores/reports/2/view.js"></script>
<script src="/js/stores/loancard_lines/edit.js"></script>
<script>getLines()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>