<% include ../../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/reports">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/reports/2">Issues Due Back</a>
            </li>
        </ul>
    </nav>
</section>
<section class="mb-2">
    <div class="container">
        <h4>Issues Due Back</h4>
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <th class="w-10">ID</th>
                <th class="w-20">To</th>
                <th class="w-30">Date Issued</th>
                <th class="w-30">Date Due</th>
                <th class="w-10">Lines</th>
            </thead>
            <tbody>
                <% if (issues) { %>
                    <% issues.forEach(issue => { %>
                        <tr>
                            <td><a href="/stores/issues/<%= issue.issue_id %>"><%= issue.issue_id %></a></td>
                            <td><a href="/stores/users/<%= issue.issued_to %>"><%= issue._for.rank._rank %> <%= issue._for._name %>, <%= issue._for._ini %></a></td>
                            <td><a href="/stores/issues/<%= issue.issue_id %>"><%= issue._date.toDateString() %></a></td>
                            <td><a href="/stores/issues/<%= issue.issue_id %>"><%= issue._date_due.toDateString() %></a></td>
                            <td><a href="/stores/issues/<%= issue.issue_id %>"><%= issue.lines.length %></a></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
</section>
<% include ../../../partials/foot/full %>
<% include ../../../partials/foot/htmlClose %>