<% include ../../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/reports">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/reports/2">Issues Due Back</a>
            </li>
        </ul>
    </nav>
</section>
<section class="mb-2">
    <div class="container">
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <th class="w-30" onclick="sortTable(0, 'tableIssues')">To</th>
                <th class="w-30" onclick="sortTable(1, 'tableIssues')">Date Issued</th>
                <th class="w-30" onclick="sortTable(2, 'tableIssues')">Date Due</th>
                <th class="w-10" onclick="sortTable(3, 'tableIssues')">Lines</th>
                <th><i class='fas fa-search'></i></th>
            </thead>
            <tbody id="tableIssues">
                <% if (issues) { %>
                    <% issues.forEach(issue => { %>
                        <tr>
                            <td>
                                <a class="btn btn-sm btn-primary float-right" href="/stores/users/<%= issue.issued_to %>"><i class="fas fa-search"></i></a>
                                <%= issue._to.rank._rank %> <%= issue._to.full_name %>
                            </td>
                            <td data-sort="<%= issue._date.getTime() %>">
                                <%= issue._date.toDateString() %>
                            </td>
                            <td data-sort="<%= issue._date_due.getTime() %>">
                                <%= issue._date_due.toDateString() %>
                            </td>
                            <td><%= issue.lines.length %></td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="/stores/issues/<%= issue.issue_id %>"><i class="fas fa-search"></i></a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
</section>
<% include ../../../partials/foot/full %>
<% include ../../../partials/foot/htmlClose %>