<%- include(`${partials}/head/app`) %>
<li class="nav-item">
    <a class="nav-link" href="/stores">Stores</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/stores/reports">Reports</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/stores/reports/3">Orderable Stock</a>
</li>
<%- include(`${partials}/head/navbar/close`) %>
<section class="container mb-2">
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <label class="input-group-text" for="supplier_id">Supplier</label>
        </div>
        <select class="custom-select" id='supplier_id' onchange=filterSelects()>
            <% suppliers.forEach(supplier => { %>
                <option value="<%= supplier.supplier_id %>" <% if (Number(supplier_id) === supplier.supplier_id) { %> selected<% } %>>
                    <%= supplier._name %>
                </option>
            <% }) %>
        </select>
        <div class="input-group-append">
            <button form="orders" class="btn btn-success">Order Selected Items</button>
        </div>
    </div>
    <form id="orders" action="/stores/reports/3" method="POST">
        <div class="row">
            <input type="hidden" name="user_id_order" value="-1">
            <% var totals = {}; %>
            <% items.forEach(item => { %>
                <div class="col-12 bordered">
                    <a class="my-3" data-toggle="collapse" href="#collapse<%= item.item_id %>" role="button" aria-expanded="false" aria-controls="collapse<%= item.item_id %>">
                        <h5 class="text-left">
                            <%= item._description %>
                            <p class='float-right badge badge-success' id='item<%= item.item_id %>'></p>
                        </h5>
                    </a>
                    <div class="collapse mb-3" id="collapse<%= item.item_id %>">
                        <a class="btn btn-primary float-left mb-2" href="/stores/items/<%= item.item_id %>"><i class="fas fa-search"></i></a>
                        <table class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <th class="w-40" onclick="sortTable(0, 'table<%= item.item_id %>')">Size</th>
                                <th class="w-10" onclick="sortTable(1, 'table<%= item.item_id %>')">Stock</th>
                                <th class="w-10" onclick="sortTable(2, 'table<%= item.item_id %>')">Requested</th>
                                <th class="w-10" onclick="sortTable(3, 'table<%= item.item_id %>')">Ordered</th>
                                <th class="w-30">Qty to Order</th>
                            </thead>
                            <tbody id="table<%= item.item_id %>">
                                <% if (item.sizes) { %>
                                    <% totals['item' + item.item_id] = 0 %>
                                    <% item.sizes.forEach(size => { %>
                                        <% let _stock = 0, _requests = 0, _orders = 0 %>
                                        <% if (size.stocks && size.stocks.length > 0) { %>
                                            <% size.stocks.forEach(stock => { %>
                                                <% _stock += Number(stock._qty) %>
                                            <% }) %>
                                        <% } %>
                                        <% if (size.requests && size.requests.length > 0) { %>
                                            <% size.requests.forEach(request => { %>
                                                <% _requests += Number(request._qty) %>
                                            <% }) %>
                                        <% } %>
                                        <% if (size.orders && size.orders.length > 0) { %>
                                            <% size.orders.forEach(order => { %>
                                                <% _orders += Number(order._qty) %>
                                            <% }) %>
                                        <% } %>
                                        <% totals['item' + item.item_id] += Number(_orders); %>
                                        <tr>
                                            <td>
                                                <a class="btn btn-sm btn-primary float-right" href="/stores/sizes/<%= size.size_id %>"><i class="fas fa-search"></i></a>
                                                <%= size._size %>
                                            </td>
                                            <td <% if (_stock === 0) { %> class="cardRed"<% } %>>
                                                <%= _stock %>
                                            </td>
                                            <td>
                                                <%= _requests %>
                                            </td>
                                            <td>
                                                <%= _orders %>
                                            </td>
                                            <td>
                                                <input class="form-control form-control-sm" type="number" name="selected[<%= size.size_id %>]" value="0">
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <% }) %>
        </div>
    </form>
</section>
<% include ../../../partials/foot/app %>
<script>
    <% for (let [key, value] of Object.entries(totals)) { %>
        document.querySelector('#<%= key %>').innerText = <%= value %>
    <% } %>
    function filterSelects() {
        filter(['supplier_id'],"/stores/reports/3");
    };
    <% items.forEach(item => { %>
        sortTable(0, 'table<%= item.item_id %>')
    <% }) %>   
</script>
<% include ../../../partials/foot/elements/htmlClose %>