<% include ../../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/reports">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/reports/4">Stock - By Item</a>
            </li>
        </ul>
    </nav>
</section>
<section class="mb-2">
    <div class="container">
        <div class="row">
            <% items.forEach(item => { %>
                <div class="col-12">
                    <a class="my-3" data-toggle="collapse" href="#collapse<%= item.item_id %>" role="button" aria-expanded="false" aria-controls="collapse<%= item.item_id %>">
                        <h5 class="text-left">
                            <%= item._description %>
                        </h5>
                    </a>
                    <div class="collapse mb-3" id="collapse<%= item.item_id %>">
                        <a class="float-left" href="/stores/items/<%= item.item_id %>"><i class="fas fa-search"></i></a>
                        <table class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <th class="w-40" onclick="sortTable(0, 'table<%= item.item_id %>')">Size</th>
                                <th class="w-10" onclick="sortTable(1, 'table<%= item.item_id %>')">Stock</th>
                                <th class="w-10" onclick="sortTable(2, 'table<%= item.item_id %>')">Requested</th>
                                <th class="w-10" onclick="sortTable(3, 'table<%= item.item_id %>')">Ordered</th>
                            </thead>
                            <tbody id="table<%= item.item_id %>">
                                <% if (item.item_sizes) { %>
                                    <% item.item_sizes.forEach(size => { %>
                                        <% let _stock = 0, _requests = 0, _orders = 0 %>
                                        <% if (size.stocks && size.stocks.length > 0) { %>
                                            <% size.stocks.forEach(stock => { %>
                                                <% _stock += Number(stock._qty) %>
                                            <% }) %>
                                        <% } %>
                                        <% if (size.requests_ls && size.requests_ls.length > 0) { %>
                                            <% size.requests_ls.forEach(request => { %>
                                                <% _requests += Number(request._qty) %>
                                            <% }) %>
                                        <% } %>
                                        <% if (size.orders_ls && size.orders_ls.length > 0) { %>
                                            <% size.orders_ls.forEach(order => { %>
                                                <% _orders += Number(order._qty) %>
                                            <% }) %>
                                        <% } %>
                                        <tr>
                                            <td>
                                                <a class="float-right" href="/stores/item_sizes/<%= size.itemsize_id %>"><i class="fas fa-search"></i></a>
                                                <a href="#"><%= size._size %></a>
                                            </td>
                                            <td <% if (_stock <= 0) { %> class="cardRed"<% } %>>
                                                <a href="#"><%= _stock %></a>
                                            </td>
                                            <td>
                                                <a href="#"><%= _requests %></a>
                                            </td>
                                            <td>
                                                <a href="#"><%= _orders %></a>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>
<% include ../../../partials/foot/full %>
<script>
    <% items.forEach(item => { %>
        sortTable(0, 'table<%= item.item_id %>')
    <% }) %>  
</script>
<% include ../../../partials/foot/htmlClose %>