<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Reports', href: '/reports'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Stock - By Item'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`,    {id: 'sizes'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <div id="div_sizes"></div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/stores/reports/4/view.js"></script>
<script async>getSizes()</script>
<%- include(`${partials}/foot/components/htmlClose`) %>