<% include ../../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/reports">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/reports/1">Stock - By Location</a>
            </li>
        </ul>
    </nav>
</section>
<section class="mb-2">
    <div class="container">
        <form action="/stores/reports/5" method="POST">
            <div class="row">
                <div class="col-12">
                    <input class="btn btn-success w-100" type="submit" value="Update Stock">
                </div>
                <% locations.forEach(location => { %>
                    <div class="col-12">
                        <a class="my-3" data-toggle="collapse" href="#collapse<%= location.location_id %>" role="button" aria-expanded="false" aria-controls="collapse<%= location.location_id %>">
                            <h5 class="text-left"><%= location._location %></h5>
                        </a>
                        <div class="collapse mb-3" id="collapse<%= location.location_id %>">
                            <a class="float-left" href="/stores/locations/<%= location.location_id %>"><i class="fas fa-search"></i></a>
                            <table class="table table-sm table-hover">
                                <thead class="thead-dark">
                                    <th class="w-40" onclick="sortTable(0, 'table<%= location.location_id %>')">Item</th>
                                    <th class="w-40" onclick="sortTable(1, 'table<%= location.location_id %>')">Size</th>
                                    <th class="w-10" onclick="sortTable(2, 'table<%= location.location_id %>')">Stock</th>
                                    <th class="w-10">Stock if Different</th>
                                </thead>
                                <tbody id="table<%= location.location_id %>"> 
                                    <% if (location.stocks && location.stocks.length > 0) { %>
                                        <% location.stocks.forEach(_stock => { %>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-sm btn-primary float-right" href="/stores/items/<%= _stock.item_size.item.item_id %>">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                    <%= _stock.item_size.item._description %>
                                                </td>
                                                <td>
                                                    <a class="btn btn-sm btn-primary float-right" href="/stores/item_sizes/<%= _stock.item_size_id %>">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                    <%= _stock.item_size._size %>
                                                </td>
                                                <td <% if (_stock._qty < 0) { %> class="cardRed"<% } %>>
                                                    <%= _stock._qty %>
                                                </td>
                                                <td>
                                                    <input class='form-control' type="number" name='corrections[stock_id_<%- _stock.stock_id %>]'>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% }) %>
            </div>
        </form>
    </div>
</section>
<% include ../../../partials/foot/full %>
<script>
    <% locations.forEach(location => { %>
        sortTable(1, 'table<%= location.location_id %>')
    <% }) %>  
</script>
<% include ../../../partials/foot/htmlClose %>