<%- include(`${partials}/head/site`) %>
<div class="container mt-1">
    <h2>
        <div class="d-flex justify-content-between">
            <div></div>
            <span>Galleries</span>
            <div>
                <% if (permissions.gallery_admin) { %>
                    <%- include(`${partials}/button/modal/open`, {type: 'success', icon: 'plus', modal: 'gallery_add'}) %>
                <% } %>
            </div>
        </div>
    </h2>
    <div class="row menu" id='div_galleries'></div>
</div>
<div id="div_models">
    <% if (permissions.gallery_admin) { %>
        <div id='mdl_gallery_add' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_gallery_add'>
                    <div class="modal-header">
                        <h3 class="modal-title">Add Gallery</h3>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/text`, {title: 'Description', name: 'gallery[name]', required: true}) %>
                    </div>
                    <div class="modal-footer">
                        <%- include(`${partials}/button/save`) %>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
</div>
<script src="/js/site/galleries/index/view.js"></script>
<script async>getGalleries()</script>
<% if (permissions.gallery_admin) { %>
    <script src="/js/site/galleries/index/add.js"></script>
<% } %>
<%- include(`${partials}/foot/site`) %>