<button
    class='btn<% if (locals.small) { %> btn-sm<% } %> btn-<%- type %><% if (locals.classes) { %><% classes.forEach(c => { %> <%= c %><% }) %><% } %>'
    <% if (locals.type_att) { %>type='button'<% } %>
    <% if (locals.id)       { %>id='btn_<%= id %>'<% } %>
    <% if (locals.form)     { %>form='form_<%= form %>'<% } %>
    <% if (locals.disabled) { %>disabled<% } %>
    <% if (locals.tip)      { %>
        data-bs-toggle='tooltip'
        title='<%= tip %>'
    <% } %>
>
<% if (locals.text) { %>
    <%= text %>
<% } else if (locals.icon) { %>
    <%- icon %>
<% } %>
</button>