<%- include(`${partials}/head/app`, {text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Holdings'}) %>
<li class="nav-item">
    <a class='nav-link' data-bs-toggle="modal" data-bs-target="#mdl_holding_add"><i class="fas fa-plus"></i></a>
</li>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'holdings'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<table class="table table-sm table-hover mt-1">
        <thead class="thead-dark" id="tbl_holdings_head">
            <th class='w-40' data-column='["description"]' data-dir='ASC'>Description</th>
            <th class='w-60' data-column='["cash"]'                      >Cash</th>
            <th><i class='fas fa-search'></i></th>
        </thead>
        <tbody id="tbl_holdings"></tbody>
    </table>
	<%- include(`${partials}/limit`, {table: 'holdings'}) %>
    <div id="div_modals">
        <div id='mdl_holding_add' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_holding_add'>
                    <div class="modal-header">
                        <h5 class="modal-title">Create Holding</h5>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/text`,   {title: 'Description', name: 'holding[description]', required: true}) %>
                        <%- include(`${partials}/inputs/number`, {title: 'Balance',     name: 'holding[cash]',        value: '0.00', step: '0.01', min: '0'}) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100" value='Save'>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/canteen/holdings/index/view.js'></script>
<script src='/js/canteen/holdings/index/add.js'></script>
<%- include(`${partials}/foot/components/htmlClose`) %>