<%- include(`${partials}/head/app`) %>
<body>
<%- include(`${partials}/head/flash`) %>
<section id='body'>
    <form id='accountForm'>
        <%- include(`${partials}/spinner`, {id: 'accounts'}) %>
        <%- include(`${partials}/inputs/text`,   {id: '_name',   title: 'Name',   name: 'account[_name]',   maxLength: 45,  required: true}) %>
        <%- include(`${partials}/inputs/text`,   {id: '_number', title: 'Number', name: 'account[_number]', maxLength: 255, required: true}) %>
        <%- include(`${partials}/spinner`, {id: 'users'}) %>
        <%- include(`${partials}/inputs/select`, {id: '_users',  title: 'Owner',  name: 'account[user_id]', id: 'usersSelect', required: true}) %>
        <%- include(`${partials}/save_cancel`) %>
    </form>
<%- include(`${partials}/foot/app`) %>
<script src="/js/data/addFormListener.js"></script>
<script src='/js/stores/accounts/edit/account.js'></script>
<script src='/js/stores/accounts/showUsers.js'></script>
<script async>get(showAccount, {table: 'accounts', query:[`account_id=${path[3]}`]})</script>
<script async>get(showUsers,   {table: 'users',    query:['status_id=2']})</script>
<script>
    window.addEventListener( "load", function () {
        addFormListener(
            'accountForm',
            'PUT',
            `/stores/accounts/${path[3]}`,
            {
                onComplete: window.opener.getAccount,
                _close: true
            }
        );
    });
</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>