<% include ../../partials/head/head %>
<body>
<% include ../../partials/head/flash %>
<section id='body'>
    <form id='accountForm'>
        <%- include('../../partials/inputs/text',   {title: 'Name',   name: 'account[_name]',   value: account._name,   maxLength: 45,  required: true}) %>
        <%- include('../../partials/inputs/text',   {title: 'Number', name: 'account[_number]', value: account._number, maxLength: 255, required: true}) %>
        <%- include('../../partials/spinner',       {id: 'users'}) %>
        <%- include('../../partials/inputs/select', {title: 'Owner',  name: 'account[user_id]', id: 'usersSelect', required: true}) %>
        <% include ../../partials/save_cancel %>
    </form>
<% include ../../partials/foot/noNav %>
<script src="/js/get/users.js"></script>
<script async>getUsers(['status_id=2'], <%= account.user_id %>)</script>
<script>
    window.addEventListener( "load", function () {
        addFormListener('accountForm', 'PUT', '/stores/accounts/<%= account.account_id %>');
    });
</script>
<% include ../../partials/foot/htmlClose %>