<%- include(`${process.env.PARTIALS}/head/head`) %>
<body>
<%- include(`${process.env.PARTIALS}/head/flash`) %>
<section id='body'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class='dropdown-item' id='edit_link'>
                    Edit
                </a>
                <%- include(`${process.env.PARTIALS}/notes/menu_add`) %>
            </div>
        </li>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'details', title: 'Details'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'notes',   title: 'Notes', count_id: 'note_count', permission: 'access_notes'}) %>
        <%- include(`${process.env.PARTIALS}/reload`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${process.env.PARTIALS}/spinner`, {id: 'accounts'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id:'_name',   title: 'Name'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id:'_number', title: 'Number'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id:'_user',   title: 'Owner'}) %>
        </div>
        <%- include(`${process.env.PARTIALS}/notes/tab_body`) %>
    </div>
<%- include(`${process.env.PARTIALS}/foot/noNav`) %>
<!-- Get/spinner/XHRsend from notes include -->
<script src='/js/edit.js'></script>
<script src='/js/add.js'></script>
<script src='/js/tabs.js'></script>
<script src='/js/accounts/show/showAccount.js'></script>
<script>
    getAccount = () => get(showAccount, {table: 'accounts', query:[`account_id=${path[3]}`]});
    document.querySelector('#reload').addEventListener('click', () => getAccount());
</script>
<script async>getAccount()</script>
<script>showTab('<%= tab %>');</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>