<%- include(`${process.env.PARTIALS}/head/full`) %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/canteen', text: 'Canteen'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/canteen', text: 'Sales'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`) %>
			<%- include(`${process.env.PARTIALS}/reload`) %>
			<%- include(`${process.env.PARTIALS}/spinner`, {id: 'sales'}) %>
        </ul>
    </nav>
</section>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'details', title: 'Details'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'lines',   title: 'Lines', count_id: 'line_count', permission: 'access_sale_lines'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'createdAt', title: 'Date'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'user',      title: 'User'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_status',   title: 'Status'}) %>
        </div>
        <% if (permissions.access_sale_lines) { %>
            <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-35" onclick="sortTable(0, 'tbl_lines')">
                            <%- include(`${process.env.PARTIALS}/spinner`, {id: 'sale_lines', small: true, float_left: true}) %>
                            Date/Time
                        </th>
                        <th class="w-25" onclick="sortTable(1, 'tbl_lines')">Item</th>
                        <th class="w-10" onclick="sortTable(2, 'tbl_lines')">Qty</th>
                        <th class="w-15" onclick="sortTable(3, 'tbl_lines')">Price</th>
                        <th class="w-15" onclick="sortTable(4, 'tbl_lines')">Total</th>
                    </thead>
                    <tbody id="tbl_lines"></tbody>
                </table>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<script src='/js/tabs.js'></script>
<script>showTab('<%= tab %>');</script>
<script src='/js/canteen/sales/show/sale.js'></script>
<script>
    function getSale() {
        get(
            showSale,
            {
                db: 'canteen',
                table: 'sales',
                query: [`sale_id=${path[3]}`]
            }
        )
    };
    document.querySelector('#reload').addEventListener('click', getSale);
</script>
<script async>getSale()</script>
<% if (permissions.access_sale_lines) { %>
    <script src='/js/canteen/sales/show/lines.js'></script>
    <script>
        function getLines() {
            get(
                showLines,
                {
                    db: 'canteen',
                    table: 'sale_lines',
                    query: [`sale_id=${path[3]}`]
                }
            )
        };
        document.querySelector('#reload').addEventListener('click', getLines);
    </script>
    <script async>getLines()</script>
<% } %>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>