<%- include(`${partials}/head/app`,   {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/scraps', text: 'Scraps'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <%- include(`${partials}/sidebar/button`, {id: 'actions', text: 'Actions', float: true}) %>
	<%- include(`${partials}/sidebar/open`, {id: 'actions', text: 'Actions'}) %>
		<%- include(`${partials}/button/form`, 	 {id: 'scrap_complete', 	 text: 'Complete', 		colour: 'success'}) %>
		<%- include(`${partials}/button/form`, 	 {id: 'scrap_file_download', text: 'Download File', colour: 'success'}) %>
		<%- include(`${partials}/button/form`, 	 {id: 'scrap_file_print', 	 text: 'Print File', 	colour: 'primary'}) %>
		<%- include(`${partials}/button/form`, 	 {id: 'scrap_file_delete', 	 text: 'Delete File', 	colour: 'danger'}) %>
		<%- include(`${partials}/button/button`, {id: 'lines_action', 		 text: 'Action Lines', 	colour: 'success'}) %>
		<%- include(`${partials}/button/form`, 	 {id: 'delete', 			 text: 'Cancel', 		colour: 'danger', align_botton: true}) %>
    <%- include(`${partials}/sidebar/close`) %>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'scrap'}) %>
        <%- include(`${partials}/tab_head`, {id: 'lines',   title: 'Lines',	  spinner: 'scrap_lines', count_id: 'line'}) %>
        <%- include(`${partials}/common/actions/tab_head`) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/inputs/display`, {id: 'scrap_supplier',  title: 'Supplier', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'scrap_createdAt', title: 'Date'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'scrap_updatedAt', title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'scrap_status', 	  title: 'Status'}) %>
			<div class="input-group mb-1">
				<span class="input-group-text w-30">Filename</span>
				<p class="form-control mb-0" id='scrap_filename'></p>
			</div>
		</div>
		<div class="tab-pane fade" id="lines" 	role="tabpanel" aria-labelledby="lines-tab">
			<div class="row justify-content-between">
				<%- include(`${partials}/sort`, {table: 'scrap_lines'}) %>
				<div class="col-12 col-md-4 mb-1">
					<%- include(`${partials}/sidebar/button`, {id: 'lines_filter', text: 'Filter'}) %>
				</div>
			</div>
			<%- include(`${partials}/sidebar/open`, {id: 'lines_filter', text: 'Filter Lines'}) %>
				<div class="input-group mb-1">
					<span class="input-group-text w-30">Status</span>
					<select id="filter_scrap_line_statuses" class="form-select" multiple size="3">
						<option value="0"		  >Cancelled</option>
						<option value="1" selected>Pending	</option>
						<option value="2" selected>Closed	</option>
					</select>
				</div>
				<%- include(`${partials}/filter/size`, {table: 'scrap_line'}) %>
			<%- include(`${partials}/sidebar/close`) %>
			<form id='form_actions'>
				<table class='table table-sm table-hover'>
					<thead class='thead-dark'>
						<th class='w-20'>Item</th>
						<th class='w-20'>Size</th>
						<th class='w-25'>Serial/NSN</th>
						<th class='w-10'>Qty</th>
						<th class='w-15'>Status</th>
						<th class='w-10'>Actions</th>
						<th><i class='fas fa-search'></i></th>
					</thead>
					<tbody id='tbl_lines'></tbody>
				</table>
				<%- include(`${partials}/limit`, {table: 'scrap_lines'}) %>
			</form>
		</div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
	</div>
	<div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
		<%- include(`${partials}/modals/stores/mdl_line_view`, {table: 'Scrap'}) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/common/radios/nil_cancel.js"></script>
<script>show_tab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>

<script src="/js/stores/scraps/show/view.js"></script>
<script async>getScrap()</script>

<script src="/js/stores/scraps/show/lines/view.js"></script>
<script src="/js/utils/list/stocks.js"></script>
<script src="/js/utils/list/serials.js"></script>
<%- include(`${partials}/foot/components/htmlClose`) %>