<% if (permissions.user_add) { %>
    <div id='mdl_user_add' class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form class="modal-content" id='form_user_add'>
                <div class="modal-header">
                    <h5 class="modal-title">Add User</h5>
                </div>
                <div class="modal-body">
                    <%- include(`${partials}/inputs/text`,   {title: 'Bader #',  name: 'user[_bader]', 	  required: true, id: 'inp_bader',     placeholder: 'Required', maxLength: 20}) %>
                    <%- include(`${partials}/inputs/select`, {title: 'Rank',     name: 'user[rank_id]',   required: true, id: 'inp_rank_id',   spinner: true, spinner_id: 'ranks', classes: ['ranks']}) %>
                    <%- include(`${partials}/inputs/text`,   {title: 'Surname',  name: 'user[_name]', 	  required: true, id: 'inp_name',      placeholder: 'Required', maxLength: 50}) %>
                    <%- include(`${partials}/inputs/text`,   {title: 'Initials', name: 'user[_ini]',  	  required: true, id: 'inp_ini',       placeholder: 'Required', maxLength: 5}) %>
                    <%- include(`${partials}/inputs/select`, {title: 'Status',   name: 'user[status_id]', required: true, id: 'inp_status_id', spinner: true, spinner_id: 'statuses', classes: ['statuses']}) %>
                    <%- include(`${partials}/inputs/text`,   {title: 'Login ID', name: 'user[_login_id]', required: true, id: 'inp_login_id',  placeholder: 'Required', maxLength: 30}) %>
                </div>
                <div class="modal-footer">
                    <input type="submit" id='save_user' class="btn btn-success w-100 confirm" value='Save User' disabled>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/users/loginBaderMirror.js"></script>
    <script src="/js/users/userFieldCheck.js"></script>
    <script src="/js/data/addFormListener.js"></script>
    <script src="/js/data/XHRsend.js"></script>
    <script src="/js/data/send.js"></script>
    <script>
        window.addEventListener( "load", function () {
            $('#mdl_user_add').on('show.bs.modal', function () {
                ['_bader', 'rank_id', '_name', '_ini', 'status_id', '_login_id'].forEach(e => {
                    let ele = document.querySelector(`#${e}_inp`)
                    if (ele) ele.value = '';
                })
            });
            addFormListener(
                'form_user_add',
                'POST',
                '/users/users',
                {
                    onComplete: [
                        getUsers,
                        function () {$('#mdl_user_add').modal('hide')}
                    ]
                }
            );
        });
    </script>
<% } %>