<%- include(`${partials}/head/site`) %>
<h2>Login</h2>
<div class="container row mx-auto">
	<div class="col-12 col-md-6 bordered mx-auto">
		<form action="/login" method="POST">
			<input type="hidden" name='redirect' value='<%- redirect %>'>
            <%- include(`${partials}/inputs/text`, 	   {name: 'login_id', title: 'Username', required: true, autocomplete: 'username'}) %>
			<%- include(`${partials}/inputs/password`, {name: 'password', title: 'Password'}) %>
			<%- include(`${partials}/button/button`, {text: 'Log In', type: 'success', classes: ['w-100']}) %>
		</form>
	</div>
</div>
<%- include(`${partials}/foot/site`) %>