<%- include(`${partials}/head/site`) %>
<h2>Resources</h2>
<%- include(`${partials}/spinner`) %>
<div id="link_headings">
    <section class="container bordered mb-2">
        <a class="my-3" data-bs-toggle="collapse" href="#collapseLinks" role="button" aria-expanded="false" aria-controls="collapseLinks">
            <h3>Links</h3>
        </a>
        <div class="collapse show mb-3" id="collapseLinks">
            <div class="menu row" id="rowLinks">
                <%- include(`${partials}/card`, {href: '/canteen',                     title: 'Canteen',      text: 'Canteen management', body_100: true}) %>
                <%- include(`${partials}/card`, {href: '/stores',                      title: 'Stores',       text: 'Stores management',  body_100: true}) %>
                <%- include(`${partials}/card`, {href: '/users',                       title: 'Users',        text: 'User management',    body_100: true}) %>
                <%- include(`${partials}/card`, {href: '/settings',                    title: 'Settings',     text: 'Settings',           body_100: true}) %>
                <%- include(`${partials}/card`, {href: 'https://bader.mod.uk',         title: 'Bader',        text: 'Bader landing page', body_100: true}) %>
                <%- include(`${partials}/card`, {href: 'https://cadets.bader.mod.uk/', title: 'Cadet Portal', text: 'Cadet Portal',       body_100: true}) %>
                <%- include(`${partials}/card`, {href: 'https://learn.bader.mod.uk/',  title: 'Bader Learn',  text: 'Bader Learn',        body_100: true}) %>
            </div>
        </div>
    </section>
    <section class="container bordered mb-2">
        <a class="my-3" data-bs-toggle="collapse" href="#collapseVideos" role="button" aria-expanded="false" aria-controls="collapseVideos">
            <h3>Videos</h3>
        </a>
        <div class="collapse mb-3" id="collapseVideos">
            <div class="menu row" id="rowVideos">
                <%- include(`${partials}/card`, {href: 'https://vimeo.com/338293093', title: 'Beret moulding'}) %>
                <%- include(`${partials}/card`, {href: 'https://vimeo.com/442125686', title: 'How to iron a shirt'}) %>
                <%- include(`${partials}/card`, {href: 'https://vimeo.com/439754523', title: 'How to iron a brassard'}) %>
                <%- include(`${partials}/card`, {href: 'https://vimeo.com/437804342', title: 'How to wear a lanyard'}) %>
                <%- include(`${partials}/card`, {href: 'https://vimeo.com/431470998', title: 'How to polish boots'}) %>
                <%- include(`${partials}/card`, {href: 'https://vimeo.com/419407079', title: 'How to iron trousers or slacks'}) %>
                <%- include(`${partials}/card`, {href: 'https://vimeo.com/442435046', title: 'How to iron a skirt'}) %>
            </div>
        </div>
    </section>
    <section class="container bordered mb-2">
        <a class="my-3" data-bs-toggle="collapse" href="#collapsePublications" role="button" aria-expanded="false" aria-controls="collapsePublications">
            <h3>Publications</h3>
        </a>
        <div class="collapse mb-3" id="collapsePublications">
            <div class="menu row" id="rowPublications">
                <%- include(`${partials}/card`, {title: 'PI 5-01',  text: 'ATC Cadet Code of Conduct',                       href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/Eex9QL5dFdpFgeS8CaEcCdQBcfqkKVmQQFGM8_LNTDE0rw?e=TUtYTi&web=1', }) %>
                <%- include(`${partials}/card`, {title: 'ACP1',     text: 'Ethos, Core Values and Standards',                href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/EfTIkp4w2QtLjBxb6Y-_v9sBfYkI0wFlXZSx1CEeQGUzNw?e=e3Rded&web=1', }) %>
                <%- include(`${partials}/card`, {title: 'ACP2',     text: 'A Guide to Cultural and Religious Diversity',     href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/EfxLZizAK2JNi3v6oNUENmABhoPI19AQTS7ad1JrE6Zq0g?e=ZM26sO&web=1', }) %>
                <%- include(`${partials}/card`, {title: 'ACP5',     text: 'Health, Safety and Environmental Protection',     href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/EaNwtBklRrhImQgqrmOrejYB40AJoQIQmHkEkVPla3Gqgg?e=0nekDy&web=1', }) %>
                <%- include(`${partials}/card`, {title: 'AP818',    text: 'RAF Drill and Ceremonial',                        href: 'https://rafac.sharepoint.com/:b:/s/interim/QM/ETFDSrxuCflNrXGwTBki6skBOJR2bGJveZDLQcX-1gZJOg?e=K8MiGP&web=1', }) %>
                <%- include(`${partials}/card`, {title: 'AP1358C',  text: 'Uniform Dress and Appearance Regulations',        href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/Eex9QL5dFdpFgeS8CaEcCdQBcfqkKVmQQFGM8_LNTDE0rw?e=TUtYTi&web=1', }) %>
                <%- include(`${partials}/card`, {title: 'ACTO 001', text: 'RAF Air Cadets Progressive Syllabus of Training', href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/ESYwgPP9tyhJr7BWq0enJI8Bsuy5J_szoV1Kwx3o2cz2HA?e=yjTH9z&web=1', }) %>
            </div>
        </div>
    </section>
    <section class="container bordered">
        <a class="my-3" data-bs-toggle="collapse" href="#collapseForms" role="button" aria-expanded="false" aria-controls="collapseForms">
            <h3>Forms</h3>
        </a>
        <div class="collapse mb-3" id="collapseForms">
            <div class="menu row" id="rowForms">
                <%- include(`${partials}/card`, {title: 'TG 21',   text: 'Cadet Activity Consent Form',     href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/EfhrSpaRhRNOrLMjvFDKJp8Bgkl25I-FjQAR69Y6lyhyAw?web=1', }) %>
                <%- include(`${partials}/card`, {title: 'TG 22',   text: 'Staff Activity Consent Form',     href: 'https://rafac.sharepoint.com/:w:/r/sites/interim/QM/_layouts/15/Doc.aspx?sourcedoc=%7B517AFCD8-140E-47BC-904B-AA780CA58045%7D&file=TG%20Form%20022.docx&action=default&mobileredirect=true', }) %>
                <%- include(`${partials}/card`, {title: 'TG 23',   text: 'Health Declaration Form',         href: 'https://rafac.sharepoint.com/:w:/s/interim/QM/EVXEjgPn9rtCiLUW9b_dVHoBUkaEOvYgRbkLKswmQ-ksWQ?web=1', }) %>
                <%- include(`${partials}/card`, {title: 'AVMed 1', text: 'Flying Medical Declaration Form', href: 'https://rafac.sharepoint.com/:x:/s/interim/QM/EcT2Dx52vUJBnTG8QNrANPAB_-zkIXdFnjJ42RYqB4S0-Q?e=Wg0bGe&web=1', }) %>
            </div>
        </div>
    </section>
</div>
<%- include(`${partials}/foot/components/navbar`) %>
<%- include(`${partials}/foot/components/js`) %>
<script src="/js/constructors/card.js"></script>
<script src="/js/site/links/view.js"></script>
<%- include(`${partials}/foot/components/htmlClose`) %>