<!-- ITEMS EDIT PAGE -->
<% include ../../partials/header %>
<% include ../../partials/nav %>
<% include ../../partials/bodyTop %>
<section class="container page_title">
    <a href="/stores"><h2>Stores Management</h2></a>
    <h3>Edit Item Details</h3>
</section>
<section class="container-fluid p-5">
   <div class="details container bordered p-3">
        <form action="/stores/items_sizes/<%= details.stock_id %>?_method=PUT" method="POST">
            <input type="hidden" name="failRedirect", value="/stores/items_sizes/<%= details.stock_id %>" readonly>
            <div class="form-group row">
                <div class="col-5" >
                    <label class="col-form-label">Demand Page:</label>
                </div> 
                <div class="col-7">
                    <input class="form-control" type="text" name="details[_demand_page]" maxlength="20" value="<%= details._demand_page %>">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5" >
                    <label class="col-form-label">Cell:</label>
                </div> 
                <div class="col-7">
                    <input class="form-control" type="text" name="details[_demand_cell]" value="<%= details._demand_cell %>" maxlength="3">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5" >
                    <label class="col-form-label">Orderable:</label>
                </div> 
                <div class="col-7">
                    <input class="form-control" id="_orderable" type="checkbox" name="details[_orderable]" value="1">
                </div>
            </div>
            <div class="form-group row p-3">
                <button class="btn btn-primary btn-lg col-12" type="submit" id="_submit">Save</button>
                <a href="/stores/items_sizes/<%= details.stock_id %>">Cancel</a>
            </div>
        </form>
    </div>
</section>
<% include ../../partials/bodyBottom %>
<% include ../../partials/footer %>
<% include ../../partials/footjs %>
<script>
    document.querySelector('#_orderable').checked = (Boolean(<%= details._orderable %>));
</script>
<% include ../../partials/htmlBottom %>
