<input
    class="btn-check"
    type="checkbox"
    <% if (locals.value) { %>value='<%= value %>'<% } %>
    <% if (locals.id)    { %>id='<%= id %>'<% } %>
    <% if (locals.checked) { %>checked<% } %>
>
<label class="btn btn-outline-<%= locals.colour || 'success' %> w-100 mb-1" <% if (locals.id) { %>for='<%= id %>'<% } %>>
    <%= title %>
</label>