<input
    class="btn-check<% if (locals.classes) { classes.forEach(c => { %> <%= c %><% })} %>"
    type="checkbox"
<% if (locals.name) { %>
    name='<%= name %>'
<% } %>
<% if (locals.value) { %>
    value='<%= value %>'
<% } %>
<% if (locals.id) { %>
    id='<%= id %>'
<% } %>
<% if (locals.checked) { %>
    checked
<% } %>
>
<label
    class="btn btn-outline-success w-100 mb-1"
    <% if (locals.id) { %>for='<%= id %>'<% } %>
>
    <%= title %>
</label>