<input
    class="btn-check"
    type="checkbox"
    <% if (locals.name)  { %>name='<%= name %>'<% } %>
    <% if (locals.value) { %>value='<%= value %>'<% } %>
    <% if (locals.id)    { %>id='<%= id %>'<% } %>
>
<label
    class="btn btn-outline-success w-100 mb-1"
    <% if (locals.id) { %>for='<%= id %>'<% } %>
>
    <%= title %>
</label>