<% if (!locals.permission || permissions[permission]) { %>
    <div
        <% if (locals.inp_id) { %>id='<%= inp_id %>' <% } %>
        class="input-group mb-1<% if (locals.inp_classes) inp_classes.forEach(e => { %> <%= e %><% }) %>"
    >
        <span class="input-group-text w-30"><%= title %></span>
        <% if (locals.html) { %>
            <%- html %>
        <% } else { %>
            <p
                class="form-control mb-0<% if (locals.classes) { locals.classes.forEach(e => {%> <%= e %><% })%><% } %>"
                <% if (locals.id)   { %>id='<%= id %>'<% } %>
            >
                <% if (locals.text) { %><%= text %><% } %>
            </p>
        <% } %>
        <% if (locals.download) { %>
            <button
                type='button'
                class='btn btn-success'
                id='<%= id %>_download'
                form='form_download'
            >
                <i class="fas fa-file-download"></i>
            </button>
        <% } %>
        <% if (locals.print) { %>
            <button
                type='button'
                class='btn btn-warning'
                id='<%= id %>_print'
                form='form_print'
            >
                <i class="fas fa-print"></i>
            </button>
        <% } %>
        <% if (locals.edit) { %>
            <button
                type='button'
                class='btn btn-warning'
                id='<%= id %>_edit'
                <% if (locals.modal) { %>
                    data-bs-toggle="modal"
                    data-bs-target="#mdl_<%= modal %>"
                <% } %>
            >
                <i class="fas fa-pencil-alt"></i>
            </button>
        <% } else if (locals.link) { %>
            <a
                class='btn btn-primary'
                id='<%= id %>_link'
                <% if (locals.modal) { %>
                    data-bs-toggle="modal"
                    data-bs-target="#mdl_<%= modal %>"
                <% } %>
            >
                <i class="fas fa-search"></i>
            </a>
        <% } else if (locals.reload_id) { %>
            <a class='btn btn-primary' id='<%= reload_id %>'>
                <i class="fas fa-redo"></i>
            </a>
        <% } %>
    </div>
<% } %>