<div class="input-group mb-1">
    <span class="input-group-text w-30"><%= title %></span>
    <input
        class="form-control<% if (locals.classes) { %><% classes.forEach(e => { %> <%= e %><% }) %><% } %>"
        type="number"
        inputMode='numeric'
        autocomplete='<%= locals.autocomplete || 'off' %>'
        <% if (locals.data)  { %> data-<%= data.field %>='<%= data.value %>'<% } %>
        <% if (locals.id)    { %> id="<%= id %>"<% } %>
        <% if (locals.name)  { %> name='<%= name %>'<% } %>
        <% if (locals.step)  { %> step='<%= step %>'<% } %>
        <% if (locals.min)   { %> min='<%= min %>'<% } %>
        <% if (locals.value) { %> value="<%= value || null %>"<% } %>
        <% if (locals.required) { %>
            placeholder='Required'
            required
        <% } %>
    >
</div>