<div class="input-group mb-1">
    <div class="input-group-prepend w-<%= locals.size || 30 %>">
        <label
            class="input-group-text w-100"
            <% if (locals.id) { %>for="<%= id %>"<% } %>
        >
            <%= title %>
        </label>
    </div>
    <select
        class="custom-select"
        <% if (locals.id) { %>id='<%= id %>'<% } %>
        <% if (locals.name) { %> name='<%= name %>'<% } %>
        <% if (locals.onChange) { %> onchange=<%= onChange %><% } %>
    >
        <option value='1'<% if (selected === 1) { %> selected<% } %>>Include</option>
        <option value='2'<% if (selected === 2) { %> selected<% } %>>Exclude</option>
        <option value='3'<% if (selected === 3) { %> selected<% } %>>Only</option>
    </select>
</div>