<% if (!locals.permission || permissions[permission]) { %>
    <div class="input-group<% if (locals.small) { %> input-group-sm<% } %> mb-1">
        <span class="input-group-text w-30">
            <%= title %>
            <% if (locals.spinner_id) { %><%- include(`${partials}/spinner`, {id: locals.spinner_id, small: true}) %><% } %>
        </span>
        <select
            class="form-select<% if (locals.classes) { %><% classes.forEach(e => { %> <%= e %><% }) %><% } %>"
            <% if (locals.id) { %>      id='<%= id %>'<% } %>
            <% if (locals.name) { %>    name=<%= name %><% } %>
            <% if (locals.required) { %>required<% } %>
            <% if (locals.size) { %>    size='<%= size %>'<% } %>
        >
        <% if (locals.options) { %>
            <% options.forEach(option => { %>
                <option value="<%= option.value %>"<% if (option.selected === true) { %> selected<% } %>><%= option.text %></option>
            <% }) %>
        <% } %>
        </select>
        <% if (locals.reload_id) { %>
            <a class='btn btn-primary' id='<%= reload_id %>'>
                <i class="fas fa-redo"></i>
            </a>
        <% } %>
    </div>
<% } %>