<div class="input-group mb-1">
    <div class="input-group-prepend w-<%= locals.size || 30 %>">
        <label
            class="input-group-text w-100"
            <% if (locals.id) { %>for="<%= id %>"<% } %>
        >
            <%= title %>
        </label>
    </div>
    <select
        class="custom-select"
        <% if (locals.id) { %>id='<%= id %>'<% } %>
        <% if (locals.name) { %>name=<%= name %><% } %>
        <% if (locals.required) { %>required<% } %>
        <% if (locals.onchange) { %>onchange='<%= onchange %>'<% } %>
    >
    </select>
    <% if (locals.append) { %>
        <%- include('append', {append: locals.append}) %>
    <% } %>
</div>