<div class="input-group mb-1">
    <div class="input-group-prepend w-<%= locals.prepend_size || 30 %>">
        <label
            class="input-group-text w-100"
            <% if (locals.id) { %>for="<%= id %>"<% } %>
        >
            <%= title %>
            <% if (locals.spinner === true) { %><%- include(`${process.env.PARTIALS}/spinner`, {id: locals.id}) %><% } %>
        </label>
    </div>
    <select
        class="custom-select"
        <% if (locals.id) { %>id='<%= id %>'<% } %>
        <% if (locals.name) { %>name=<%= name %><% } %>
        <% if (locals.required) { %>required<% } %>
        <% if (locals.onchange) { %>onchange='<%= onchange %>'<% } %>
        <% if (locals.size) { %>size='<%= size %>'<% } %>
    >
    <% if (locals.options) { %>
        <% options.forEach(option => { %>
            <option value="<%= option.value %>"<% if (option.selected === true) { %> selected<% } %>><%= option.text %></option>
        <% }) %>
    <% } %>
    </select>
    <% if (locals.append) { %>
        <%- include('append', {append: locals.append}) %>
    <% } %>
</div>