<div class="input-group mb-1">
    <span class="input-group-text w-30">
        <%= title %>
    </span>
    <textarea
        class='form-control mb-0'
        <% if (locals.id) { %>      id='<%= id %>'<% } %>
        <% if (locals.name) { %>    name='<%= name %>'<% } %>
        <% if (locals.rows) { %>    rows='<%= rows %>'<% } %>
        <% if (locals.readonly){ %> readonly<% } %>
        <% if (locals.required) { %>required<% } %>
    ><% if (locals.value) { %><%=  value %><% } %></textarea>
</div>