<div class="input-group mb-1">
    <span class="input-group-text w-30">
        <%= title %>
        <% if (locals.spinner_id) { %>
            <%- include(`${partials}/spinner`, {id: locals.spinner_id || locals.id, small: true}) %>
        <% } %>
    </span>
    <input
        class="form-control mb-0<% if (locals.classes) {classes.forEach(c => { %> <%= c %><% })} %>"
        type="text"
        autocomplete='<%= locals.autocomplete || 'off' %>'
        <% if (locals.data) { %>data-<%= data.field %>='<%= data.value %>'<% } %>
        <% if (locals.id)   { %>id='<%= id %>'<% } %>
        <% if (locals.name) { %>name='<%= name %>'<% } %>
        <% if (locals.required) { %>
            placeholder='Required'
            required
        <% } %>
        <% if (locals.list_id) { %>       
            list='<%= list_id %>'
        <% } %>
    >
    <% if (locals.reload_id) { %>
        <a class='btn btn-primary' id='<%= reload_id %>'>
            <i class="fas fa-redo"></i>
        </a>
    <% } %>
</div>