<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/settings">Settings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/settings">Rank: <%= rank._rank %></a>
			</li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/ranks/<%= rank.rank_id %>">Edit</a>
            </li>
        </ul>
    </nav>
</section>
<nav class="navbar navbar-expand navbar-dark bg-dark stores">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Options
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<% if (permissions.notes_add) { %>
					<a class="dropdown-item" href="/stores/notes/new?table=ranks&id=<%= rank.rank_id %>">Add Note</a>
					<div class="dropdown-divider"></div>
				<% } %>
				<a class="dropdown-item" href="/stores/settings">Back to Settings</a>
			</div>
		</li>
	</ul>
</nav>
<section class="container pt-3">
	<div class="row">
		<div class="col-12 col-md-3 mx-auto bordered">
			<h4>Rank</h4>
			<form action="/stores/ranks/<%= rank.rank_id %>?_method=PUT" method="POST" onsubmit="return confirm('Edit rank ?');">
				<input type="hidden" name="rank_id" value="<%= rank.rank_id %>" readonly>
				<p><input class="form-control" type="text" name="rank[_rank]" maxlength="10" value="<%= rank._rank %>" required></p>
				<p><button class="btn btn-success">Save</button></p>
			</form>
		</div>
		<div class="col-12 col-md-9 mx-auto bordered">
			<% include ../../partials/noteTable %>
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/tableSort.js"></script>
<script src="/js/filters.js"></script>
<script>
    function filterSelects() {
        filter(['sn'],"/stores/ranks/<%= rank.rank_id %>/edit");
    };
</script>
<% include ../../partials/foot/htmlClose %>
