<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/canteen'>
                    Canteen
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/canteen/items'>
                    Items
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/canteen/items/<%= item.item_id %>'>
                    <%= item._name %>
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/canteen/items/<%= item.item_id %>/edit'>
                    Edit
                </a>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
    <div class="row">
        <div class="col-12 bordered">
            <form action="/canteen/items/<%= item.item_id %>?_method=PUT" method='POST'>
                <div class="row">
                    <div class="col-6">
                        <label class='col-form-label'>Name</label>
                    </div>
                    <div class="col-6">
                        <input class='form-control' name='item[_name]' type="text" value='<%= item._name %>'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class='col-form-label'>Price</label>
                    </div>
                    <div class="col-6">
                        <input class='form-control' name='item[_price]' type="number" step='0.01' value='<%= item._price %>'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class='col-form-label'>Cost</label>
                    </div>
                    <div class="col-6">
                        <input class='form-control' name='item[_cost]' type="number" step='0.01' value='<%= item._cost %>'>
                    </div>
                </div>
                <button class="btn btn-success w-100 confirm">Save</button>
            </form>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>