<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/canteen',	   text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/canteen/items', text: 'Items'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.item_edit) { %>
                    <%- include(`${partials}/menu/edit`, {href: 'javascript:$("#mdl_edit_item").modal("show")'}) %>
                <% } %>
                <%- include(`${partials}/notes/menu_add`) %>
                <% if (permissions.item_delete) { %>
                    <%- include(`${partials}/menu/delete`) %>
                <% } %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details',   title: 'Details',  spinner: 'item'}) %>
        <%- include(`${partials}/tab_head`, {id: 'receipts',  title: 'Receipts', spinner: 'receipt_lines',  count_id: 'receipt',  permission: 'access_receipts'}) %>
        <%- include(`${partials}/tab_head`, {id: 'writeoffs', title: 'Writeoff', spinner: 'writeoff_lines', count_id: 'writeoff', permission: 'access_writeoffs'}) %>
        <%- include(`${partials}/tab_head`, {id: 'sales',     title: 'Sales',    spinner: 'sale_lines',     count_id: 'sale',     permission: 'access_sales'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',     title: 'Notes',    spinner: 'notes',          count_id: 'note',     permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: '_name',    title: 'Name'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_price',   title: 'Price'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_cost',    title: 'Cost'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_qty',     title: 'Stock'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_current', title: 'Current Item'}) %>
        </div>
        <% if (permissions.access_receipts) { %>
            <div class="tab-pane fade" id="receipts" role="tabpanel" aria-labelledby="receipts-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-80" onclick="sortTable(0, 'tbl_receipts')">Date</th>
                        <th class="w-20" onclick="sortTable(1, 'tbl_receipts')">Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id="tbl_receipts"></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_writeoffs) { %>
            <div class="tab-pane fade" id="writeoffs" role="tabpanel" aria-labelledby="writeoffs-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-80" onclick="sortTable(0, 'tbl_writeoffs')">Date</th>
                        <th class="w-20" onclick="sortTable(1, 'tbl_writeoffs')">Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id="tbl_writeoffs"></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_sales) { %>
            <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-80" onclick="sortTable(0, 'tbl_sales')">Date</th>
                        <th class="w-20" onclick="sortTable(1, 'tbl_sales')">Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id="tbl_sales"></tbody>
                </table>
            </div>
        <% } %>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
    <% if (permissions.item_add) { %>
        <div id='mdl_edit_item' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_edit_item'>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/text`,   {title: 'Name',    name: 'item[_name]',    id: 'edit_name',    required: true, maxLength: '45'}) %>
                        <%- include(`${partials}/inputs/number`, {title: 'Price',   name: 'item[_price]',   id: 'edit_price',   required: true, step: '0.01', min: '0'}) %>
                        <%- include(`${partials}/inputs/number`, {title: 'Cost',    name: 'item[_cost]',    id: 'edit_cost',    required: true, step: '0.01', min: '0'}) %>
                        <%- include(`${partials}/inputs/select`, {title: 'Current', name: 'item[_current]', id: 'edit_current', options: [{value: '1', text: 'Yes', selected: true}, {value: '0', text: 'No'}]}) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100 confirm" value='Save Item'>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/tabs.js'></script>
<script src="/js/data/addFormListener.js"></script>
<script src="/js/data/send.js"></script>
<script>showTab('<%= tab %>');</script>
<script src='/js/canteen/items/show/getItem.js'></script>
<script async>getItem()</script>
<% if (permissions.access_receipts) { %>
    <script src='/js/canteen/items/show/getReceipts.js'></script>
    <script async>getReceipts()</script>
<% } %>
<% if (permissions.access_writeoffs) { %>
    <script src='/js/canteen/items/show/getWriteoffs.js'></script>
    <script async>getWriteoffs()</script>
<% } %>
<% if (permissions.access_sales) { %>
    <script src='/js/canteen/items/show/getSales.js'></script>
    <script async>getSales()</script>
<% } %>
<% if (permissions.item_edit) { %>
<script>
    window.addEventListener('load', function () {
        addFormListener(
            'form_edit_item',
            'PUT',
            '/canteen/items',
            {
                onComplete: [
                    getItem,
                    function () {$('#mdl_edit_item').modal('hide')}
                ]
            }
        )
    })
</script>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>