<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/canteen',	   text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/canteen/items', text: 'Items'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%- include(`${partials}/menu/button`, {id: 'item_edit',    text: 'Edit',           modal: 'item_edit'}) %>
                <%- include(`${partials}/menu/button`, {id: 'writeoff_add', text: 'Writeoff Stock', modal: 'writeoff_add'}) %>
                <%- include(`${partials}/menu/button`, {id: 'receipt_add',  text: 'Receive Stock',  modal: 'receipt_add'}) %>
                <%- include(`${partials}/menu/button`, {id: 'note_add',     text: 'Add Note',       modal: 'note_add'}) %>
				<%- include(`${partials}/menu/button`, {id: 'delete',	    text: 'Delete',         btn_form: {permission: 'item_delete'}}) %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details',   title: 'Details',  spinner: 'item'}) %>
        <%- include(`${partials}/tab_head`, {id: 'receipts',  title: 'Receipts', spinner: 'receipts',   count_id: 'receipt',  permission: 'access_receipts'}) %>
        <%- include(`${partials}/tab_head`, {id: 'writeoffs', title: 'Writeoff', spinner: 'writeoffs',  count_id: 'writeoff', permission: 'access_writeoffs'}) %>
        <%- include(`${partials}/tab_head`, {id: 'sales',     title: 'Sales',    spinner: 'sale_lines', count_id: 'sale',     permission: 'access_sales'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',     title: 'Notes',    spinner: 'notes',      count_id: 'note',     permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: '_name',    title: 'Name'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_price',   title: 'Price'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_cost',    title: 'Cost'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_qty',     title: 'Stock'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_current', title: 'Current Item'}) %>
        </div>
        <% if (permissions.access_receipts) { %>
            <div class="tab-pane fade" id="receipts" role="tabpanel" aria-labelledby="receipts-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-80" onclick="sortTable(0, 'tbl_receipts')">Date</th>
                        <th class="w-20" onclick="sortTable(1, 'tbl_receipts')">Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id="tbl_receipts"></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_writeoffs) { %>
            <div class="tab-pane fade" id="writeoffs" role="tabpanel" aria-labelledby="writeoffs-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-80" onclick="sortTable(0, 'tbl_writeoffs')">Date</th>
                        <th class="w-20" onclick="sortTable(1, 'tbl_writeoffs')">Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id="tbl_writeoffs"></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_sales) { %>
            <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-80" onclick="sortTable(0, 'tbl_sales')">Date</th>
                        <th class="w-20" onclick="sortTable(1, 'tbl_sales')">Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id="tbl_sales"></tbody>
                </table>
            </div>
        <% } %>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
    <% if (permissions.item_add) { %>
        <div id='mdl_item_edit' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_item_edit'>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Item</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/text`,   {title: 'Name',    name: 'item[_name]',    id: '_name_edit',    required: true, maxLength: '45'}) %>
                        <%- include(`${partials}/inputs/number`, {title: 'Price',   name: 'item[_price]',   id: '_price_edit',   required: true, step: '0.01', min: '0'}) %>
                        <%- include(`${partials}/inputs/number`, {title: 'Cost',    name: 'item[_cost]',    id: '_cost_edit',    required: true, step: '0.01', min: '0'}) %>
                        <%- include(`${partials}/inputs/select`, {title: 'Current', name: 'item[_current]', id: '_current_edit', options: [{value: '1', text: 'Yes'}, {value: '0', text: 'No'}]}) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100" value='Save Item'>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
    <% if (permissions.writeoff_add) { %>
        <div id='mdl_writeoff_add' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_writeoff_add'>
                    <div class="modal-header">
                        <h5 class="modal-title">Writeoff Stock</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name='writeoff[item_id]' id='item_id_writeoff'>
                        <%- include(`${partials}/inputs/text`,   {title: 'Reason',   name: 'writeoff[_reason]', required: true, maxLength: '45'}) %>
                        <%- include(`${partials}/inputs/number`, {title: 'Quantity', name: 'writeoff[_qty]',    required: true, min: '1'}) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100" value='Save Item'>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
    <% if (permissions.receipt_add) { %>
        <div id='mdl_receipt_add' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_receipt_add'>
                    <div class="modal-header">
                        <h5 class="modal-title">Receive Stock</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name='receipt[item_id]' id='item_id_receipt'>
                        <%- include(`${partials}/inputs/number`, {title: 'Cost (Total)', id: 'cost_total', placeholder: 'Optional', step: '0.01', min: '0.01'}) %>
                        <%- include(`${partials}/inputs/number`, {title: 'Cost (Each)',  name: 'receipt[_cost]',  id: 'cost_each',  placeholder: 'Required', required: true, step: '0.01', min: '0.01'}) %>
                        <%- include(`${partials}/inputs/number`, {title: 'Quantity',     name: 'receipt[_qty]', id: 'qty_receipt', required: true, min: '1'}) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100" value='Save Item'>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/tabs.js'></script>
<script src="/js/addFormListener.js"></script>
<script>showTab('<%= tab %>');</script>
<script src='/js/canteen/items/show/view.js'></script>
<script async>getItem()</script>
<% if (permissions.access_receipts) { %>
    <script src='/js/canteen/items/show/receipts/view.js'></script>
    <script async>getReceipts()</script>
    <% if (permissions.receipt_add) { %>
        <script src='/js/canteen/items/show/receipts/add.js'></script>
    <% } %>
<% } %>
<% if (permissions.access_writeoffs) { %>
    <script src='/js/canteen/items/show/writeoffs/view.js'></script>
    <script async>getWriteoffs()</script>
    <% if (permissions.writeoff_add) { %>
        <script src='/js/canteen/items/show/writeoffs/add.js'></script>
    <% } %>
<% } %>
<% if (permissions.access_sales) { %>
    <script src='/js/canteen/items/show/sales/view.js'></script>
    <script async>getSales()</script>
<% } %>
<% if (permissions.item_edit) { %>
    <script src='/js/canteen/items/show/edit.js'></script>
<% } %>
<% if (permissions.item_delete) { %>
    <script src='/js/canteen/items/show/delete.js'></script>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>