<div id='mdl_note_view' class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Note</h5>
                <%- include(`${partials}/modals/edit_delete_btns`, {id: 'note'}) %>
            </div>
            <div class="modal-body">
                <%- include(`${partials}/inputs/display`,  {id: 'note_createdAt', title: 'Added'}) %>
                <%- include(`${partials}/inputs/display`,  {id: 'note_user',      title: 'Added By', link: true}) %>
                <%- include(`${partials}/inputs/display`,  {id: 'note_system',    title: 'System'}) %>
                <%- include(`${partials}/inputs/textarea`, {id: 'note_note',      title: 'Note',     rows: 5, readonly: true}) %>
            </div>
            <%- include(`${partials}/modals/footer`, {link_id: 'note_id_view'}) %>
        </div>
    </div>
</div>
<div id='mdl_note_edit' class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form class="modal-content" id='form_note_edit'>
            <%- include(`${partials}/modals/header`, {title: 'Note'}) %>
            <div class="modal-body">
                <input type="hidden" id='note_id_edit' name='note_id'>
                <%- include(`${partials}/inputs/textarea`, {name: 'note[note]', id: 'note_edit', title: 'Note', rows: 5, required: true}) %>
            </div>
            <%- include(`${partials}/modals/footer`, {submit: {text: 'Save Note'}}) %>
        </form>
    </div>
</div>
<div id='mdl_note_add' class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form class="modal-content" id='form_note_add'>
            <%- include(`${partials}/modals/header`, {title: 'Note'}) %>
            <div class="modal-body">
                <input type="hidden" name='note[_table]' id="note_add_table">
                <input type="hidden" name='note[id]'     id="note_add_id">
                <script>
                    document.querySelector('#note_add_table').value = path[1];
                    document.querySelector('#note_add_id')   .value = path[2];
                </script>
                <textarea
                    class='form-control form-control-sm'
                    name="note[note]"
                    id="note_add_note"
                    rows="5"
                    placeholder="Required"
                    required
                ></textarea>
            </div>
            <%- include(`${partials}/modals/footer`, {submit: {text: 'Save Note'}}) %>
        </form>
    </div>
</div>