<div class="tab-pane fade" id="notes" role="tabpanel">
    <div class="row justify-content-between">
        <%- include(`${partials}/sort`, {table: 'notes'}) %>
        <div class="col-12 col-md-4 mb-1">
            <%- include(`${partials}/sidebar/button`, {id: 'notes', text: 'Filter'}) %>
        </div>
    </div>
    <%- include(`${partials}/sidebar/open`, {id: 'notes', text: 'Filter Notes'}) %>
        <div class="input-group mb-1">
            <span class="input-group-text w-30">Include</span>
            <select id="sel_system" class="form-select" multiple size="2">
                <option value="0" selected>Non-System Notes</option>
                <option value="1">System Notes</option>
            </select>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h5 class='text-start'>Date From:</h5>
                <input type="date" class='form-control' id='note_createdAt_from'>
            </div>
            <div class="col-sm-6">
                <h5 class='text-start'>Date To:</h5>
                <input type="date" class='form-control' id='note_createdAt_to'>
            </div>
        </div>
    <%- include(`${partials}/sidebar/close`) %>
	<table class="table table-sm table-hover">
        <thead class="thead-dark">
            <th class='w-30'>Date</th>
            <th class='w-70'>Note</th>
            <th><i class="fas fa-search"></i></th>
        </thead>
        <form id='form_note_add'>
            <input type="hidden" name='note[_table]' id="note_add_table">
            <input type="hidden" name='note[id]'     id="note_add_id">
            <script>
                document.querySelector('#note_add_table').value = path[1];
                document.querySelector('#note_add_id')   .value = path[2];
            </script>
            <tbody>
                <tr>
                    <td></td>
                    <td><textarea class='form-control form-control-sm' name="note[note]" id="note_add_note" rows="1" placeholder="Required" required></textarea></td>
                    <td><button class='btn btn-sm btn-success'><i class="fas fa-plus"></i></button></td>
                </tr>
            </tbody>
        </form>
        <tbody id="tbl_notes"></tbody>
    </table>
    <%- include(`${partials}/limit`, {table: 'notes'}) %>
</div>