<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',		     text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/settings', text: 'Settings'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'settings',   title: 'Settings',   spinner: 'settings'}) %>
        <%- include(`${partials}/tab_head`, {id: 'genders',    title: 'Genders',    spinner: 'genders'}) %>
        <%- include(`${partials}/tab_head`, {id: 'categories', title: 'Categories', spinner: 'categories'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <% if (permissions.setting_add) { %>
                <button class='btn btn-success w-100 mb-1' data-toggle="modal" data-target="#mdl_setting_add">Add Setting</button>
            <% } %>
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-50" onclick="sortTable(0, 'tbl_settings')">Setting</th>
                    <th class="w-50" onclick="sortTable(1, 'tbl_settings')">Value</th>
                    <th><i class='fas fa-pencil-alt'></i></th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id='tbl_settings'></tbody>
            </table>
            <script src="/js/stores/settings/settings/view.js"></script>
            <script async>getSettings()</script>
        </div>
        <% if (permissions.access_genders) { %>
            <div class="tab-pane fade" id="genders" role="tabpanel" aria-labelledby="genders-tab">
                <% if (permissions.gender_add) { %>
                    <button class='btn btn-success w-100 mb-1' data-toggle="modal" data-target="#mdl_gender_add">Add Gender</button>
                <% } %>
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-100" onclick="sortTable(0, 'tbl_statuses')">Gender</th>
                        <th><i class='fas fa-pencil-alt'></i></th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_genders'></tbody>
                </table>
                <script src="/js/stores/settings/genders/view.js"></script>
                <script async>getGenders()</script>
            </div>
        <% } %>
        <% if (permissions.access_categories) { %>
            <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
                <% if (permissions.category_add) { %>
                    <button class='btn btn-success w-100 mb-1' data-toggle="modal" data-target="#mdl_category_add">Add Category</button>
                <% } %>
                <% if (permissions.category_edit) { %>
                    <script>var dragging = false</script>
                    <form id='form_category_move'>
                        <input type="hidden" name='category_id' id='category_id_move'>
                        <input type="hidden" name='category[parent_category_id]' id='parent_category_id_move'>
                <% } %>
                    <ul class="list-group category_ul" id='ul_category_'></ul>
                <% if (permissions.category_edit) { %></form><% } %>
                <script src="/js/stores/settings/categories/view.js"></script>
                <script src="/js/tree.js"></script>
                <script async>getCategories()</script>
            </div>
        <% } %>
    </div>
    <div id="div_modals">
        <div class="modal fade" id="mdl_setting_view" tabindex="-1" aria-labelledby="ttl_mdl_setting_view" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ttl_mdl_setting_view">Setting</h5>
                        <span id="setting_delete" class='float-right'></span>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {title: 'Name',       id: '_name'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Value',      id: '_value'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Created By', id: 'user_setting'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Created',    id: 'createdAt_setting'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Updated',    id: 'updatedAt_setting'}) %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <% if (permissions.setting_edit) { %>
            <div class="modal fade" id="mdl_setting_edit" tabindex="-1" aria-labelledby="ttl_mdl_setting_edit" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="modal-content" id='form_setting_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title" id="ttl_mdl_setting_edit">Setting</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name='setting[setting_id]' id='setting_id_edit'>
                            <%- include(`${partials}/inputs/text`, {title: 'Name',  id: '_name_edit',  name: 'setting[_name]'}) %>
                            <%- include(`${partials}/inputs/text`, {title: 'Value', id: '_value_edit', name: 'setting[_value]'}) %>
                        </div>
                        <div class="modal-footer">
                            <button class='btn btn-success w-100'>Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
            <script src="/js/stores/settings/settings/edit.js"></script>
            <script async>loadSettingsEdit()</script>
        <% } %>
        <% if (permissions.setting_add) { %>
            <div class="modal fade" id="mdl_setting_add" tabindex="-1" aria-labelledby="ttl_mdl_setting_add" aria-hidden="true">
                <div class="modal-dialog">
                    <form class="modal-content" id='form_setting_add'>
                        <div class="modal-header">
                            <h5 class="modal-title" id="ttl_mdl_setting_add">Setting</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`, {title: 'Name',  name: 'setting[_name]'}) %>
                            <%- include(`${partials}/inputs/text`, {title: 'Value', name: 'setting[_value]'}) %>
                        </div>
                        <div class="modal-footer">
                            <button class='btn btn-success w-100'>Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
            <script src="/js/stores/settings/settings/add.js"></script>
        <% } %>
        <% if (permissions.access_genders) { %>
            <div class="modal fade" id="mdl_gender_view" tabindex="-1" aria-labelledby="ttl_mdl_gender_view" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ttl_mdl_gender_view">Gender</h5>
                            <span id="gender_delete" class='float-right'></span>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/display`, {title: 'Gender',     id: '_gender'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Created By', id: 'user_gender'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Created',    id: 'createdAt_gender'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Updated',    id: 'updatedAt_gender'}) %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <% if (permissions.gender_edit) { %>
                <div class="modal fade" id="mdl_gender_edit" tabindex="-1" aria-labelledby="ttl_mdl_gender_edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <form class="modal-content" id='form_gender_edit'>
                            <div class="modal-header">
                                <h5 class="modal-title" id="ttl_mdl_gender_edit">Gender</h5>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name='gender[gender_id]' id='gender_id_edit'>
                                <%- include(`${partials}/inputs/text`, {title: 'Gender', id: '_gender_edit', name: 'gender[_gender]'}) %>
                            </div>
                            <div class="modal-footer">
                                <button class='btn btn-success w-100'>Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
                <script src="/js/stores/settings/genders/edit.js"></script>
                <script async>loadGendersEdit()</script>
            <% } %>
            <% if (permissions.gender_add) { %>
                <div class="modal fade" id="mdl_gender_add" tabindex="-1" aria-labelledby="ttl_mdl_gender_add" aria-hidden="true">
                    <div class="modal-dialog">
                        <form class="modal-content" id='form_gender_add'>
                            <div class="modal-header">
                                <h5 class="modal-title" id="ttl_mdl_gender_add">Gender</h5>
                            </div>
                            <div class="modal-body">
                                <%- include(`${partials}/inputs/text`, {title: 'Name', name: 'gender[_gender]'}) %>
                            </div>
                            <div class="modal-footer">
                                <button class='btn btn-success w-100'>Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
                <script src="/js/stores/settings/genders/add.js"></script>
            <% } %>
        <% } %>
        <% if (permissions.access_categories) { %>
            <div class="modal fade" id="mdl_category_view" tabindex="-1" aria-labelledby="ttl_mdl_category_view" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ttl_mdl_category_view">Category</h5>
                            <span id="category_delete" class='float-right'></span>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/display`, {title: 'Parent',     id: '_parent'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Category',   id: '_category'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Created By', id: 'user_category'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Created',    id: 'createdAt_category'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Updated',    id: 'updatedAt_category'}) %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <% if (permissions.category_edit) { %>
                <div class="modal fade" id="mdl_category_edit" tabindex="-1" aria-labelledby="ttl_mdl_category_edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <form class="modal-content" id='form_category_edit'>
                            <div class="modal-header">
                                <h5 class="modal-title" id="ttl_mdl_category_edit">Category</h5>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name='category_id' id='category_id_edit'>
                                <%- include(`${partials}/inputs/text`, {title: 'Category', id: '_category_edit', name: 'category[_category]'}) %>
                            </div>
                            <div class="modal-footer">
                                <button class='btn btn-success w-100'>Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
                <script src="/js/stores/settings/categories/edit.js"></script>
                <script async>loadCategoriesEdit()</script>
            <% } %>
            <% if (permissions.category_add) { %>
                <div class="modal fade" id="mdl_category_add" tabindex="-1" aria-labelledby="ttl_mdl_category_add" aria-hidden="true">
                    <div class="modal-dialog">
                        <form class="modal-content" id='form_category_add'>
                            <div class="modal-header">
                                <h5 class="modal-title" id="ttl_mdl_category_add">Category</h5>
                            </div>
                            <div class="modal-body">
                                <%- include(`${partials}/inputs/select`, {title: 'Parent',   name: 'category[parent_category_id]', id: 'sel_category_add'}) %>
                                <%- include(`${partials}/inputs/text`,   {title: 'Category', name: 'category[_category]'}) %>
                            </div>
                            <div class="modal-footer">
                                <button class='btn btn-success w-100'>Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
                <script src="/js/stores/settings/categories/add.js"></script>
            <% } %>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/tabs.js"></script>
<script src="/js/addFormListener.js"></script>
<script>showTab('settings')</script>
<% if (permissions.category_delete) { %>
    <script src="/js/stores/settings/categories/delete.js"></script>
<% } %>
<% if (permissions.gender_delete) { %>
    <script src="/js/stores/settings/genders/delete.js"></script>
<% } %>
<% if (permissions.setting_delete) { %>
    <script src="/js/stores/settings/settings/delete.js"></script>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>