<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/settings">Settings</a>
            </li>
        </ul>
    </nav>
</section>
<section>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="true">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="options-tab" data-toggle="tab" href="#options" role="tab" aria-controls="options" aria-selected="true">Options</a>
        </li>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="container">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-50">Setting</th>
                        <th class="w-50">Value</th>
                    </thead>
                    <tbody>
                        <% settings.forEach(setting => { %>
                            <tr>
                                <td><%= setting._name %></td>
                                <td><%= setting._value %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="options-tab">
            <ul class="nav nav-tabs" id="optionsTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="ranks-tab" data-toggle="tab" href="#ranks" role="tab" aria-controls="ranks" aria-selected="true">Ranks<% if (permissions.ranks_add) { %><a href="/stores/ranks/new"><i class="fas fa-plus-circle"></i></a> <% } %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="statuses-tab" data-toggle="tab" href="#statuses" role="tab" aria-controls="statuses" aria-selected="true">Statuses<% if (permissions.statuses_add) { %><a href="/stores/statuses/new"><i class="fas fa-plus-circle"></i></a> <% } %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="genders-tab" data-toggle="tab" href="#genders" role="tab" aria-controls="genders" aria-selected="true">Genders<% if (permissions.genders_add) { %><a href="/stores/genders/new"><i class="fas fa-plus-circle"></i></a> <% } %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="item-classes-tab" data-toggle="tab" href="#item-classes" role="tab" aria-controls="item-classes" aria-selected="true">Item Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sizes-tab" data-toggle="tab" href="#sizes" role="tab" aria-controls="sizes" aria-selected="true">Sizes<% if (permissions.sizes_add) { %><a href="/stores/sizes/new"><i class="fas fa-plus-circle"></i></a> <% } %></a>
                </li>
            </ul>
            <div class="tab-content pt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="ranks" role="tabpanel" aria-labelledby="rank-tab">
                    <div class="container">
                        <table class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <th class="w-100">Rank</th>
                                <% if (permissions.ranks_delete) { %><th></th><% } %>
                            </thead>
                            <tbody>
                                <% classes.ranks.forEach((rank) => { %>
                                    <tr>
                                        <td><a href="/stores/ranks/<%= rank.rank_id %>/edit"><%= rank._rank %></a></td>
                                        <% if (permissions.ranks_delete) { %>
                                            <td>
                                                <form action="/stores/ranks/<%= rank.rank_id %>?_method=DELETE" method="POST" onsubmit="return confirm('Confirm delete rank?');">
                                                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                                                </form>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="statuses" role="tabpanel" aria-labelledby="statuses-tab">
                    <div class="container">
                        <table class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <th class="w-100">Status</th>
                                <% if (permissions.statuses_delete) { %><th></th><% } %>
                            </thead>
                            <tbody>
                                <% classes.statuses.forEach(status => { %>
                                    <tr>
                                        <td><a href="/stores/statuses/<%= status.status_id %>/edit?t=statuses"><%= status._status %></a></td>
                                        <% if (permissions.statuses_delete) { %>
                                            <td>
                                                <form action="/stores/statuses/<%= status.status_id %>?_method=DELETE&table=statuses" method="POST" onsubmit="return confirm('Confirm delete status?');">
                                                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                                                </form>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="genders" role="tabpanel" aria-labelledby="genders-tab">
                    <div class="container">
                        <table class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <th class="w-100">Gender</th>
                                <% if (permissions.genders_delete) { %><th></th><% } %>
                            </thead>
                            <tbody>
                                <% classes.genders.forEach(gender => { %>
                                    <tr>
                                        <td><a href="/stores/genders/<%= gender.gender_id %>/edit?t=genders"><%= gender._gender %></a></td>
                                        <% if (permissions.genders_delete) { %>
                                            <td>
                                                <form action="/stores/genders/<%= gender.gender_id %>?_method=DELETE&table=genders" method="POST" onsubmit="return confirm('Confirm delete gender?');">
                                                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                                                </form>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="item-classes" role="tabpanel" aria-labelledby="item-classes-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <% if (permissions.categories_add) { %>
                                    <form class="row" action="/stores/options/categories" method="POST" onsubmit="return confirm('Add category ?');">
                                        <div class="col-9">
                                            <input class="form-control form-control-sm" type="text" name="record[_category]" maxlength="20">
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-sm btn-success">Add</button>
                                        </div>
                                    </form>
                                <% } %>
                                <% if (permissions.categories_delete) { %>
                                    <form action="/stores/options/categories?_method=DELETE" method="POST" onsubmit="return confirm('Confirm delete category?');">
                                        <input id="delete_category_id" type="hidden" name="where" value="{category_id: -1}">
                                        <button class="w-100 mb-1 btn btn-sm btn-danger">Delete Selected</button>
                                    </form>
                                <% } %>
                                <select class='form-control w-100' id="category_id" name="record[category_id]" type="text" size="10" onchange="setGroups()">
                                    <option value=""></option>
                                    <% classes.categories.forEach(category => { %>
                                        <option value="<%= category.category_id %>"><%= category._category %></option>
                                    <% }); %>
                                </select>
                                <% if (permissions.categories_edit) { %>
                                    <form class="row" action="/stores/options/categories?_method=PUT" method="POST" onsubmit="return confirm('Edit category?');">
                                        <input id="edit_category_id" type="hidden" name="where" value="{category_id: -1}">
                                        <div class="col-9">
                                            <input id="category_id_edit" class="form-control form-control-sm" type="text" name="record[_category]" maxlength="20">
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-sm btn-primary">Edit</button>
                                        </div>
                                    </form>
                                <% } %>
                            </div>
                            <div class="col-12 col-md-3">
                                <% if (permissions.groups_add) { %>
                                    <form class="row" action="/stores/options/groups" method="POST" onsubmit="return confirm('Add group?');">
                                        <input id="group_category_id" type="hidden" name="record[category_id]" value="">
                                        <div class="col-9">
                                            <input class="form-control form-control-sm" type="text" name="record[_group]" maxlength="20">
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-sm btn-success">Add</button>
                                        </div>
                                    </form>
                                <% } %>
                                <% if (permissions.groups_delete) { %>
                                    <form action="/stores/options/groups?_method=DELETE" method="POST" onsubmit="return confirm('Confirm delete group?');">
                                        <input id="delete_group_id" type="hidden" name="where" value="{group_id: -1}">
                                        <button class="w-100 mb-1 btn btn-sm btn-danger">Delete Selected</button>
                                    </form>
                                <% } %>
                                <select class='form-control w-100' id="group_id" name="record[group_id]" type="text" size="10" onchange="setTypes()">
                                    <% classes.groups.forEach(group => { %>
                                        <option style="display: none;" data-tag="<%= group.category_id %>" value="<%= group.group_id %>"><%= group._group %></option>
                                    <% }); %>
                                </select>
                                <% if (permissions.groups_edit) { %>
                                    <form class="row" action="/stores/options/groups?_method=PUT" method="POST" onsubmit="return confirm('Edit group?');">
                                        <input id="edit_group_id" type="hidden" name="where" value="{category_id: -1}">
                                        <div class="col-9">
                                            <input id="group_id_edit" class="form-control form-control-sm" type="text" name="record[_group]" maxlength="20">
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-sm btn-primary">Edit</button>
                                        </div>
                                    </form>
                                <% } %>
                            </div>
                            <div class="col-12 col-md-3">
                                <% if (permissions.types_add) { %>
                                    <form class="row" action="/stores/options/types" method="POST" onsubmit="return confirm('Add type ?');">
                                        <input id="type_group_id" type="hidden" name="record[group_id]" value="">
                                        <div class="col-9">
                                            <input class="form-control form-control-sm" type="text" name="record[_type]" maxlength="20">
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-sm btn-success">Add</button>
                                        </div>
                                    </form>
                                <% } %>
                                <% if (permissions.types_delete) { %>
                                    <form action="/stores/options/types?_method=DELETE" method="POST" onsubmit="return confirm('Confirm delete type?');">
                                        <input id="delete_type_id" type="hidden" name="where" value="{type_id: -1}">
                                        <button class="w-100 mb-1 btn btn-sm btn-danger">Delete Selected</button>
                                    </form>
                                <% } %>
                                <select class='form-control w-100' id="type_id" name="record[type_id]" type="text" size="10" onchange="setSubtypes()">
                                    <% classes.types.forEach(type => { %>
                                        <option style="display: none;" data-tag="<%= type.group_id %>" value="<%= type.type_id %>"><%= type._type %></option>
                                    <% }); %>
                                </select>
                                <% if (permissions.types_edit) { %>
                                    <form class="row" action="/stores/options/types?_method=PUT" method="POST" onsubmit="return confirm('Edit type?');">
                                        <input id="edit_type_id" type="hidden" name="where" value="{type_id: -1}">
                                        <div class="col-9">
                                            <input id="type_id_edit" class="form-control form-control-sm" type="text" name="record[_type]" maxlength="20">
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-sm btn-primary">Edit</button>
                                        </div>
                                    </form>
                                <% } %>
                            </div>
                            <div class="col-12 col-md-3">
                                <% if (permissions.subtypes_add) { %>
                                    <form class="row" action="/stores/options/subtypes" method="POST" onsubmit="return confirm('Add subtype?');">
                                        <input id="subtype_type_id" type="hidden" name="record[type_id]" value="">
                                        <div class="col-9">
                                            <input class="form-control form-control-sm" type="text" name="record[_subtype]" maxlength="20">
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-sm btn-success">Add</button>
                                        </div>
                                    </form>
                                <% } %>
                                <% if (permissions.subtypes_delete) { %>
                                    <form action="/stores/options/subtypes?_method=DELETE" method="POST" onsubmit="return confirm('Confirm delete subtype?');">
                                        <input id="delete_subtype_id" type="hidden" name="where" value="{subtype_id: -1}">
                                        <button class="w-100 mb-1 btn btn-sm btn-danger">Delete Selected</button>
                                    </form>
                                <% } %>
                                <select class='form-control w-100' id="subtype_id" name="record[subtype_id]" type="text" size="10" onchange="setSubTypeID()">
                                    <% classes.subtypes.forEach(subtype => { %>
                                        <option style="display: none;" data-tag="<%= subtype.type_id %>" value="<%= subtype.subtype_id %>"><%= subtype._subtype %></option>
                                    <% }); %>
                                </select>
                                <% if (permissions.subtypes_edit) { %>
                                    <form class="row" action="/stores/options/subtypes?_method=PUT" method="POST" onsubmit="return confirm('Edit subtype ?');">
                                        <input id="edit_subtype_id" type="hidden" name="where" value="{subtype_id: -1}">
                                        <div class="col-9">
                                            <input id="subtype_id_edit" class="form-control form-control-sm" type="text" name="record[_subtype]" maxlength="20">
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-sm btn-primary">Edit</button>
                                        </div>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="sizes" role="tabpanel" aria-labelledby="sizes-tab">
                    <div class="container">
                        <table class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <th class="w-100">Sizes</th>
                                <% if (permissions.sizes_delete) { %><th></th><% } %>
                            </thead>
                            <tbody>
                                <% sizes.forEach(size => { %>
                                    <tr>
                                        <td><a href="/stores/sizes/<%= size.size_id %>/edit"><%= size._text %></a></td>
                                        <% if (permissions.sizes_delete) { %>
                                            <td>
                                                <form action="/stores/sizes/<%= size.size_id %>?_method=DELETE" method="POST" onsubmit="return confirm('Confirm delete size?');">
                                                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                                                </form>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/settings.js"></script>
<% include ../../partials/foot/htmlClose %>