<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stores/settings">Settings</a>
            </li>
        </ul>
    </nav>
</section>
<section>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="true">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="options-tab" data-toggle="tab" href="#options" role="tab" aria-controls="options" aria-selected="true">Options</a>
        </li>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="container">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-50">Setting</th>
                        <th class="w-50">Value</th>
                    </thead>
                    <tbody>
                        <% settings.forEach(setting => { %>
                            <tr>
                                <td><%= setting._name %></td>
                                <td><%= setting._value %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade active show" id="options" role="tabpanel" aria-labelledby="options-tab">
            <ul class="nav nav-tabs" id="optionsTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="ranks-tab" data-toggle="tab" href="#ranks" role="tab" aria-controls="ranks" aria-selected="true">Ranks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="statuses-tab" data-toggle="tab" href="#statuses" role="tab" aria-controls="statuses" aria-selected="true">Statuses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="genders-tab" data-toggle="tab" href="#genders" role="tab" aria-controls="genders" aria-selected="true">Genders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="item-classes-tab" data-toggle="tab" href="#item-classes" role="tab" aria-controls="item-classes" aria-selected="true">Item Classes</a>
                </li>
            </ul>
            <div class="tab-content pt-3" id="myTabContent">
                <div class="tab-pane fade" id="ranks" role="tabpanel" aria-labelledby="rank-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-6 mx-auto">
                                <div class="mb-2">
                                    <form action='/stores/settings/ranks' method='POST'>
                                        <input class='form-control' type='text' name='ranks[_rank]' maxlength='10' placeholder='Rank' required>
                                        <button class="btn btn-sm btn-success w-100 confirm">Add Rank</button>
                                    </form>
                                </div>
                                <table class="table table-sm table-hover">
                                    <thead class="thead-dark">
                                        <th class="w-100">Rank</th>
                                        <% if (permissions.rank_edit) { %><th><i class='fas fa-save'></i></th><% } %>
                                        <% if (permissions.rank_delete) { %><th><i class='fas fa-trash-alt'></i></th><% } %>
                                    </thead>
                                    <tbody>
                                        <% classes.ranks.forEach(rank => { %>
                                            <tr>
                                                <% if (permissions.rank_edit) { %>
                                                    <form action='/stores/settings/ranks/<%= rank.rank_id %>?_method=PUT' method='POST'>
                                                        <td>
                                                            <input class='form-control' type='text' name='ranks[_rank]' maxlength='10' value='<%= rank._rank %>' required>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary confirm"><i class="fas fa-save"></i></button>
                                                        </td>
                                                    </form>
                                                <% } else { %>
                                                    <td><%= rank._rank %></td>
                                                <% } %>
                                                <% if (permissions.rank_delete) { %>
                                                    <td>
                                                        <form action="/stores/settings/ranks/<%= rank.rank_id %>?_method=DELETE" method="POST">
                                                            <button class="btn btn-sm btn-danger confirm"><i class="fas fa-trash-alt"></i></button>
                                                        </form>
                                                    </td>
                                                <% } %>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="statuses" role="tabpanel" aria-labelledby="statuses-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-6 mx-auto">
                                <div class="mb-2">
                                    <form action='/stores/settings/statuses' method='POST'>
                                        <input class='form-control' type='text' name='statuses[_status]' maxlength='10' placeholder='Status' required>
                                        <button class="btn btn-sm btn-success w-100 confirm">Add Status</button>
                                    </form>
                                </div>
                                <table class="table table-sm table-hover">
                                    <thead class="thead-dark">
                                        <th class="w-100">Rank</th>
                                        <% if (permissions.status_edit) { %><th><i class='fas fa-save'></i></th><% } %>
                                        <% if (permissions.status_delete) { %><th><i class='fas fa-trash-alt'></i></th><% } %>
                                    </thead>
                                    <tbody>
                                        <% classes.statuses.forEach(status => { %>
                                            <tr>
                                                <% if (permissions.status_edit && status.status_id > 5) { %>
                                                    <form action='/stores/settings/statuses/<%= status.status_id %>?_method=PUT' method='POST'>
                                                        <td>
                                                            <input class='form-control' type='text' name='statuses[_status]' maxlength='10' value='<%= status._status %>' required>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary confirm"><i class="fas fa-save"></i></button>
                                                        </td>
                                                    </form>
                                                <% } else { %>
                                                    <td><%= status._status %></td>
                                                    <td></td>
                                                <% } %>
                                                <td>
                                                    <% if (permissions.status_delete && status.status_id > 5) { %>
                                                        <form action="/stores/settings/statuses/<%= status.status_id %>?_method=DELETE" method="POST">
                                                            <button class="btn btn-sm btn-danger confirm"><i class="fas fa-trash-alt"></i></button>
                                                        </form>
                                                    <% } %>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="genders" role="tabpanel" aria-labelledby="genders-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-6 mx-auto">
                                <div class="mb-2">
                                    <form action='/stores/settings/genders' method='POST'>
                                        <input class='form-control' type='text' name='genders[_gender]' maxlength='10' placeholder='Status' required>
                                        <button class="btn btn-sm btn-success w-100 confirm">Add Status</button>
                                    </form>
                                </div>
                                <table class="table table-sm table-hover">
                                    <thead class="thead-dark">
                                        <th class="w-100">Rank</th>
                                        <% if (permissions.gender_edit) { %><th><i class='fas fa-save'></i></th><% } %>
                                        <% if (permissions.gender_delete) { %><th><i class='fas fa-trash-alt'></i></th><% } %>
                                    </thead>
                                    <tbody>
                                        <% classes.genders.forEach(gender => { %>
                                            <tr>
                                                <% if (permissions.gender_edit) { %>
                                                    <form action='/stores/settings/genders/<%= gender.gender_id %>?_method=PUT' method='POST'>
                                                        <td>
                                                            <input class='form-control' type='text' name='genders[_gender]' maxlength='10' value='<%= gender._gender %>' required>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary confirm"><i class="fas fa-save"></i></button>
                                                        </td>
                                                    </form>
                                                <% } else { %>
                                                    <td><%= gender._gender %></td>
                                                <% } %>
                                                <% if (permissions.gender_delete) { %>
                                                    <td>
                                                        <form action="/stores/settings/genders/<%= gender.gender_id %>?_method=DELETE" method="POST">
                                                            <button class="btn btn-sm btn-danger confirm"><i class="fas fa-trash-alt"></i></button>
                                                        </form>
                                                    </td>
                                                <% } %>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="item-classes" role="tabpanel" aria-labelledby="item-classes-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <div class="mb-2">
                                    <form action='/stores/settings/categories' method='POST'>
                                        <div class="row">
                                            <div class="col-10">
                                                <input class='form-control' type='text' name='categories[_category]' maxlength='20' placeholder='Category' required>
                                            </div>
                                            <div class="col-2">
                                                <button class="float-right btn btn-success confirm"><i class='fas fa-plus'></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <table class="table table-sm table-hover">
                                    <thead class="thead-dark">
                                        <th class='w-20'></th>
                                        <th class="w-80">Rank</th>
                                        <% if (permissions.category_edit) { %><th><i class='fas fa-save'></i></th><% } %>
                                        <% if (permissions.category_delete) { %><th><i class='fas fa-trash-alt'></i></th><% } %>
                                    </thead>
                                    <tbody>
                                        <% classes.categories.forEach(category => { %>
                                            <tr>
                                                <td>
                                                    <input class='form-control' type="radio" id='<%= category.category_id %>' name='category' value='<%= category.category_id %>' onchange='radio({"table":"group","id":"<%= category.category_id %>"})'>
                                                </td>
                                                <% if (permissions.category_edit) { %>
                                                    <form action='/stores/settings/categories/<%= category.category_id %>?_method=PUT' method='POST'>
                                                        <td>
                                                            <input class='form-control' type='text' name='categories[_category]' maxlength='10' value='<%= category._category %>' required>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary confirm"><i class="fas fa-save"></i></button>
                                                        </td>
                                                    </form>
                                                <% } else { %>
                                                    <td><%= category._category %></td>
                                                <% } %>
                                                <% if (permissions.category_delete) { %>
                                                    <td>
                                                        <form action="/stores/settings/categories/<%= category.category_id %>?_method=DELETE" method="POST">
                                                            <button class="btn btn-sm btn-danger confirm"><i class="fas fa-trash-alt"></i></button>
                                                        </form>
                                                    </td>
                                                <% } %>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-2">
                                    <form action='/stores/settings/groups' method='POST'>
                                        <input type="hidden" id='group_parent' name='groups[category_id]' value='-1'>
                                        <div class="row">
                                            <div class="col-10">
                                                <input class='form-control' type='text' name='groups[_group]' maxlength='20' placeholder='Group' required>
                                            </div>
                                            <div class="col-2">
                                                <button class="float-right btn btn-success confirm"><i class='fas fa-plus'></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <table class="table table-sm table-hover">
                                    <thead class="thead-dark">
                                        <th class='w-20'></th>
                                        <th class="w-80">Rank</th>
                                        <% if (permissions.group_edit) { %><th><i class='fas fa-save'></i></th><% } %>
                                        <% if (permissions.group_delete) { %><th><i class='fas fa-trash-alt'></i></th><% } %>
                                    </thead>
                                    <tbody id="group">
                                        <% classes.groups.forEach(group => { %>
                                            <tr data-parent='<%= group.category_id %>' style='display: none;'>
                                                <td>
                                                    <input class='form-control' type="radio" id='<%= group.group_id %>' name='group' value='<%= group.group_id %>' onchange='radio({"table":"type","id":"<%= group.group_id %>"})'>
                                                </td>
                                                <% if (permissions.group_edit) { %>
                                                    <form action='/stores/settings/groups/<%= group.group_id %>?_method=PUT' method='POST'>
                                                        <td>
                                                            <input class='form-control' type='text' name='groups[_group]' maxlength='10' value='<%= group._group %>' required>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary confirm"><i class="fas fa-save"></i></button>
                                                        </td>
                                                    </form>
                                                <% } else { %>
                                                    <td><%= group._group %></td>
                                                <% } %>
                                                <% if (permissions.group_delete) { %>
                                                    <td>
                                                        <form action="/stores/settings/groups/<%= group.group_id %>?_method=DELETE" method="POST">
                                                            <button class="btn btn-sm btn-danger confirm"><i class="fas fa-trash-alt"></i></button>
                                                        </form>
                                                    </td>
                                                <% } %>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-2">
                                    <form action='/stores/settings/types' method='POST'>
                                        <input type="hidden" id='type_parent' name='types[group_id]' value='-1'>
                                        <div class="row">
                                            <div class="col-10">
                                                <input class='form-control' type='text' name='types[_type]' maxlength='20' placeholder='Type' required>
                                            </div>
                                            <div class="col-2">
                                                <button class="float-right btn btn-success confirm"><i class='fas fa-plus'></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <table class="table table-sm table-hover">
                                    <thead class="thead-dark">
                                        <th class='w-20'></th>
                                        <th class="w-80">Rank</th>
                                        <% if (permissions.type_edit) { %><th><i class='fas fa-save'></i></th><% } %>
                                        <% if (permissions.type_delete) { %><th><i class='fas fa-trash-alt'></i></th><% } %>
                                    </thead>
                                    <tbody id="type">
                                        <% classes.types.forEach(type => { %>
                                            <tr data-parent='<%= type.group_id %>' style='display: none;'>
                                                <td>
                                                    <input class='form-control' type="radio" id='<%= type.type_id %>' name='type' value='<%= type.type_id %>' onchange='radio({"table":"subtype","id":"<%= type.type_id %>"})'>
                                                </td>
                                                <% if (permissions.type_edit) { %>
                                                    <form action='/stores/settings/types/<%= type.type_id %>?_method=PUT' method='POST'>
                                                        <td>
                                                            <input class='form-control' type='text' name='types[_type]' maxlength='10' value='<%= type._type %>' required>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary confirm"><i class="fas fa-save"></i></button>
                                                        </td>
                                                    </form>
                                                <% } else { %>
                                                    <td><%= type._type %></td>
                                                <% } %>
                                                <% if (permissions.type_delete) { %>
                                                    <td>
                                                        <form action="/stores/settings/types/<%= type.type_id %>?_method=DELETE" method="POST">
                                                            <button class="btn btn-sm btn-danger confirm"><i class="fas fa-trash-alt"></i></button>
                                                        </form>
                                                    </td>
                                                <% } %>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mb-2">
                                    <form action='/stores/settings/subtypes' method='POST'>
                                        <input type="hidden" id='subtype_parent' name='subtypes[type_id]' value='-1'>
                                        <div class="row">
                                            <div class="col-10">
                                                <input class='form-control' type='text' name='subtypes[_subtype]' maxlength='20' placeholder='Subtype' required>
                                            </div>
                                            <div class="col-2">
                                                <button class="float-right btn btn-success confirm"><i class='fas fa-plus'></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <table class="table table-sm table-hover">
                                    <thead class="thead-dark">
                                        <th class="w-100">Rank</th>
                                        <% if (permissions.subtype_edit) { %><th><i class='fas fa-save'></i></th><% } %>
                                        <% if (permissions.subtype_delete) { %><th><i class='fas fa-trash-alt'></i></th><% } %>
                                    </thead>
                                    <tbody id="subtype">
                                        <% classes.subtypes.forEach(subtype => { %>
                                            <tr data-parent='<%= subtype.type_id %>' style='display: none;'>
                                                <% if (permissions.subtype_edit) { %>
                                                    <form action='/stores/settings/subtypes/<%= subtype.subtype_id %>?_method=PUT' method='POST'>
                                                        <td>
                                                            <input class='form-control' type='text' name='subtypes[_subtype]' maxlength='10' value='<%= subtype._subtype %>' required>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary confirm"><i class="fas fa-save"></i></button>
                                                        </td>
                                                    </form>
                                                <% } else { %>
                                                    <td><%= subtype._subtype %></td>
                                                <% } %>
                                                <% if (permissions.subtype_delete) { %>
                                                    <td>
                                                        <form action="/stores/settings/subtypes/<%= subtype.subtype_id %>?_method=DELETE" method="POST">
                                                            <button class="btn btn-sm btn-danger confirm"><i class="fas fa-trash-alt"></i></button>
                                                        </form>
                                                    </td>
                                                <% } %>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/settings.js"></script>
<script>
    showTab('<%= showtab %>');
</script>
<% include ../../partials/foot/htmlClose %>