<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
<section class='container'>
    <form id='sizeForm'>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Issueable</span>
            </div>
            <select class='form-control' name="supplier[_issueable]" required>
                <option value="0"<% if (!size._issueable) { %> selected<% } %>>No</option>
                <option value="1"<% if (size._issueable) { %> selected<% } %>>Yes</option>
            </select>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Orderable</span>
            </div>
            <select class='form-control' name="supplier[_orderable]" required>
                <option value="0"<% if (!size._orderable) { %> selected<% } %>>No</option>
                <option value="1"<% if (size._orderable) { %> selected<% } %>>Yes</option>
            </select>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Has Serial #</span>
            </div>
            <select class='form-control' name="supplier[_serials]" required>
                <option value="0"<% if (!size._serials) { %> selected<% } %>>No</option>
                <option value="1"<% if (size._serials) { %> selected<% } %>>Yes</option>
            </select>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Has NSNs</span>
            </div>
            <select class='form-control' name="supplier[_nsns]" required>
                <option value="0"<% if (!size._nsns) { %> selected<% } %>>No</option>
                <option value="1"<% if (size._nsns) { %> selected<% } %>>Yes</option>
            </select>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Supplier</span>
            </div>
            <select class='form-control' name='size[supplier_id]' onchange=supplierCheck()>
                <% suppliers.forEach(supplier => { %>
                    <% if (supplier.supplier_id === size.supplier_id) { %>
                        <option value='<%= supplier.supplier_id %>' selected><%= supplier._name %></option>         
                    <% } else { %>
                        <option value='<%= supplier.supplier_id %>'><%= supplier._name %></option>         
                    <% } %>
                <% }) %>
            </select>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Demand Page</span>
            </div>
            <input class='form-control' id='_demand_page' type='text' name='size[_demand_page]' maxlength='20' value='<%= size._demand_page %>'>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Demand Cell</span>
            </div>
            <input class='form-control' id='_demand_cell' type='text' name='size[_demand_cell]' value='<%= size._demand_cell %>' maxlength='3'>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Ordering Details</span>
            </div>
            <textarea class="form-control" maxlength='1000' aria-label="Ordering details"><%= size._ordering_details %></textarea>
        </div>
        <input class="btn btn-success col-12 confirm" type="submit" value="Save">
        <a class='float-left' href='javascript:close()'>Cancel</a>
    </form>
</section>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
        addFormListener('sizeForm', 'PUT', '/stores/sizes/<%= size.size_id %>');
    });
    function orderableCheck () {
        var _orderable = document.querySelector('#_orderable');
        if (!_orderable.checked) {
            clearOptions()
        };
    };
    function supplierCheck () {
        var supplier = document.querySelector('#supplier_id');
        if (Number(supplier.value) === 3) {
            clearOptions()
        };
    };
    function clearOptions() {
        var _orderable  = document.querySelector('#_orderable'),
            supplier    = document.querySelector('#supplier_id'),
            demand_page = document.querySelector('#_demand_page'),
            demand_cell = document.querySelector('#_demand_cell');
        _orderable.checked = false;
        supplier.value = 3;
        demand_page.value = '';
        demand_cell.value = '';
    }
</script>
<% include ../../partials/foot/htmlClose %>
