<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>Stores</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/items'>Items</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/items/<%= size.item_id %>'><%= size.item._description %></a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/sizes/<%= size.size_id %>'>Size: <%= size._size %></a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/sizes/<%= size.size_id %>/edit'>Edit</a>
            </li>
        </ul>
    </nav>
</section>
<section class='container bordered'>
    <form action='/stores/sizes/<%= size.size_id %>?_method=PUT' method='POST'>
        <div class='form-group'>
            <div class='row'>
                <div class='col-12'>
                    <input class="btn btn-success col-12 confirm" type="submit" value="Save">
                    <a class='float-left' href='/stores/sizes/<%= size.size_id %>'>Cancel</a>
                </div>
            </div>
            <div class='row'>
                <div class='col-5' >
                    <label class='col-form-label'>Issueable:</label>
                </div> 
                <div class='col-7'>
                    <input class='form-control' id='_issueable' type='checkbox' name='size[_issueable]' value='1' <% if (size._issueable) { %> checked <% } %> onchange=orderableCheck()>
                </div>
            </div>
            <div class='row'>
                <div class='col-5' >
                    <label class='col-form-label'>Orderable:</label>
                </div> 
                <div class='col-7'>
                    <input class='form-control' id='_orderable' type='checkbox' name='size[_orderable]' value='1' <% if (size._orderable) { %> checked <% } %> onchange=orderableCheck()>
                </div>
            </div>
            <div class='row'>
                <div class='col-5' >
                    <label class='col-form-label'>Has Serial #:</label>
                </div> 
                <div class='col-7'>
                    <input class='form-control' id='_serials' type='checkbox' name='size[_serials]' value='1' <% if (size._serials) { %> checked <% } %> onchange=orderableCheck()>
                </div>
            </div>
            <div class='row'>
                <div class='col-5' >
                    <label class='col-form-label'>Has NSNs:</label>
                </div> 
                <div class='col-7'>
                    <input class='form-control' id='_nsns' type='checkbox' name='size[_nsns]' value='1' <% if (size._nsns) { %> checked <% } %> onchange=orderableCheck()>
                </div>
            </div>
            <div class='row'>
                <div class='col-5' >
                    <label class='col-form-label'>Supplier:</label>
                </div> 
                <div class='col-7'>
                    <select class='form-control' name='size[supplier_id]' id='supplier_id' type='text' onchange=supplierCheck()>
                        <% suppliers.forEach(supplier => { %>
                            <% if (supplier.supplier_id === size.supplier_id) { %>
                                <option value='<%= supplier.supplier_id %>' selected><%= supplier._name %></option>         
                            <% } else { %>
                                <option value='<%= supplier.supplier_id %>'><%= supplier._name %></option>         
                            <% } %>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class='row'>
                <div class='col-5' >
                    <label class='col-form-label'>Demand Page:</label>
                </div> 
                <div class='col-7'>
                    <input class='form-control' id='_demand_page' type='text' name='size[_demand_page]' maxlength='20' value='<%= size._demand_page %>'>
                </div>
            </div>
            <div class='row'>
                <div class='col-5' >
                    <label class='col-form-label'>Cell:</label>
                </div> 
                <div class='col-7'>
                    <input class='form-control' id='_demand_cell' type='text' name='size[_demand_cell]' value='<%= size._demand_cell %>' maxlength='3'>
                </div>
            </div>
            <div class='row'>
                <div class='col-5' >
                    <label class='col-form-label'>Ordering Details:</label>
                </div> 
                <div class='col-7'>
                    <textarea class='form-control' name='size[_ordering_details]' cols='50' rows='10' maxlength='1000'><%= size._ordering_details %></textarea>
                </div>
            </div>
        </div>
    </form>
</section>
<% include ../../partials/foot/full %>
<script>
    function orderableCheck () {
        var _orderable = document.querySelector('#_orderable');
        if (!_orderable.checked) {
            clearOptions()
        };
    };
    function supplierCheck () {
        var supplier = document.querySelector('#supplier_id');
        if (Number(supplier.value) === 3) {
            clearOptions()
        };
    };
    function clearOptions() {
        var _orderable  = document.querySelector('#_orderable'),
            supplier    = document.querySelector('#supplier_id'),
            demand_page = document.querySelector('#_demand_page'),
            demand_cell = document.querySelector('#_demand_cell');
        _orderable.checked = false;
        supplier.value = 3;
        demand_page.value = '';
        demand_cell.value = '';
    }
</script>
<% include ../../partials/foot/htmlClose %>
