<%- include(`${partials}/head/head`) %>
<body>
<%- include(`${partials}/head/flash`) %>
<section id='body'>
    <form id='sizeForm'>
        <%- include(`${partials}/spinner`, {id: 'sizes'}) %>
        <%- include(`${partials}/inputs/display`,       {id: '_item',             title: 'Item'}) %>
        <%- include(`${partials}/inputs/display`,       {id: '_size',             title: 'Size'}) %>
        <%- include(`${partials}/inputs/select_yes_no`, {id: '_issueable',        name: 'size[_issueable]',        title: 'Issueable'}) %>
        <%- include(`${partials}/inputs/select_yes_no`, {id: '_orderable',        name: 'size[_orderable]',        title: 'Orderable'}) %>
        <%- include(`${partials}/inputs/select_yes_no`, {id: '_serials',          name: 'size[_serials]',          title: 'Has Serial #'}) %>
        <%- include(`${partials}/inputs/select_yes_no`, {id: '_nsns',             name: 'size[_nsns]',             title: 'Has NSNs'}) %>
        <%- include(`${partials}/spinner`, {id: 'suppliers'}) %>
        <%- include(`${partials}/inputs/select`,        {id: 'supplier_id',       name: 'size[supplier_id]',       title: 'Supplier'}) %>
        <%- include(`${partials}/inputs/text`,          {id: '_demand_page',      name: 'size[_demand_page]',      title: 'Demand Page',      maxlength: 20}) %>
        <%- include(`${partials}/inputs/text`,          {id: '_demand_cell',      name: 'size[_demand_cell]',      title: 'Cell',             maxlength: 3}) %>
        <%- include(`${partials}/inputs/textarea`,      {id: '_ordering_details', name: 'size[_ordering_details]', title: 'Ordering Details', maxlength: 1000, rows: 5}) %>
        <%- include(`${partials}/save_cancel`) %>
    </form>
<%- include(`${partials}/foot/noNav`) %>
<script src="/js/stores/sizes/listSuppliers.js"></script>
<script src="/js/stores/sizes/edit/size.js"></script>
<script src='/js/data/addFormListener.js'></script>
<script src='/js/data/send.js'></script>
<script src="/js/data/XHRsend.js"></script>
<script src="/js/spinner.js"></script>
<script src="/js/get.js"></script>
<script async>
    get(listSuppliers, {table: 'suppliers', query: []})
    .then(result => {
        get(showSize, {table: 'sizes', query: [`size_id=${path[3]}`]})
    });
</script>
<script>
    window.addEventListener( "load", function () {
        addFormListener(
            'sizeForm',
            'PUT',
            `/stores/sizes/${path[3]}`,
            {
                onComplete: window.opener.getSize,
                _close: true
            }
        );
    });
    function orderableCheck () {
        var _orderable = document.querySelector('#_orderable');
        if (!_orderable.checked) {
            clearOptions()
        };
    };
    function supplierCheck () {
        var supplier = document.querySelector('#supplier_id');
        if (Number(supplier.value) === 3) {
            clearOptions()
        };
    };
    function clearOptions() {
        var _orderable  = document.querySelector('#_orderable'),
            supplier    = document.querySelector('#supplier_id'),
            demand_page = document.querySelector('#_demand_page'),
            demand_cell = document.querySelector('#_demand_cell');
        _orderable.checked = false;
        supplier.value = 3;
        demand_page.value = '';
        demand_cell.value = '';
    }
</script>
<%- include(`${partials}/foot/htmlClose`) %>
