<%- include(`${partials}/head/noNav`) %>
<h1>Select Size...</h1>
<div id="div_items">
    <%- include(`${partials}/inputs/text`,   {title: 'Filter Items', id: 'filter_items'}) %>
    <%- include(`${partials}/inputs/select`, {title: 'Items',        id: 'sel_items', size: 10}) %>
</div>
<div id="div_sizes" class=''>
    <table class='table table-sm table-hover'>
        <thead class='thead-dark' id="tbl_sizes_head">
            <th class='w-10'><i class="fas fa-check"></i></th>
            <th class='w-25' data-column='["size1"]' data-dir='ASC'><span id='size_text1'></span></th>
            <th class='w-25' data-column='["size2"]'               ><span id='size_text2'></span></th>
            <th class='w-25' data-column='["size3"]'               ><span id='size_text3'></span></th>
            <th class='w-15'>Qty</th>
        </thead>
        <tbody id='tbl_sizes'></tbody>
    </table>
    <button id='btn_select' class='btn btn-success w-100 m-1 fixed-bottom'>Select</button>
</div>
<%- include(`${partials}/foot/app`) %>
<script src="/js/utils/list/items.js"></script>
<script src="/js/utils/list/sizes.js"></script>
<script src="/js/search/select.js"></script>
<script src="/js/stores/sizes/select/view.js"></script>
<%- include(`${partials}/foot/components/htmlClose`) %>