<%- include(`${partials}/head/full`) %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <%- include(`${partials}/breadcrumb`, {href: '/stores',       text: 'Stores'}) %>
            <%- include(`${partials}/breadcrumb`, {href: '/stores/items', text: 'Items'}) %>
            <%- include(`${partials}/breadcrumb`, {id: '_item'}) %>
            <%- include(`${partials}/breadcrumb`) %>
            <%- include(`${partials}/reload`) %>
    </ul>
    </nav>
</section>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.size_edit) { %>
                    <%- include(`${partials}/menu/edit`) %>
                <% } %>
                <div class="dropdown-divider"></div>
                <%- include(`${partials}/notes/menu_add`) %>
                <% if (permissions.nsn_add) { %> 
                    <a class='dropdown-item'                  data-toggle="modal" data-target="#mdl_add_nsn"   >Add NSN</a> 
                <% } %>
                <% if (permissions.serial_add) { %> 
                    <a class='dropdown-item _serials_element' data-toggle="modal" data-target="#mdl_add_serial">Add Serial</a> 
                <% } %>
                <% if (permissions.stock_add) { %>
                    <a class='dropdown-item _stock_element'   data-toggle="modal" data-target="#mdl_add_stock" >Add Stock Location</a>
                <% } %>
                <% if (permissions.order_add) { %>
                    <a class='dropdown-item' id='add_order'>Add Order</a>
                <% } %>
                <% if (permissions.size_delete) { %>
                    <%- include(`${partials}/menu/delete`, {redirect: '/stores/items'}) %>
                <% } %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details',  title: 'Details'}) %>
        <%- include(`${partials}/tab_head`, {id: 'nsns',     title: 'NSNs',     count_id: 'nsn_count',     spinner: 'nsns',          permission: 'access_nsns',     _class: '_nsns_element'}) %>
        <%- include(`${partials}/tab_head`, {id: 'serials',  title: 'Serials',  count_id: 'serial_count',  spinner: 'serials',       permission: 'access_serials',  _class: '_serials_element'}) %>
        <%- include(`${partials}/tab_head`, {id: 'stock',    title: 'Stock',    count_id: 'stock_count',   spinner: 'stock',         permission: 'access_stock',    _class: '_stock_element'}) %>
        <%- include(`${partials}/tab_head`, {id: 'requests', title: 'Requests', count_id: 'request_count', spinner: 'request_lines', permission: 'access_requests', _class: '_issueable_element'}) %>
        <%- include(`${partials}/tab_head`, {id: 'orders',   title: 'Orders',   count_id: 'order_count',   spinner: 'order_lines',   permission: 'access_orders',   _class: '_orderable_element'}) %>
        <%- include(`${partials}/tab_head`, {id: 'receipts', title: 'Receipts', count_id: 'receipt_count', spinner: 'receipt_lines', permission: 'access_receipts', _class: '_orderable_element'}) %>
        <%- include(`${partials}/tab_head`, {id: 'issues',   title: 'Issues',   count_id: 'issue_count',   spinner: 'issue_lines',   permission: 'access_issues',   _class: '_issueable_element'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',    title: 'Notes',    count_id: 'note_count',    spinner: 'notes',         permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/spinner`, {id: 'sizes'}) %>
            <%- include(`${partials}/inputs/display`,  {id: '_issueable',        title: 'Issueable'}) %>
            <%- include(`${partials}/inputs/display`,  {id: '_orderable',        title: 'Orderable'}) %>
            <%- include(`${partials}/inputs/display`,  {id: '_serials',          title: 'Has Serials'}) %>
            <%- include(`${partials}/inputs/display`,  {id: '_nsns',             title: 'Has NSNs'}) %>
            <%- include(`${partials}/inputs/display`,  {id: 'supplier',          title: 'Supplier', append: {a: {id: 'supplier_link', type: 'primary', text: '<i class="fas fa-search"></i>'}}}) %>
            <%- include(`${partials}/inputs/display`,  {id: '_demand_page',      title: 'Demand Page'}) %>
            <%- include(`${partials}/inputs/display`,  {id: '_demand_cell',      title: 'Demand Cell'}) %>
            <%- include(`${partials}/inputs/textarea`, {id: '_ordering_details', title: 'Ordering Details', rows: 5, readonly: true}) %>
        </div>
        <% if (permissions.access_nsns) { %>
            <div class="tab-pane fade" id="nsns" role="tabpanel" aria-labelledby="nsns-tab">
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-80' onclick='sortTable(0, "tbl_nsns")'>NSN</th>
                        <th class='w-20'>Default</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_nsns'></tbody>
                </table>
            </div>
            <div id="nsn_modals"></div>
        <% } %>
        <% if (permissions.access_serials) { %>
            <div class="tab-pane fade serial_element" id="serials" role="tabpanel" aria-labelledby="serials-tab">
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-50' onclick='sortTable(0, "tbl_serials")' >Serial #</th>
                        <th class='w-50' onclick='sortTable(1, "tbl_serials")'>Location</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_serials'></tbody>
                </table>
            </div>
            <div id="serial_modals"></div>
        <% } %>
        <% if (permissions.access_stock) { %>
            <div class="tab-pane fade" id="stock" role="tabpanel" aria-labelledby="stock-tab">
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-80' onclick='sortTable(0, "tbl_stock")'>Location</th>
                        <th class='w-20' onclick='sortTable(1, "tbl_stock")'>Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_stock'></tbody>
                </table>
            </div>
            <div id="stock_modals"></div>
        <% } %>
        <% if (permissions.access_requests) { %>
            <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-80' onclick='sortTable(0, "tbl_requests")'>For</th>
                        <th class='w-20' onclick='sortTable(1, "tbl_requests")'>Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_requests'></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_orders) { %>
            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-80' onclick='sortTable(0, "tbl_orders")'>For</th>
                        <th class='w-20' onclick='sortTable(1, "tbl_orders")'>Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_orders'></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_receipts) { %>
            <div class="tab-pane fade" id="receipts" role="tabpanel" aria-labelledby="receipts-tab">
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-80' onclick='sortTable(0, "tbl_receipts")'>Date</th>
                        <th class='w-20' onclick='sortTable(1, "tbl_receipts")'>Location</th>
                        <th class='w-20' onclick='sortTable(2, "tbl_receipts")'>Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_receipts'></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_issues) { %>
            <div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-20' onclick='sortTable(0, "tbl_issues")'>Date</th>
                        <th class='w-60' onclick='sortTable(1, "tbl_issues")'>To</th>
                        <th class='w-20' onclick='sortTable(2, "tbl_issues")'>Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_issues'></tbody>
                </table>
            </div>
        <% } %>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <% if (permissions.size_edit) { %>
            <div id='mdl_edit_size' class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_edit_size'>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Size</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[_issueable]',        title: 'Issueable',        id: '_issueable_edit'}) %>
                            <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[_orderable]',        title: 'Orderable',        id: '_orderable_edit'}) %>
                            <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[_serials]',          title: 'Has Serial #',     id: '_serials_edit'}) %>
                            <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[_nsns]',             title: 'Has NSNs',         id: '_nsns_edit'}) %>
                            <%- include(`${partials}/inputs/select`,        {name: 'size[supplier_id]',       title: 'Supplier',         id: 'supplier_id_edit',       spinner: true, spinner_id: 'suppliers'}) %>
                            <%- include(`${partials}/inputs/text`,          {name: 'size[_demand_page]',      title: 'Demand Page',      id: '_demand_page_edit',      maxlength: 20}) %>
                            <%- include(`${partials}/inputs/text`,          {name: 'size[_demand_cell]',      title: 'Cell',             id: '_demand_cell_edit',      maxlength: 3}) %>
                            <%- include(`${partials}/inputs/textarea`,      {name: 'size[_ordering_details]', title: 'Ordering Details', id: '_ordering_details_edit', maxlength: 1000, rows: 5}) %>
                            <%- include(`${partials}/inputs/text`,          {name: 'size[_size]',             title: 'Size',             id:'_size_edit',              maxlength: 15,   placeholder: 'Required', required: true}) %>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success w-100 confirm" value='Save Size'>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_nsns) { %>
            <div id='mdl_view_nsn' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_view_nsn'>
                        <div class="modal-header">
                            <h5 class="modal-title" id="_nsn_view"></h5>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-tabs" id="nsnTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="nsn-view-tab" data-toggle="tab" href="#nsn-view" role="tab" aria-controls="nsn-view" aria-selected="true">
                                        NSN
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nsn-notes-tab" data-toggle="tab" href="#nsn-notes" role="tab" aria-controls="nsn-nottes" aria-selected="true">
                                        Notes <span id="nsn_note_count"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content pt-3" id="nsnContent">
                                <div class="tab-pane fade show active" id="nsn-view" role="tabpanel" aria-labelledby="nsn-view-tab">
                                    <form id='form_nsn_edit'>
                                        <%- include(`${partials}/inputs/select`,  {id: '_group',          title: 'Group',          disabled: true, name: 'nsn[_group]'}) %>
                                        <%- include(`${partials}/inputs/select`,  {id: '_classification', title: 'Classification', disabled: true, name: 'nsn[_classification]'}) %>
                                        <%- include(`${partials}/inputs/select`,  {id: '_country',        title: 'Country',        disabled: true, name: 'nsn[_country]'}) %>
                                        <%- include(`${partials}/inputs/text`,    {id: '_item_number',    title: 'Item Number',    disabled: true, name: 'nsn[_item_number]'}) %>
                                        <%- include(`${partials}/inputs/display`, {id: '_default',        title: 'Is Default?'}) %>
                                        <a class='float-left hidden' id='nsn_edit_cancel'>Cancel</a>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="nsn-notes" role="tabpanel" aria-labelledby="nsn-notes-tab">
                                    <%- include(`${partials}/inputs/select`, {id: 'nsn_sel_system', title: 'System Notes', options: [{text: 'Include', value: ''}, {text: 'Exclude', value: '_system=0', selected: true}, {text: 'Only', value: '_system=1'}]}) %>
                                    <table class="table table-sm table-hover">
                                        <thead class="thead-dark">
                                            <th class="w-20" onclick="sortTable(0, 'tbl_nsn_notes')">Date</th>
                                            <th class="w-10" onclick="sortTable(1, 'tbl_nsn_notes')">Sys</th>
                                            <th class="w-40" onclick="sortTable(2, 'tbl_nsn_notes')">Note</th>
                                            <th class="w-30" onclick="sortTable(3, 'tbl_nsn_notes')">User</th>
                                            <th><i class="fas fa-pencil-alt"></i></th>
                                            <th><i class="fas fa-trash-alt"></i></th>
                                        </thead>
                                        <tbody id="tbl_nsn_notes"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" form='form_nsn_edit' class="btn btn-success w-100 hidden confirm" value='Save Size'>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
            <% if (permissions.nsn_add) { %>
                <div id='mdl_add_nsn' class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <form class="modal-content" id='form_add_nsn'>
                            <div class="modal-header">
                                <h5 class="modal-title">Add NSN</h5>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" class='size_id' name='nsn[size_id]'>
                                <%- include(`${partials}/inputs/select`, {title: 'Group',          id: 'nsn_group_id',          name: 'nsn[nsn_group_id]',          placeholder: 'Required', required: true}) %>
                                <%- include(`${partials}/inputs/select`, {title: 'Classification', id: 'nsn_classification_id', name: 'nsn[nsn_classification_id]', placeholder: 'Required', required: true}) %>
                                <%- include(`${partials}/inputs/select`, {title: 'Country',        id: 'nsn_country_id',        name: 'nsn[nsn_country_id]',        placeholder: 'Required', required: true}) %>
                                <%- include(`${partials}/inputs/text`,   {title: 'Item Number',                                 name: 'nsn[_item_number]',          placeholder: 'Required', required: true, inputmode: 'numeric', maxLength: '8'}) %>
                                <%- include(`${partials}/inputs/select`, {title: 'Default?',                                    name: 'default', options: [{text: 'Yes', value: '1'}, {text: 'No', value: '0', selected: true}]}) %>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-success w-100 confirm" value='Save Size'>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            <% } %>
        <% } %>
        <% if (permissions.serial_add) { %>
            <div id='mdl_add_serial' class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_add_serial'>
                        <div class="modal-header">
                            <h5 class="modal-title">Add Serial</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class='size_id' name='serial[size_id]'>
                            <%- include(`${partials}/inputs/text`, {title: 'Serial #', id: '_serial',    name: 'serial[_serial]', maxlength: 45, required: true}) %>
                            <%- include(`${partials}/inputs/text`, {title: 'Location', id: '_locations', name: '_location',       maxlength: 20, required: true, list: true, spinner: true, spinner_id: 'locations'}) %>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success w-100 confirm" value='Save Size'>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/full`) %>
<!-- get/spinner/XHRsend/send from notes include -->
<script src="/js/data/addFormListener.js"></script>
<script src='/js/tabs.js'></script>
<script>showTab('<%= tab %>');</script>
<script src='/js/show.js'></script>
<script src='/js/utils/getLineNotes.js'></script>
<script src="/js/stores/sizes/show/getSize.js"></script>
<script async>getSize()</script>
<% if (permissions.access_nsns) { %>
    <script src="/js/stores/sizes/show/getNSNs.js"></script>
    <script async>getNSNs()</script>
    <% if (permissions.nsn_add) { %>
        <script src="/js/stores/sizes/show/addNSNs.js"></script>
        <script async>getNSNGroups()</script>
        <script async>getNSNCountries()</script>
    <% } %>
<% } %>
<% if (permissions.access_serials) { %>
    <script src="/js/stores/sizes/show/getSerials.js"></script>
    <script async>getSerials()</script>
    <% if (permissions.serial_add) { %>
        <script src="/js/stores/sizes/show/addSerial.js"></script>
        <script async>getLocations()</script>
    <% } %>
<% } %>
<% if (permissions.access_stock) { %>
    <script src="/js/stores/sizes/show/getStock.js"></script>
    <script async>getStock()</script>
<% } %>
<% if (permissions.access_requests) { %>
    <script src="/js/stores/sizes/show/getRequests.js"></script>
    <script async>getRequests()</script>
<% } %>
<% if (permissions.access_orders) { %>
    <script src="/js/stores/sizes/show/getOrders.js"></script>
    <script async>getOrders()</script>
<% } %>
<% if (permissions.access_receipts) { %>
    <script src="/js/stores/sizes/show/getReceipts.js"></script>
    <script async>getReceipts()</script>
<% } %>
<% if (permissions.access_issues) { %>
    <script src="/js/stores/sizes/show/getIssues.js"></script>
    <script async>getIssues()</script>
<% } %>
<% if (permissions.size_edit) { %>
    <script src="/js/stores/sizes/show/getSizeEdit.js"></script>
    <script async>getSizeEdit()</script>
<% } %>
<%- include(`${partials}/foot/htmlClose`) %>