<%- include(`${process.env.PARTIALS}/head/full`) %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores',       text: 'Stores'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores/items', text: 'Items'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {id: '_item'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`) %>
        </ul>
    </nav>
</section>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.size_edit) { %>
                    <%- include(`${process.env.PARTIALS}/edit`) %>
                <% } %>
                <div class="dropdown-divider"></div>
                <%- include(`${process.env.PARTIALS}/notes/menu_add`) %>
                <% if (permissions.nsn_add) { %> 
                    <a class='dropdown-item' id='add_nsn'>
                        Add NSN
                    </a> 
                <% } %>
                <% if (permissions.serial_add) { %> 
                    <a class='dropdown-item _serials_element' id='add_serial'>
                        Add Serial
                    </a> 
                <% } %>
                <% if (permissions.stock_add) { %>
                    <a class='dropdown-item _stock_element' id='add_stock'>
                        Add Stock Location
                    </a>
                <% } %>
                <% if (permissions.order_add) { %>
                    <a class='dropdown-item' id='add_order'>Add Order</a>
                <% } %>
                <% if (permissions.size_delete) { %>
                    <%- include(`${process.env.PARTIALS}/delete`, {redirect: '/stores/items'}) %>
                <% } %>
            </div>
        </li>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'details',  title: 'Details'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'nsns',     title: 'NSNs',     count_id: 'nsn_count',     permission: 'access_nsns',     _class: '_nsns_element'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'serials',  title: 'Serials',  count_id: 'serial_count',  permission: 'access_serials',  _class: '_serials_element'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'stock',    title: 'Stock',    count_id: 'stock_count',   permission: 'access_stock',    _class: '_stock_element'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'requests', title: 'Requests', count_id: 'request_count', permission: 'access_requests', _class: '_issueable_element'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'orders',   title: 'Orders',   count_id: 'order_count',   permission: 'access_orders',   _class: '_orderable_element'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'receipts', title: 'Receipts', count_id: 'receipt_count', permission: 'access_receipts', _class: '_orderable_element'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'issues',   title: 'Issues',   count_id: 'issue_count',   permission: 'access_issues',   _class: '_issueable_element'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'notes',    title: 'Notes',    count_id: 'note_count',    permission: 'access_notes'}) %>
        <%- include(`${process.env.PARTIALS}/reload`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${process.env.PARTIALS}/spinner`, {id: 'sizes'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`,  {id: '_issueable',        title: 'Issueable'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`,  {id: '_orderable',        title: 'Orderable'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`,  {id: '_serials',          title: 'Has Serials'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`,  {id: '_nsns',             title: 'Has NSNs'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`,  {id: 'supplier',          title: 'Supplier', append: {a: {id: 'supplier_link', type: 'primary', text: '<i class="fas fa-search"></i>'}}}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`,  {id: '_demand_page',      title: 'Demand Page'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`,  {id: '_demand_cell',      title: 'Demand Cell'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/textarea`, {id: '_ordering_details', title: 'Ordering Details', rows: 5, readonly: true}) %>
        </div>
        <% if (permissions.access_nsns) { %>
            <div class="tab-pane fade" id="nsns" role="tabpanel" aria-labelledby="nsns-tab">
                <%- include(`${process.env.PARTIALS}/spinner`, {id: 'nsns'}) %>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-80' onclick='sortTable(0, "nsnTable")' >NSN</th>
                        <th class='w-20'>Default</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='nsnTable'>
                    </tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_serials) { %>
            <div class="tab-pane fade serial_element" id="serials" role="tabpanel" aria-labelledby="serials-tab">
                <%- include(`${process.env.PARTIALS}/spinner`, {id: 'serials'}) %>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-50' onclick='sortTable(0, "serialTable")' >Serial #</th>
                        <th class='w-50' onclick='sortTable(1, "serialTable")'>Location</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='serialTable'>
                    </tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_stock) { %>
            <div class="tab-pane fade" id="stock" role="tabpanel" aria-labelledby="stock-tab">
                <%- include(`${process.env.PARTIALS}/spinner`, {id: 'stock'}) %>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th onclick='sortTable(0, "stockTable")' class='w-80'>Location</th>
                        <th onclick='sortTable(1, "stockTable")' class='w-20'>Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='stockTable'>
                    </tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_requests) { %>
            <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                <%- include(`${process.env.PARTIALS}/spinner`, {id: 'request_lines'}) %>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th onclick='sortTable(0, "requestTable")' class='w-80'>For</th>
                        <th onclick='sortTable(1, "requestTable")' class='w-20'>Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='requestTable'>
                    </tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_orders) { %>
            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                <%- include(`${process.env.PARTIALS}/spinner`, {id: 'order_lines'}) %>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th onclick='sortTable(0, "orderTable")' class='w-80'>For</th>
                        <th onclick='sortTable(1, "orderTable")' class='w-20'>Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='orderTable'>
                    </tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_receipts) { %>
            <div class="tab-pane fade" id="receipts" role="tabpanel" aria-labelledby="receipts-tab">
                <%- include(`${process.env.PARTIALS}/spinner`, {id: 'receipt_lines'}) %>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th onclick='sortTable(0, "receiptTable")' class='w-80'>Date</th>
                        <th onclick='sortTable(1, "receiptTable")' class='w-20'>Location</th>
                        <th onclick='sortTable(2, "receiptTable")' class='w-20'>Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='receiptTable'>
                    </tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_issues) { %>
            <div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
                <%- include(`${process.env.PARTIALS}/spinner`, {id: 'issue_lines'}) %>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th onclick='sortTable(0, "issueTable")' class='w-20'>Date</th>
                        <th onclick='sortTable(1, "issueTable")' class='w-60'>To</th>
                        <th onclick='sortTable(2, "issueTable")' class='w-20'>Qty</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='issueTable'>
                    </tbody>
                </table>
            </div>
        <% } %>
        <%- include(`${process.env.PARTIALS}/notes/tab_body`) %>
    </div>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<!-- get/spinner/XHRsend/send from notes include -->
<script src="/js/data/addFormListener.js"></script>
<script src='/js/tabs.js'></script>
<script src='/js/add.js'></script>
<script src='/js/edit.js'></script>
<script src='/js/show.js'></script>
<script src="/js/sizes/show/showSize.js"></script>
<script>showTab('<%= tab %>');</script>
<script>
    getSize = () => get(showSize, {table: 'sizes', query: [`size_id=${path[3]}`]})
    document.querySelector('#reload').addEventListener('click', () => getSize());
    document.querySelector('#reload').addEventListener('click', () => getNotes());
</script>
<script async>getSize()</script>
<% if (permissions.access_nsns) {%>
    <script src="/js/sizes/show/showNSNs.js"></script>
    <script>
        getNSNs = () => get(showNSNs, {table: 'nsns', query: [`size_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getNSNs());
    </script>
    <script async>getNSNs()</script>
<% } %>
<% if (permissions.access_serials) {%>
    <script src="/js/sizes/show/showSerials.js"></script>
    <script>
        getSerials = () => get(showSerials, {table: 'serials', query: [`size_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getSerials());
    </script>
    <script async>getSerials()</script>
<% } %>
<% if (permissions.access_stock) {%>
    <script src="/js/sizes/show/showStock.js"></script>
    <script>
        getStock = () => get(showStock, {table: 'stock', query: [`size_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getStock());
    </script>
    <script async>getStock()</script>
<% } %>
<% if (permissions.access_requests) {%>
    <script src="/js/sizes/show/showRequests.js"></script>
    <script>
        getRequests = () => get(showRequests, {table: 'request_lines', query: [`size_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getRequests());
    </script>
    <script async>getRequests()</script>
<% } %>
<% if (permissions.access_orders) {%>
    <script src="/js/sizes/show/showOrders.js"></script>
    <script>
        getOrders = () => get(showOrders, {table: 'order_lines', query: [`size_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getOrders());
    </script>
    <script async>getOrders()</script>
<% } %>
<% if (permissions.access_receipts) {%>
    <script src="/js/sizes/show/showReceipts.js"></script>
    <script>
        getReceipts = () => get(showReceipts, {table: 'receipt_lines', query: [`size_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getReceipts());
    </script>
    <script async>getReceipts()</script>
<% } %>
<% if (permissions.access_issues) {%>
    <script src="/js/sizes/show/showIssues.js"></script>
    <script>
        getIssues = () => get(showIssues, {table: 'issue_lines', query: [`size_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getIssues());
    </script>
    <script async>getIssues()</script>
<% } %>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>