<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/items',  text: 'Items'}) %>
<%- include(`${partials}/breadcrumb`, {id: 'item'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'size'}) %>
        <%- include(`${partials}/tab_head`, {id: 'nsns',    title: 'NSNs',    spinner: 'nsns',    count_id: 'nsn',    _class: 'has_nsns_element'}) %>
        <%- include(`${partials}/tab_head`, {id: 'serials', title: 'Serials', spinner: 'serials', count_id: 'serial', _class: 'serial_element'}) %>
        <%- include(`${partials}/tab_head`, {id: 'stocks',  title: 'Stocks',  spinner: 'stocks',  count_id: 'stock',  _class: 'stock_element'}) %>
        <%- include(`${partials}/tab_head`, {id: 'orders',  title: 'Orders',  spinner: 'orders',  count_id: 'order',  _class: 'orderable_element', permission: 'stores_stock_admin'}) %>
        <%- include(`${partials}/tab_head`, {id: 'issues',  title: 'Issues',  spinner: 'issues',  count_id: 'issue',  _class: 'issueable_element'}) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div     id="details" role="tabpanel" aria-labelledby="details-tab" class="tab-pane fade">
            <div class="input-group mb-1">
                <span class="input-group-text w-30">Actions</span>
                <%- include(`${partials}/button/modal/open`, {text: 'Edit',       type: 'warning', modal: 'size_edit',  small: true, classes: ['ms-1']}) %>
                <%- include(`${partials}/button/modal/open`, {text: 'Add Detail', type: 'success', modal: 'detail_add', small: true, classes: ['ms-1']}) %>
                <%- include(`${partials}/button/delete`) %>
            </div>
            <%- include(`${partials}/inputs/display`, {id: 'issueable',   title: 'Issueable'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'orderable',   title: 'Orderable'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'has_serials', title: 'Has Serials'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'has_nsns',    title: 'Has NSNs'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'supplier',    title: 'Supplier', link: true}) %>
            <div id="div_details">
                <%- include(`${partials}/sort`, {table: 'details', small: true}) %>
	            <table class='table table-sm table-hover w-100'>
                    <thead class='thead-dark'>
                        <th class='w-30'>Name </th>
                        <th class='w-70'>Value</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_details'></tbody>
                </table>
                <%- include(`${partials}/limit`, {table: 'details'}) %>
            </div>
        </div>
        <div     id="nsns"    role="tabpanel" aria-labelledby="nsns-tab"    class="tab-pane fade">
            <div class="row">
                <div class="col-12 col-md-6 mb-1">
                    <%- include(`${partials}/button/modal/open`, {text: 'New NSN', type: 'success', modal: 'nsn_add', classes: ['w-100'], small: true}) %>
                </div>
                <div class="col-12 col-md-6 mb-1 justify-content-center">
                    <%- include(`${partials}/sort`, {table: 'nsns', small: true}) %>
                </div>
            </div>
	        <% if (permissions.stores_stock_admin) { %><form id='form_nsn_default'><% } %>
            <table class='table table-sm table-hover'>
                <thead class='thead-dark'>
					<th class='w-80'>NSN</th>
                    <th class='w-20'>Default</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id='tbl_nsns'></tbody>
            </table>
            <%- include(`${partials}/limit`, {table: 'nsns'}) %>
            <% if (permissions.stores_stock_admin) { %></form><% } %>
        </div>
        <div     id="serials" role="tabpanel" aria-labelledby="serials-tab" class="tab-pane fade">
            <div class="row">
                <div class="col-12 col-md-6 mb-1">
                    <%- include(`${partials}/button/modal/open`, {text: 'New Serial', type: 'success', modal: 'serial_add', classes: ['w-100'], small: true}) %>
                </div>
                <div class="col-12 col-md-6 mb-1 justify-content-center">
                    <%- include(`${partials}/sort`, {table: 'serials', small: true}) %>
                </div>
            </div>
	        <table class='table table-sm table-hover'>
                <thead class='thead-dark'>
					<th class='w-50'>Serial #</th>
					<th class='w-50'>Location</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id='tbl_serials'></tbody>
            </table>
            <%- include(`${partials}/limit`, {table: 'serials'}) %>
        </div>
        <div     id="stocks"  role="tabpanel" aria-labelledby="stocks-tab"  class="tab-pane fade">
            <div class="row">
                <div class="col-12 col-md-6 mb-1">
                    <%- include(`${partials}/button/modal/open`, {text: 'New Stock Location', type: 'success', modal: 'stock_add', classes: ['w-100'], small: true}) %>
                </div>
                <div class="col-12 col-md-6 mb-1 justify-content-center">
                    <%- include(`${partials}/sort`, {table: 'stocks', small: true}) %>
                </div>
            </div>
	        <table class='table table-sm table-hover'>
                <thead class='thead-dark'>
					<th class='w-80'>Location</th>
					<th class='w-20'>Qty     </th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id='tbl_stocks'></tbody>
            </table>
            <%- include(`${partials}/limit`, {table: 'stocks'}) %>
        </div>
        <% if (permissions.stores_stock_admin) { %>
            <div id="orders"  role="tabpanel" aria-labelledby="orders-tab"  class="tab-pane fade">
                <div class="row">
                    <div class="col-12 col-md-4 mb-1">
                        <%- include(`${partials}/button/modal/open`, {text: 'New Order', type: 'success', modal: 'order_add', classes: ['w-100'], small: true}) %>
                    </div>
                    <div class="col-12 col-md-4 mb-1 justify-content-center">
                        <select class='form-select form-select-sm' id='sel_order_status'>
                            <option value='' selected>All Orders</option>
                            <option value='0'>Cancelled</option>
                            <option value='1'>Placed</option>
                            <option value='2'>Demanded</option>
                            <option value='3'>Received</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-4 mb-1 justify-content-center">
                        <%- include(`${partials}/sort`, {table: 'orders', small: true}) %>
                    </div>
                </div>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-50'>Date</th>
                        <th class='w-10'>Qty</th>
                        <th class='w-40'>Status</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_orders'></tbody>
                </table>
                <%- include(`${partials}/limit`, {table: 'orders'}) %>
            </div>
        <% } %>
        <div     id="issues"  role="tabpanel" aria-labelledby="issues-tab"  class="tab-pane fade">
            <div class="row">
                <div class="col-12 col-md-4 mb-1">
                    <%- include(`${partials}/button/modal/open`, {text: 'New Issue', type: 'success', modal: 'issue_add', classes: ['w-100'], small: true}) %>
                </div>
                <div class="col-12 col-md-4 mb-1 justify-content-center">
                    <select class='form-select form-select-sm' id='sel_issue_status'>
                        <option value='' selected>All Orders</option>
                        <option value='0'>Cancelled/Declined</option>
                        <option value='1'>Requested</option>
                        <option value='2'>Approved</option>
                        <option value='3'>Ordered</option>
                        <option value='4'>Issued</option>
                        <option value='5'>Returned</option>
                    </select>
                </div>
                <div class="col-12 col-md-4 mb-1 justify-content-center">
                    <%- include(`${partials}/sort`, {table: 'issues', small: true}) %>
                </div>
            </div>
            <table class='table table-sm table-hover'>
                <thead class='thead-dark'>
					<th class='w-20'>Date</th>
					<th class='w-40'>To</th>
					<th class='w-10'>Qty</th>
					<th class='w-30'>Status</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id='tbl_issues'></tbody>
            </table>
            <%- include(`${partials}/limit`, {table: 'issues'}) %>
        </div>
        <%- include(`${partials}/common/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <div     id='mdl_detail_view' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Detail</h5>
                        <%- include(`${partials}/spinner`, {id: 'detail_view'}) %>
                        <span class='float-end'>
                            <% if (permissions.stores_stock_admin) { %>
                                <span id='detail_edit_btn' class='float-end me-1'></span>
                                <span id='detail_delete_btn' class='float-end me-1'></span>
                            <% } %>
                        </span>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`,  {title: 'Detail',  id: 'detail_name'}) %>
                        <%- include(`${partials}/inputs/textarea`, {title: 'Value',   id: 'detail_value', readonly: true}) %>
                        <%- include(`${partials}/inputs/display`,  {title: 'Created', id: 'detail_createdAt'}) %>
                        <%- include(`${partials}/inputs/display`,  {title: 'Updated', id: 'detail_updatedAt'}) %>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto'>ID: <span id='detail_id'></span></p>
                        <%- include(`${partials}/button/modal/close`) %>
                    </div>
                </div>
            </div>
        </div>
        <% if (permissions.stores_stock_admin) { %>
            <div id='mdl_detail_add'  class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="modal-content" id='form_detail_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Add Detail</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class='size_id' name='detail[size_id]'>
                            <%- include(`${partials}/inputs/text`,     {title: 'Detail', id: 'detail_name_add',  name: 'detail[name]',  required: true, list_id: 'list_detail_options', spinner_id: 'detail_options', reload_id: 'reload_options'}) %>
                            <%- include(`${partials}/inputs/textarea`, {title: 'Value',  id: 'detail_value_add', name: 'detail[value]', required: true}) %>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
            <div id='mdl_detail_edit' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="modal-content" id='form_detail_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Detail</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id='detail_id_edit' name='detail_id'>
                            <%- include(`${partials}/inputs/text`,     {title: 'Detail', id: 'detail_name_edit',  name: 'detail[name]',  required: true, list_id: 'list_detail_options'}) %>
                            <%- include(`${partials}/inputs/textarea`, {title: 'Value',  id: 'detail_value_edit', name: 'detail[value]', required: true}) %>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
            <div id='mdl_size_edit'   class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="modal-content" id='form_size_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Size</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/select`, {name: 'size[issueable]',   title: 'Issueable',    id: 'sel_issueable', options: [{value: '0', text: 'No'}, {value: '1', text: 'Yes'}]}) %>
                            <%- include(`${partials}/inputs/select`, {name: 'size[orderable]',   title: 'Orderable',    id: 'sel_orderable', options: [{value: '0', text: 'No'}, {value: '1', text: 'Yes'}]}) %>
                            <%- include(`${partials}/inputs/select`, {name: 'size[has_serials]', title: 'Has Serial #', id: 'sel_serials',   options: [{value: '0', text: 'No'}, {value: '1', text: 'Yes'}]}) %>
                            <%- include(`${partials}/inputs/select`, {name: 'size[has_nsns]',    title: 'Has NSNs',     id: 'sel_nsns',      options: [{value: '0', text: 'No'}, {value: '1', text: 'Yes'}]}) %>
                            <%- include(`${partials}/inputs/select`, {name: 'size[supplier_id]', title: 'Supplier',     id: 'sel_suppliers', spinner_id: 'suppliers', reload_id: 'reload_suppliers', permission: 'supplier_admin'}) %>
                            <%- include(`${partials}/inputs/text`,   {name: 'size[size1]',       title: 'Size 1',       id: 'size1_edit',    required: true}) %>
                            <%- include(`${partials}/inputs/text`,   {name: 'size[size2]',       title: 'Size 2',       id: 'size2_edit'}) %>
                            <%- include(`${partials}/inputs/text`,   {name: 'size[size3]',       title: 'Size 3',       id: 'size3_edit'}) %>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>

        <% if (permissions.stores_stock_admin) { %>
            <div id='mdl_order_view'  class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Order</h5>
                            <%- include(`${partials}/spinner`, {id: 'order_view'}) %>
                            <a id="btn_order_link" class='btn btn-primary float-end'><i class="fas fa-search"></i></a>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/display`, {title: 'Ordered By', id: 'order_user', link: true}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Quantity',   id: 'order_qty'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Status',     id: 'order_status'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Ordered',    id: 'order_createdAt'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Updated',    id: 'order_updatedAt'}) %>
                        </div>
                        <div class="modal-footer">
                            <p class='me-auto'>ID: <span id='order_id'></span></p>
                            <%- include(`${partials}/button/modal/close`) %>
                        </div>
                    </div>
                </div>
            </div>
            <div id='mdl_order_add'   class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="modal-content" id='form_order_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Order Item</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name='line[size_id]' class='size_id'>
                            <%- include(`${partials}/inputs/number`, {name: 'line[qty]', title: 'Quantity', value: '1', required: true}) %>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success w-100" value='Order'>
                            <%- include(`${partials}/button/modal/close`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>

        <div     id='mdl_issue_view'  class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Issue</h5>
                        <%- include(`${partials}/spinner`, {id: 'issue_view'}) %>
                        <a id="btn_issue_link" class='btn btn-primary float-end'><i class="fas fa-search"></i></a>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {title: 'Issued To', id: 'issue_user_to', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Issued By', id: 'issue_user_by', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Quantity',  id: 'issue_qty'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Status',    id: 'issue_status'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Issued',    id: 'issue_createdAt'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Updated',   id: 'issue_updatedAt'}) %>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto'>ID: <span id='issue_id'></span></p>
                        <%- include(`${partials}/button/modal/close`) %>
                    </div>
                </div>
            </div>
        </div>
        <% if (permissions.issuer) { %>
            <div id='mdl_issue_add'   class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="modal-content" id='form_issue_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Issue Item</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/number`, {title: 'Quantity', value: '1', min: '1', id: 'issue_add_qty'}) %>
                            <button type='button' class='btn btn-success w-100 mb-1' id='btn_issue_users'>Add Users</button>
                            <table class='table table-sm table-hover'>
                                <thead class='thead-dark'>
                                    <th class='w-30'>Service Number</th>
                                    <th class='w-60'>User</th>
                                    <th class='w-20'>Quantity</th>
                                    <th><i class='fas fa-trash-alt'></i></th>
                                </thead>
                                <tbody id='tbl_issue_add'></tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success w-100" value='Issue'>
                            <%- include(`${partials}/button/modal/close`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>

        <div     id='mdl_nsn_view'    class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5   class="modal-title">NSN: <span id="nsn_view"></span></h5>
                        <%- include(`${partials}/spinner`, {id: 'nsn_view'}) %>
                        <a class='btn btn-primary float-end' id='btn_nsn_link'><i class="fas fa-search"></i></a>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {id: 'nsn_group_id',   classes: ['text-start'], title: 'Group'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'nsn_class_id',   classes: ['text-start'], title: 'Classification'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'nsn_country_id', classes: ['text-start'], title: 'Country'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'item_number',    classes: ['text-start'], title: 'Item Number'}) %>
                        <%- include(`${partials}/inputs/display`, {id: '_default',       classes: ['text-start'], title: 'Is Default?'}) %>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto'>ID: <span id='nsn_id'></span></p>
                        <%- include(`${partials}/button/modal/close`) %>
                    </div>
                </div>
            </div>
        </div>
        <% if (permissions.stores_stock_admin) { %>
            <div id='mdl_nsn_add'     class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="modal-content" id='form_nsn_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Add NSN</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class='size_id' name='nsn[size_id]'>
                            <%- include(`${partials}/inputs/select`, {title: 'Group',          name: 'nsn[nsn_group_id]',   required: true, id: 'sel_nsn_groups'}) %>
                            <%- include(`${partials}/inputs/select`, {title: 'Classification', name: 'nsn[nsn_class_id]',   required: true, id: 'sel_nsn_classes'}) %>
                            <%- include(`${partials}/inputs/select`, {title: 'Country',        name: 'nsn[nsn_country_id]', required: true, id: 'sel_nsn_countries'}) %>
                            <%- include(`${partials}/inputs/text`,   {title: 'Item Number',    name: 'nsn[item_number]',    required: true}) %>
                            <%- include(`${partials}/inputs/select`, {title: 'Default?',       name: 'default', options: [{text: 'Yes', value: '1'}, {text: 'No', value: '0', selected: true}]}) %>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
            <div id='mdl_serial_add'  class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="modal-content" id='form_serial_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Add Serial</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class='size_id' name='serial[size_id]'>
                            <%- include(`${partials}/inputs/text`, {title: 'Serial #', id: 'serial_serial',   name: 'serial[serial]', required: true}) %>
                            <%- include(`${partials}/inputs/text`, {title: 'Location', id: 'serial_location', name: 'location',       required: true, list_id: 'locations_list', spinner_id: 'locations', reload_id: 'reload_locations_serial'}) %>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
            <div id='mdl_stock_add'   class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="modal-content" id='form_stock_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Add Stock Location</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class='size_id' name='stock[size_id]'>
                            <%- include(`${partials}/inputs/text`, {title: 'Location', id: 'stock_locations', name: 'location', required: true, list_id: 'locations_list', spinner_id: 'locations', reload_id: 'reload_locations_stock'}) %>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script>show_tab('<%= tab %>');</script>
<%- include(`${partials}/common/notes/scripts`) %>
<script src="/js/stores/sizes/show/view.js"></script>
<script async>getSize()</script>
<script src="/js/stores/sizes/show/details/view.js"></script>
<% if (permissions.stores_stock_admin) { %>
    <datalist id="list_detail_options"></datalist>
    <script src="/js/stores/sizes/show/details/add.js"></script>
    <script src="/js/stores/sizes/show/details/edit.js"></script>
    <script src="/js/stores/sizes/show/details/delete.js"></script>
    <script src="/js/utils/list/suppliers.js"></script>
    <script src="/js/stores/sizes/show/edit.js"></script>
    <script src="/js/stores/sizes/show/delete.js"></script>
    <script src="/js/stores/locations/getLocations.js"></script>
    <datalist id="locations_list"></datalist>
<% } %>

<script src="/js/stores/sizes/show/nsns/view.js"></script>
<% if (permissions.stores_stock_admin) { %>
    <script src="/js/utils/list/nsns.js"></script>
    <script src="/js/stores/sizes/show/nsns/add.js"></script>
<% } %>

<script src="/js/stores/sizes/show/serials/view.js"></script>
<% if (permissions.stores_stock_admin) { %>
    <script src="/js/stores/sizes/show/serials/add.js"></script>
<% } %>

<script src="/js/stores/sizes/show/stock/view.js"></script>
<% if (permissions.stores_stock_admin) { %>
    <script src="/js/stores/sizes/show/stock/add.js"></script>
    <script src="/js/stores/sizes/show/orders/view.js"></script>
    <script src="/js/stores/sizes/show/orders/add.js"></script>
<% } %>

<script src="/js/stores/sizes/show/issues/view.js"></script>
<% if (permissions.issuer) { %>
    <script src="/js/users/select/showWindow.js"></script>
    <script src="/js/stores/sizes/show/issues/add.js"></script>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>