<%- include(`${partials}/head/app`,   {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Items', href: '/items'}) %>
<%- include(`${partials}/breadcrumb`, {id: 'breadcrumb_item'}) %>
<%- include(`${partials}/breadcrumb`, {id: 'breadcrumb_size'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <%- include(`${partials}/sidebar_open`, {id: 'Actions', button_html: 'Actions', sidebar_text: 'Actions'}) %>
        <%- include(`${partials}/button/modal/open`, {id: 'transfer_add', text: 'Transfer',      type: 'success', modal: 'transfer_add'}) %>
        <%- include(`${partials}/button/modal/open`, {id: 'stock_edit',   text: 'Edit',          type: 'warning', modal: 'stock_edit'}) %>
        <%- include(`${partials}/button/modal/open`, {id: 'receipt_add',  text: 'Receive Stock', type: 'success', modal: 'receipt_add'}) %>
        <%- include(`${partials}/button/modal/open`, {id: 'count_add',    text: 'Count',         type: 'warning', modal: 'count_add'}) %>
        <%- include(`${partials}/button/modal/open`, {id: 'scrap_add',    text: 'Scrap',         type: 'danger',  modal: 'scrap_add'}) %>
        <%- include(`${partials}/button/delete`) %>
    <%- include(`${partials}/sidebar_close`) %>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'stock'}) %>
        <%- include(`${partials}/common/actions/tab_head`) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: 'stock_item',     title: 'Item',     link: true}) %>
            <%- include(`${partials}/inputs/display`, {id: 'stock_size',     title: 'Size',     link: true}) %>
            <%- include(`${partials}/inputs/display`, {id: 'stock_location', title: 'Location', link: true}) %>
            <%- include(`${partials}/inputs/display`, {id: 'stock_qty',      title: 'Quantity'}) %>
        </div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <datalist id="locations_list"></datalist>
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
        <% if (permissions.stores_stock_admin) { %>
            <div id='mdl_receipt_add' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="modal-content" id='form_receipt_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Receive Stock</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class="stock_id" name='receipt[stock_id]'>
                            <%- include(`${partials}/inputs/number`, {title: 'Quantity', id: 'receipt_qty', name: 'receipt[qty]', required: true}) %>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
            <div id='mdl_stock_edit'     class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_stock_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Change Location</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`, {title: 'Location', name: 'location', id: 'stock_location_edit', spinner_id: 'locations', reload_id: 'reload_locations_edit', list_id: 'locations_list'}) %>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
            <div id='mdl_transfer_add'   class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_transfer_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Transfer Stock</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`,   {title: 'To Location', name: 'location_to', id: 'transfer_add_location', spinner_id: 'locations_transfer', reload_id: 'reload_locations_transfer', list_id: 'locations_list'}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Quantity',    name: 'qty',         id: 'transfer_add_qty', min: '0'}) %>
                        </div>
                        <div class="modal-footer">
                            <input type="submit"  class="btn btn-success w-100" value='Transfer'>
                            <%- include(`${partials}/button/modal/close`) %>
                        </div>
                    </form>
                </div>
            </div>
            <div id='mdl_count_add'      class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="modal-content" id='form_count_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Count</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/number`, {title: 'Quantity', name: 'count[qty]', id: 'adjustment_qty_count', required: true}) %>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success w-100" value='Count Stock'>
                            <%- include(`${partials}/button/modal/close`) %>
                        </div>
                    </form>
                </div>
            </div>
            <div id='mdl_scrap_add'      class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="modal-content" id='form_scrap_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Scrap</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/number`, {title: 'Quantity', name: 'scrap[qty]', id: 'adjustment_qty_scrap', required: true}) %>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success w-100" value='Scrap Stock'>
                            <%- include(`${partials}/button/modal/close`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script>show_tab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>
<script src='/js/stores/stocks/show/view.js'></script>
<% if (permissions.stores_stock_admin) { %>
    <script src="/js/stores/locations/getLocations.js"></script>
    <script src='/js/stores/stocks/show/edit.js'></script>
    <script src="/js/stores/stocks/show/delete.js"></script>
    <script src='/js/stores/stocks/show/receipts/add.js'></script>
    <script src='/js/stores/stocks/show/adjustments/add.js'></script>
    <script src='/js/stores/stocks/show/transfers/add.js'></script>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>