<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores', text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Stocks'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%- include(`${partials}/menu/button`, {id: 'stock_edit',     text: 'Edit',           modal: 'stock_edit'}) %>
				<%- include(`${partials}/menu/button`, {id: 'note_add',       text: 'Add Note',       modal: 'note_add'}) %>
				<%- include(`${partials}/menu/button`, {id: 'adjustment_add', text: 'Add Adjustment', modal: 'adjustment_add'}) %>
				<%- include(`${partials}/menu/button`, {id: 'delete',	      text: 'Delete',         btn_form: {permission: 'stock_delete'}}) %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details',     title: 'Details',     spinner: 'stock'}) %>
        <%- include(`${partials}/tab_head`, {id: 'adjustments', title: 'Adjustments', spinner: 'adjustments', count_id: 'adjustment', permission: 'access_adjustments'}) %>
        <%- include(`${partials}/tab_head`, {id: 'actions',     title: 'Actions',     spinner: 'actions',     count_id: 'action',     permission: 'access_actions'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',       title: 'Notes',       spinner: 'notes',       count_id: 'note',       permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: 'stock_item',     title: 'Item',     link: true}) %>
            <%- include(`${partials}/inputs/display`, {id: 'stock_size',     title: 'Size',     link: true}) %>
            <%- include(`${partials}/inputs/display`, {id: 'stock_location', title: 'Location', link: true}) %>
            <%- include(`${partials}/inputs/display`, {id: 'stock_qty',      title: 'Qty'}) %>
        </div>
        <% if (permissions.access_adjustments) { %>
            <div class="tab-pane fade" id="adjustments" role="tabpanel" aria-labelledby="adjustments-tab">
                <table class='table table-sm table-hover w-100'>
                    <thead class='thead-dark'>
                        <th class='w-40' onclick='sortTable(0, "tbl_adjustments")'>Date</th>
                        <th class='w-40' onclick='sortTable(1, "tbl_adjustments")'>Type</th>
                        <th class='w-10' onclick='sortTable(2, "tbl_adjustments")'>Qty</th>
                        <th class='w-10' onclick='sortTable(3, "tbl_adjustments")'>Variance</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_adjustments'></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_actions) { %>
            <div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">
                <table class='table table-sm table-hover w-100'>
                    <thead class='thead-dark'>
                        <th class='w-50' onclick='sortTable(0, "tbl_actions")'>Date</th>
                        <th class='w-50' onclick='sortTable(1, "tbl_actions")'>Action</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_actions'></tbody>
                </table>
            </div>
        <% } %>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <%- include(`${partials}/notes/modals`) %>
        <% if (permissions.stock_edit) { %>
            <div     id='mdl_stock_edit'      class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_stock_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Location</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`, {title: 'Location', name: 'location', id: 'stock_location_edit', maxlength: '8', spinner_id: 'locations', reload_id: 'reload_locations', list_id: 'locations_list'}) %>
                            <datalist id="locations_list"></datalist>
                        </div>
                        <div class="modal-footer">
                            <input type="submit"  class="btn btn-success w-100" value='Save Location'>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_adjustments) { %>
            <div     id='mdl_adjustment_view' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Adjustment</h5>
                            <%- include(`${partials}/spinner`, {id: 'adjustment_view'}) %>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/display`, {id: 'adjustment_item',      title: 'Item', link: true}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'adjustment_size',      title: 'Size', link: true}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'adjustment_type',      title: 'Type'}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'adjustment_qty',       title: 'Quantity'}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'adjustment_variance',  title: 'Variance'}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'adjustment_user',      title: 'User', link: true}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'adjustment_createdAt', title: 'Created'}) %>
                        </div>
                        <div class="modal-footer">
                            <p class='me-auto'>ID: <span id='adjustment_id'></span></p>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <% if (permissions.adjustment_add) { %>
                <div id='mdl_adjustment_add'  class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <form class="modal-content" id='form_adjustment_add'>
                            <div class="modal-header">
                                <h5 class="modal-title">Add Adjustment</h5>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" class='stock_id' name='adjustment[stock_id]'>
                                <%- include(`${partials}/inputs/select`, {title: 'Type',     name: 'adjustment[type]', options: [{value: 'Count', text: 'Count'}, {value: 'Scrap', text: 'Scrap'}]}) %>
                                <%- include(`${partials}/inputs/number`, {title: 'Quantity', name: 'adjustment[qty]',  id: 'adjustment_qty_add', required: true, placeholder: 'Required'}) %>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-success w-100" value='Save Adjustment'>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            <% } %>
        <% } %>
        <% if (permissions.access_actions) { %>
            <div     id='mdl_action_view'     class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Action</h5>
                            <%- include(`${partials}/spinner`, {id: 'action_view'}) %>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/display`, {id: 'action_createdAt', title: 'Date'}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'action_action',    title: 'Action'}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'action_issue',     title: 'Issue',    link: true}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'action_order',     title: 'Order',    link: true}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'action_serial',    title: 'Serial #', link: true}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'action_location',  title: 'Location', link: true}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'action_nsn',       title: 'NSN',      link: true}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'action_loancard',  title: 'Loancard', link: true}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'action_demand',    title: 'Demand',   link: true}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'action_user',      title: 'User',     link: true}) %>
                        </div>
                        <div class="modal-footer">
                            <p class='me-auto'>ID: <span id='action_id'></span></p>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/addFormListener.js"></script>
<script src='/js/tabs.js'></script>
<script>showTab('<%= tab %>')</script>
<%- include(`${partials}/notes/scripts`) %>
<script src='/js/stores/stocks/show/view.js'></script>
<script async>getStock()</script>
<% if (permissions.stock_edit) { %>
    <script src="/js/stores/locations/getLocations.js"></script>
    <script src='/js/stores/stocks/show/edit.js'></script>
<% } %>
<% if (permissions.stock_delete) { %>
    <script src="/js/stores/stocks/show/delete.js"></script>
<% } %>
<% if (permissions.access_adjustments) { %>
    <script src='/js/stores/stocks/show/adjustments/view.js'></script>
    <script async>getAdjustments()</script>
    <% if (permissions.adjustment_add) { %>
        <script src='/js/stores/stocks/show/adjustments/add.js'></script>
    <% } %>
<% } %>
<% if (permissions.access_actions) { %>
    <script src='/js/stores/stocks/show/actions/view.js'></script>
    <script async>getActions()</script>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>