<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/items">Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/items/<%= stock.item_size.item_id %>"><%= stock.item_size.item._description %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/item_sizes/<%= stock.item_size.itemsize_id %>">Size: <%= stock.item_size.size._text %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/stock/<%= stock.stock_id %>/edit">Location: <%= stock.location._location %></a>
            </li>
        </ul>
    </nav>
</section>
<nav class="navbar navbar-expand navbar-dark bg-dark stores">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Options
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<% if (permissions.item_adjust) { %> 
				<a class="dropdown-item" href="/stores/adjusts/new?si=<%= stock.stock_id %>&at=Count">Count</a>
				<a class="dropdown-item" href="/stores/adjusts/new?si=<%= stock.stock_id %>&at=Scrap">Scrap</a>
				<% } %>
				<% if (permissions.notes_add) { %>
				<a class="dropdown-item" href="/stores/notes/new?table=stock&id=<%= stock.stock_id %>">Add Note</a>
				<div class="dropdown-divider"></div>
				<% } %>
				<a class="dropdown-item" href="/stores/items_sizes/<%= stock.item_size.itemsize_id %>/edit">Back to <%= stock.item_size.item._description %>/Size: <%= stock.item_size.size._text %></a>
			</div>
		</li>
	</ul>
</nav>
<section class="detailBox container-fluid pt-3">
	<div class="row">
		<div class="col-12 col-md-3 mx-auto">
			<div class="container bordered">
				<h4>Location</h4>
				<div class="details">
					<form action="/stores/stock/<%= stock.stock_id %>?_method=PUT" method="POST" onsubmit="return confirm('Confirm edit stock?');">
						<input type="hidden" name="stock[stock_id]" value="<%= stock.stock_id %>" readonly>
						<p><input type="text" class="form-control" name="stock[location_id]" maxlength="10" value="<%= stock.location._location %>" required></p>
						<p><button class="btn btn-success">Save</button></p>
					</form>
                </div>
			</div>
		</div>
		<div class="col-12 col-md-9 mx-auto bordered">
			<% include ../../partials/noteTable %>
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/tableSort.js"></script>
<script src="/js/filters.js"></script>
<script>
    function filterSelects() {
        filter(['sn'],"/stores/stock/<%= stock.stock_id %>/edit");
    };
</script>
<% include ../../partials/foot/htmlClose %>