<%- include(`${process.env.PARTIALS}/head/head`) %>
<body>
<%- include(`${process.env.PARTIALS}/head/flash`) %>
<section id='body'>
	<form id='stockForm'>
		<%- include(`${process.env.PARTIALS}/spinner`, {id: 'locations'}) %>
        <%- include(`${process.env.PARTIALS}/inputs/text`, {id: '_location', name: '_location', title: 'Location', maxlength: 20, required: true, list: true}) %>
        <%- include('../../partials/save_cancel') %>
	</form>
<%- include(`${process.env.PARTIALS}/foot/noNav`) %>
<script>
    window.addEventListener( "load", function () {
		addFormListener('stockForm', 'PUT', '/stores/stock/<%= stock.stock_id %>');
    });
</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>