<%- include(`${partials}/head/head`) %>
<body>
<%- include(`${partials}/head/flash`) %>
<section id='body'>
	<form id='stockForm' action="/stores/stock" method="POST">
        <input type="hidden" name="stock[size_id]" value="<%= item.size_id %>">
		<%- include(`${partials}/spinner`, {id: 'locations'}) %>
        <%- include(`${partials}/inputs/text`, {id: '_location', name: 'location', title: 'Location', maxlength: 10, required: true, list: true}) %>
        <% if (permissions.adjust_add) { %>
			<%- include(`${partials}/inputs/text`, {id: '_location', name: 'stock[_qty]', title: 'Quantity', value: 0, maxlength: 11}) %>
		<% } %>
		<%- include(`${partials}/save_cancel`) %>
	</form>
<%- include(`${partials}/foot/noNav`) %>
<script src='/js/data/addFormListener.js'></script>
<script src='/js/data/send.js'></script>
<script src='/js/data/XHRsend.js'></script>
<script src='/js/get.js'></script>
<script src='/js/spinner.js'></script>
<script src='/js/getLocations.js'></script>
<script async>get(getLocations, {table: 'locations', query: []})</script>
<script>
    window.addEventListener( "load", function () {
        addFormListener(
            'stockForm',
            'POST',
            '/stores/stock',
            {
                onComplete: window.opener.getStock,
                _close: true
            }
        );
    });
</script>
<%- include(`${partials}/foot/htmlClose`) %>
