<%- include(`${process.env.PARTIALS}/head/head`) %>
<body>
<%- include(`${process.env.PARTIALS}/head/flash`) %>
<section id='body'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
		<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.stock_edit) { %>
                    <%- include(`${process.env.PARTIALS}/edit`) %>
                <% } %>
                <div class="dropdown-divider"></div>
                <%- include(`${process.env.PARTIALS}/notes/menu_add`) %>
                <% if (permissions.stock_delete) { %>
                    <%- include(`${process.env.PARTIALS}/delete`, {close: true, onComplete: 'getSerials'}) %>
                <% } %>
				<% if (permissions.adjust_add) { %>
					<div class="dropdown-divider"></div>
                    <a class='dropdown-item' id='_count'>Count</a>
                    <a class='dropdown-item' id='_scrap'>Scrap</a>
				<% } %>
            </div>
        </li>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'details',  title: 'Details'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'adjusts',  title: 'Adjustments', count_id: 'adjust_count',  permission: 'access_adjusts'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'receipts', title: 'Receipts',    count_id: 'receipt_count', permission: 'access_receipts'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'issues',   title: 'Issues', 	   count_id: 'issue_count',   permission: 'access_issues'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'returns',  title: 'Returns', 	   count_id: 'return_count',  permission: 'access_returns'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'notes',    title: 'Notes',       count_id: 'note_count',    permission: 'access_notes'}) %>
        <%- include(`${process.env.PARTIALS}/reload`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${process.env.PARTIALS}/spinner`, {id: 'stock'}) %>
			<%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'location', title: 'Location'}) %>
			<%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_qty', title: 'Quantity'}) %>
		</div>
        <% if (permissions.access_adjusts) { %>
			<div class="tab-pane fade" id="adjusts" role="tabpanel" aria-labelledby="adjusts-tab">
				<%- include(`${process.env.PARTIALS}/spinner`, {id: 'adjusts'}) %>
				<table class="table table-sm table-hover">
					<thead class="thead-dark">
						<th class="w-25" onclick="sortTable(0, 'adjustsTable')">Date</th>
						<th class="w-10" onclick="sortTable(1, 'adjustsTable')">Type</th>
						<th class="w-10" onclick="sortTable(2, 'adjustsTable')">Qty</th>
						<th class="w-10" onclick="sortTable(3, 'adjustsTable')">Variance</th>
						<th class="w-45" onclick="sortTable(4, 'adjustsTable')">User</th>
					</thead>
					<tbody id="adjustTable">
					</tbody>
				</table>
			</div>
        <% } %>
        <% if (permissions.access_receipts) { %>
			<div class="tab-pane fade" id="receipts" role="tabpanel" aria-labelledby="receipts-tab">
				<%- include(`${process.env.PARTIALS}/spinner`, {id: 'receipt_lines'}) %>
				<table class="table table-sm table-hover">
					<thead class="thead-dark">
						<th class="w-45" onclick="sortTable(0, 'receiptTable')">Date</th>
						<th class="w-10" onclick="sortTable(1, 'receiptTable')">Qty</th>
						<th class="w-45" onclick="sortTable(2, 'receiptTable')">User</th>
						<th><i class="fas fa-search"></i></th>
					</thead>
					<tbody id="receiptTable">
					</tbody>
				</table>
			</div>
        <% } %>
        <% if (permissions.access_issues) { %>
			<div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
				<%- include(`${process.env.PARTIALS}/spinner`, {id: 'issue_lines'}) %>
				<table class="table table-sm table-hover">
					<thead class="thead-dark">
						<th class="w-40" onclick="sortTable(0, 'issueTable')">Date</th>
						<th class="w-40" onclick="sortTable(1, 'issueTable')">To</th>
						<th class="w-10" onclick="sortTable(2, 'issueTable')">Qty</th>
						<th class="w-10" onclick="sortTable(3, 'issueTable')">Returned?</th>
						<th><i class="fas fa-search"></i></th>
					</thead>
					<tbody id="issueTable">
					</tbody>
				</table>
			</div>
        <% } %>
        <% if (permissions.access_returns) { %>
			<div class="tab-pane fade" id="returns" role="tabpanel" aria-labelledby="returns-tab">
				<%- include(`${process.env.PARTIALS}/spinner`, {id: 'return_lines'}) %>
				<table class="table table-sm table-hover">
					<thead class="thead-dark">
						<th class="w-45" onclick="sortTable(0, 'returnTable')">Date</th>
						<th class="w-45" onclick="sortTable(1, 'returnTable')">From</th>
						<th class="w-10" onclick="sortTable(2, 'returnTable')">Qty</th>
						<th><i class="fas fa-search"></i></th>
					</thead>
					<tbody id="returnTable">
					</tbody>
				</table>
			</div>
        <% } %>
        <% include ../../partials/notes/tab_body %>
	</div>
<%- include(`${process.env.PARTIALS}/foot/noNav`) %>
<script src="/js/data/addFormListener.js"></script>
<script src='/js/tabs.js'></script>
<script>showTab('<%= tab %>');</script>
<script src="/js/stores/stock/show/stock.js"></script>
<script>
    getStock = () => {
        get(showStock, {table: 'stock', query: [`stock_id=${path[3]}`]});
        window.opener.getStock();
    };
    document.querySelector('#reload').addEventListener('click', () => getStock());
</script>
<script async>getStock()</script>
<% if (permissions.access_adjusts) { %>
	<script src="/js/stock/show/adjusts.js"></script>
    <script>
        getAdjusts = () => get(showAdjusts, {table: 'adjusts', query: [`stock_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getAdjusts());
    </script>
    <script async>getAdjusts()</script>
<% } %>

<% if (permissions.access_receipts) {%>
    <script src="/js/stock/show/receipts.js"></script>
    <script>
        getReceipts = () => get(showReceipts, {table: 'receipt_lines', query: [`stock_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getReceipts());
    </script>
    <script async>getReceipts()</script>
<% } %>
<% if (permissions.access_issues) {%>
    <script src="/js/stock/show/issues.js"></script>
    <script>
        getIssues = () => get(showIssues, {table: 'issue_lines', query: [`stock_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getIssues());
    </script>
    <script async>getIssues()</script>
<% } %>
<% if (permissions.access_returns) { %>
    <script src="/js/stock/show/returns.js"></script>
    <script>
        getReturns = () => get(showReturns, {table: 'return_lines', query: [`stock_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getReturns());
    </script>
    <script async>getReturns()</script>
<% } %>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>