<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
<section class="container">
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <% if (permissions.access_adjusts) { %>
            <li class="nav-item">
                <a class="nav-link" id="adjusts-tab" data-toggle="tab" href="#adjusts" role="tab" aria-controls="adjusts" aria-selected="true">
                    Adjustments (<span id='adjust_count'></span>)
                </a>
            </li>
        <% } %>
        <% if (permissions.access_receipts) { %>
            <li class="nav-item">
                <a class="nav-link" id="receipts-tab" data-toggle="tab" href="#receipts" role="tab" aria-controls="receipts" aria-selected="true">
                    Receipts (<span id='receipt_count'></span>)
                </a>
            </li>
        <% } %>
        <% if (permissions.access_issues) { %>
            <li class="nav-item">
                <a class="nav-link" id="issues-tab" data-toggle="tab" href="#issues" role="tab" aria-controls="issues" aria-selected="true">
                    Issues (<span id='issue_count'></span>)
                </a>
            </li>
        <% } %>
        <% if (permissions.access_returns) { %>
            <li class="nav-item">
                <a class="nav-link" id="returns-tab" data-toggle="tab" href="#returns" role="tab" aria-controls="returns" aria-selected="true">
                    Returns (<span id='return_count'></span>)
                </a>
            </li>
        <% } %>
        <% if (permissions.access_notes) { %>
            <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
                    Notes (<span id='note_count'></span>)
                </a>
            </li>
        <% } %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
				<div class="input-group mb-1">
                    <div class="input-group-prepend w-20">
                        <span class="input-group-text w-100">Location</span>
                    </div>
					<p class="form-control"><%= stock.location._location %></p>
					<div class="input-group-append">
						<a class='btn btn-warning' href='javascript:edit("stock",<%= stock.stock_id %>,{height:190})'>
							<i class='fas fa-pencil-alt'></i>
						</a>
					</div>
                </div>
			</div>
		</div>
        <% if (permissions.access_adjusts) { %>
			<div class="tab-pane fade" id="adjusts" role="tabpanel" aria-labelledby="adjusts-tab">
				<div class="container">
					<% if (permissions.adjust_add) { %> 
						<a class="float-left btn btn-primary mr-1" href='javascript:add("adjusts",{"height":361,"queries":"stock_id=<%= stock.stock_id %>&adjustType=Count"})'>
							<i class='fas fa-pencil-alt'></i>
						</a>
						<a class="float-left btn btn-danger mr-1" href='javascript:add("adjusts",{"height":361,"queries":"stock_id=<%= stock.stock_id %>&adjustType=Scrap"})'>
							<i class='fas fa-trash-alt'></i>
						</a>
					<% } %>
                    <div id='spn_adjusts' class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
					<table class="table table-sm table-hover">
						<thead class="thead-dark">
							<th class="w-25" onclick="sortTable(0, 'adjustsTable')">Date</th>
							<th class="w-10" onclick="sortTable(1, 'adjustsTable')">Type</th>
							<th class="w-10" onclick="sortTable(2, 'adjustsTable')">Qty</th>
							<th class="w-10" onclick="sortTable(3, 'adjustsTable')">Variance</th>
							<th class="w-45" onclick="sortTable(4, 'adjustsTable')">User</th>
						</thead>
						<tbody id="adjustTable">
						</tbody>
					</table>
				</div>
			</div>
        <% } %>
        <% if (permissions.access_receipts) { %>
			<div class="tab-pane fade" id="receipts" role="tabpanel" aria-labelledby="receipts-tab">
				<div class="container">
                    <div id='spn_receipts' class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
					<table class="table table-sm table-hover">
						<thead class="thead-dark">
							<th class="w-45" onclick="sortTable(0, 'receiptTable')">Date</th>
							<th class="w-10" onclick="sortTable(1, 'receiptTable')">Qty</th>
							<th class="w-45" onclick="sortTable(2, 'receiptTable')">User</th>
							<th><i class="fas fa-search"></i></th>
						</thead>
						<tbody id="receiptTable">
						</tbody>
					</table>
				</div>
			</div>
        <% } %>
        <% if (permissions.access_issues) { %>
			<div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
				<div class="container">
                    <div id='spn_issues' class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
					<table class="table table-sm table-hover">
						<thead class="thead-dark">
							<th class="w-40" onclick="sortTable(0, 'issueTable')">Date</th>
							<th class="w-40" onclick="sortTable(1, 'issueTable')">To</th>
							<th class="w-10" onclick="sortTable(2, 'issueTable')">Qty</th>
							<th class="w-10" onclick="sortTable(3, 'issueTable')">Returned?</th>
							<th><i class="fas fa-search"></i></th>
						</thead>
						<tbody id="issueTable">
						</tbody>
					</table>
				</div>
			</div>
        <% } %>
        <% if (permissions.access_returns) { %>
			<div class="tab-pane fade" id="returns" role="tabpanel" aria-labelledby="returns-tab">
				<div id='spn_returns' class="spinner-border text-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<table class="table table-sm table-hover">
					<thead class="thead-dark">
						<th class="w-45" onclick="sortTable(0, 'returnTable')">Date</th>
						<th class="w-45" onclick="sortTable(1, 'returnTable')">From</th>
						<th class="w-10" onclick="sortTable(2, 'returnTable')">Qty</th>
						<th><i class="fas fa-search"></i></th>
					</thead>
					<tbody id="returnTable">
						<% if (stock.returns && stock.returns.length > 0) { %>
							<% stock.returns.forEach(_return => { %>
								<tr>
									<td data-sort="<%= _return.return._date.getTime() %>">
										<%= _return.return._date.toDateString() %>
									</td>
									<td>
										<%= _return._from.user.rank._rank %> <%= _return._from.user._name %>, <%= _return._from.user._ini %>
									</td>
									<td>
										<%= _return._qty %>
									</td>
									<td>
										<a class='btn btn-sm btn-primary' href="/stores/returns/<%= _return.return_id %>"><i class="fas fa-search"></i></a>
									</td>
								</tr>
							<% }) %>
						<% } %>
					</tbody>
				</table>
			</div>
        <% } %>
		<% include ../../partials/noteTable %>
	</div>
</section>
<% include ../../partials/foot/noNav %>
<script src="/js/specific/stock_show.js"></script>
<script>
    showTab('<%= show_tab %>');
</script>
<script async>getAdjusts(<%= stock.size_id %>)</script>
<script async>getReceipts(<%= stock.size_id %>)</script>
<script async>getIssues(<%= stock.size_id %>)</script>
<script async>getReturns(<%= stock.size_id %>)</script>
<% include ../../partials/foot/htmlClose %>