<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
<section class="container">
	<form id='serialForm'>
		<input type="hidden" name="serial[serial_id]" value="<%= serial.serial_id %>">
		<div class="input-group mb-1">
			<div class="input-group-prepend w-20">
				<span class="input-group-text w-100">Serial #</span>
			</div>
			<input class="form-control" type="text" name="serial[_serial]" maxlength="20" value="<%= serial._serial %>" required>
		</div>
		<input class="btn btn-success w-100 confirm" type="submit" value='Save'>
		<a class='float-left' href="javascript:close()">Cancel</a>
	</form>
</section>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
        let form = document.querySelector("#serialForm");
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            sendData(form, 'PUT', '/stores/serials/<%= serial.serial_id %>');
        });
    });
</script>
<% include ../../partials/foot/htmlClose %>
