<%- include(`${partials}/head/head`) %>
<body>
<%- include(`${partials}/head/flash`) %>
<section id='body'>
	<form id='serialForm'>
		<%- include(`${partials}/spinner`, {id: 'serials'}) %>
		<%- include(`${partials}/inputs/text`, {id: '_serial', 	 name: 'serial[_serial]', title: 'Serial #', maxlength: 20, required: true}) %>
        <%- include(`${partials}/spinner`, {id: 'locations'}) %>
        <%- include(`${partials}/inputs/text`, {id: '_location', name: '_location',       title: 'Location', maxlength: 20, required: true, list: true}) %>
        <%- include('../../partials/save_cancel') %>
	</form>
<%- include(`${partials}/foot/noNav`) %>
<script src="/js/getLocations.js"></script>
<script src="/js/stores/serials/edit/serial.js"></script>
<script src='/js/data/addFormListener.js'></script>
<script src='/js/data/send.js'></script>
<script src="/js/data/XHRsend.js"></script>
<script src="/js/spinner.js"></script>
<script src="/js/get.js"></script>
<script async>get(getLocations, {table: 'locations', query: []})</script>
<script async>get(showSerial, {table: 'serials', query: [`serial_id=${path[3]}`]})</script>
<script>
    window.addEventListener( "load", function () {
		addFormListener(
			'serialForm',
			'PUT',
			`/stores/serials/${path[3]}`,
			{
				onComplete: window.opener.getSerial,
				_close: true
			}
		);
    });
</script>
<%- include(`${partials}/foot/htmlClose`) %>