<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/items">Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/items/<%= serial.item_size.item_id %>"><%= serial.item_size.item._description %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/item_sizes/<%= serial.item_size.itemsize_id %>">Size: <%= serial.item_size.size._text %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/serials/<%= serial.serial_id %>">Serial: <%= serial._serial %></a>
            </li>
        </ul>
    </nav>
</section>
<nav class="navbar navbar-expand navbar-dark bg-dark stores">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Options
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<% if (permissions.notes_add) { %>
					<a class="dropdown-item" href="/stores/notes/new?table=serials&id=<%= serial.serial_id %>">Add Note</a>
					<div class="dropdown-divider"></div>
				<% } %>
				<a class="dropdown-item" href="/stores/items_sizes/<%= serial.item_size.itemsize_id %>">Back to <%= serial.item_size.item._description %>/Size: <%= serial.item_size.size._text %></a>
			</div>
		</li>
	</ul>
</nav>
<section class="container pt-3">
	<div class="row">
		<div class="col-12 col-md-3 mx-auto bordered">
			<h4>Serial</h4>
			<form action="/stores/serials/<%= serial.serial_id %>?_method=PUT" method="POST" onsubmit="return confirm('Edit Serial?');">
				<input type="hidden" name="serial[serial_id]" value="<%= serial.serial_id %>" readonly>
				<input class="form-control" type="text" name="serial[_serial]" maxlength="20" value="<%= serial._serial %>" required>
				<button class="btn btn-success">Save</button>
			</form>
		</div>
		<div class="col-12 col-md-9 mx-auto bordered">
			<% include ../../partials/noteTable %>
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/tableSort.js"></script>
<script src="/js/filters.js"></script>
<script>
    function filterSelects() {
        filter(['sn'],"/stores/serials/<%= serial.serial_id %>/edit");
    };
</script>
<% include ../../partials/foot/htmlClose %>
