<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Serials'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <%- include(`${partials}/sidebar/button`, {id: 'actions', text: 'Actions', float: true}) %>
    <%- include(`${partials}/sidebar/open`, {id: 'actions', text: 'Actions'}) %>
        <%- include(`${partials}/button/modal/open`, {text: 'Edit', id: 'serial_edit', type: 'warning', modal: 'serial_edit'}) %>
        <%- include(`${partials}/button/delete`) %>
    <%- include(`${partials}/sidebar/close`) %>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details',   title: 'Details',   spinner: 'serial'}) %>
        <%- include(`${partials}/tab_head`, {id: 'loancards', title: 'Loancards', spinner: 'loancards', count_id: 'loancard'}) %>
        <%- include(`${partials}/common/actions/tab_head`) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: 'serial_item',     title: 'Item',     link: true}) %>
            <%- include(`${partials}/inputs/display`, {id: 'serial_size',     title: 'Size',     link: true}) %>
            <%- include(`${partials}/inputs/display`, {id: 'serial_location', title: 'Location', link: true}) %>
            <%- include(`${partials}/inputs/display`, {id: 'serial_serial',   title: 'Serial #'}) %>
        </div>
        <div class="tab-pane fade" id="loancards" role="tabpanel" aria-labelledby="loancards-tab">
	        <table class='table table-sm table-hover w-100'>
                <thead class='thead-dark' id="tbl_loancards_head">
					<th class='w-40' data-column='["createdAt"]' data-dir="DESC">Date</th>
					<th class='w-40' data-column='["size","item","description"]'>Item</th>
					<th class='w-20' data-column='["status"]'                   >Status</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id='tbl_loancards'></tbody>
            </table>
            <%- include(`${partials}/limit`, {table: 'loancards'}) %>
        </div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
        <% if (permissions.stores_stock_admin) { %>
            <div id='mdl_serial_edit' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_serial_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Location</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`, {title: 'Serial #', name: 'serial[serial]', id: 'serial_serial_edit', }) %>
                            <%- include(`${partials}/inputs/text`, {title: 'Location', name: 'location',       id: 'serial_location_edit', spinner_id: 'locations', reload_id: 'reload_locations', list_id: 'locations_list'}) %>
                            <datalist id="locations_list"></datalist>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
        <div id='mdl_loancard_view' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Loancard</h5>
                        <%- include(`${partials}/spinner`, {id: 'loancard_view'}) %>
                        <a class='btn btn-primary float-end' id='btn_loancard_link'><i class="fas fa-search"></i></a>
                    </div>
                    <div class="modal-body">
                        <h5>Loancard</h5>
                        <%- include(`${partials}/inputs/display`, {title: 'Issued To',  id: 'loancard_user_to', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Issued By',  id: 'loancard_user_by', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Status',     id: 'loancard_status'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Due Back',   id: 'loancard_date_due'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Created',    id: 'loancard_createdAt'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Updated',    id: 'loancard_updatedAt'}) %>
                        <h5>Line</h5>
                        <%- include(`${partials}/inputs/display`, {title: 'Item',       id: 'loancard_line_item', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Size',       id: 'loancard_line_size', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'NSN',        id: 'loancard_line_nsn',  link: true}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Status',     id: 'loancard_line_status'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Created By', id: 'loancard_line_user', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Created',    id: 'loancard_line_createdAt'}) %>
                        <%- include(`${partials}/inputs/display`, {title: 'Updated',    id: 'loancard_line_updatedAt'}) %>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto'>
                            Loancard ID: <span id='loancard_id'></span><br>
                            Line ID: <span id='loancard_line_id'></span>
                        </p>
                        <%- include(`${partials}/button/modal/close`) %>
                    </div>
                </div>
            </div>
        </div>
        <div id='mdl_action_view'     class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Action</h5>
                        <%- include(`${partials}/spinner`, {id: 'action_view'}) %>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {id: 'action_createdAt', title: 'Date'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'action_action',    title: 'Action'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'action_issue',     title: 'Issue',          link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'action_order',     title: 'Order',          link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'action_stock',     title: 'Stock Location', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'action_location',  title: 'Location',       link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'action_nsn',       title: 'NSN',            link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'action_loancard',  title: 'Loancard',       link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'action_demand',    title: 'Demand',         link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'action_user',      title: 'User',           link: true}) %>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto'>ID: <span id='action_id'></span></p>
                        <%- include(`${partials}/button/modal/close`) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script>show_tab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>
<script src='/js/stores/serials/show/view.js'></script>
<script async>getSerial()</script>
<% if (permissions.stores_stock_admin) { %>
    <script src="/js/stores/locations/getLocations.js"></script>
    <script src='/js/stores/serials/show/edit.js'></script>
    <script src="/js/stores/serials/show/delete.js"></script>
<% } %>
<script src='/js/stores/serials/show/loancards/view.js'></script>
<script async>getLoancards()</script>
<%- include(`${partials}/foot/components/htmlClose`) %>