<button
    <% if (locals.id) { %>id="btn_<%= id %>"<% } %>
    type='button'
    class="btn<% if (locals.small) { %> btn-sm<% } else if (locals.large) { %> btn-lg<% } %> btn-<%= type %><% if (locals.classes) { %><% classes.forEach(c => { %> <%= c %><% }) %><% } %>"
    role="tab"
    data-bs-toggle="modal"
    data-bs-target="#mdl_<%= modal %>"
    <% if (locals.disabled) { %>disabled<% } %>
>
    <% if (locals.icon) { %>
        <i class="fas fa-<%= icon %>"></i>
    <% } else if (locals.text) { %>
        <%= text %>
    <% } %>
</button>