<%- include(`${partials}/head/head`) %>
<body>
<%- include(`${partials}/head/flash`) %>
<section id='body'>
    <form id='itemForm'>
        <%- include(`${partials}/spinner`,     {id: 'items'}) %>
        <%- include(`${partials}/inputs/text`, {id: '_description', title: 'Description', name: 'item[_description]', maxLength: 45}) %>
        <%- include(`${partials}/itemOptions`, {inhibit: true}) %>
        <%- include(`${partials}/inputs/text`, {id:'_size_text',    title: 'Size Text',   name: 'item[_size_text]',   maxLength: 45}) %>
        <%- include(`${partials}/save_cancel`) %>
        <a class="float-right" id='reload'>
            <i class='fas fa-redo'></i>
        </a>
    </form>
<% include(`${partials}/foot/noNav`) %>
<script src="/js/get.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script src="/js/stores/items/edit/item.js"></script>
<script async>get(showItem, {table: 'items', query: [`item_id=${path[3]}`]})</script>
<script>
    let reload = document.querySelector('#reload');
    reload.addEventListener('click', () => get(showItem, {table: 'items', query: [`item_id=${path[3]}`]}))
    window.addEventListener( "load", function () {
        addFormListener('itemForm', 'PUT', '/stores/items/<%= item.item_id %>');
    });
</Script>
<% include(`${partials}/foot/htmlClose`) %>