<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
    <form id='itemForm'>
        <%- include('../../partials/inputs/text', {title: 'Description', name: 'item[_description]', value: item._description, maxLength: 45}) %>
        <% include ../../partials/itemOptions %>
        <%- include('../../partials/inputs/text', {title: 'Size Text', name: 'item[_size_text]', value: item._size_text, maxLength: 45}) %>
        <% include ../../partials/save_cancel %>
    </form>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
        addFormListener('itemForm', 'PUT', '/stores/items/<%= item.item_id %>');
    });
</Script>
<% include ../../partials/foot/htmlClose %>