<%- include(`${partials}/head/app`,	  {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Items'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <%- include(`${partials}/sidebar/button`, {id: 'menu', text: 'Menu', float: true}) %>

	<div class='row'>
		<div class='col-12 col-lg-5 mx-auto'>
	        <table class='table table-sm table-hover'>
				<thead class='thead-dark' id='tbl_items_head'>
					<th class='w-100' data-column='["description"]' data-dir='ASC'>Description</th>
					<th><i class='fas fa-search'></i></th>
				</thead>
				<tbody id='tbl_items'></tbody>
			</table>
			<%- include(`${partials}/limit`, {table: 'items'}) %>
		</div>
	</div>

	<div id="sidebars">
		<div class="offcanvas offcanvas-start" tabindex="-1" id="sdb_menu" aria-labelledby="sdb_menu_label">
			<%- include(`${partials}/sidebar/header`, {id: 'menu', text: 'Menu'}) %>
			<div class="offcanvas-body d-flex flex-column">
				<h5>Filter</h5>
				<%- include(`${partials}/filter/item`,   {table: 'item'}) %>
				<h5>Actions</h5>
				<%- include(`${partials}/button/modal`, {id: 'item_add', text: 'New Item', type: 'success'}) %>
			</div>
		</div>
	</div>
	<div id='modals'>
		<% if (permissions.stores_stock_admin) { %>
			<div id='mdl_item_add' class='modal fade' tabindex='-1' role='dialog'>
				<div class='modal-dialog' role='document'>
					<form class='modal-content' id='form_item_add'>
						<div class='modal-header'>
							<h5 class='modal-title'>Add Item</h5>
						</div>
						<div class='modal-body'>
                            <datalist id='list_descriptions'></datalist>
							<%- include(`${partials}/inputs/text`, {title: 'Description', name: 'item[description]', required: true}) %>
							<%- include(`${partials}/inputs/text`, {title: 'Size Text 1', name: 'item[size_text1]',  list_id: 'list_descriptions', required: true}) %>
							<%- include(`${partials}/inputs/text`, {title: 'Size Text 2', name: 'item[size_text2]',  list_id: 'list_descriptions'}) %>
							<%- include(`${partials}/inputs/text`, {title: 'Size Text 3', name: 'item[size_text3]',  list_id: 'list_descriptions'}) %>
						</div>
						<div class='modal-footer'>
							<%- include(`${partials}/button/save`) %>
						</div>
					</form>
				</div>
			</div>
		<% } %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/stores/items/index/view.js'></script>
<% if (permissions.stores_stock_admin) { %>
	<script src='/js/stores/items/size_descriptions.js'></script>
	<script src='/js/stores/items/index/add.js'></script>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>