<%- include(`${partials}/head/app`,	  {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Items'}) %>
<% if (permissions.stores_stock_admin) { %>
	<li class="nav-item">
		<a class='nav-link' data-bs-toggle="modal" data-bs-target="#mdl_item_add"><i class="fas fa-plus"></i></a>
	</li>
<% } %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'items'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<div class="row">
		<div class="col-12 col-lg-5 mx-auto">
			<%- include(`${partials}/inputs/select`, {id: 'sel_genders', 	  title: 'Genders', spinner_id: 'genders', reload_id: 'reload_genders'}) %>
			<%- include(`${partials}/inputs/text`,   {id: 'item_description', title: 'Description'}) %>
			<%- include(`${partials}/sort`, {table: 'items'}) %>
	        <table class='table table-sm table-hover'>
				<thead class='thead-dark'>
					<th class='w-100'>Description</th>
					<th><i class='fas fa-search'></i></th>
				</thead>
				<tbody id='tbl_items'></tbody>
			</table>
			<%- include(`${partials}/limit`, {table: 'items'}) %>
		</div>
	</div>
	<div id="div_modals">
		<% if (permissions.stores_stock_admin) { %>
			<div id='mdl_item_add' class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<form class="modal-content" id='form_item_add'>
						<div class="modal-header">
							<h5 class="modal-title">Add Item</h5>
						</div>
						<div class="modal-body">
                            <datalist id="list_descriptions"></datalist>
							<%- include(`${partials}/inputs/text`,	 {title: 'Description', name: 'item[description]', required: true}) %>
							<%- include(`${partials}/inputs/text`,	 {title: 'Size Text 1',	name: 'item[size_text1]',  list_id: 'list_descriptions',  required: true}) %>
							<%- include(`${partials}/inputs/text`,	 {title: 'Size Text 2',	name: 'item[size_text2]',  list_id: 'list_descriptions'}) %>
							<%- include(`${partials}/inputs/text`,	 {title: 'Size Text 3',	name: 'item[size_text3]',  list_id: 'list_descriptions'}) %>
							<%- include(`${partials}/inputs/select`, {title: 'Gender',		name: 'item[gender_id]',   id: 'sel_genders_add', spinner_id: 'genders_add', reload_id: 'reload_genders_add'}) %>
						</div>
						<div class="modal-footer">
							<%- include(`${partials}/button/save`) %>
						</div>
					</form>
				</div>
			</div>
		<% } %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/utils/list/genders.js"></script>
<script src="/js/stores/items/index/view.js"></script>
<% if (permissions.stores_stock_admin) { %>
	<script src="/js/stores/items/size_descriptions.js"></script>
	<script src="/js/stores/items/index/add.js"></script>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>