<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {text: 'Stores', href: '/stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Items'}) %>
<% if (permissions.item_add) { %>
	<li class="nav-item">
		<a class='nav-link' data-bs-toggle="modal" data-bs-target="#mdl_item_add"><i class="fas fa-plus"></i></a>
	</li>
<% } %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'items'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
	<% if (permissions.access_genders) { %>
		<%- include(`${partials}/inputs/select`, {id: 'sel_genders', title: 'Genders', spinner_id: 'genders', reload_id: 'reload_genders'}) %>
	<% } %>
	<input class='form-control' type='text' id='itemSearch' onkeyup='searchTable(this)' placeholder='Search by description...'>
	<table class='table table-sm table-hover'>
		<thead class='thead-dark'>
			<th class='w-100' onclick='sortTable(0, "tbl_items")'>Description</th>
			<th><i class='fas fa-search'></i></th>
		</thead>
		<tbody id='tbl_items'></tbody>
	</table>
	<div id="div_modals">
		<% if (permissions.item_add) { %>
			<div id='mdl_item_add' class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<form class="modal-content" id='form_item_add'>
						<div class="modal-header">
							<h5 class="modal-title">Add Item</h5>
						</div>
						<div class="modal-body">
							<%- include(`${partials}/inputs/text`,	 {title: 'Description', name: 'item[description]', placeholder: 'Required', maxLength: 45, required: true}) %>
							<%- include(`${partials}/inputs/text`,	 {title: 'Size Text',	name: 'item[size_text]',   placeholder: 'Required', maxLength: 45, required: true}) %>
							<%- include(`${partials}/inputs/select`, {title: 'Gender',		name: 'item[gender_id]',   id: 'sel_genders_add',	spinner_id: 'genders_add', reload_id: 'reload_genders_add'}) %>
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-success w-100" value='Save Item'>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		<% } %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/search/table.js"></script>
<script src="/js/addFormListener.js"></script>
<script src="/js/stores/items/index/view.js"></script>
<script async>getItems()</script>
<% if (permissions.access_genders) { %>
	<script src="/js/utils/list/genders.js"></script>
	<script src="/js/stores/items/index/genders/view.js"></script>
	<script async>getGenders()</script>
<% } %>
<% if (permissions.item_add) { %>
	<script src="/js/stores/items/index/add.js"></script>
	<% if (permissions.access_genders) { %>
		<script src="/js/stores/items/index/genders/add.js"></script>
	<% } %>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>