<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',		  text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/items', text: 'Items'}) %>
<% if (permissions.item_add) { %>
	<li class="nav-item">
		<a class='nav-link' data-toggle="modal" data-target="#mdl_item_add"><i class="fas fa-plus"></i></a>
	</li>
<% } %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'items'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
	<%- include(`${partials}/inputs/select`, {id: 'sel_categories', title: 'Category'}) %>
	<%- include(`${partials}/inputs/select`, {id: 'sel_groups', 	title: 'Groups'}) %>
	<%- include(`${partials}/inputs/select`, {id: 'sel_types', 		title: 'Types'}) %>
	<%- include(`${partials}/inputs/select`, {id: 'sel_subtypes', 	title: 'Subtypes'}) %>
	<%- include(`${partials}/inputs/select`, {id: 'sel_genders', 	title: 'Genders'}) %>
	<input class='form-control' type='text' id='itemSearch' onkeyup='searchTable(this)' placeholder='Search by description...'>
	<table class='table table-sm table-hover'>
		<thead class='thead-dark'>
			<th class='w-100' onclick='sortTable(0, "tbl_items")'>Description</th>
			<th><i class='fas fa-search'></i></th>
		</thead>
		<tbody id='tbl_items'></tbody>
	</table>
    <% if (permissions.item_add) { %>
        <div id='mdl_item_add' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_item_add'>
                    <div class="modal-header">
                        <h5 class="modal-title">Add Item</h5>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/text`, {name: 'item[_description]', title: 'Description', placeholder: 'Required', maxLength: 45, required: true}) %>
						<%- include(`${partials}/inputs/select`, {id: 'sel_categories_add', title: 'Category'}) %>
						<%- include(`${partials}/inputs/select`, {id: 'sel_groups_add', 	title: 'Groups'}) %>
						<%- include(`${partials}/inputs/select`, {id: 'sel_types_add', 		title: 'Types'}) %>
						<%- include(`${partials}/inputs/select`, {id: 'sel_subtypes_add', 	title: 'Subtypes'}) %>
						<%- include(`${partials}/inputs/select`, {id: 'sel_genders_add', 	title: 'Genders'}) %>
						<%- include(`${partials}/inputs/text`, {name: 'item[_size_text]',	title: 'Size Text',	  placeholder: 'Required', maxLength: 45, required: true}) %>
					</div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100 confirm" value='Save Item'>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
</section>
<%- include(`${partials}/foot/app`) %>
<!-- get and spinner from item options -->
<script src="/js/search/table.js"></script>
<script src="/js/stores/items/index/items.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script src="/js/data/send.js"></script>
<script src="/js/spinner.js"></script>
<script src="/js/get.js"></script>
<% [{table: 'categories', singular: 'category'}, {table: 'genders', singular: 'gender'}].forEach(e => { %>
	<script async>
		let sel_<%= e.table %> = document.querySelector(`#sel_<%= e.table %>`);
		if (sel_<%= e.table %>) {
			get(
				function (results, options) {
					sel_<%= e.table %>.innerHTML= '';
					sel_<%= e.table %>.appendChild(new Option({text: '', value: '', selected: true}).e);
					results.forEach(r => {
						sel_<%= e.table %>.appendChild(
							new Option({
								text: r['_<%= e.singular %>'],
								value: r['<%= e.singular %>_id']
							}).e
						)
					});
				},
				{
					table: '<%= e.table %>',
					query: []
				}
			);
		};
		getItems();
	</script>
	<% if (permissions.item_add) { %>
		<script async>
			let sel_<%= e.table %>_add = document.querySelector(`#sel_<%= e.table %>_add`);
			if (sel_<%= e.table %>_add) {
				get(
					function (results, options) {
						sel_<%= e.table %>_add.innerHTML= '';
						sel_<%= e.table %>_add.appendChild(new Option({text: '', value: '', selected: true}).e);
						results.forEach(r => {
							sel_<%= e.table %>_add.appendChild(
								new Option({
									text: r['_<%= e.singular %>'],
									value: r['<%= e.singular %>_id']
								}).e
							)
						});
					},
					{
						table: '<%= e.table %>',
						query: []
					}
				);
			};
		</script>
	<% } %>
<% }) %>
<% if (permissions.item_add) { %>
	<script src="/js/stores/items/index/itemAdd.js"></script>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>