<%- include(`${process.env.PARTIALS}/head/full`) %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores',		  text: 'Stores'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores/items', text: 'Items'}) %>
			<% if (permissions.item_add) { %>
				<%- include(`${process.env.PARTIALS}/breadcrumb`, {href: 'javascript:add("items")', html: '<i class="fas fa-plus"></i>'}) %>
			<% } %>
			<%- include(`${process.env.PARTIALS}/breadcrumb`, {html: '<i class="fas fa-redo"></i>', id: 'reload'}) %>
        </ul>
    </nav>
</section>
<section class='container'>
	<%- include(`${process.env.PARTIALS}/itemOptions`) %>
	<input class='form-control' type='text' id='itemSearch' onkeyup='searchTable(this)' placeholder='Search by description...'>
	<%- include(`${process.env.PARTIALS}/spinner`, {id: 'items'}) %>
	<table class='table table-sm table-hover'>
		<thead class='thead-dark'>
			<th class='w-100' onclick='sortTable(0, "itemTable")'>Description</th>
			<th><i class='fas fa-search'></i></th>
		</thead>
		<tbody id='itemTable'>
		</tbody>
	</table>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<!-- get, XHRsend and spinner from item options -->
<script src="/js/add.js"></script>
<script src="/js/search/table.js"></script>
<script src="/js/items/index/items.js"></script>
<script>
	getItems = () => get(showItems, {table: 'items', query: item_query()});
	document.querySelector('#reload').addEventListener('click', () => getItems());
</script>
<script async>getItems()</script>
<script>
	window.addEventListener( "load", () => {
		['genders', 'categories', 'groups', 'types', 'subtypes'].forEach(table => {
			let _select = document.querySelector(`#${table}Select`);
			_select.addEventListener("change", event => getItems());
		});
	});
</script>
<script async>get(showItems, {table: 'items', query: item_query()})</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>