<!-- ITEMS INDEX PAGE -->
<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/items">Items</a>
            </li>
        </ul>
    </nav>
</section>
<% if (permissions.items_add) { %>
<section>
	<nav class="navbar navbar-expand navbar-dark bg-dark stores">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/stores/items/new">New Item</a>
			</li>
		</ul>
	</nav>
</section>
<% } %>
<div class="container mt-3 pt-3 mx-auto row">
	<div class="col-12 col-md-6 mx-auto">
		<div class="row px-3">
			<label class="col-3 col-form-label text-right" for="category_id">Category:</label>
			<select class="form-control form-control-sm col-9" id="category_id" type="text">
				<option value="" data-tag='<blank>'></option>	
				<% classes.categories.forEach((cat) => { %>
					<option value="<%= cat.category_id %>"><%= cat._category %></option>
				<% }) %>
			</select>
		</div>
		<div class="row px-3">
			<label class="col-3 col-form-label text-right" for="group_id">Group:</label>
			<select class="form-control form-control-sm col-9" id="group_id" type="text">
				<option value="" data-tag='<blank>'></option>
				<% classes.groups.forEach((grp) => { %>
					<option value="<%= grp.group_id %>" data-tag='<%= grp._parent %>' style="display: none;"><%= grp._group %></option>
				<% }) %>
			</select>
		</div>
		<div class="row px-3">
			<label class="col-3 col-form-label text-right" for="type_id">Type:</label>
			<select class="form-control form-control-sm col-9" id="type_id" type="text"> 
				<option value="" data-tag='<blank>' ></option>	
				<% classes.types.forEach((typ) => { %>
					<option value="<%= typ.type_id %>" data-tag='<%= typ._parent %>' style="display: none;"><%= typ._type %></option>
				<% }) %>
			</select>
		</div>
		<div class="row px-3">
			<label class="col-3 col-form-label text-right" for="subtype_id">Sub Type:</label>
			<select class="form-control form-control-sm col-9" id="subtype_id" type="text">
				<option value="" data-tag='<blank>'></option>
				<% classes.subtypes.forEach((sub) => { %>
					<option value="<%= sub.subtype_id %>" data-tag='<%= sub._parent %>' style="display: none;"><%= sub._sub_type %></option>
				<% }) %>
			</select>
		</div>
		<div class="row px-3">
			<label class="col-3 col-form-label text-right" for="gender_id">Gender:</label>
			<select class="form-control form-control-sm col-9" id="gender_id" type="text">
				<option value="" data-tag='<blank>'></option>
				<% classes.genders.forEach((gen) => { %>
					<option value="<%= gen.gender_id %>"><%= gen._gender %></option>
				<% }) %>
			</select>
		</div>
		<div>
			<form class="mb-3" action="/stores/items" method="GET">
				<input class="btn btn-warning" type="button" value="Filter Results" onclick="filter();">
			</form>
		</div>
		<input class="form-control" type="text" id="itemSearch" onkeyup="searchTable('itemTable', 'itemSearch')" placeholder="Search for item..">
		<table id="itemTable" class="table table-sm table-hover mx-auto w-100">
			<thead class="thead-dark">
				<th class="w-60">Description</th>
			</thead>
			<tbody>
				<% items.forEach((item) => { %>
					<tr>
						<td><a href="/stores/items/<%=item.item_id%>"> <%= item._description %></a></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>
<% include ../../partials/foot/full %>
<script src="/js/tableSearch.js"></script>
<script src="/js/createClassQueryString.js"></script>
<!-- <script src="/js/filterClassSelects.js"></script> -->
<script>
$(window).on("load", () => {
    $('#_category').val(<%= query._category %>);
    setGroup;
    $('#_group').val(<%= query._group %>);
    setType;
    $('#_type').val(<%= query._type %>);
    setSubtype;
    $('#_sub_type').val(<%= query._sub_type %>);
    $('#_gender').val(<%= query._gender %>);
});
$('#_category').on('change', setGroup);	
$('#_group').on('change', setType);	
$('#_type').on('change', setSubtype);

function setGroup() {
    hideSome("_group", $(this).val());
    $("#_group").val($("#_group option:visible:first").val());
    $("#_type").val($("#_type option:visible:first").val());
    $("#_sub_type").val($("#_sub_type option:visible:first").val());
    hideAll("_type")
    hideAll("_sub_type")
}
function setType() {
    hideSome("_type", $(this).val());
    $("#_type").val($("#_type option:visible:first").val());
    $("#_sub_type").val($("#_sub_type option:visible:first").val());
    hideAll("_sub_type")
}
function setSubtype() {
    hideSome("_sub_type", $(this).val());
    $("#_sub_type").val($("#_sub_type option:visible:first").val());
}
function hideSome(select, selected) {
    $("#" + select + " option").each(function(item){
        var element =  $(this) ; 
        if (element.data("tag") != selected && element.data("tag") != '<blank>'){
            element.hide() ; 
        } else {
            element.show();
        }
    }) ; 
}
function hideAll(select) {
    $("#" + select + " option").each(function(item){
        var element =  $(this) ; 
        element.hide() ; 
    }) ; 
}</script>
<% include ../../partials/foot/htmlClose %>