<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
    <form id='itemForm'>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Description</span>
            </div>
            <input class='form-control' type='text' name='item[_description]' maxlength='45'>
        </div>
        <%- include('../../partials/spinner', {id: 'categories'}) %>
        <%- include('../../partials/spinner', {id: 'groups'}) %>
        <%- include('../../partials/spinner', {id: 'types'}) %>
        <%- include('../../partials/spinner', {id: 'subtypes'}) %>
        <%- include('../../partials/spinner', {id: 'genders'}) %>
        <% include ../../partials/itemOptions %>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Size Text</span>
            </div>
            <input class='form-control' type='text' name='item[_size_text]' maxlength='45'>
        </div>
        <input class='btn btn-success w-100 confirm' type='submit' value='Save'>
        <a class='float-left' href='javascript:close()'>Cancel</a>
    </form>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
        addFormListener('itemForm', 'POST', '/stores/items');
    });
</script>
<% include ../../partials/foot/htmlClose %>