<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>
                    Stores
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/items'>
                    Items
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/items/<%= item.item_id %>'>
                    <%= item._description %>
                </a>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
	<div class='row'>
		<div class='col-12 col-md-6 col-lg-7 mb-2 container bordered'>
            <% if (permissions.items_edit) { %>
                <a class='float-left btn btn-success mr-1' href='/stores/items/<%= item.item_id %>/edit'><i class='fas fa-pencil-alt'></i></a>
            <% } %>
            <% if (permissions.items_delete) { %>
                <form action='/stores/items/<%= item.item_id %>?_method=DELETE' method='POST'>
                    <button class='float-left btn btn-danger confirm'>
                        <i class='fas fa-trash-alt'></i>
                    </button>
                </form>
            <% } %>
            <h4 class='mb-3'>Details</h4>
            <div class="form-group">
                <div class='row'>
                    <div class='col-5' >
                        <label class='col-form-label'>Description:</label>
                    </div>                        
                    <div class='col-7'>
                        <input class='form-control' type='text' value='<%= item._description %>' readonly>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-5' >
                        <label class='col-form-label'>Category:</label>
                    </div> 
                    <div class='col-7'>
                        <input class='form-control' type='text' value='<% if(item.category) { %><%= item.category._category %><% } %>' readonly>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-5' >
                        <label class='col-form-label'>Group:</label>
                    </div> 
                    <div class='col-7'>
                        <input class='form-control' type='text' value='<% if(item.group) { %><%= item.group._group %><% } %>' readonly>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-5' >
                        <label class='col-form-label'>Type:</label>
                    </div> 
                    <div class='col-7'>
                        <input class='form-control' type='text' value='<% if(item.type) { %><%= item.type._type %><% } %>' readonly>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-5' >
                        <label class='col-form-label'>Sub Type:</label>
                    </div> 
                    <div class='col-7'>
                        <input class='form-control' type='text' value='<% if(item.subtype) { %><%= item.subtype._subtype %><% } %>' readonly>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-5' >
                        <label class='col-form-label'>Gender:</label>
                    </div> 
                    <div class='col-7'>
                        <input class='form-control' type='text' value='<% if(item.gender) { %><%= item.gender._gender %><% } %>' readonly>
                    </div>
                </div>
            </div>
		</div>
		<div class='col-12 col-md-6 col-lg-5 mb-2 container bordered'>
                <% if (permissions.item_sizes_add) { %>
                    <a class='float-left btn btn-success mb-1' href='/stores/item_sizes/new?item_id=<%= item.item_id %>'>
                        <i class='fas fa-plus'></i>
                    </a>
                <% } %>
			<h4>
                Sizes
            </h4>
            <table class='table table-sm table-hover w-100'>
                <thead class='thead-dark'>
                    <th class='w-50' onclick='sortTable(0, "sizeTable")'><%= item._size_text %></th>
                    <th class='w-50' onclick='sortTable(1, "sizeTable")'>Stock</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id='sizeTable'>
                    <% item.item_sizes.forEach(item_size => { %>
                        <tr>
                            <td>
                                <%= item_size._size %>
                            </td>
                            <td>
                                <%= item_size.locationStock %>
                            </td>
                            <td>
                                <a class='btn btn-sm btn-primary' href='/stores/item_sizes/<%= item_size.item_size_id %>'>
                                    <i class='fas fa-search'></i>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% if (permissions.access_notes) {%>
        <div class='col-12 bordered'>
            <% if (permissions.notes_add) { %>
                <a class='float-left btn btn-success' href='/stores/notes/new?table=items&id=<%= item.item_id %>'><i class='fas fa-plus'></i></a>
            <% } %>
            <% include ../../partials/noteTable %>
        </div>
        <% } %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['system'],'/stores/items/<%= item.item_id %>');
    };
</script>
<% include ../../partials/foot/htmlClose %>
