<%- include(`${process.env.PARTIALS}/head/full`) %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores',       text: 'Stores'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores/items', text: 'Items'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`) %>
        </ul>
    </nav>
</section>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.item_edit) { %>
                    <%- include(`${process.env.PARTIALS}/edit`) %>
                <% } %>
                <%- include(`${process.env.PARTIALS}/notes/menu_add`) %>
                <% if (permissions.item_delete) { %>
                    <%- include(`${process.env.PARTIALS}/delete`) %>
                <% } %>
                <% if (permissions.size_add) { %>
                    <a class='dropdown-item' id='add_size'>
                        Add Size
                    </a>
                <% } %>
            </div>
        </li>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'details', title: 'Details'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'sizes',   title: 'Sizes', count_id: 'size_count', permission: 'access_sizes'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'notes',   title: 'Notes', count_id: 'note_count', permission: 'access_notes'}) %>
        <%- include(`${process.env.PARTIALS}/reload`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
                <%- include(`${process.env.PARTIALS}/spinner`, {id: 'items'}) %>
                <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_description', title: 'Description'}) %>
                <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_category',    title: 'Category'}) %>
                <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_group',       title: 'Group'}) %>
                <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_type',        title: 'Type'}) %>
                <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_subtype',     title: 'Subtype'}) %>
                <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_gender',      title: 'Gender'}) %>
                <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_size_text',   title: 'Size Text'}) %>
            </div>
        </div>
        <% if (permissions.access_sizes) { %>
            <div class="tab-pane fade" id="sizes" role="tabpanel" aria-labelledby="sizes-tab">
                <div class="container">
                    <%- include(`${process.env.PARTIALS}/spinner`, {id: 'sizes'}) %>
                    <table class='table table-sm table-hover w-100'>
                        <thead class='thead-dark'>
                            <th class='w-50' onclick='sortTable(0, "sizeTable")' id='size_text'></th>
                            <th class='w-50' onclick='sortTable(1, "sizeTable")'>Stock</th>
                            <th><i class='fas fa-search'></i></th>
                        </thead>
                        <tbody id='sizeTable'>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
        <%- include(`${process.env.PARTIALS}/notes/tab_body`) %>
    </div>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<!-- get/spinner/XHRsend/send from notes include -->
<script src="/js/data/addFormListener.js"></script>
<script src='/js/tabs.js'></script>
<script src='/js/edit.js'></script>
<script src='/js/add.js'></script>
<script src='/js/items/show/showItem.js'></script>
<script>showTab('<%= tab %>');</script>
<script>
    getItem = () => get(showItem, {table: 'items', query: [`item_id=${path[3]}`]})
    document.querySelector('#reload').addEventListener('click', () => getItem());
</script>
<script async>getItem()</script>
<% if (permissions.access_sizes) { %>
    <script src='/js/items/show/showSizes.js'></script>
    <script>
        getSizes = () => get(showSizes, {table: 'sizes', query: [`item_id=${path[3]}`]})
        document.querySelector('#reload').addEventListener('click', () => getSizes());
    </script>
    <script async>getSizes()</script>
<% } %>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>
