<%- include(`${partials}/head/full`) %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <%- include(`${partials}/breadcrumb`, {href: '/stores',       text: 'Stores'}) %>
            <%- include(`${partials}/breadcrumb`, {href: '/stores/items', text: 'Items'}) %>
            <%- include(`${partials}/breadcrumb`) %>
            <%- include(`${partials}/reload`) %>
            <%- include(`${partials}/spinner`, {id: 'item'}) %>
        </ul>
    </nav>
</section>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.item_edit) { %>
                    <button id='btn_edit' class='dropdown-item dropdown_button'>Edit</button>
                <% } %>
                <%- include(`${partials}/notes/menu_add`) %>
                <% if (permissions.item_delete) { %>
                    <%- include(`${partials}/menu/delete`) %>
                <% } %>
                <% if (permissions.size_add) { %>
                    <button id='btn_add_size' class='dropdown-item dropdown_button'>Add Size</button>
                <% } %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details'}) %>
        <%- include(`${partials}/tab_head`, {id: 'sizes',   title: 'Sizes', count_id: 'size_count', spinner: 'sizes', permission: 'access_sizes'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',   title: 'Notes', count_id: 'note_count', spinner: 'notes', permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: '_description', title: 'Description'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_category',    title: 'Category'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_group',       title: 'Group'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_type',        title: 'Type'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_subtype',     title: 'Subtype'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_gender',      title: 'Gender'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_size_text',   title: 'Size Text'}) %>
        </div>
        <% if (permissions.access_sizes) { %>
            <div class="tab-pane fade" id="sizes" role="tabpanel" aria-labelledby="sizes-tab">
                <table class='table table-sm table-hover w-100'>
                    <thead class='thead-dark'>
                        <th class='w-50' onclick='sortTable(0, "tbl_sizes")' id='size_text'></th>
                        <th class='w-50' onclick='sortTable(1, "tbl_sizes")'>Stock</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_sizes'></tbody>
                </table>
            </div>
        <% } %>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
    <% if (permissions.item_edit) { %>
        <div id='mdl_edit_item' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_edit_item'>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Item</h5>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/text`, {  id: '_description_edit',   title: 'Description', name: 'item[_description]', placeholder: 'Required', maxLength: 45, required: true}) %>
						<%- include(`${partials}/inputs/select`, {id: 'sel_categories_edit', title: 'Category'}) %>
						<%- include(`${partials}/inputs/select`, {id: 'sel_groups_edit', 	 title: 'Groups'}) %>
						<%- include(`${partials}/inputs/select`, {id: 'sel_types_edit', 	 title: 'Types'}) %>
						<%- include(`${partials}/inputs/select`, {id: 'sel_subtypes_edit',   title: 'Subtypes'}) %>
						<%- include(`${partials}/inputs/select`, {id: 'sel_genders_edit',    title: 'Genders'}) %>
						<%- include(`${partials}/inputs/text`, {  id: '_size_text_edit',	 title: 'Size Text',   name: 'item[_size_text]',   placeholder: 'Required', maxLength: 45, required: true}) %>
					</div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100 confirm" value='Save Item'>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
    <% if (permissions.size_add) { %>
        <div id='mdl_add_size' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_add_size'>
                    <div class="modal-header">
                        <h5 class="modal-title">Add Size</h5>
						<a class="float-right btn btn-primary" id='reset_add_size'>
							<i class='fas fa-redo'></i>
						</a>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name='size[item_id]' id='item_id_add_size'>
                        <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[_issueable]',        title: 'Issueable',        id: '_issueable'}) %>
                        <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[_orderable]',        title: 'Orderable',        id: '_orderable'}) %>
                        <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[_serials]',          title: 'Has Serial #',     id: '_serials'}) %>
                        <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[_nsns]',             title: 'Has NSNs',         id: '_nsns'}) %>
                        <%- include(`${partials}/inputs/select`,        {name: 'size[supplier_id]',       title: 'Supplier',         id: 'supplier_id', spinner: true, spinner_id: 'suppliers'}) %>
                        <%- include(`${partials}/inputs/text`,          {name: 'size[_demand_page]',      title: 'Demand Page',      id: '_demand_page',      maxlength: 20}) %>
                        <%- include(`${partials}/inputs/text`,          {name: 'size[_demand_cell]',      title: 'Cell',             id: '_demand_cell',      maxlength: 3}) %>
                        <%- include(`${partials}/inputs/textarea`,      {name: 'size[_ordering_details]', title: 'Ordering Details', id: '_ordering_details', maxlength: 1000, rows: 5}) %>
                        <%- include(`${partials}/inputs/text`,          {name: 'size[_size]',             title: 'Size',             id:'_size',              maxlength: 15,   placeholder: 'Required', required: true}) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100 confirm" value='Save Size'>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
</section>
<%- include(`${partials}/foot/full`) %>
<!-- get/spinner/XHRsend/send from notes include -->
<script src="/js/data/addFormListener.js"></script>
<script src='/js/tabs.js'></script>
<script src='/js/stores/items/show/getItem.js'></script>
<script>showTab('<%= tab %>')</script>
<script async>getItem()</script>
<% if (permissions.access_sizes) { %>
    <script src='/js/stores/items/show/getSizes.js'></script>
    <script async>getSizes()</script>
    <% if (permissions.size_add) { %>
        <script src='/js/stores/items/show/addSize.js'></script>
        <script async>getSuppliers()</script>
    <% } %>
<% } %>
<% if (permissions.item_edit) { %>
    <script src='/js/stores/items/show/getItemEdit.js'></script>
    <script async>getItemEdit()</script>
<% } %>
<%- include(`${partials}/foot/htmlClose`) %>
