<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores', text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/items',  text: 'Items'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%- include(`${partials}/menu/button`, {id: 'item_edit', text: 'Edit',     modal: 'item_edit'}) %>
				<%- include(`${partials}/menu/button`, {id: 'note_add',  text: 'Add Note', modal: 'note_add'}) %>
                <% if (permissions.item_delete) { %>
                    <form id='form_item_delete'>
                <% } %>
				<%- include(`${partials}/menu/button`, {id: 'delete',    text: 'Delete'}) %>
                <% if (permissions.item_delete) { %>
					</form>
				<% } %>
                <%- include(`${partials}/menu/button`, {id: 'size_add',  text: 'Add Size', modal: 'size_add'}) %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'item'}) %>
        <%- include(`${partials}/tab_head`, {id: 'sizes',   title: 'Sizes',   spinner: 'sizes', count_id: 'size', permission: 'access_sizes'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',   title: 'Notes',   spinner: 'notes', count_id: 'note', permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: 'description', title: 'Description'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'gender',      title: 'Gender'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'size_text',   title: 'Size Text'}) %>
            <div id="div_categories">
                <% if (permissions.item_edit) { %>
                    <form id='form_category_add' class='bordered my-3'>
                        <h5>Add Category</h5>
                        <input type="hidden" id='item_id_category' name='category[item_id]'>
                        <select name="category[category_id][]" id="sel_category_1" class='form-control sel_category' required></select>
                        <div id="sub_categories"></div>
                        <button class='btn btn-success w-100 mb-1'>Save</button>
                    </form>
                <% } %>
                <table class='table table-sm table-hover w-100'>
                    <thead class='thead-dark'>
                        <th class='w-100' onclick='sortTable(0, "tbl_categories")'>Categories</th>
                        <th><i class='fas fa-trash-alt'></i></th>
                    </thead>
                    <tbody id='tbl_categories'></tbody>
                </table>
            </div>
        </div>
        <% if (permissions.access_sizes) { %>
            <div class="tab-pane fade" id="sizes" role="tabpanel" aria-labelledby="sizes-tab">
                <table class='table table-sm table-hover w-100'>
                    <thead class='thead-dark'>
                        <th class='w-100' onclick='sortTable(0, "tbl_sizes")' id='size_text'></th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_sizes'></tbody>
                </table>
            </div>
        <% } %>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <% if (permissions.item_edit) { %>
            <div id='mdl_item_edit' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_item_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Edit Item
                                <%- include(`${partials}/spinner`, {id: 'item_edit'}) %>
                            </h5>
                            <a class="float-right btn btn-primary" id='reload_item_edit'>
                                <i class='fas fa-redo'></i>
                            </a>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`,   {id: 'description_edit', title: 'Description', name: 'item[description]', placeholder: 'Required', maxLength: 45, required: true}) %>
                            <%- include(`${partials}/inputs/text`,   {id: 'size_text_edit',   title: 'Size Text',   name: 'item[size_text]',   placeholder: 'Required', maxLength: 45, required: true}) %>
                            <%- include(`${partials}/inputs/select`, {id: 'sel_gender_edit',  title: 'Gender',      spinner_id: 'genders'}) %>
                        </div>
                        <div class="modal-footer">
                            <input type="submit"  class="btn btn-success w-100" value='Save Item'>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
        <% if (permissions.size_add) { %>
            <div id='mdl_size_add' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_size_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Add Size</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name='size[item_id]' id='item_id_add_size'>
                            <%- include(`${partials}/inputs/text`,          {name: 'size[size]',        title: 'Size',         id: 'size',        maxlength: 15, placeholder: 'Required', required: true}) %>
                            <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[issueable]',   title: 'Issueable',    id: 'issueable'}) %>
                            <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[orderable]',   title: 'Orderable',    id: 'orderable'}) %>
                            <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[has_serials]', title: 'Has Serial #', id: 'has_serials'}) %>
                            <%- include(`${partials}/inputs/select_yes_no`, {name: 'size[has_nsns]',    title: 'Has NSNs',     id: 'has_nsns'}) %>
                            <%- include(`${partials}/inputs/select`,        {name: 'size[supplier_id]', title: 'Supplier',     id: 'sel_suppliers', spinner_id: 'suppliers', reload_id: 'reload_suppliers'}) %>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success w-100" value='Save Size'>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/addFormListener.js"></script>
<script src='/js/tabs.js'></script>
<script>showTab('<%= tab %>')</script>

<script src='/js/stores/items/show/view.js'></script>
<script src='/js/stores/items/show/categories/view.js'></script>
<% if (permissions.item_edit) { %>
    <script src='/js/utils/list/genders.js'></script>
    <script src='/js/stores/items/show/categories/add.js'></script>
    <script src='/js/stores/items/show/categories/delete.js'></script>
    <script src='/js/stores/items/show/edit.js'></script>
<% } %>
<script async>getItem()</script>
<script async>getCategories()</script>
<% if (permissions.item_delete) { %>
    <script src="/js/stores/items/show/delete.js"></script>
<% } %>

<% if (permissions.access_sizes) { %>
    <script src='/js/stores/items/show/sizes/view.js'></script>
    <script async>getSizes()</script>
    <% if (permissions.size_add) { %>
        <script src='/js/utils/list/suppliers.js'></script>
        <script src='/js/stores/items/show/sizes/add.js'></script>
    <% } %>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>
