<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/items',  text: 'Items'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<%- include(`${partials}/sidebar/button`, {id: 'menu', text: 'Menu', float: true}) %>
<ul class="nav nav-tabs nav-justified" id="mainTab" role="tablist">
    <%- include(`${partials}/tab_head`, {id: 'details',    title: 'Details'}) %>
    <%- include(`${partials}/tab_head`, {id: 'sizes',      title: 'Sizes',      count_id: 'size'}) %>
    <%- include(`${partials}/tab_head`, {id: 'categories', title: 'Categories', count_id: 'category'}) %>
    <%- include(`${partials}/common/notes/tab_head`) %>
</ul>
<div class="tab-content pt-3" id="myTabContent">
    <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
        <%- include(`${partials}/inputs/display`, {id: 'item_description', title: 'Description'}) %>
        <%- include(`${partials}/inputs/display`, {id: 'item_size_text1',  title: 'Size Text 1'}) %>
        <%- include(`${partials}/inputs/display`, {id: 'item_size_text2',  title: 'Size Text 2'}) %>
        <%- include(`${partials}/inputs/display`, {id: 'item_size_text3',  title: 'Size Text 3'}) %>
    </div>
    <div class="tab-pane fade" id="sizes" role="tabpanel" aria-labelledby="sizes-tab">
        <div class="row justify-content-between">
            <div class="col-12 col-md-4 mb-1">
                <%- include(`${partials}/sidebar/button`, {id: 'sizes', text: 'Filter'}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto">
                <table class='table table-sm table-hover w-100'>
                    <thead class='thead-dark' id="tbl_sizes_head">
                        <th class='w-35' id='size_text1_sizes_table' data-column='["size1"]' data-dir='ASC'></th>
                        <th class='w-35' id='size_text2_sizes_table' data-column='["size2"]'></th>
                        <th class='w-30' id='size_text3_sizes_table' data-column='["size3"]'></th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_sizes'></tbody>
                </table>
                <%- include(`${partials}/limit`, {table: 'sizes'}) %>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
        <div class="row">
            <div class="col-12 col-lg-5 mx-auto">
                <table class='table table-sm table-hover w-100'>
                    <thead class='thead-dark' id='tbl_item_categories_head'>
                        <th class='w-100' data-column='["category","category"]' data-dir="ASC">Category</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_categories'></tbody>
                </table>
                <%- include(`${partials}/limit`, {table: 'item_categories'}) %>
            </div>
        </div>
    </div>
    <%- include(`${partials}/common/notes/tab_body`) %>
</div>

<div id="sidebars">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sdb_menu"  aria-labelledby="sdb_menu_label">
        <%- include(`${partials}/sidebar/header`, {id: 'menu', text: 'Menu'}) %>
        <div class="offcanvas-body d-flex flex-column">
            <%- include(`${partials}/button/modal`, {id: 'item_edit',    text: 'Edit',         type: 'warning'}) %>
            <%- include(`${partials}/button/modal`, {id: 'category_add', text: 'New Category', type: 'success'}) %>
            <%- include(`${partials}/button/modal`, {id: 'size_add',     text: 'New Size',     type: 'success'}) %>
            <%- include(`${partials}/button/delete`) %>
        </div>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sdb_sizes" aria-labelledby="sdb_sizes_label">
        <%- include(`${partials}/sidebar/header`, {id: 'sizes', text: 'Filter Sizes'}) %>
        <div class="offcanvas-body d-flex flex-column">
            <%- include(`${partials}/filter/size`, {table: 'size'}) %>
        </div>
    </div>
    <%- include(`${partials}/common/notes/sidebar`) %>
</div>
<div id="modals">
    <%- include(`${partials}/common/notes/modals`) %>
    <div id='mdl_category_view' class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Category</h5>
                    <%- include(`${partials}/modals/edit_delete_btns`, {id: 'category', deleteOnly: true}) %>
                </div>
                <div class="modal-body">
                    <%- include(`${partials}/inputs/display`, {id: 'category_category',  title: 'Category'}) %>
                    <%- include(`${partials}/inputs/display`, {id: 'category_createdAt', title: 'Added'}) %>
                </div>
                <div class="modal-footer">
                    <p class='me-auto text-start'>
                        Category ID: <span id='category_id'></span><br>
                        Link ID: <span id='item_category_id'></span>
                    </p>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<% if (permissions.stores_stock_admin) { %>
    <div id='mdl_category_add'  class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <form class="modal-content" id='form_category_add'>
                <%- include(`${partials}/modals/header`, {title: 'Add Category'}) %>
                <div class="modal-body">
                    <input type="hidden" class='item_id' name='category[item_id]'>
                    <select name="category[category_id][]" id="sel_category_1" class='form-control sel_category' required></select>
                    <div id="sub_categories"></div>
                </div>
                <%- include(`${partials}/modals/footer`, {submit: {text: 'Save'}}) %>
            </form>
        </div>
    </div>
    <div id='mdl_item_edit'     class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form class="modal-content" id='form_item_edit'>
                <%- include(`${partials}/modals/header`, {title: 'Edit Item'}) %>
                <div class="modal-body">
                    <datalist id="list_descriptions"></datalist>
                    <%- include(`${partials}/inputs/text`, {id: 'description_edit', title: 'Description', name: 'item[description]', required: true}) %>
                    <%- include(`${partials}/inputs/text`, {id: 'size_text1_edit',  title: 'Size Text 1', name: 'item[size_text1]',  list_id: 'list_descriptions', required: true}) %>
                    <%- include(`${partials}/inputs/text`, {id: 'size_text2_edit',  title: 'Size Text 2', name: 'item[size_text2]',  list_id: 'list_descriptions'}) %>
                    <%- include(`${partials}/inputs/text`, {id: 'size_text3_edit',  title: 'Size Text 3', name: 'item[size_text3]',  list_id: 'list_descriptions'}) %>
                </div>
                <%- include(`${partials}/modals/footer`, {submit: {text: 'Save'}}) %>
            </form>
        </div>
    </div>  
    <div id='mdl_size_add'      class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form class="modal-content" id='form_size_add'>
                <%- include(`${partials}/modals/header`, {title: 'Add Size'}) %>
                <div class="modal-body">
                    <input type="hidden" class='item_id' name='size[item_id]'>
                    <%- include(`${partials}/inputs/text`,     {name: 'size[size1]',       title: 'Size 1',       id: 'size_size1',       required: true}) %>
                    <%- include(`${partials}/inputs/text`,     {name: 'size[size2]',       title: 'Size 2',       id: 'size_size2'}) %>
                    <%- include(`${partials}/inputs/text`,     {name: 'size[size3]',       title: 'Size 3',       id: 'size_size3'}) %>
                    <%- include(`${partials}/inputs/select`,   {name: 'size[issueable]',   title: 'Issueable',    id: 'size_issueable',   options: [{value: '0', text: 'No'}, {value: '1', text: 'Yes'}]}) %>
                    <%- include(`${partials}/inputs/select`,   {name: 'size[orderable]',   title: 'Orderable',    id: 'size_orderable',   options: [{value: '0', text: 'No'}, {value: '1', text: 'Yes'}]}) %>
                    <%- include(`${partials}/inputs/select`,   {name: 'size[has_serials]', title: 'Has Serial #', id: 'size_has_serials', options: [{value: '0', text: 'No'}, {value: '1', text: 'Yes'}]}) %>
                    <%- include(`${partials}/inputs/select`,   {name: 'size[has_nsns]',    title: 'Has NSNs',     id: 'size_has_nsns',    options: [{value: '0', text: 'No'}, {value: '1', text: 'Yes'}]}) %>
                    <%- include(`${partials}/inputs/select`,   {name: 'size[supplier_id]', title: 'Supplier',     id: 'size_supplier',    reload_id: 'reload_suppliers', permission: 'supplier_admin'}) %>
					<%- include(`${partials}/inputs/checkbox`, {name: 'size[site_id]',     title: 'Visible to this site only?', id: 'chk_size_add_site_id', classes: ['site_id'], checked: true}) %>
                </div>
                <%- include(`${partials}/modals/footer`, {submit: {text: 'Save'}}) %>
            </form>
        </div>
    </div>
<% } %>
</div>
<%- include(`${partials}/foot/app`) %>
<script>showTab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<script src='/js/stores/items/show/view.js'></script>
<% if (permissions.stores_stock_admin) { %>
	<script src="/js/stores/items/size_descriptions.js"></script>
    <script src='/js/stores/items/show/edit.js'></script>
    <script src="/js/stores/items/show/delete.js"></script>
<% } %>

<script src='/js/stores/items/show/categories/view.js'></script>
<% if (permissions.stores_stock_admin) { %>
    <script src='/js/stores/items/show/categories/add.js'></script>
    <script src='/js/stores/items/show/categories/delete.js'></script>
<% } %>

<script src='/js/stores/items/show/sizes/view.js'></script>
<% if (permissions.stores_stock_admin) { %>
    <% if (permissions.supplier_admin) { %>
        <script src='/js/utils/list/suppliers.js'></script>
    <% } %>
    <script src='/js/stores/items/show/sizes/add.js'></script>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>
