<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {text: 'Stores', href: '/stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Reports'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
    <div class="row">
        <%- include(`${partials}/card`, {id: '1', href: '/reports/1', title: 'Negative Stock',      image: 'search-minus'. permission: 'adjustment_add'}) %>
        <%- include(`${partials}/card`, {id: '2', href: '/reports/2', title: 'Issues Due Back',     image: 'calendar-check'}) %>
        <%- include(`${partials}/card`, {id: '3', href: '/reports/3', title: 'Orderable Stock',     image: 'tshirt'}) %>
        <%- include(`${partials}/card`, {id: '4', href: '/reports/4', title: 'Stock - By Item',     image: 'tshirt'}) %>
        <%- include(`${partials}/card`, {id: '5', href: '/reports/5', title: 'Stock - By Location', image: 'tshirt'}) %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<%- include(`${partials}/foot/elements/htmlClose`) %>