<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',		     text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/receipts', text: 'Receipts'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'receipts'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section>
	<div class="container">
		<%- include(`${partials}/inputs/select`, {id: 'sel_suppliers', title: 'Suppliers', spinner: true, spinner_id: 'suppliers', reload_id: 'reload_suppliers'}) %>
		<%- include(`${partials}/inputs/select`, {id: 'sel_status',    title: 'Status', options: [{text: 'All', value: '', selected: true}, {text: 'Cancelled', value: '_status=0'}, {text: 'Draft', value: '_status=1'}, {text: 'Open', value: '_status=2'}, {text: 'Closed', value: '_status=3'}]}) %>
		<table class="table table-sm table-hover">
			<thead class="thead-dark">
				<th class="w-40" onclick="sortTable(0, 'receiptTable')">Supplier</th>
				<th class="w-30" onclick="sortTable(1, 'receiptTable')">Receipt Date</th>
				<th class="w-15" onclick="sortTable(2, 'receiptTable')">Lines</th>
				<th class="w-15" onclick="sortTable(3, 'receiptTable')">Status</th>
				<th><i class='fas fa-search'></i></th>
			</thead>
			<tbody id="tbl_receipts"></tbody>
		</table>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/stores/receipts/index/receipts.js'></script>
<script src='/js/stores/suppliers/list.js'></script>
<script async>getSuppliers()</script>
<script async>getReceipts()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>