<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/receipts">Receipts</a>
			</li>
		</ul>
	</nav>
</section>
<section>
	<div class="container">
		<table class="table table-sm table-hover">
			<thead class="thead-dark">
				<th class="w-25" onclick="sortTable(0, 'orderTable')">Supplier</th>
				<th class="w-25" onclick="sortTable(1, 'orderTable')">Receipt Date</th>
				<th class="w-25" onclick="sortTable(2, 'orderTable')">Lines</th>
				<th class="w-25" onclick="sortTable(3, 'orderTable')">Received By</th>
				<th><i class='fas fa-search'></i></th>
			</thead>
			<tbody id="orderTable">
				<% if (receipts) { %>
					<% receipts.forEach(receipt => { %>
						<tr>
							<td>
								<a class='float-right btn btn-sm btn-primary' href="/stores/suppliers/<%= receipt.supplier_id %>">
									<i class='fas fa-search'></i>
								</a>
								<%= receipt.supplier._name %>
							</td>
							<td>
								<%= receipt._date.toDateString() %>
							</td>
							<td>
								<%= receipt.lines.length %>
							</td>
							<td>
								<%= receipt.user.rank._rank %> <%= receipt.user._name %>, <%= receipt.user._ini %>
							</td>
							<td>
								<a class='btn btn-sm btn-primary' href="/stores/receipts/<%= receipt.receipt_id %>">
									<i class='fas fa-search'></i>
								</a>
							</td>
						</tr>
					<% }) %>
				<% } %>
			</tbody>
		</table>
	</div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['co'], "/stores/receipts");
    };
</script>
<% include ../../partials/foot/htmlClose %>