<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/receipts">Receipts</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/receipts/<%= receipt.receipt_id %>"><%= receipt.receipt_id %></a>
			</li>
		</ul>
	</nav>
</section>
<section class="container">
	<div class="row">
		<div class="col-12 col-lg-4 bordered mb-2">
			<% if (permissions.receipts_delete) { %>
				<div class="col-12 mb-3">
					<form action="/stores/receipts/<%= receipt.receipt_id %>?_method=DELETE" method="POST" onsubmit="return confirm('Confirm delete receipt?');">
						<button class="float-left btn btn-danger"><i class='fas fa-trash-alt'></i></button>
					</form>
				</div>
			<% } %>
			<h4>Receipt Details</h4>
			<div class="row">
				<div class="col-sm-4">
					<label class="col-form-label">Supplier:</label>
				</div>
				<div class="col-sm-8">
					<input class="form-control" type="text" value="<%= receipt.supplier._name %>" readonly>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label class="col-form-label">Received:</label>
				</div>
				<div class="col-sm-8">
					<input class="form-control" type="text" value="<%= receipt._date.toDateString() %>" readonly>
				</div>
			</div>	
			<div class="row">
				<div class="col-sm-4">
					<label class="col-form-label">Received By:</label>
				</div>
				<div class="col-sm-8">
					<input class="form-control" type="text" value="<%= receipt.user.rank._rank %> <%= receipt.user._name %>, <%= receipt.user._ini %>" readonly>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-8 bordered mb-2">
			<table id="receiptTable" class="table table-sm table-hover mx-auto w-100">
				<thead class="thead-dark">
					<th class="w-15" onclick="sortTable(0, 'receiptTable')">Location</th>
					<th class="w-30" onclick="sortTable(1, 'receiptTable')">Item</th>
					<th class="w-30" onclick="sortTable(2, 'receiptTable')">Size</th>
					<th class="w-10" onclick="sortTable(3, 'receiptTable')">Quantity</th>
				</thead>
				<tbody>
					<% if (receipt.lines) { %>
						<% receipt.lines.forEach(line => { %>
							<tr>
								<td>
									<a class='float-right btn btn-sm btn-primary' href="/stores/stock<% if (line.stock) { %>/<%= line.stock_id %><% } %>">
										<i class='fas fa-search'></i>
									</a>
									<% if (line.stock) { %>
										<%= line.stock.location._location %>
									<% } %>
								</td>
								<td>
									<a class='float-right btn btn-sm btn-primary' href="/stores/items<% if (line.stock) { %>/<%= line.stock.item_size.item_id %><% } %>">
										<i class='fas fa-search'></i>
									</a>
									<% if (line.stock) { %>
										<%= line.stock.item_size.item._description %>
									<% } %>
								</td>
								<td>
									<a class='float-right btn btn-sm btn-primary' href="/stores<% if (line.stock) { %>/item_sizes/<%= line.stock.itemsize_id %><% } %>">
										<i class='fas fa-search'></i>
									</a>
									<% if (line.stock) { %>
										<%= line.stock.item_size._size %>
									<% } %>
								</td>
								<td>
									<%= line._qty %>
								</td>
							</tr>
						<% }) %>
					<% } %>
				</tbody>
			</table>
		</div>
		<% if (permissions.access_notes) { %> 
			<div class="col-12 mb-3 bordered">
				<% if (permissions.notes_add) { %>
					<a class="float-left btn btn-success" href="/stores/notes/new?table=receipt&id=<%= receipt.receipt_id %>">
						<i class='fas fa-plus'></i>
					</a>
				<% } %>
				<% include ../../partials/noteTable %>
			</div>
		<% } %>
	</div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['system'],"/stores/receipts/<%= receipt.receipt_id %>");
    };
</script>
<% include ../../partials/foot/htmlClose %>