<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/receipts">Receipts</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/receipts/<%= receipt.receipt_id %>"><%= receipt.receipt_id %></a>
			</li>
			<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle stores_nav" href="#" id="optionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
                </a>
                <div class="dropdown-menu" aria-labelledby="optionsDropdown">
					<% if (permissions.receipt_edit && !receipt._complete && !receipt._closed) { %>
						<!-- ////////////////////////////////// -->
						<a class="dropdown-item" href='#'>
							Complete
						</a>
					<% } %>
					<% if (permissions.receipt_line_add && !receipt._complete && !receipt._closed) { %>
						<!-- ////////////////////////////////// -->
						<a class="dropdown-item" href='javascript:addSize("receipt",<%= receipt.receipt_id %>,"supplier_id=<%= receipt.supplier_id%>")'>
							Add Item
						</a>
					<% } %>
					<% include ../../partials/notes/menu_add %>
					<div class="dropdown-divider"></div>
					<% if (permissions.receipt_delete && !receipt._complete && !receipt._closed) { %>
						<form id='deleteForm'>
							<button class="dropdown-item dropdown_button confirm">
								Delete
							</button>
						</form>
					<% } %>
                </div>
            </li>
		</ul>
	</nav>
</section>
<section class="container">
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lines-tab" data-toggle="tab" href="#lines" role="tab" aria-controls="lines" aria-selected="true">
                Lines (<span id='line_count'></span>)
            </a>
        </li>
        <% include ../../partials/notes/tab_head %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
				<div class="input-group mb-1">
					<div class="input-group-prepend w-30">
						<span class="input-group-text w-100">Supplier</span>
					</div>
					<p class="form-control"><%= receipt.supplier._name %></p>
					<div class="input-group-append">
						<a class='btn btn-primary' href='/stores/suppliers/<%= receipt.supplier_id %>'>
							<i class='fas fa-search'></i>
						</a>
					</div>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-30">
						<span class="input-group-text w-100">Received By</span>
					</div>
					<p class="form-control"><%= receipt.user.rank._rank %> <%= receipt.user.full_name %></p>
					<div class="input-group-append">
						<a class='btn btn-primary' href='/stores/users/<%= receipt.user_id %>'>
							<i class='fas fa-search'></i>
						</a>
					</div>
				</div>
				<%- include('../../partials/inputs/display', {title: 'Received', text: receipt._date.toDateString()}) %>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-30">
						<span class="input-group-text w-100">Complete</span>
					</div>
					<p class="form-control"><% if (receipt._complete) { %>Yes<% } else { %>No<% } %></p>
				</div>
			</div>
		</div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
            <div class="container">
				<div id='spn_receipts' class="spinner-border text-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<table class="table table-sm table-hover mx-auto w-100">
					<thead class="thead-dark">
						<th class="w-20" onclick="sortTable(0, 'receiptTable')">Location</th>
						<th class="w-30" onclick="sortTable(1, 'receiptTable')">Item</th>
						<th class="w-30" onclick="sortTable(2, 'receiptTable')">Size</th>
						<th class="w-20" onclick="sortTable(3, 'receiptTable')">Quantity</th>
						<% if (permissions.receipt_line_delete && !receipt._complete) { %><th><i class='fas fa-trash-alt'></i></th><% } %>
					</thead>
					<tbody id="receiptTable">
					</tbody>
				</table>
			</div>
		</div>
        <% include ../../partials/notes/tab_body %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src='/js/get/receipt_lines.js'></script>
<script>
    window.addEventListener( "load", function () {
		<% if (permissions.receipt_delete && !receipt._complete && !receipt._closed) { %>
			addFormListener('deleteForm', 'DELETE', '/stores/receipts/<%= receipt.receipt_id %>', {redirect: '/stores/receipts'})
		<% } %>
    });
</script>
<script async>getReceiptLines(<%= receipt.receipt_id %>, <%= receipt._complete%>, <%= permissions.receipt_line_delete %>)</script>
<% include ../../partials/foot/htmlClose %>