<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',		   text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/receipts', text: 'Receipts'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class="container">
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="optionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Menu
			</a>
			<div class="dropdown-menu" aria-labelledby="optionsDropdown">
				<%- include(`${partials}/notes/menu_add`) %>
				<% if (permissions.receipt_edit) { %>
					<form id='form_complete'>
				<% } %>
						<input type="hidden" name='_status' value='2'>
						<input id='btn_complete' class='dropdown-item confirm' type="submit" value='Complete' disabled>
				<% if (permissions.receipt_edit) { %>
					</form>
				<% } %>
				<div id='form_addSize'>
					<button type='button' class='dropdown-item' id='btn_addSize' data-toggle='modal' data-target='#mdl_add_size' disabled >
						Add Item
					</button>
				</div>
				<% if (permissions.receipt_delete) { %>
					<form id='form_delete'>
				<% } %>
						<input id='btn_delete' type="submit" class="dropdown-item confirm" value='Cancel' disabled>
				<% if (permissions.receipt_edit) { %>
					</form>
				<% } %>
			</div>
		</li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details'}) %>
        <%- include(`${partials}/tab_head`, {id: 'lines',   title: 'Lines', count_id: 'line'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',   title: 'Notes', count_id: 'note', permission: 'access_notes'}) %>
        <%- include(`${partials}/reload`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/spinner`, {id: 'receipts'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'supplier',  title: 'Supplier',    link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'user',      title: 'Received By', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'createdAt', title: 'Received'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'updatedAt', title: 'Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: '_status',	title: 'Status'}) %>
		</div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
			<%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{value: '', text: 'All', selected: true}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Pending'}, {value: '_status=2', text: 'Closed'}]}) %>
			<table class="table table-sm table-hover mx-auto w-100">
				<thead class="thead-dark">
					<th class="w-20" onclick="sortTable(0, 'tbl_lines')">
						<%- include(`${partials}/spinner`, {id: 'receipt_lines', float_left: true, small: true}) %>
						Line ID
					</th>
					<th class="w-25" onclick="sortTable(1, 'tbl_lines')">Item</th>
					<th class="w-30" onclick="sortTable(2, 'tbl_lines')">Size</th>
					<th class="w-10" onclick="sortTable(3, 'tbl_lines')">Quantity</th>
					<th class="w-15" onclick="sortTable(4, 'tbl_lines')">Status</th>
					<th><i class="fas fa-search"></i></th>
				</thead>
				<tbody id="tbl_lines">
				</tbody>
			</table>
		</div>
        <%- include(`${partials}/notes/tab_body`) %>
		<div id="div_modals"></div>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<!-- get/spinner/XHRsend/send from notes include -->
<script src='/js/tabs.js'></script>
<script src="/js/stores/receipts/show/receipt.js"></script>
<script src="/js/stores/receipts/show/lines.js"></script>
<script src="/js/stores/stock/list.js"></script>
<script src="/js/stores/serials/list.js"></script>
<script src="/js/search/select.js"></script>
<script src="/js/addSize.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script src='/js/utils/select_sel_status.js'></script>
<script src='/js/utils/getLineNotes.js'></script>
<script>showTab('<%= tab %>');</script>
<script>
	function getReceipt() {
		get(
			showReceipt,
			{
				table: 'receipts',
				query: [`receipt_id=${path[3]}`],
				permissions: {
					edit: 	     <%= permissions.receipt_edit  	   	 || false %>,
					delete:		 <%= permissions.receipt_delete	     || false %>,
					line_add:	 <%= permissions.receipt_line_add	 || false %>,
					line_delete: <%= permissions.receipt_line_delete || false %>
				}
			}
		);
	};
    document.querySelector('#reload').addEventListener('click', () => getReceipt());
</script>
<script async>getReceipt()</script>
<script>
    function getLines() {
		get(
			showLines,
			{
				table: 'receipt_lines',
				query: [`receipt_id=${path[3]}`, sel_status.value],
				permissions: {
					line_edit:	 <%= permissions.receipt_line_edit   || false %>,
					line_delete: <%= permissions.receipt_line_delete || false %>
				}
			}
		);
	};
	// getreceiptlines = getLines;
    document.querySelector('#reload').addEventListener('click', () => getLines());
    document.querySelector('#sel_status').addEventListener('change', () => getLines());
</script>
<script async>getLines()</script>
<script>
    window.addEventListener( "load", function () {
		<% if (permissions.receipt_delete) { %>
			addFormListener('form_delete', 'DELETE', `/stores/receipts/${path[3]}`, {onComplete: [getReceipt, getLines]});
		<% } %>
		<% if (permissions.receipt_edit) { %>
			addFormListener('form_complete', 'PUT', `/stores/receipts/${path[3]}`, {onComplete: [getReceipt, getLines]});
		<% } %>
    });
</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>