<div id='mdl_movement_view' class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <%- include(`${partials}/modals/header`, {title: 'Movement'}) %>
            <div class="modal-body">
                <%- include(`${partials}/inputs/display`, {id: 'movement_createdAt',    title: 'Created'}) %>
                <%- include(`${partials}/inputs/display`, {id: 'movement_description',  title: 'Description'}) %>
                <%- include(`${partials}/inputs/display`, {id: 'movement_type',         title: 'Type'}) %>
                <%- include(`${partials}/inputs/display`, {id: 'movement_amount',       title: 'Amount'}) %>
                <%- include(`${partials}/inputs/display`, {id: 'movement_from',         title: 'From'}) %>
                <%- include(`${partials}/inputs/display`, {id: 'movement_to',           title: 'To'}) %>
                <%- include(`${partials}/inputs/display`, {id: 'movement_user',         title: 'By'}) %>
                <%- include(`${partials}/inputs/display`, {id: 'movement_user_confirm', title: 'Confirmed By'}) %>
            </div>
            <%- include(`${partials}/modals/footer`, {link_id: 'movement_id'}) %>
        </div>
    </div>
</div>