<div id='mdl_movement_view' class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Movement</h5>
            </div>
            <div class="modal-body">
                <%- include(`${partials}/inputs/display`, {title: 'Created',      id: 'movement_createdAt'}) %>
                <%- include(`${partials}/inputs/display`, {title: 'Description',  id: 'movement_description'}) %>
                <%- include(`${partials}/inputs/display`, {title: 'Type',         id: 'movement_type'}) %>
                <%- include(`${partials}/inputs/display`, {title: 'Amount',       id: 'movement_amount'}) %>
                <%- include(`${partials}/inputs/display`, {title: 'From',         id: 'movement_from'}) %>
                <%- include(`${partials}/inputs/display`, {title: 'To',           id: 'movement_to'}) %>
                <%- include(`${partials}/inputs/display`, {title: 'By',           id: 'movement_user'}) %>
                <%- include(`${partials}/inputs/display`, {title: 'Confirmed By', id: 'movement_user_confirm'}) %>
            </div>
            <div class="modal-footer">
                <p class='me-auto'>ID: <span id='movement_id'></span></p>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>