<%- include(`${process.env.PARTIALS}/head/full`) %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/canteen',	      text: 'Canteen'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/canteen/sessions', text: 'Sessions'}) %>
			<% if (permissions.session_add) { %>
				<%- include(`${process.env.PARTIALS}/breadcrumb`, {html: '<i class="fas fa-plus"></i>', id: 'btn_add_session'}) %>
			<% } %>
			<%- include(`${process.env.PARTIALS}/reload`) %>
            <%- include(`${process.env.PARTIALS}/spinner`, {id: 'sessions'}) %>
        </ul>
    </nav>
</section>
<section class='container'>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <th class="w-35" onclick="sortTable(0, 'tbl_sessions')">Start</th>
            <th class="w-35" onclick="sortTable(1, 'tbl_sessions')">End</th>
            <th class="w-15" onclick="sortTable(2, 'tbl_sessions')">Takings</th>
            <th class="w-15" onclick="sortTable(3, 'tbl_sessions')">Status</th>
            <th><i class='fas fa-search'></i></th>
        </thead>
        <tbody id="tbl_sessions">
        </tbody>
    </table>
    <div id="div_modals"></div>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<script src='/js/data/addFormListener.js'></script>
<script src='/js/canteen/sessions/index/sessions.js'></script>
<script>
    function getSessions() {
        get(
            showSessions,
            {
                db: 'canteen',
                table: 'sessions',
                query: [],
                permissions: {
                    add: <%= permissions.session_add || false %>
                }
            }
        );
    };
    document.querySelector('#reload').addEventListener('click', getSessions);
</script>
<!-- <script>
    sortTable(3, 'tbl_sessions', 'desc');
</script> -->
<script async>getSessions()</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>