<%- include(`${partials}/head/app`, {text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Sessions'}) %>
<% if (permissions.pos_supervisor) { %>
	<li class="nav-item">
		<a class='nav-link' data-bs-toggle="modal" data-bs-target="#mdl_session_add"><i class="fas fa-plus"></i></a>
	</li>
<% } %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'sessions'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <%- include(`${partials}/sort`, {table: 'sessions'}) %>
	<table class="table table-sm table-hover">
        <thead class="thead-dark">
            <th class='w-40'>Start</th>
            <th class='w-40'>End</th>
            <th class='w-20'>Status</th>
            <th><i class='fas fa-search'></i></th>
        </thead>
        <tbody id="tbl_sessions"></tbody>
		<%- include(`${partials}/limit`, {table: 'sessions'}) %>
    </table>
    <div id="div_modals">
        <% if (permissions.pos_supervisor) { %>
            <div id='mdl_session_add' class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_session_add'>
                        <div class="modal-header">
                            <h5 class="modal-title">Open Session</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/canteen/count_form`) %>
                        </div>
                        <div class="modal-footer">
                            <input  type="submit" class="btn btn-success w-100" value='Open'>
                            <%- include(`${partials}/button/modal/close`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/canteen/sessions/index/view.js'></script>
<script async>getSessions()</script>
<% if (permissions.pos_supervisor) { %>
    <script src='/js/canteen/sessions/index/add.js'></script>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>