<%- include(`${process.env.PARTIALS}/head/full`) %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/canteen',	      text: 'Canteen'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/canteen/sessions', text: 'Sessions'}) %>
			<%- include(`${process.env.PARTIALS}/breadcrumb`) %>
			<%- include(`${process.env.PARTIALS}/reload`) %>
			<%- include(`${process.env.PARTIALS}/spinner`, {id: 'sessions'}) %>
        </ul>
    </nav>
</section>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.session_edit) { %>
                    <%- include(`${process.env.PARTIALS}/edit`) %>
                <% } %>
                <%- include(`${process.env.PARTIALS}/notes/menu_add`) %>
                <% if (permissions.session_delete) { %>
                    <%- include(`${process.env.PARTIALS}/delete`) %>
                <% } %>
            </div>
        </li>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'details', title: 'Details'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'sales',   title: 'Sales', count_id: 'sale_count',  permission: 'access_sales'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'items',   title: 'Items', count_id: 'item_count',  permission: 'access_sales'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'notes',   title: 'Notes', count_id: 'note_count',  permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'session_id',       title: 'Session ID'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_status',          title: 'Status'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'createdAt',        title: 'Start'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_end',             title: 'End'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_opening_balance', title: 'Opening Balance'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'user_open',        title: 'Opened By'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_takings',         title: 'Takings'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_closing_balance', title: 'Closing Balance'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'user_close',       title: 'Closed By'}) %>
        </div>
        <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-30" onclick="sortTable(0, 'tbl_sales')">Time</th>
                    <th class="w-50" onclick="sortTable(1, 'tbl_sales')">User</th>
                    <th class="w-10" onclick="sortTable(2, 'tbl_sales')">Lines</th>
                    <th class="w-10" onclick="sortTable(3, 'tbl_sales')">Status</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id="tbl_sales">
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-60" onclick="sortTable(0, 'tbl_items')">Name</th>
                    <th class="w-20" onclick="sortTable(1, 'tbl_items')">Sales</th>
                    <th class="w-20" onclick="sortTable(2, 'tbl_items')">Qty</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id="tbl_items">
                </tbody>
            </table>
        </div>
        <%- include(`${process.env.PARTIALS}/notes/tab_body`) %>
    </div>
    <div id="div_modals"></div>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<script src='/js/tabs.js'></script>
<script src="/js/canteen/sessions/show/session.js"></script>
<script>showTab('<%= tab %>');</script>
<script>
    function getSession() {
        get(
            showSession,
            {
                db:    'canteen',
                table: 'sessions',
                query: [`session_id=${path[3]}`],
                permissions: {
                    edit: <%= permissions.session_edit || false %>
                }
            }
        );
    };
    document.querySelector('#reload').addEventListener('click', getSession);
</script>
<script async>getSession()</script>
<% if (permissions.access_sales) { %>
    <script src="/js/canteen/sessions/show/sales.js"></script>
    <script>
        function getSales() {
            get(
                showSales,
                {
                    db:    'canteen',
                    table: 'sales',
                    query: [`session_id=${path[3]}`]
                }
            );
        };
        document.querySelector('#reload').addEventListener('click', getSales);
    </script>
    <script async>getSales()</script>
<% } %>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>