<%- include(`${partials}/head/app`, {text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Sessions', href: '/sessions'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<%- include(`${partials}/menu/button`, {id: 'session_close', modal: 'session_close', text: 'Close'}) %>
                <%- include(`${partials}/common/notes/btn_add`) %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details',  title: 'Details',  spinner: 'session'}) %>
        <%- include(`${partials}/tab_head`, {id: 'sales',    title: 'Sales',    spinner: 'sales',            count_id: 'sale',    permission: 'access_sales'}) %>
        <%- include(`${partials}/tab_head`, {id: 'payments', title: 'Payments', spinner: 'payments_session', count_id: 'payment', permission: 'access_payments'}) %>
        <%- include(`${partials}/tab_head`, {id: 'items',    title: 'Items',    spinner: 'items',            count_id: 'item',    permission: 'access_items'}) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: 'session_status',       title: 'Status'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'session_createdAt',    title: 'Date/Time Opened'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'session_user_open',    title: 'Opened By'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'session_datetime_end', title: 'Date/Time Closed'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'session_user_close',   title: 'Closed By'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'session_takings',      title: 'Takings',  permission: 'access_sales'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'session_paid_in',      title: 'Paid In',  permission: 'access_paid_in'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'session_paid_out',     title: 'Paid Out', permission: 'access_paid_out'}) %>
        </div>
        <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-30" onclick="sortTable(0, 'tbl_sales')">Time</th>
                    <th class="w-50" onclick="sortTable(1, 'tbl_sales')">User</th>
                    <th class="w-10" onclick="sortTable(2, 'tbl_sales')">Lines</th>
                    <th class="w-10" onclick="sortTable(3, 'tbl_sales')">Status</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id="tbl_sales"></tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="payments-tab">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-50" onclick="sortTable(0, 'tbl_payments')">Type</th>
                    <th class="w-50" onclick="sortTable(1, 'tbl_payments')">Amount</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id="tbl_payments"></tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-60" onclick="sortTable(0, 'tbl_items')">Name</th>
                    <th class="w-20" onclick="sortTable(1, 'tbl_items')">Sales</th>
                    <th class="w-20" onclick="sortTable(2, 'tbl_items')">Qty</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id="tbl_items"></tbody>
            </table>
        </div>
        <%- include(`${partials}/common/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <% if (permissions.session_edit) { %>
            <div id='mdl_session_close' class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_session_close'>
                        <div class="modal-header">
                            <h5 class="modal-title">Close Session</h5>
                        </div>
                        <div class="modal-body">
                            <% [{text: '1p',  name: 'c0001', step: '0.01'},{text: '2p',  name: 'c0002', step: '0.02'},{text: '5p',  name: 'c0005', step: '0.05'},{text: '10p', name: 'c0010', step: '0.1'},{text: '20p', name: 'c0020', step: '0.2'},{text: '50p', name: 'c0050', step: '0.5'},{text: '£1',  name: 'c0100', step: '1'},{text: '£2',  name: 'c0200', step: '2'},{text: '£5',  name: 'c0500', step: '5'},{text: '£10', name: 'c1000', step: '10'},{text: '£20', name: 'c2000', step: '20'},{text: '£50', name: 'c5000', step: '50'}].forEach(e => { %>
                                <div class="input-group mb-1">
                                    <span class="input-group-text w-30"><%= e.text %></span>
                                    <input
                                        class="form-control"
                                        type="number"
                                        inputMode='numeric'
                                        name='balance[<%= e.name %>][b]'
                                        step='<%= e.step %>'
                                        min='0'
                                        placeholder="Bagged"
                                    >
                                    <input
                                        class="form-control"
                                        type="number"
                                        inputMode='numeric'
                                        name='balance[<%= e.name %>][l]'
                                        step='<%= e.step %>'
                                        min='0'
                                        placeholder="Loose"
                                    >
                                </div>
                            <% }) %>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success w-100" value='Close Session'>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/canteen/sessions/show/view.js"></script>
<%- include(`${partials}/common/notes/scripts`) %>
<script>showTab('<%= tab %>');</script>
<script async>getSession()</script>
<% if (permissions.access_sales) { %>
    <script src="/js/canteen/sessions/show/sales/view.js"></script>
    <script async>getSales()</script>
<% } %>
<% if (permissions.access_payments) { %>
    <script src="/js/canteen/sessions/show/payments/view.js"></script>
    <script async>getPayments()</script>
<% } %>
<% if (permissions.session_edit) { %>
    <script src="/js/canteen/sessions/show/edit.js"></script>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>