<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
<section class='container'>
    <form id='fileForm'>
        <div>
            <h4>File:</h4>
            <input class='form-control' type='text' value='<%= file._path %>' readonly>
        </div>
        <div class="form-group">
            <h4>Cells</h4>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-45">
                    <span class="input-group-text w-100">Inventory Code/Account #</span>
                </div>
                <input class='form-control' id='_code' name='file[_code]' type='text' value='<%= file._code %>' maxlength='20'>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-45">
                    <span class="input-group-text w-100">Holder Rank</span>
                </div>
                <input class='form-control' id='_rank' name='file[_rank]' type='text' value='<%= file._rank %>' maxlength='4'>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-45">
                    <span class="input-group-text w-100">Holder Name</span>
                </div>
                <input class='form-control' id='_name' name='file[_name]' type='text' value='<%= file._name %>' maxlength='4'>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-45">
                    <span class="input-group-text w-100">Squadron</span>
                </div>
                <input class='form-control' id='_sqn' name='file[_sqn]' type='text' value='<%= file._sqn %>' maxlength='4'>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-45">
                    <span class="input-group-text w-100">Cover Sheet</span>
                </div>
                <input class='form-control' id='_cover_sheet' name='file[_cover_sheet]' type='text' value='<%= file._cover_sheet %>' maxlength='20'>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-45">
                    <span class="input-group-text w-100">Items Sheet</span>
                </div>
                <input class='form-control' id='_items_sheet' name='file[_items_sheet]' type='text' value='<%= file._items_sheet %>' maxlength='20'>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-45">
                    <span class="input-group-text w-100">Cover Sheet Rank Column</span>
                </div>
                <input class='form-control' id='_rank_column' name='file[_rank_column]' type='text' value='<%= file._rank_column %>' maxlength='2'>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-45">
                    <span class="input-group-text w-100">Cover Sheet Name Column</span>
                </div>
                <input class='form-control' id='_name_column' name='file[_name_column]' type='text' value='<%= file._name_column %>' maxlength='2'>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-45">
                    <span class="input-group-text w-100">Cover Sheet Start Row</span>
                </div>
                <input class='form-control' id='_request_start' name='file[_request_start]' type='text' value='<%= file._request_start %>' maxlength='2'>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-45">
                    <span class="input-group-text w-100">Cover Sheet End Row</span>
                </div>
                <input class='form-control' id='_request_end' name='file[_request_end]' type='text' value='<%= file._request_end %>' maxlength='2'>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-45">
                    <span class="input-group-text w-100">Date</span>
                </div>
                <input class='form-control' id='_date' name='file[_date]' type='text' value='<%= file._date %>' maxlength='4'>
            </div>
        </div>
        <button class='btn btn-success btn-lg confirm w-100' type='submit'>Save</button>
        <a class='float-left' href='javascript:close()'>Cancel</a>
    </form>
</section>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
        addFormListener('fileForm', 'PUT', '/stores/files/<%= file.file_id %>');
    });
</script>
<% include ../../partials/foot/htmlClose %>