<% include ../../partials/head/head %>
<body>
<% include ../../partials/head/flash %>
<section id='body'>
    <form id='fileForm'>
        <div>
            <h4>File:</h4>
            <input class='form-control' type='text' value='<%= file._path %>' readonly>
        </div>
        <div class="form-group">
            <h4>Cells</h4>
            <%- include('../../partials/inputs/text', {title: 'Account',        name: 'file[_code]',          value: file._code,          maxLength: 20}) %>
            <%- include('../../partials/inputs/text', {title: 'Holder Rank',    name: 'file[_rank]',          value: file._rank,          maxLength: 4}) %>
            <%- include('../../partials/inputs/text', {title: 'Holder Name',    name: 'file[_name]',          value: file._name,          maxLength: 4}) %>
            <%- include('../../partials/inputs/text', {title: 'Squadron',       name: 'file[_sqn]',           value: file._sqn,           maxLength: 4}) %>
            <%- include('../../partials/inputs/text', {title: 'Cover Sheet',    name: 'file[_cover_sheet]',   value: file._cover_sheet,   maxLength: 20}) %>
            <%- include('../../partials/inputs/text', {title: 'Items Sheet',    name: 'file[_items_sheet]',   value: file._items_sheet,   maxLength: 20}) %>
            <%- include('../../partials/inputs/text', {title: 'Rank Column',    name: 'file[_rank_column]',   value: file._rank_column,   maxLength: 2}) %>
            <%- include('../../partials/inputs/text', {title: 'Name Column',    name: 'file[_name_column]',   value: file._name_column,   maxLength: 2}) %>
            <%- include('../../partials/inputs/text', {title: 'Name Start Row', name: 'file[_request_start]', value: file._request_start, maxLength: 2}) %>
            <%- include('../../partials/inputs/text', {title: 'Name End Row',   name: 'file[_request_end]',   value: file._request_end,   maxLength: 2}) %>
            <%- include('../../partials/inputs/text', {title: 'Date',           name: 'file[_date]',          value: file._date,          maxLength: 4}) %>
        </div>
        <% include ../../partials/save_cancel %>
    </form>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
        addFormListener('fileForm', 'PUT', '/stores/files/<%= file.file_id %>');
    });
</script>
<% include ../../partials/foot/htmlClose %>