<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">
                    Stores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= f_user.user_id %>">
                    <%= f_user.rank._rank %> <%= f_user._name %>, <%= f_user._ini %>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/permissions/<%= f_user.user_id %>/edit">
                    Edit Permissions
                </a>
            </li>
        </ul>
    </nav>
</section>
<section class="container row">
    <div class="bordered col-12 col-lg-9 col-xl-7 mx-auto">
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Bader #</span>
            </div>
            <p class="form-control"><%= f_user._bader %></p>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Rank</span>
            </div>
            <p class="form-control"><%= f_user.rank._rank %></p>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Initials</span>
            </div>
            <p class="form-control"><%= f_user._ini %></p>
        </div>
        <button class="btn btn-success btn-lg col-12" form="permissionForm" type="submit" id="_submit">Save</button>
        <a class='float-left' href="/stores/users/<%= f_user.user_id %>">Cancel</a>
        <div class="form-group">
            <div>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_disabled()">Disabled</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_user()">User - Basic access and requests</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_issuer()">Issuer - As User with issuing and returns</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_storeman()">Storeman - As Issuer with stores related permissions</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_admin()">Admin - As Storeman with settings and suppliers</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_super()">Superuser - All permissions</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_canteen()">Canteen</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_canteen_supervisor()">Canteen Supervisor</button>
                <form id="permissionForm" action="/stores/permissions/<%= f_user.user_id %>?_method=PUT" method="POST" onsubmit="return confirm('Edit permissions?');">
                    <ul id="treeUL" class="list-group">
                        <li id="account_enabled_li" class="list-group-item">
                            <div class="row cardDarkText">
                                <span class="col-2 caret my-auto"></span>
                                <label class="col-6 text-left col-form-label">Account Enabled</label>
                                <input class="col-4 form-control form-control-sm" id="account_enabled" type="checkbox" name="permissions[account_enabled]" onchange=checkPermission(this) value="1" <% if (f_user.permission['account_enabled'] === 1) { %> checked <% } %>>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<script>
    insertPermission('account_enabled');

    var toggler = document.getElementsByClassName("caret"),
        i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    };

    function insertPermission(_parent) {
        var parent = document.querySelector('#' + _parent + '_li');
        var children = [<%- attributes %>].filter(e => e.parent === _parent);
        if (children.length > 0) {
            var newUL = document.createElement('ul');
            newUL.classList.add('list-group', 'nested');
            newUL.id = _parent + '_ul';
            children.forEach(permission => {
                var subChildren = [<%- attributes %>].filter(e => e.parent === permission.name),
                    newLI       = document.createElement('li');
                    newLI.classList.add('list-group-item');
                if (subChildren.length > 0) {
                    var newSpan = document.createElement('span');
                    newSpan.classList.add('caret');
                    newLI.appendChild(createCheckBox(permission.name, true));
                    newLI.id = permission.name + '_li'
                    newUL.appendChild(newLI);
                    parent.appendChild(newUL);
                    insertPermission(permission.name);
                } else {
                    newLI.appendChild(createCheckBox(permission.name));
                    newUL.appendChild(newLI);
                    parent.appendChild(newUL);
                };
                document.querySelector('#' + permission.name).addEventListener("change", function() {checkPermission(this)});
            });
        };
    };
    function createCheckBox(permission, caret = false) {
        var newDiv = document.createElement('div'),
            newLbl = document.createElement('label'),
            newInp = document.createElement('input'),
            newSpan = document.createElement('span');
        if (caret) newSpan.classList.add('caret');
        newSpan.classList.add('col-2', 'my-auto');
        newDiv.classList.add('row', 'cardDarkText');
        newLbl.classList.add('col-6', 'text-left', 'col-form-label');
        newInp.classList.add('col-4', 'form-control', 'form-control-sm');
        newLbl.innerText = permission;
        newInp.id = permission;
        newInp.type = 'checkbox';
        newInp.name = 'permissions[' + permission + ']';
        newInp.value = '1';
        if (<%- JSON.stringify(f_user.permission) %>[permission] === 1) newInp.checked = true;
        newDiv.appendChild(newSpan);
        newDiv.appendChild(newLbl);
        newDiv.appendChild(newInp);
        return newDiv;
    };
    function checkPermission(checkBox) {
        if (checkBox.checked) {
            var parent = document.querySelector('#' + String(checkBox.parentElement.parentElement.parentElement.id).replace("_ul", ""));
            if (!parent.checked) parent.checked = true;
        } else {
            var children = document.querySelectorAll('#' + checkBox.id + '_li input');
            children.forEach(child => {
               child.checked = false; 
            });
        };
    };

    function setAll(as) {
        <% for (let [key, value] of Object.entries(permissions)) { %>
            <%- key %>.checked = as;
        <% }; %>
    };
    function p_disabled() {setAll(false);};
    function p_super() {setAll(true);};

    function p_canteen() {
        document.querySelector('#access_canteen').checked = true;
        document.querySelector('#canteen_supervisor').checked = false;
    };
    function p_canteen_supervisor() {
        document.querySelector('#access_canteen').checked = true;
        document.querySelector('#canteen_supervisor').checked = true;
    };

    function p_user() {
        p_disabled();
        document.querySelector('#account_enabled').checked = true;
        document.querySelector('#access_requests').checked = true;
        document.querySelector('#request_add').checked = true;
    };
    function p_issuer() {
        p_user();
        document.querySelector('#access_users').checked = true;
        document.querySelector('#file_download').checked = true;
        document.querySelector('#access_items').checked = true;
        document.querySelector('#access_stock').checked = true;
        document.querySelector('#access_locations').checked = true;
        document.querySelector('#access_serials').checked = true;
        document.querySelector('#access_nsns').checked = true;
        document.querySelector('#request_edit').checked = true;
        document.querySelector('#access_issues').checked = true;
        document.querySelector('#issue_add').checked = true;
        document.querySelector('#access_returns').checked = true;
        document.querySelector('#return_add').checked = true;
        document.querySelector('#access_notes').checked = true;
        document.querySelector('#note_add').checked = true;
    };
    function p_storeman() {
        p_issuer();
        document.querySelector('#item_add').checked = true;
        document.querySelector('#item_edit').checked = true;
        document.querySelector('#size_add').checked = true;
        document.querySelector('#size_edit').checked = true;
        document.querySelector('#stock_add').checked = true;
        document.querySelector('#stock_edit').checked = true;
        document.querySelector('#adjust_add').checked = true;
        document.querySelector('#location_add').checked = true;
        document.querySelector('#location_edit').checked = true;
        document.querySelector('#serial_add').checked = true;
        document.querySelector('#serial_edit').checked = true;
        document.querySelector('#nsn_add').checked = true;
        document.querySelector('#nsn_edit').checked = true;

        document.querySelector('#request_edit').checked = true;

        document.querySelector('#access_orders').checked = true;
        document.querySelector('#order_add').checked = true;
        document.querySelector('#order_edit').checked = true;

        document.querySelector('#access_demands').checked = true;
        document.querySelector('#demand_add').checked = true;
        
        document.querySelector('#access_suppliers').checked = true;
        document.querySelector('#access_receipts').checked = true;
        document.querySelector('#receipt_add').checked = true;
        document.querySelector('#supplier_add').checked = true;
        document.querySelector('#supplier_edit').checked = true;
        document.querySelector('#access_accounts').checked = true;
        document.querySelector('#access_files').checked = true;

        document.querySelector('#access_reports').checked = true;
    };
    function p_admin() {
        p_storeman();
        document.querySelector('#access_users').checked = true;
        document.querySelector('#user_add').checked = true;
        document.querySelector('#user_edit').checked = true;
        document.querySelector('#user_permissions').checked = true;
        document.querySelector('#user_password').checked = true;

        document.querySelector('#note_edit').checked = true;

        document.querySelector('#account_add').checked = true;
        document.querySelector('#account_edit').checked = true;
        document.querySelector('#file_add').checked = true;
        document.querySelector('#file_edit').checked = true;

        document.querySelector('#access_settings').checked = true;
        document.querySelector('#setting_edit').checked = true;
        document.querySelector('#rank_add').checked = true;
        document.querySelector('#rank_edit').checked = true;
        document.querySelector('#status_add').checked = true;
        document.querySelector('#status_edit').checked = true;
        document.querySelector('#gender_add').checked = true;
        document.querySelector('#gender_edit').checked = true;
        document.querySelector('#category_add').checked = true;
        document.querySelector('#category_edit').checked = true;
        document.querySelector('#group_add').checked = true;
        document.querySelector('#group_edit').checked = true;
        document.querySelector('#type_add').checked = true;
        document.querySelector('#type_edit').checked = true;
        document.querySelector('#subtype_add').checked = true;
        document.querySelector('#subtype_edit').checked = true;
    };
</script>
<% include ../../partials/foot/htmlClose %>
