<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">
                    Stores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= f_user.user_id %>">
                    <%= f_user.rank._rank %> <%= f_user._name %>, <%= f_user._ini %>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/permissions/<%= f_user.user_id %>/edit">
                    Edit Permissions
                </a>
            </li>
        </ul>
    </nav>
</section>
<section class="container row">
   <div class="bordered col-12 col-lg-9 col-xl-7 mx-auto">
        <div class="form-group">
            <div class="row">
                <div class="col-5" >
                    <label class="col-form-label">Bader #:</label>
                </div> 
                <div class="col-7">
                    <input class="form-control form-control-sm" type="text" value="<%= f_user._bader %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-5" >
                    <label class="col-form-label">Rank:</label>
                </div> 
                <div class="col-7">
                    <input class="form-control form-control-sm" type="text" value="<%= f_user.rank._rank %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-5" >
                    <label class="col-form-label">Initials:</label>
                </div> 
                <div class="col-7">
                    <input class="form-control form-control-sm" type="text" value="<%= f_user._ini %>" readonly>
                </div>
            </div>
            <div class="row p-3">
                <button class="btn btn-success btn-lg col-12" form="permissionForm" type="submit" id="_submit">Save</button>
                <a href="/stores/users/<%= f_user.user_id %>">Cancel</a>
            </div>
            <div>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_disabled()">Disabled</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_user()">User - Basic access and requests</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_issuer()">Issuer - As User with issuing and returns</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_storeman()">Storeman - As Issuer with stores related permissions</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_admin()">Admin - As Storeman with settings and suppliers</button>
                <button class="btn btn-sm btn-primary w-100 mb-1" onclick="p_super()">Superuser - All permissions</button>
                <form id="permissionForm" action="/stores/permissions/<%= f_user.user_id %>?_method=PUT" method="POST" onsubmit="return confirm('Edit permissions?');">
                    <ul id="treeUL" class="list-group">
                        <li id="account_enabled_li" class="list-group-item">
                            <div class="row cardDarkText">
                                <span class="col-2 caret my-auto"></span>
                                <label class="col-6 text-left col-form-label">Account Enabled</label>
                                <input class="col-4 form-control form-control-sm" id="account_enabled" type="checkbox" name="permissions[account_enabled]" onchange=checkPermission(this) value="1" <% if (f_user.permission['account_enabled'] === 1) { %> checked <% } %>>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<script>
    // for (let [key, value] of Object.entries(<% permissions %>)) {
    //     console.log(key, value);
    // };
    insertPermission('account_enabled');

    var toggler = document.getElementsByClassName("caret"),
        i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    };

    function insertPermission(_parent) {
        var parent = document.querySelector('#' + _parent + '_li');
        var children = [<%- attributes %>].filter(e => e.parent === _parent);
        if (children.length > 0) {
            var newUL = document.createElement('ul');
            newUL.classList.add('list-group', 'nested');
            newUL.id = _parent + '_ul';
            children.forEach(permission => {
                var subChildren = [<%- attributes %>].filter(e => e.parent === permission.name),
                    newLI       = document.createElement('li');
                    newLI.classList.add('list-group-item');
                if (subChildren.length > 0) {
                    var newSpan = document.createElement('span');
                    newSpan.classList.add('caret');
                    newLI.appendChild(createCheckBox(permission.name, true));
                    newLI.id = permission.name + '_li'
                    newUL.appendChild(newLI);
                    parent.appendChild(newUL);
                    insertPermission(permission.name);
                } else {
                    newLI.appendChild(createCheckBox(permission.name));
                    newUL.appendChild(newLI);
                    parent.appendChild(newUL);
                };
                document.querySelector('#' + permission.name).addEventListener("change", function() {checkPermission(this)});
            });
        };
    };
    function createCheckBox(permission, caret = false) {
        var newDiv = document.createElement('div'),
            newLbl = document.createElement('label'),
            newInp = document.createElement('input'),
            newSpan = document.createElement('span');
        if (caret) newSpan.classList.add('caret');
        newSpan.classList.add('col-2', 'my-auto');
        newDiv.classList.add('row', 'cardDarkText');
        newLbl.classList.add('col-6', 'text-left', 'col-form-label');
        newInp.classList.add('col-4', 'form-control', 'form-control-sm');
        newLbl.innerText = permission;
        newInp.id = permission;
        newInp.type = 'checkbox';
        newInp.name = 'permissions[' + permission + ']';
        newInp.value = '1';
        if (<%- JSON.stringify(f_user.permission) %>[permission] === 1) newInp.checked = true;
        newDiv.appendChild(newSpan);
        newDiv.appendChild(newLbl);
        newDiv.appendChild(newInp);
        return newDiv;
    };
    function checkPermission(checkBox) {
        if (checkBox.checked) {
            var parent = document.querySelector('#' + String(checkBox.parentElement.parentElement.parentElement.id).replace("_ul", ""));
            if (!parent.checked) parent.checked = true;
        } else {
            var children = document.querySelectorAll('#' + checkBox.id + '_li input');
            children.forEach(child => {
               child.checked = false; 
            });
        };
    };

    function setAll(as) {
        <% for (let [key, value] of Object.entries(permissions)) { %>
            <%- key %>.checked = as;
        <% }; %>
    };
    function p_disabled() {
        setAll(false);
    };
    function p_super() {
        setAll(true);
    };
    function p_user() {
        p_disabled();
        document.querySelector('#account_enabled').checked = true;
        document.querySelector('#access_requests').checked = true;
        document.querySelector('#requests_add').checked = true;
    };
    function p_issuer() {
        p_user();
        document.querySelector('#access_issues').checked = true;
        document.querySelector('#access_items').checked = true;
        document.querySelector('#access_stock').checked = true;
        document.querySelector('#access_nsns').checked = true;
        document.querySelector('#access_returns').checked = true;
        document.querySelector('#issues_add').checked = true;
        document.querySelector('#returns_add').checked = true;
        document.querySelector('#access_notes').checked = true;
        document.querySelector('#notes_add').checked = true;
        document.querySelector('#requests_edit').checked = true;
    };
    function p_storeman() {
        p_user();
        p_issuer();
        document.querySelector('#items_add').checked = true;
        document.querySelector('#items_edit').checked = true;
        document.querySelector('#item_sizes_add').checked = true;
        document.querySelector('#item_sizes_edit').checked = true;
        document.querySelector('#locations_add').checked = true;
        document.querySelector('#locations_edit').checked = true;
        document.querySelector('#nsns_add').checked = true;
        document.querySelector('#nsns_edit').checked = true;
        document.querySelector('#adjusts_add').checked = true;
        document.querySelector('#requests_edit').checked = true;
        document.querySelector('#access_orders').checked = true;
        document.querySelector('#orders_add').checked = true;
        document.querySelector('#orders_edit').checked = true;
        document.querySelector('#access_demands').checked = true;
        document.querySelector('#demands_add').checked = true;
        document.querySelector('#access_reports').checked = true;
    };
    function p_admin() {
        p_user();
        p_issuer();
        p_storeman();
        document.querySelector('#nsns_delete').checked = true;
        document.querySelector('#items_delete').checked = true;
        document.querySelector('#item_sizes_delete').checked = true;
        document.querySelector('#locations_delete').checked = true;
        document.querySelector('#stock_delete').checked = true;
        document.querySelector('#access_users').checked = true;
        document.querySelector('#users_add').checked = true;
        document.querySelector('#users_edit').checked = true;
        document.querySelector('#users_permissions').checked = true;
        document.querySelector('#users_password').checked = true;
        document.querySelector('#notes_edit').checked = true;
        document.querySelector('#access_suppliers').checked = true;
        document.querySelector('#suppliers_add').checked = true;
        document.querySelector('#suppliers_edit').checked = true;
        document.querySelector('#access_settings').checked = true;
        document.querySelector('#settings_edit').checked = true;
    };
</script>
<% include ../../partials/foot/htmlClose %>
