<%- include(`${partials}/head/app`, {text: 'Users'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<div class="row justify-content-between">
	<div class="col-12 col-md-4 mb-1">
		<%- include(`${partials}/sidebar/button`, {id: 'filter', text: 'Filter/Actions'}) %>
	</div>
</div>
<table class="table table-sm table-hover">
	<thead class="thead-dark" id="tbl_users_head">
		<th class='w-20' data-column='["service_number"]'		 >Bader/Service #</th>
		<th class='w-10' data-column='["rank","rank"]'			 >Rank		     </th>
		<th class='w-40' data-column='["surname"]' data-dir="ASC">Surname		 </th>
		<th class='w-30' data-column='["first_name"]'			 >First Name	 </th>
		<th><i class='fas fa-search'></i></th>
	</thead>
	<tbody id="tbl_users"></tbody>
</table>
<%- include(`${partials}/limit`, {table: 'users'}) %>

<div id="sidebars">
	<div class="offcanvas offcanvas-start" tabindex="-1" id="sdb_filter" aria-labelledby="sdb_filter_label">
		<%- include(`${partials}/sidebar/header`, {id: 'filter', text: 'Filter Users'}) %>
		<div class="offcanvas-body d-flex flex-column">
			<%- include(`${partials}/button/modal`, {id: 'user_add', text: 'New User', type: 'success'}) %>
			<%- include(`${partials}/inputs/select`, {id: 'sel_statuses', title: 'Statuses', reload_id: 'reload_statuses', multiple: true, size: 4}) %>
			<%- include(`${partials}/inputs/select`, {id: 'sel_ranks',    title: 'Ranks', 	 reload_id: 'reload_ranks',    multiple: true, size: 10}) %>
		</div>
	</div>
</div>
<div id="modals">
<% if (permissions.user_admin) { %>
	<%- include(`${partials}/users/new`) %>
<% } %>
</div>
<%- include(`${partials}/foot/app`) %>
<script src="/js/utils/list/statuses.js"></script>
<script src="/js/utils/list/ranks.js"></script>
<script src="/js/users/index/view.js"></script>
<% if (permissions.user_admin) { %>
	<script src="/js/users/index/add.js"></script>
	<script src="/js/users/loginBaderMirror.js"></script>
	<script src="/js/users/userFieldCheck.js"></script>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>
