<%- include(`${partials}/head/app`, {text: 'Users'}) %>
<%- include(`${partials}/menu/breadcrumb_add`, {modal: 'user_add', permission: 'user_admin'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'users'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<%- include(`${partials}/inputs/select`, {title: 'Ranks', 	 id: 'sel_ranks',    spinner_id: 'ranks', 	 reload_id: 'reload_ranks'}) %>
	<%- include(`${partials}/inputs/select`, {title: 'Statuses', id: 'sel_statuses', spinner_id: 'statuses', reload_id: 'reload_statuses'}) %>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-20" onclick="sortTable(0, 'tbl_users')">Bader/Service #</th>
			<th class="w-10" onclick="sortTable(1, 'tbl_users')">Rank</th>
			<th class="w-40" onclick="sortTable(2, 'tbl_users')">Surname</th>
			<th class="w-30" onclick="sortTable(3, 'tbl_users')">First Name</th>
			<th><i class='fas fa-search'></i></th>
		</thead>
		<tbody id="tbl_users"></tbody>
	</table>
	<div id="div_modals">
		<% if (permissions.user_admin) { %>
			<div id='mdl_user_add' class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<form class="modal-content" id='form_user_add'>
						<div class="modal-header">
							<h5 class="modal-title">Add User</h5>
						</div>
						<div class="modal-body">
							<%- include(`${partials}/inputs/text`,   {title: 'Service #',  name: 'user[service_number]', required: true, id: 'inp_service_number'}) %>
							<%- include(`${partials}/inputs/select`, {title: 'Rank',       name: 'user[rank_id]',   	 required: true, id: 'sel_ranks_add',  	 spinner_id: 'ranks_add',    reload_id: 'reload_ranks_add'}) %>
							<%- include(`${partials}/inputs/text`,   {title: 'Surname',    name: 'user[surname]', 	   	 required: true, id: 'inp_surname'}) %>
							<%- include(`${partials}/inputs/text`,   {title: 'First Name', name: 'user[first_name]', 	 required: true, id: 'inp_first_name'}) %>
							<%- include(`${partials}/inputs/select`, {title: 'Status',     name: 'user[status_id]', 	 required: true, id: 'sel_statuses_add', spinner_id: 'statuses_add', reload_id: 'reload_statuses_add'}) %>
							<%- include(`${partials}/inputs/text`,   {title: 'Login ID',   name: 'user[login_id]',  	 required: true, id: 'inp_login_id'}) %>
						</div>
						<div class="modal-footer">
							<input type="submit" id='save_user' class="btn btn-success w-100" value='Save User' disabled>
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		<% } %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/utils/list/statuses.js"></script>
<script src="/js/utils/list/ranks.js"></script>
<script src="/js/users/index/view.js"></script>
<% if (permissions.user_admin) { %>
	<script src="/js/users/index/add.js"></script>
	<script src="/js/users/loginBaderMirror.js"></script>
	<script src="/js/users/userFieldCheck.js"></script>
<% } %>
<script async>
	let actions = [];
	actions.push(getStatuses());
	actions.push(getRanks());
	Promise.allSettled(actions)
	.then(results => getUsers())
	.catch(error => {
		console.log(error);
		getUsers();
	});
</script>
<%- include(`${partials}/foot/components/htmlClose`) %>
