<%- include(`${partials}/head/app`, {text: 'Users'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class="container">
    <form id='form_user_password'>
        <%- include(`${partials}/users/change_password`) %>
        <input type="submit" id='save_password' class="btn btn-success w-100" value='Save Password' disabled>
    </form>
</section>
<%- include(`${partials}/foot/app`) %>
<%- include(`${partials}/common/notes/scripts`) %>
<script src="/js/users/password/view.js"></script>
<%- include(`${partials}/foot/components/htmlClose`) %>