<%- include(`${partials}/head/app_noNav`) %>
<section class='container'>
    <h1>Select User...</h1>
    <div id="div_filters">
        <%- include(`${partials}/inputs/select`, {id: 'sel_ranks',    title: 'Rank',   spinner_id: 'ranks',    reload_id: 'reload_ranks'}) %>
        <%- include(`${partials}/inputs/select`, {id: 'sel_statuses', title: 'Status', spinner_id: 'statuses', reload_id: 'reload_statuses'}) %>
    </div>
    <div id="div_users">
        <table class='table table-sm table-hover'>
            <thead class='thead-dark'>
                <th class='w-20' onclick='sortTable(0, "tbl_users")'><i class="fas fa-check"></i></th>
                <th class='w-30' onclick='sortTable(1, "tbl_users")'>Service Number</th>
                <th class='w-50' onclick='sortTable(1, "tbl_users")'>User</th>
            </thead>
            <tbody id='tbl_users'></tbody>
        </table>
        <button id='btn_select' class='btn btn-success w-100 m-1 fixed-bottom'>Select Users</button>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/utils/list/ranks.js"></script>
<script src="/js/utils/list/statuses.js"></script>
<script src="/js/users/select/view.js"></script>
<%- include(`${partials}/foot/components/htmlClose`) %>