<%- include(`${partials}/head/app`, {text: 'Users'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<button class="btn btn-primary float-start fixed" type="button" data-bs-toggle="offcanvas" data-bs-target="#sdbActions" aria-controls="sdbActions">
    <i class="fas fa-angle-right"></i>
</button> 
<div class="offcanvas offcanvas-start" tabindex="-1" id="sdbActions" aria-labelledby="sdbActionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sdbActionsLabel">Actions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <%- include(`${partials}/button/modal/open`, {text: 'Edit User',                   id: 'user_edit',         type: 'warning'}) %>
        <%- include(`${partials}/button/modal/open`, {text: 'Edit Permissions',            id: 'permissions_edit',  type: 'warning'}) %>
        <%- include(`${partials}/button/modal/open`, {text: 'Change Password',             id: 'user_password',     type: 'warning'}) %>
        <%- include(`${partials}/button/modal/open`, {text: 'New Issue',                   id: 'issue_add',         type: 'success'}) %>
        <%- include(`${partials}/button/modal/open`, {text: 'New Issue From Measurements', id: 'issue_measurement', type: 'success'}) %>
        <%- include(`${partials}/button/modal/open`, {text: 'Action Lines',                id: 'issues_action',     type: 'warning'}) %>
        <form action="" id="form_password_reset">
            <button class='btn btn-success w-100' id='btn_password_reset' disabled>
                Toggle Change Password
            </button>
        </form>
        <form id="form_delete" class="mt-auto">
            <button id='btn_user_delete' type='button' class="btn btn-danger w-100" disabled>
                Delete User
            </button>
        </form>
    </div>
</div>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details',     spinner: 'user',        title: 'Details'}) %>
        <%- include(`${partials}/tab_head`, {id: 'permissions', spinner: 'permissions', title: 'Permissions', count_id: 'permission', permission: 'user_admin'}) %>
        <%- include(`${partials}/tab_head`, {id: 'issues',      spinner: 'issues',      title: 'Issues',      count_id: 'issue'}) %>
        <%- include(`${partials}/tab_head`, {id: 'loancards',   spinner: 'loancards',   title: 'Loancards',   count_id: 'loancards'}) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/inputs/display`, {id: 'service_number', title: 'Service #'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'rank',           title: 'Rank'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'surname',        title: 'Surname'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'first_name',     title: 'First Name'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'status',         title: 'Status'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'login_id',       title: 'Login ID'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'last_login',     title: 'Last Login'}) %>
            <div class="input-group mb-1">
                <span class="input-group-text w-30">Change password on next login</span>
                <p class="form-control mb-0" id='reset'></p>
            </div>
            <div>
                <h5 class="text-start">Giftaid Registrations</h5>
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class='w-50'>From</th>
                        <th class='w-50'>To</th>
                        <th></th>
                    </thead>
                    <form id='form_giftaid_add'>
                        <input class='user_id' type="hidden" name='giftaid[user_id]'>
                        <tbody>
                            <tr>
                                <td><input class="form-control form-control-sm" type="date" name="giftaid[startDate]"></td>
                                <td></td>
                                <td><button class='btn btn-sm btn-success'><i class="fas fa-plus"></i></button></td>
                            </tr>
                        </tbody>
                    </form>
                    <tbody id="tbl_giftaid"></tbody>
                </table>
            </div>
        </div>
        <% if (permissions.user_admin || permissions.edit_own_permissions) { %>
            <div class="tab-pane fade" id="permissions" role="tabpanel" aria-labelledby="permissions-tab">
                <%- include(`${partials}/sort`, {table: 'permissions'}) %>
	            <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class='w-100'>Permission</th>
                    </thead>
                    <tbody id="tbl_permissions"></tbody>
                </table>
                <%- include(`${partials}/limit`, {table: 'permissions'}) %>
            </div>
        <% } %>
        <div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
            <div class="row justify-content-between">
                <%- include(`${partials}/sort`, {table: 'issues'}) %>
                <div class="col-12 col-md-4 mb-1">
                    <button class="btn btn-sm btn-primary w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#sdbIssuesFilter" aria-controls="sdbIssuesFilter">
                        Filter
                    </button>
                </div>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="sdbIssuesFilter" aria-labelledby="sdbIssuesFilterLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sdbIssuesFilterLabel">Filter Issues</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="input-group mb-1">
                        <span class="input-group-text w-30">Status</span>
                        <select id="sel_issue_statuses" class="form-select" multiple size="6">
                            <option value="0">Cancelled</option>
                            <option value="1" selected>Requested</option>
                            <option value="2" selected>Approved </option>
                            <option value="3" selected>Ordered  </option>
                            <option value="4" selected>Issued   </option>
                            <option value="5">Returned </option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class='text-start'>Date From:</h5>
                            <input type="date" class='form-control' id='issue_createdAt_from'>
                        </div>
                        <div class="col-sm-6">
                            <h5 class='text-start'>Date To:</h5>
                            <input type="date" class='form-control' id='issue_createdAt_to'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class='text-start'>Item:</h5>
                            <input type="text" class='form-control' id='item'>
                        </div>
                        <div class="col-sm-12">
                            <h5 class='text-start'>Size:</h5>
                            <input type="text" class='form-control' id='size'>
                        </div>
                    </div>
                </div>
            </div>
            <% if (permissions.issuer) { %><form id='form_issue_edit'><% } %>
	        <table class='table table-sm table-hover'>
                <thead class="thead-dark">
                    <th class="w-20">Date</th>
                    <th class="w-30">Item</th>
                    <th class="w-20">Size</th>
                    <th class="w-10">Qty</th>
                    <th class="w-20">
                        <select id="sel_all" class='form-select form-select-sm hidden'>
                            <option>Select All</option>
                            <option value="-1">Decline</option>
                            <option value="0">Cancel</option>
                            <option value="2">Approve</option>
                            <option value="3">Order</option>
                            <option value="4">Issue</option>
                        </select>
                        Status
                    </th>
                    <th><i class="fas fa-search"></i></th>
                </thead>
                <tbody id="tbl_issues"></tbody>
            </table>
            <%- include(`${partials}/limit`, {table: 'issues'}) %>
            <% if (permissions.issuer) { %></form><% } %>
        </div>
        <div class="tab-pane fade" id="loancards" role="tabpanel" aria-labelledby="loancards-tab">
            <div class="row justify-content-between">
                <%- include(`${partials}/sort`, {table: 'loancards'}) %>
                <div class="col-12 col-md-4 mb-1">
                    <button class="btn btn-sm btn-primary w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#sdbLoancardsFilter" aria-controls="sdbLoancardsFilter">
                        Filter
                    </button>
                </div>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="sdbLoancardsFilter" aria-labelledby="sdbLoancardsFilterLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sdbLoancardsFilterLabel">Filter Loancards</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="input-group mb-1">
                        <span class="input-group-text w-30">Status</span>
                        <select id="sel_loancard_statuses" class="form-select" multiple size="4">
                            <option value="0">Cancelled</option>
                            <option value="1" selected>Draft</option>
                            <option value="2" selected>Open </option>
                            <option value="3">Closed  </option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class='text-start'>Date From:</h5>
                            <input type="date" class='form-control' id='loancard_createdAt_from'>
                        </div>
                        <div class="col-sm-6">
                            <h5 class='text-start'>Date To:</h5>
                            <input type="date" class='form-control' id='loancard_createdAt_to'>
                        </div>
                    </div>
                </div>
            </div>
	        <table class='table table-sm table-hover'>
                <thead class="thead-dark">
                    <th class="w-40">Date</th>
                    <th class="w-20">Lines</th>
                    <th class="w-40">Status</th>
                    <th><i class="fas fa-search"></i></th>
                </thead>
                <tbody id="tbl_loancards"></tbody>
            </table>
            <%- include(`${partials}/limit`, {table: 'loancards'}) %>
        </div>
        <%- include(`${partials}/common/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <% if (permissions.user_admin) { %>
            <div id='mdl_user_edit' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_user_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit User</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`,   {title: 'Service #',  name: 'user[service_number]', required: true, id: 'inp_service_number'}) %>
                            <%- include(`${partials}/inputs/select`, {title: 'Rank',       name: 'user[rank_id]',        required: true, id: 'sel_ranks',    spinner_id: 'ranks'}) %>
                            <%- include(`${partials}/inputs/text`,   {title: 'Surname',    name: 'user[surname]', 	     required: true, id: 'inp_surname'}) %>
                            <%- include(`${partials}/inputs/text`,   {title: 'First Name', name: 'user[first_name]',     required: true, id: 'inp_first_name'}) %>
                            <%- include(`${partials}/inputs/select`, {title: 'Status',     name: 'user[status_id]',      required: true, id: 'sel_statuses', spinner_id: 'statuses'}) %>
                            <%- include(`${partials}/inputs/text`,   {title: 'Login ID',   name: 'user[login_id]',       required: true, id: 'inp_login_id'}) %>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
        <div id='mdl_user_password' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_user_password'>
                    <div class="modal-header">
                        <h5 class="modal-title">Change Password: <span class="full_name"></span></h5>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/users/change_password`) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id='save_password' class="btn btn-success w-100" value='Save Password' disabled>
                        <%- include(`${partials}/button/modal/close`) %>
                    </div>
                </form>
            </div>
        </div>
        <% if (permissions.user_admin || permissions.edit_own_permissions) { %>
            <div id='mdl_permissions_edit' class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_permissions_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Edit Permissions
                                <%- include(`${partials}/spinner`, {id: 'permission_edit'}) %>
                            </h5>
                            <div class="float-end">
                                <span class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="btn_grant_permissions" data-bs-toggle="dropdown" aria-expanded="false">
                                        Grant ...
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btn_grant_permissions">
                                        <li><button type='button' class="dropdown-item" id='btn_permissions_storeman'>Storeman</button></li>
                                        <li><button type='button' class="dropdown-item" id='btn_permissions_canteen'>Canteen</button></li>
                                    </ul>
                                </span>
                                <button type='button' class="btn btn-success" id='btn_select_all'>Select All</button>
                                <a class="btn btn-primary" id='reload_permission_edit'>
                                    <i class='fas fa-redo'></i>
                                </a>
                            </div>
                        </div>
                        <div class="modal-body">
                            <ul id="ul_tree" class='list-group'></ul>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
        <% if (permissions.issuer) { %>
            <%- include(`${partials}/modals/stores/issue_add`) %>
            <div id='mdl_issue_measurement' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Issue by Measurement
                                <%- include(`${partials}/spinner`, {id: 'issue_measurement'}) %>
                            </h5>
                        </div>
                        <form class="modal-body" id='form_issue_measurement'>
                            <input type="hidden" class='user_id' name='issues[users][][0][user_id_issue]'>
                            <h5>Enter Measurements (in cm)</h5>
                            <%- include(`${partials}/inputs/number`, {title: 'Head',         classes:['measurement'], data: {field: 'measurement', value: 'Head'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Collar',       classes:['measurement'], data: {field: 'measurement', value: 'Collar'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Chest',        classes:['measurement'], data: {field: 'measurement', value: 'Chest'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Waist',        classes:['measurement'], data: {field: 'measurement', value: 'Waist'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Inside Leg',   classes:['measurement'], data: {field: 'measurement', value: 'Inside Leg'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Skirt Length', classes:['measurement'], data: {field: 'measurement', value: 'Skirt Length'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Height',       classes:['measurement'], data: {field: 'measurement', value: 'Height'}}) %>
                            <%- include(`${partials}/sort`, {table: 'sizes'}) %>
                            <div id="div_select_items">
                                <h5>Select Items</h5>
                                <table class='table table-sm table-hover'>
                                    <thead class="thead-dark">
                                        <th><i class="fas fa-check"></i></th>
                                        <th class="w-50">Item</th>
                                        <th class="w-30">Size</th>
                                        <th class="w-20">Qty</th>
                                    </thead>
                                    <tbody id="tbl_items"></tbody>
                                </table>
                            </div>
                            <button id='btn_select' class='btn btn-success w-100 m-1'>Add Issues</button>
                        </form>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<%- include(`${partials}/common/notes/scripts`) %>
<script>show_tab('<%= tab %>');</script>
<script src='/js/users/show/view.js'></script>
<script async>getUser()</script>
<% if (permissions.user_admin) { %>
    <script src="/js/users/show/edit.js"></script>
    <script src="/js/utils/list/statuses.js"></script>
    <script src="/js/utils/list/ranks.js"></script>
    <script src="/js/users/show/delete.js"></script>
<% } %>
<% if (permissions.user_admin || permissions.edit_own_permissions) { %>
    <script src='/js/users/show/permissions/view.js'></script>
    <script src='/js/tree.js'></script>
    <script src='/js/users/show/permissions/edit.js'></script>
<% } %>
<script src='/js/users/show/issues/view.js'></script>
<% if (permissions.issuer) { %>
	<!-- <script src='/js/stores/issues/edit/edit.js'></script> -->
	<!-- <script src='/js/stores/issues/edit/approve.js'></script> -->
	<% if (permissions.stores_stock_admin) { %>
		<!-- <script src='/js/stores/issues/edit/order.js'></script> -->
	<% } %>
	<!-- <script src='/js/stores/issues/edit/issue.js'></script> -->
    <script src='/js/users/show/issues/add.js'></script>
    <script src='/js/users/show/issues/measurement.js'></script>
<% } %>
<script src='/js/users/show/loancards/view.js'></script>

<%- include(`${partials}/foot/components/htmlClose`) %>