<%- include(`${partials}/head/app`, {text: 'Users'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dd_menu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="dd_menu">
                <%- include(`${partials}/menu/button`, {id: 'user_edit',         text: 'Edit User',             modal: 'user_edit'}) %>
                <%- include(`${partials}/menu/button`, {id: 'password_reset',    text: 'Toggle Reset Password', btn_form: {permission: 'user_admin'}}) %>
                <%- include(`${partials}/menu/button`, {id: 'user_password',     text: 'Change Password',       modal: 'user_password'}) %>
                <%- include(`${partials}/menu/button`, {id: 'permissions_edit',  text: 'Edit Permissions',      modal: 'permissions_edit'}) %>
                <div class="dropdown-divider"></div>
                <%- include(`${partials}/menu/button`, {id: 'issue_add',         text: 'New Issue',             modal: 'issue_add'}) %>
                <%- include(`${partials}/menu/button`, {id: 'issue_measurement', text: 'Issue by Measurement',  modal: 'issue_measurement'}) %>
                <div class="dropdown-divider"></div>
                <%- include(`${partials}/menu/button`, {id: 'user_delete',       text: 'Delete',                btn_form: {permission: 'user_admin'}}) %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details',     spinner: 'user',        title: 'Details'}) %>
        <%- include(`${partials}/tab_head`, {id: 'permissions', spinner: 'permissions', title: 'Permissions', count_id: 'permission', permission: 'user_admin'}) %>
        <%- include(`${partials}/tab_head`, {id: 'issues',      spinner: 'issues',      title: 'Issues',      count_id: 'issue'}) %>
        <%- include(`${partials}/tab_head`, {id: 'loancards',   spinner: 'loancards',   title: 'Loancards',   count_id: 'loancards'}) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/spinner`, {id: 'users'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'service_number', title: 'Service #'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'rank',           title: 'Rank'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'surname',        title: 'Surname'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'first_name',     title: 'First Name'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'status',         title: 'Status'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'login_id',       title: 'Login ID'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'last_login',     title: 'Last Login'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'reset',          title: 'Change password on next login'}) %>
        </div>
        <% if (permissions.user_admin || permissions.edit_own_permissions) { %>
            <div class="tab-pane fade" id="permissions" role="tabpanel" aria-labelledby="permissions-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class='w-100' onclick='sortByRow(this, getPermissions)' data-sort_col='permission'>Permission<span class='sort_ind float-end'></span></th>
                    </thead>
                    <tbody id="tbl_permissions"></tbody>
                </table>
            </div>
        <% } %>
        <div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
            <button class="btn btn-primary w-100 mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#col-filter" aria-expanded="false" aria-controls="col-filter">
                Filter
            </button>
            <div class="collapse mb-1" id="col-filter">
                <%- include(`${partials}/inputs/select`, {title: 'Filter By User', id: 'sel_users', spinner_id: 'users', reload_id: 'reload_users'}) %>
                <h5 class='text-start'>Status:</h5>
                <div class="row">
                    <div class="col-6 col-sm-4">
                        <%- include(`${partials}/inputs/checkbox`, {title: 'Cancelled', id: 'status_0', value: '0', colour: 'secondary', classes: ['status']}) %>
                    </div>
                    <div class="col-6 col-sm-4">
                        <%- include(`${partials}/inputs/checkbox`, {title: 'Requested', id: 'status_1', value: '1', colour: 'warning', 	 classes: ['status'], checked: true}) %>
                    </div>
                    <div class="col-6 col-sm-4">
                        <%- include(`${partials}/inputs/checkbox`, {title: 'Approved', 	id: 'status_2', value: '2', colour: 'success', 	 classes: ['status'], checked: true}) %>
                    </div>
                    <div class="col-6 col-sm-4">
                        <%- include(`${partials}/inputs/checkbox`, {title: 'Ordered', 	id: 'status_3', value: '3', colour: 'primary', 	 classes: ['status'], checked: true}) %>
                    </div>
                    <div class="col-6 col-sm-4">
                        <%- include(`${partials}/inputs/checkbox`, {title: 'Issued', 	id: 'status_4', value: '4', colour: 'info',      classes: ['status']}) %>
                    </div>
                    <div class="col-6 col-sm-4">
                        <%- include(`${partials}/inputs/checkbox`, {title: 'Returned', 	id: 'status_5', value: '5', colour: 'secondary', classes: ['status']}) %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class='text-start'>Date From:</h5>
                        <input type="date" class='form-control' id='createdAt_from'>
                    </div>
                    <div class="col-sm-6">
                        <h5 class='text-start'>Date To:</h5>
                        <input type="date" class='form-control' id='createdAt_to'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class='text-start'>Item:</h5>
                        <input type="text" class='form-control' id='item'>
                    </div>
                    <div class="col-sm-6">
                        <h5 class='text-start'>Size:</h5>
                        <input type="text" class='form-control' id='size'>
                    </div>
                </div>
            </div>
            <% if (permissions.issuer) { %>
                <form id='form_issue_edit'>
                <button class='btn btn-success w-100 mb-1'>Action Selected Issues</button>
            <% } %>
            <table class='table table-sm table-hover'>
                <thead class="thead-dark">
                    <th class="w-20" onclick="sortTable(0, 'tbl_issues')">Date</th>
                    <th class="w-30" onclick="sortTable(1, 'tbl_issues')">Item</th>
                    <th class="w-20" onclick="sortTable(2, 'tbl_issues')">Size</th>
                    <th class="w-10" onclick="sortTable(3, 'tbl_issues')">Qty</th>
                    <th class="w-20">
                        <select id="sel_all" class='form-select form-select-sm hidden'>
                            <option>Select All</option>
                            <option value="-1">Decline</option>
                            <option value="0">Cancel</option>
                            <option value="2">Approve</option>
                            <option value="3">Order</option>
                            <option value="4">Issue</option>
                        </select>
                        Status
                    </th>
                    <th><i class="fas fa-search"></i></th>
                </thead>
                <tbody id="tbl_issues"></tbody>
            </table>
            <% if (permissions.issuer) { %></form><% } %>
        </div>
        <div class="tab-pane fade" id="loancards" role="tabpanel" aria-labelledby="loancards-tab">
            <%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status_loancards', options: [{text: 'All'}, {value: '"status":0', text: 'Cancelled'}, {value: '"status":1', text: 'Draft'}, {value: '"status":2', text: 'Open', selected: true}, {value: '"status":3', text: 'Closed'}]}) %>
            <table class='table table-sm table-hover'>
                <thead class="thead-dark">
                    <th class="w-40" onclick="sortTable(0, 'tbl_loancards')">Date</th>
                    <th class="w-20" onclick="sortTable(1, 'tbl_loancards')">Lines</th>
                    <th class="w-40" onclick="sortTable(2, 'tbl_loancards')">Status</th>
                    <th><i class="fas fa-search"></i></th>
                </thead>
                <tbody id="tbl_loancards"></tbody>
            </table>
        </div>
        <%- include(`${partials}/common/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <% if (permissions.user_admin) { %>
            <div id='mdl_user_edit' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_user_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit User</h5>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`,   {title: 'Service #',  name: 'user[service_number]', required: true, id: 'inp_service_number'}) %>
                            <%- include(`${partials}/inputs/select`, {title: 'Rank',       name: 'user[rank_id]',        required: true, id: 'sel_ranks',    spinner_id: 'ranks'}) %>
                            <%- include(`${partials}/inputs/text`,   {title: 'Surname',    name: 'user[surname]', 	     required: true, id: 'inp_surname'}) %>
                            <%- include(`${partials}/inputs/text`,   {title: 'First Name', name: 'user[first_name]',     required: true, id: 'inp_first_name'}) %>
                            <%- include(`${partials}/inputs/select`, {title: 'Status',     name: 'user[status_id]',      required: true, id: 'sel_statuses', spinner_id: 'statuses'}) %>
                            <%- include(`${partials}/inputs/text`,   {title: 'Login ID',   name: 'user[login_id]',       required: true, id: 'inp_login_id'}) %>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
        <div id='mdl_user_password' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_user_password'>
                    <div class="modal-header">
                        <h5 class="modal-title">Change Password: <span class="full_name"></span></h5>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/users/change_password`) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id='save_password' class="btn btn-success w-100" value='Save Password' disabled>
                        <%- include(`${partials}/button/modal/close`) %>
                    </div>
                </form>
            </div>
        </div>
        <% if (permissions.user_admin || permissions.edit_own_permissions) { %>
            <div id='mdl_permissions_edit' class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_permissions_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Edit Permissions
                                <%- include(`${partials}/spinner`, {id: 'permission_edit'}) %>
                            </h5>
                            <div class="float-end">
                                <span class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="btn_grant_permissions" data-bs-toggle="dropdown" aria-expanded="false">
                                        Grant ...
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btn_grant_permissions">
                                        <li><button type='button' class="dropdown-item" id='btn_permissions_storeman'>Storeman</button></li>
                                        <li><button type='button' class="dropdown-item" id='btn_permissions_canteen'>Canteen</button></li>
                                    </ul>
                                </span>
                                <button type='button' class="btn btn-success" id='btn_select_all'>Select All</button>
                                <a class="btn btn-primary" id='reload_permission_edit'>
                                    <i class='fas fa-redo'></i>
                                </a>
                            </div>
                        </div>
                        <div class="modal-body">
                            <ul id="ul_tree" class='list-group'></ul>
                        </div>
                        <div class="modal-footer">
                            <%- include(`${partials}/button/save`) %>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
        <% if (permissions.issuer) { %>
            <div id='mdl_issue_add' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                New Issue
                                <%- include(`${partials}/spinner`, {id: 'issue_add'}) %>
                            </h5>
                        </div>
                        <form class="modal-body" id='form_issue_add'>
                            <input type="hidden" name='issue[size_id]'>
                            <%- include(`${partials}/inputs/display`, {title: 'Item', id: 'selectedItem'}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Size', id: 'selectedSize', link: true}) %>
                        </form>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
            <div id='mdl_issue_measurement' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Issue by Measurement
                                <%- include(`${partials}/spinner`, {id: 'issue_measurement'}) %>
                            </h5>
                        </div>
                        <form class="modal-body" id='form_issue_measurement'>
                            <input type="hidden" class='user_id' name='issues[users][][0][user_id_issue]'>
                            <h5>Enter Measurements (in cm)</h5>
                            <%- include(`${partials}/inputs/number`, {title: 'Head',         classes:['measurement'], data: {field: 'measurement', value: 'Head'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Collar',       classes:['measurement'], data: {field: 'measurement', value: 'Collar'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Chest',        classes:['measurement'], data: {field: 'measurement', value: 'Chest'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Waist',        classes:['measurement'], data: {field: 'measurement', value: 'Waist'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Inside Leg',   classes:['measurement'], data: {field: 'measurement', value: 'Inside Leg'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Skirt Length', classes:['measurement'], data: {field: 'measurement', value: 'Skirt Length'}}) %>
                            <%- include(`${partials}/inputs/number`, {title: 'Height',       classes:['measurement'], data: {field: 'measurement', value: 'Height'}}) %>
                            <button type='button' class='btn btn-success w-100' id='btn_measurement_search'>Search Sizes</button>
                            <div id="div_select_items">
                                <h5>Select Items</h5>
                                <table class='table table-sm table-hover'>
                                    <thead class="thead-dark">
                                        <th><i class="fas fa-check"></i></th>
                                        <th class="w-100" onclick="sortTable(1, 'tbl_items')">Item</th>
                                    </thead>
                                    <tbody id="tbl_items"></tbody>
                                </table>
                            </div>
                            <div id="div_select_sizes">
                                <h5>Select Sizes and Quantities</h5>
                                <table class='table table-sm table-hover'>
                                    <thead class="thead-dark">
                                        <th class="w-50" onclick="sortTable(0, 'tbl_items_selected')">Item</th>
                                        <th class="w-30" onclick="sortTable(1, 'tbl_items_selected')">Size</th>
                                        <th class="w-20" onclick="sortTable(2, 'tbl_items_selected')">Qty</th>
                                        <th><i class="fas fa-trash-alt"></i></th>
                                    </thead>
                                    <tbody id="tbl_items_selected"></tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<%- include(`${partials}/common/notes/scripts`) %>
<script>showTab('<%= tab %>');</script>
<script src='/js/users/show/view.js'></script>
<script async>getUser()</script>
<% if (permissions.user_admin) { %>
    <script src="/js/users/show/edit.js"></script>
    <script src="/js/utils/list/statuses.js"></script>
    <script src="/js/utils/list/ranks.js"></script>
    <script src="/js/users/show/delete.js"></script>
<% } %>
<% if (permissions.user_admin || permissions.edit_own_permissions) { %>
    <script src='/js/users/show/permissions/view.js'></script>
    <script async>getPermissions()</script>
    <script src='/js/tree.js'></script>
    <script src='/js/users/show/permissions/edit.js'></script>
<% } %>
<script src='/js/users/show/issues/view.js'></script>
<script async>getIssues()</script>
<% if (permissions.issuer) { %>
	<script src='/js/stores/issues/edit/edit.js'></script>
	<script src='/js/stores/issues/edit/approve.js'></script>
	<% if (permissions.stores_stock_admin) { %>
		<script src='/js/stores/issues/edit/order.js'></script>
	<% } %>
	<script src='/js/stores/issues/edit/issue.js'></script>
    <script src='/js/stores/sizes/select/showWindow.js'></script>
    <script src='/js/users/show/issues/add.js'></script>
    <script src='/js/users/show/issues/measurement.js'></script>
<% } %>
<script src='/js/users/show/loancards/view.js'></script>
<script async>getLoancards()</script>

<%- include(`${partials}/foot/components/htmlClose`) %>