<%- include(`${partials}/head/app`, {text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/writeoffs', text: 'Writeoffs'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'writeoffs'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <th class='w-30' onclick='sortByRow(this, getWriteoffs)' data-sort_col='createdAt'>Date<span class='sort_ind float-end'></span></th>
            <th class='w-30' onclick='sortByRow(this, getWriteoffs)' data-sort_col='item_id'  >Item<span class='sort_ind float-end'></span></th>
            <th class='w-30' onclick='sortByRow(this, getWriteoffs)' data-sort_col='reason'   >Reason<span class='sort_ind float-end'></span></th>
            <th class='w-10' onclick='sortByRow(this, getWriteoffs)' data-sort_col='qty'      >Qty<span class='sort_ind float-end'></span></th>
            <th><i class='fas fa-search'></i></th>
        </thead>
        <tbody id="tbl_writeoffs"></tbody>
    </table>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/canteen/writeoffs/index/view.js"></script>
<script async>getWriteoffs()</script>
<%- include(`${partials}/foot/components/htmlClose`) %>