<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/head/navbar/switcher`, {text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/canteen/writeoffs', text: 'Writeoffs'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'writeoffs'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <th class="w-30" onclick="sortTable(0, 'tbl_receipts')">Date</th>
            <th class="w-30" onclick="sortTable(1, 'tbl_receipts')">Item</th>
            <th class="w-30" onclick="sortTable(2, 'tbl_receipts')">Reason</th>
            <th class="w-10" onclick="sortTable(3, 'tbl_receipts')">Quantity</th>
            <th><i class='fas fa-search'></i></th>
        </thead>
        <tbody id="tbl_writeoffs"></tbody>
    </table>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/canteen/writeoffs/index/getWriteoffs.js"></script>
<script src="/js/addFormListener.js"></script>
<script async>getWriteoffs()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>