<%- include(`${partials}/head/app`, {text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/writeoffs', text: 'Writeoffs'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<table class="table table-sm table-hover mt-1">
    <thead class="thead-dark" id="tbl_writeoffs_head">
        <th class='w-30' data-column='["createdAt"]' data-dir="DESC">Date</th>
        <th class='w-30' data-column='["item","name"]'>Item</th>
        <th class='w-30' data-column='["reason"]'>Reason</th>
        <th class='w-10' data-column='["qty"]'>Qty</th>
        <th><i class='fas fa-search'></i></th>
    </thead>
    <tbody id="tbl_writeoffs"></tbody>
</table>
<%- include(`${partials}/limit`, {table: 'writeoffs'}) %>
<%- include(`${partials}/foot/app`) %>
<script src="/js/canteen/writeoffs/index/view.js"></script>
<%- include(`${partials}/foot/components/htmlClose`) %>