<!-- ITEMS DETAILS PAGE -->
<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/items">Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/items/<%= item_size.item_id %>"><%= item_size.item._description %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/item_sizes/<%= item_size.itemsize_id %>">Size: <%= item_size.size._text %></a>
            </li>
        </ul>
    </nav>
</section>
<nav class="navbar navbar-expand navbar-dark bg-dark stores">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Options
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.item_edit) { %> 
                    <a class="dropdown-item" href="/stores/item_sizes/<%= item_size.itemsize_id %>/edit">Edit</a>
                    <div class="dropdown-divider"></div>
				<% } %>
                <% if (permissions.nsns_add) { %> 
                    <a class="dropdown-item" href="/stores/nsns/new?itemsize_id=<%= item_size.itemsize_id %>">Add NSN</a>
                <% } %>
                <% if (permissions.locations_add) { %> 
                    <a class="dropdown-item" href="/stores/locations/new?itemsize_id=<%= item_size.itemsize_id %>">Add Location</a>
                <% } %>
                <% if (permissions.notes_add) { %> 
                    <a class="dropdown-item" href="/stores/notes/new?table=item_sizes&id=<%= item_size.itemsize_id %>">Add Note</a>
                <% } %>
                <div class="dropdown-divider"></div>
				<% if (permissions.receipts_add) { %> 
                    <a class="dropdown-item" href="/stores/adjusts/new?itemsize_id=<%= item_size.itemsize_id %>">Receive</a>
                <% } %>
				<% if (permissions.orders_add) { %> 
                    <a class="dropdown-item" href="/stores/orders/new?user=-1">Order</a>
                <% } %>
                <% if (permissions.item_size_delete) { %>
                    <div class="dropdown-divider"></div>
                    <form action="/stores/item_sizes/<%= item_size.itemsize_id %>?_method=DELETE&item_id=<%= item_size.item_id %>" method="POST">
                        <button class="dropdown-item dropdown_button">Delete Item</button>
                    </form>
                <% } %>
                <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/stores/items/<%= item_size.item_id %>">Back to <%= item_size.item._description %></a>
            </div>
		</li>
	</ul>
</nav>
<section class="container pt-3">
	<div class="row">
		<div class="col-12 col-lg-3 mb-3 container bordered">
            <h4>Ordering Details</h4>
            <div class="row">
                <div class="col-5" >
                    <label class="col-form-label">Orderable:</label>
                </div>   
                <div class="col-7">
                    <input id="_orderable" class="form-control" type="checkbox"<% if (item_size._orderable) { %> checked<% } %> disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-5" >
                    <label class="col-form-label">Supplier:</label>
                </div>
                <div class="col-7">
                    <input class="form-control" type="text" value="<% if (item_size.supplier) { %><%= item_size.supplier._name %><% } %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-5" >
                    <label class="col-form-label">Demand Page:</label>
                </div>   
                <div class="col-7">
                    <input class="form-control" type="text" value="<%= item_size._demand_page %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-5" >
                    <label class="col-form-label">Cell:</label>
                </div>
                <div class="col-7">
                    <input class="form-control" type="text" value="<%= item_size._demand_cell %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea class="w-100" maxlength="1000" readonly><%= item_size._ordering_details %></textarea>
                </div>
            </div>
		</div>
        <% if (permissions.access_nsns) {%>
            <div class="col-12 col-lg-3 mb-3 bordered">
                <h4>
                    <% if (permissions.nsns_add) { %> 
                        <a href="/stores/nsns/new?itemsize_id=<%= item_size.itemsize_id %>">
                            <i class="fas fa-plus-circle"></i>
                        </a> 
                    <% } %>
                    NSNs
                </h4>
                <div style="overflow-x:auto;">
                    <table id="nsnTable" class="table table-sm table-hover w-100">
                            <thead class="thead-dark">
                                <th class="w-80" onclick="sortTable(0, 'nsnTable')" >NSN</th>
                                <th class="w-20">default</th>
                                <% if (permissions.item_nsn_delete === 1) { %>
                                    <th></th>
                                <% } %>
                            </thead>
                            <tbody>
                            <% if (item_size.nsns) { %>
                                <% item_size.nsns.forEach(nsn => { %>
                                    <tr>
                                        <td><a href="/stores/nsns/<%= nsn.nsn_id %>/edit"><%= nsn._nsn %></a></td>
                                        <td><% if (nsn._default === 1) { %> <i class="fas fa-check"></i> <% } %></td>
                                        <td>
                                            <% if (permissions.nsns_delete === 1) { %>
                                                <form action="/stores/nsns/<%= nsn.nsn_id %>?_method=DELETE" method="POST"><button><i class="fas fa-trash-alt"></i></button></form>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_stock) {%>
            <div class="col-12 col-lg-3 mb-3 bordered">
                <h4>
                    <% if (permissions.stock_add) { %>
                        <a href="/stores/stock/new?itemsize_id=<%= item_size.itemsize_id %>">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    <% } %>
                    Stock: <%= stock._stock %>
                </h4>
                <div style="overflow-x:auto;">
                    <table id="stockTable" class="table table-sm table-hover w-100">
                        <thead class="thead-dark">
                            <th onclick="sortTable(0, 'stockTable')" class="w-80">Location</th>
                            <th onclick="sortTable(1, 'stockTable')" class="w-20">Qty</th>
                            <% if (permissions.stock_delete === 1) { %>
                            <th></th>
                            <% } %>
                        </thead>
                        <tbody>
                            <% if (item_size.stocks) { %>
                                <% item_size.stocks.forEach(stock => { %>
                            <tr>
                                <td><a href="/stores/stock/<%= stock.stock_id %>/edit"><%= stock.location._location %></a></td>
                                <td><a href="/stores/stock/<%= stock.stock_id %>/edit"><%= stock._qty %></a></td>
                                <% if (permissions.stock_delete === 1) { %>
                                <td>
                                    <form action="/stores/stock/<%= stock.stock_id %>?_method=DELETE" method="POST">
                                        <button>
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                                <% } %>
                            </tr>
                                <% }) %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_issues) {%>
            <div class="col-12 col-lg-3 mb-3 bordered">
                <h4>Issued: <%= stock._issued %></h4>
                <div style="overflow-x:auto;">
                    <table id="issueTable" class="table table-sm table-hover w-100">
                        <thead class="thead-dark">
                            <th onclick="sortTable(0, 'issueTable')" class="w-80">To</th>
                            <th onclick="sortTable(2, 'issueTable')" class="w-20">Qty</th>
                        </thead>
                        <tbody>
                            <% if (item_size.issues_ls) { %>
                                <% item_size.issues_ls.forEach(issue => { %>
                                    <tr>
                                        <td><a href="/stores/issues/<%= issue.issue_id %>"><%= issue.issue.issuedTo.rank._rank %> <%= issue.issue.issuedTo._name %>, <%= issue.issue.issuedTo._ini %></a></td>
                                        <td><a href="/stores/issues/<%= issue.issue_id %>"><%= issue._qty %></a></td>
                                    </tr>
                                <% }) %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_requests) {%>
            <div class="col-12 col-lg-3 mb-3 bordered">
                <h4>Requested: <%= stock._requested %></h4>
                <div style="overflow-x:auto;">
                    <table id="orderTable" class="table table-sm table-hover w-100">
                        <thead class="thead-dark">
                            <th onclick="sortTable(0, 'orderTable')" class="w-80">For</th>
                            <th onclick="sortTable(2, 'orderTable')" class="w-20">Qty</th>
                        </thead>
                        <tbody>
                            <% if (item_size.requests_ls) { %>
                                <% item_size.requests_ls.forEach(request => { %>
                                    <tr>
                                        <td><a href="/stores/requests/<%= request.request_id %>"><%= request.request.requestedFor.rank._rank %> <%= request.request.requestedFor._name %>, <%= request.request.requestedFor._ini %></a></td>
                                        <td><a href="/stores/requests/<%= request.request_id %>"><%= request._qty %></a></td>
                                    </tr>
                                <% }) %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_orders) {%>
            <div class="col-12 col-lg-3 mb-3 bordered">
                <h4>On Order: <%= stock._ordered %></h4>
                <div style="overflow-x:auto;">
                    <table id="orderTable" class="table table-sm table-hover w-100">
                        <thead class="thead-dark">
                            <th onclick="sortTable(0, 'orderTable')" class="w-80">For</th>
                            <th onclick="sortTable(2, 'orderTable')" class="w-20">Qty</th>
                        </thead>
                        <tbody>
                            <% if (item_size.orders_ls) { %>
                                <% item_size.orders_ls.forEach(order => { %>
                                    <tr>
                                        <td>
                                            <% if (order.order.ordered_for === -1) { %>
                                                <a href="/stores/orders/<%= order.order_id %>">Backing Stock</a>
                                            <% } else { %>
                                                <a href="/stores/orders/<%= order.order_id %>">
                                                    <%= order.order.orderedFor.rank._rank %> <%= order.order.orderedFor._name %>, <%= order.order.orderedFor._ini %>
                                                </a>
                                            <% } %>
                                        </td>
                                        <td><a href="/stores/orders/<%= order.order_id %>"><%= order._qty %></a></td>
                                    </tr>
                                <% }) %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_notes) {%>
            <div class="col-12 col-lg-6 bordered">
                <% include ../../partials/noteTable %>
            </div>
        <% } %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/tableSort.js"></script>
<script src="/js/filters.js"></script>
<script>
    function filterSelects() {
        filter(['sn'],"/stores/item_sizes/<%= item_size.itemsize_id %>");
    };
</script>
<% include ../../partials/foot/htmlClose %>
