<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Demands'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'demands'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<button class="btn btn-primary w-100 mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#col-filter" aria-expanded="false" aria-controls="col-filter">
		Filter
	</button>
	<div class="collapse mb-3" id="col-filter">
		<%- include(`${partials}/inputs/select`, {title: 'Supplier', id: 'sel_suppliers', spinner_id: 'suppliers', reload_id: 'reload_suppliers'}) %>
		<h5 class='text-start'>Status:</h5>
		<div class="row">
			<div class="col-6 col-sm-3">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Cancelled', id: 'status_0', value: 'status=0', colour: 'secondary', classes: ['status']}) %>
			</div>
			<div class="col-6 col-sm-3">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Draft', 	id: 'status_1', value: 'status=1', colour: 'info', 		classes: ['status'], checked: true}) %>
			</div>
			<div class="col-6 col-sm-3">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Complete', 	id: 'status_2', value: 'status=2', colour: 'primary', 	classes: ['status'], checked: true}) %>
			</div>
			<div class="col-6 col-sm-3">
				<%- include(`${partials}/inputs/checkbox`, {title: 'Closed', 	id: 'status_3', value: 'status=3', colour: 'success', 	classes: ['status']}) %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h5 class='text-start'>Date From:</h5>
				<input type="date" class='form-control' id='createdAt_from'>
			</div>
			<div class="col-sm-6">
				<h5 class='text-start'>Date To:</h5>
				<input type="date" class='form-control' id='createdAt_to'>
			</div>
		</div>
		<hr>
	</div>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-30" onclick="sortTable(0, 'tbl_demands')">Date</th>
			<th class="w-30" onclick="sortTable(1, 'tbl_demands')">Supplier</th>
			<th class="w-15" onclick="sortTable(2, 'tbl_demands')">Lines</th>
			<th class="w-25" onclick="sortTable(3, 'tbl_demands')">Status</th>
			<th><i class="fas fa-search"></i></th>
		</thead>
		<tbody id="tbl_demands"></tbody>
	</table>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/utils/list/suppliers.js'></script>
<script src='/js/stores/demands/index/view.js'></script>
<script async>getSuppliers()</script>
<%- include(`${partials}/foot/components/htmlClose`) %>