<%- include(`${partials}/head/app`,   {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Demands'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'demands'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<div class="row justify-content-between">
		<div class="col-12 col-md-4 mb-1">
			<%- include(`${partials}/sidebar/button`, {id: 'demands', text: 'Filter'}) %>
		</div>
	</div>
	<%- include(`${partials}/sidebar/open`, {id: 'demands', text: 'Filter'}) %>
			<%- include(`${partials}/filter/supplier`, {table: 'demands'}) %>
			<div class="input-group mb-1">
				<span class="input-group-text w-30">Status</span>
				<select id="sel_demand_statuses" class="form-select" multiple size="4">
					<option value="0">Cancelled</option>
					<option value="1" selected>Draft</option>
					<option value="2" selected>Complete</option>
					<option value="3">Closed  </option>
				</select>
			</div>
			<%- include(`${partials}/filter/date`, {table: 'demands', field: 'createdAt'}) %>
		</div>
	</div>
	<table class="table table-sm table-hover">
		<thead class="thead-dark" id='tbl_demands_head'>
			<th class='w-30' data-column='["createdAt"]' data-dir='ASC'>Date</th>
			<th class='w-30' data-column='["description"]'			   >Supplier</th>
			<th class='w-15' data-column='["lines"]'				   >Lines</th>
			<th class='w-25' data-column='["status"]'				   >Status</th>
			<th><i class="fas fa-search"></i></th>
		</thead>
		<tbody id="tbl_demands"></tbody>
	</table>
	<%- include(`${partials}/limit`, {table: 'demands'}) %>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/utils/list/suppliers.js'></script>
<script src='/js/stores/demands/index/view.js'></script>
<%- include(`${partials}/foot/components/htmlClose`) %>