<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {text: 'Stores', href: '/stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Demands'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'demands'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
	<%- include(`${partials}/inputs/select`, {title: 'Supplier', id: 'sel_suppliers', spinner: true, spinner_id: 'suppliers', reload_id: 'reload_suppliers'}) %>
	<div class="row">
		<div class="col-6 col-sm-3">
			<%- include(`${partials}/inputs/checkbox`, {title: 'Cancelled', id: 'status_0', value: 'status=0', classes: ['status']}) %>
		</div>
		<div class="col-6 col-sm-3">
			<%- include(`${partials}/inputs/checkbox`, {title: 'Draft', 	id: 'status_1', value: 'status=1', classes: ['status'], checked: true}) %>
		</div>
		<div class="col-6 col-sm-3">
			<%- include(`${partials}/inputs/checkbox`, {title: 'Complete', 	id: 'status_2', value: 'status=2', classes: ['status'], checked: true}) %>
		</div>
		<div class="col-6 col-sm-3">
			<%- include(`${partials}/inputs/checkbox`, {title: 'Closed', 	id: 'status_3', value: 'status=3', classes: ['status']}) %>
		</div>
	</div>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-30" onclick="sortTable(0, 'tbl_demands')">Date</th>
			<th class="w-30" onclick="sortTable(1, 'tbl_demands')">Supplier</th>
			<th class="w-15" onclick="sortTable(2, 'tbl_demands')">Lines</th>
			<th class="w-25" onclick="sortTable(3, 'tbl_demands')">Status</th>
			<th><i class="fas fa-search"></i></th>
		</thead>
		<tbody id="tbl_demands"></tbody>
	</table>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/utils/list/suppliers.js'></script>
<script src='/js/stores/demands/index/view.js'></script>
<script async>getSuppliers()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>