<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Demands'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'demands'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<div class="mb-1">
		<%- include(`${partials}/filter/button`, {id: 'demands'}) %>
	</div>
	<%- include(`${partials}/filter/stores/demands`) %>
	<%- include(`${partials}/sort`, {table: 'demands'}) %>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class='w-30'>Date</th>
			<th class='w-30'>Supplier</th>
			<th class='w-15'>Lines</th>
			<th class='w-25'>Status</th>
			<th><i class="fas fa-search"></i></th>
		</thead>
		<tbody id="tbl_demands"></tbody>
	</table>
	<%- include(`${partials}/limit`, {table: 'demands'}) %>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/utils/list/suppliers.js'></script>
<script src='/js/stores/demands/index/view.js'></script>
<script async>getSuppliers()</script>
<%- include(`${partials}/foot/components/htmlClose`) %>