<%- include(`${partials}/head/full`) %>
<section class='mb-2'>
	<nav class='navbar navbar-expand navbar-light bg-nav'>
		<ul class='navbar-nav mr-auto'>
            <%- include(`${partials}/breadcrumb`, {href: '/stores',		   text: 'Stores'}) %>
            <%- include(`${partials}/breadcrumb`, {href: '/stores/orders', text: 'Demands'}) %>
			<%- include(`${partials}/reload`) %>
		</ul>
	</nav>
</section>
<section class='container'>
	<%- include('../../partials/spinner', {id: 'suppliers'}) %>
	<%- include(`${partials}/inputs/select`, {title: 'Supplier', id: 'sel_suppliers'}) %>
	<%- include(`${partials}/inputs/select`, {title: 'Status', 	 id: 'sel_status',  options: [{value: '', text: 'All', selected: true}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Draft'}, {value: '_status=2', text: 'Open'}, {value: '_status=3', text: 'Complete'}]}) %>
	<%- include('../../partials/spinner', {id: 'demands'}) %>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-30" onclick="sortTable(0, 'tbl_demands')">Date</th>
			<th class="w-30" onclick="sortTable(1, 'tbl_demands')">Supplier</th>
			<th class="w-15" onclick="sortTable(2, 'tbl_demands')">Lines</th>
			<th class="w-25" onclick="sortTable(3, 'tbl_demands')">Status</th>
			<th><i class="fas fa-search"></i></th>
		</thead>
		<tbody id="tbl_demands">
		</tbody>
	</table>
</section>
<%- include(`${partials}/foot/full`) %>
<script src='/js/stores/demands/index/demands.js'></script>
<script src='/js/data/addFormListener.js'></script>
<script src='/js/data/send.js'></script>
<script src='/js/suppliers/list.js'></script>
<script src='/js/utils/select_sel_status.js'></script>
<script>
	function getSuppliers() {
		get(
			listSuppliers,
			{
				table: 'suppliers',
				query: []
			}
		);
	};
</script>
<script async>getSuppliers()</script>
<script>
	function getDemands() {
		get(
			showDemands,
			{
				table: 'demands',
				query: [sel_status.value]
			}
		);
	};
</script>
<script async>getDemands()</script>
<script>document.querySelector('#reload').addEventListener('click', () => getDemands());</script>
<script>document.querySelector('#reload').addEventListener('click', () => getSuppliers());</script>
<script>document.querySelector('#sel_status').addEventListener('change', () => getDemands());</script>
<%- include(`${partials}/foot/htmlClose`) %>