<% include ../../partials/head/full %>
<section class='mb-2'>
	<nav class='navbar navbar-expand navbar-light bg-nav'>
		<ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores'>Stores</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/demands'>Demands</a>
			</li>
		</ul>
	</nav>
</section>
<section class='container mb-2'>
	<div class="input-group mb-2">
		<div class="input-group-prepend w-20">
			<label class="input-group-text w-100" for="supplier_id">Suppliers</label>
		</div>
		<select class="custom-select" id='supplier_id' onchange=filterSelects()>
			<option value='0' <% if (query.supplier_id === 0) { %>selected<% } %>>All</option>
			<% suppliers.forEach(supplier => { %>
				<option value='<%= supplier.supplier_id %>' <% if (query.supplier_id === supplier.supplier_id) { %> selected <% } %>>
					<%= supplier._name %>
				</option>
			<% }); %>
		</select>
	</div>
	<div class="input-group mb-2">
		<div class="input-group-prepend w-20">
			<label class="input-group-text w-100" for="complete">Completed Demands</label>
		</div>
		<select class="custom-select" id='complete' onchange=filterSelects()>
			<option value='1' <% if (query.complete === 1) { %> selected <% } %>>Include</option>
				<option value='2' <% if (query.complete === 2) { %> selected <% } %>>Exclude</option>
				<option value='3' <% if (query.complete === 3) { %> selected <% } %>>Only</option>
		</select>
	</div>
	<% if (demands) { %>
		<div class='row'>
			<% demands.forEach(demand => { %>
				<div class='col-12 col-sm-6 col-lg-4 col-xl-3'>
					<div class='card cardDarkText m-3 text-left <% if (demand._complete) { %> cardGreen <% } else { %> cardRed <% } %>'>
						<a href='/stores/demands/<%= demand.demand_id %>'>
							<div class='card-header'>
								<h3><%= demand.supplier._name %></h3>
								<p class='card-subtitle f-10 text-muted'><%= demand._date.toDateString() %></p>
							</div>
							<div class='card-body f-10'>
								<p>Raised By: <%= demand.user.rank._rank %> <%= demand.user._name %>, <%= demand.user._ini %></p>
								<p>Lines: <%= demand.lines.length %></p>
							</div>
						</a>
					</div>
				</div>
			<% }) %>
		</div>
	<% } %>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['complete', 'supplier_id'], '/stores/demands');
    };
</script>
<% include ../../partials/foot/htmlClose %>