<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',		   text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/orders', text: 'Demands'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
	<%- include('../../partials/spinner', {id: 'suppliers'}) %>
	<%- include(`${partials}/inputs/select`, {title: 'Supplier', id: 'sel_suppliers'}) %>
	<%- include(`${partials}/inputs/select`, {title: 'Status', 	 id: 'sel_status',  options: [{value: '', text: 'All', selected: true}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Draft'}, {value: '_status=2', text: 'Open'}, {value: '_status=3', text: 'Complete'}]}) %>
	<%- include('../../partials/spinner', {id: 'demands'}) %>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-30" onclick="sortTable(0, 'tbl_demands')">Date</th>
			<th class="w-30" onclick="sortTable(1, 'tbl_demands')">Supplier</th>
			<th class="w-15" onclick="sortTable(2, 'tbl_demands')">Lines</th>
			<th class="w-25" onclick="sortTable(3, 'tbl_demands')">Status</th>
			<th><i class="fas fa-search"></i></th>
		</thead>
		<tbody id="tbl_demands"></tbody>
	</table>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/stores/demands/index/getDemands.js'></script>
<script src='/js/data/addFormListener.js'></script>
<script src='/js/data/send.js'></script>
<script src='/js/stores/suppliers/list.js'></script>
<script async>getSuppliers()</script>
<script async>getDemands()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>