<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/demands', text: 'Demands'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="optionsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Menu
			</a>
			<div class="dropdown-menu" aria-labelledby="optionsDropdown">
                <%- include(`${partials}/menu/button`, {id: 'line_add', text: 'Add Item(s)',  modal: 'line_add'}) %>
				<%- include(`${partials}/menu/button`, {id: 'complete',	text: 'Complete',	  btn_form: true}) %>
				<%- include(`${partials}/menu/button`, {id: 'action',	text: 'Action Lines', form:  'action'}) %>
				<%- include(`${partials}/menu/button`, {id: 'close',	text: 'Close',	 	  btn_form: true}) %>
				<%- include(`${partials}/menu/button`, {id: 'download',	text: 'Download', 	  btn_form: true}) %>
				<%- include(`${partials}/menu/button`, {id: 'delete',	text: 'Cancel',	  	  btn_form: true}) %>
			</div>
		</li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'demand'}) %>
        <%- include(`${partials}/tab_head`, {id: 'lines',   title: 'Lines',	  spinner: 'demand_lines',  count_id: 'line'}) %>
        <%- include(`${partials}/common/actions/tab_head`) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/inputs/display`, {id: 'demand_supplier',  title: 'Supplier',  link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'demand_user',	   title: 'Raised By', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'demand_createdAt', title: 'Date'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'demand_updatedAt', title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'demand_status',    title: 'Status'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'demand_file',      title: 'Filename'}) %>
		</div>
		<div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
			<%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{text: 'All', selected: true}, {value: '"status":0', text: 'Cancelled'}, {value: '"status":1', text: 'Pending'}, {value: '"status":2', text: 'Open'}, {value: '"status":3', text: 'Received'}]}) %>
			<%- include(`${partials}/filter/sort`, {table: 'demand_lines'}) %>
	        <form id='form_action'>
				<table class='table table-sm table-hover'>
					<thead class='thead-dark'>
						<th class='w-30'>Item</th>
						<th class='w-40'>Size</th>
						<th class='w-10'>Qty</th>
						<th class='w-20'>Status</th>
						<th><i class='fas fa-search'></i></th>
					</thead>
					<tbody id='tbl_lines'></tbody>
				</table>
			</form>
		</div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
	</div>
	<div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
		<%- include(`${partials}/stores/mdl_line_view`, {table: 'Demand'}) %>
		<div id='mdl_line_add' class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<form class="modal-content" id='form_line_add'>
					<div class="modal-header">
						<h5 class="modal-title">
							Add Line(s)
							<%- include(`${partials}/spinner`, {id: 'line_add'}) %>
						</h5>
					</div>
					<div class="modal-body">
						<input type="hidden" class='demand_id' name='demand_id'>
						<%- include(`${partials}/inputs/number`, {title: 'Quantity', value: '1', min: '1', id: 'line_add_qty'}) %>
						<%- include(`${partials}/button/button`, {type: 'success', id: 'line_sizes', text: 'Add Item(s)', type_att: true, classes: ['w-100']}) %>
						<table class='table table-sm table-hover'>
							<thead class='thead-dark'>
								<th class='w-30'>Item</th>
								<th class='w-60'>Size</th>
								<th class='w-20'>Qty </th>
								<th><i class='fas fa-trash-alt'></i></th>
							</thead>
							<tbody id='tbl_line_add'></tbody>
						</table>
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-success w-100" value='Add Lines'>
						<%- include(`${partials}/button/modal/close`) %>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/search/select.js"></script>
<script>show_tab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>

<script src="/js/stores/demands/show/view.js"></script>
<script async>getDemand()</script>
<script src="/js/stores/demands/show/edit.js"></script>
<script src="/js/stores/demands/show/delete.js"></script>
<script src="/js/stores/demands/show/lines/view.js"></script>
<script async>getLines()</script>
<script src="/js/stores/sizes/select/showWindow.js"></script>
<script src="/js/stores/demands/show/lines/add.js"></script>
<script src="/js/stores/stocks/list.js"></script>
<script src="/js/stores/serials/list.js"></script>
<script src="/js/stores/demands/show/lines/edit.js"></script>
<%- include(`${partials}/foot/components/htmlClose`) %>