<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',		    text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/demands', text: 'Demands'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="optionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Menu
			</a>
			<div class="dropdown-menu" aria-labelledby="optionsDropdown">
				<%- include(`${partials}/notes/menu_add`) %>
				<%- include(`${partials}/menu/action`) %>
				<%- include(`${partials}/menu/complete`, {permission: 'demand_edit'}) %>
				<%- include(`${partials}/stores/sizes/select_button`, {permission: 'demand_line_add'}) %>
				<form id="form_download">
					<button id='btn_download' class='dropdown-item' disabled>Download</button>
				</form>
				<div class="dropdown-divider"></div>
				<%- include(`${partials}/menu/delete`, {permission: 'demand_delete'}) %>
			</div>
		</li>
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'demand'}) %>
        <%- include(`${partials}/tab_head`, {id: 'lines',   title: 'Lines',	  spinner: 'demand_lines', count_id: 'line', permission: 'access_demand_lines'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',   title: 'Notes',	  spinner: 'notes', 	   count_id: 'note', permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/inputs/display`, {id: 'supplier',  title: 'Supplier',  link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'user',		title: 'Raised By', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'createdAt', title: 'Date'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'updatedAt', title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: '_status',   title: 'Status'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'file',   	title: 'Filename'}) %>
		</div>
		<% if (permissions.access_demand_lines) { %>
			<div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
				<%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{value: '', text: 'All', selected: true}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Pending'}, {value: '_status=2', text: 'Open'}, {value: '_status=3', text: 'Received'}]}) %>
				<% if (permissions.demand_line_edit) { %><form id='form_action'><% } %>
				<table class='table table-sm table-hover'>
					<thead class='thead-dark'>
						<th class='w-30' onclick="sortTable(1,'tbl_lines')">Item</th>
						<th class='w-40' onclick="sortTable(2,'tbl_lines')">Size</th>
						<th class='w-10' onclick="sortTable(3,'tbl_lines')">Qty</th>
						<th class='w-20' onclick="sortTable(4,'tbl_lines')">Status</th>
						<th><i class='fas fa-search'></i></th>
					</thead>
					<tbody id='tbl_lines'></tbody>
					<div id="div_line_modals"></div>
				</table>
				<% if (permissions.demand_line_edit) { %></form><% } %>
			</div>
		<% } %>
        <%- include(`${partials}/notes/tab_body`) %>
	</div>
	<div id="div_modals">
		<%- include(`${partials}/stores/sizes/select`,  {permission: 'demand_line_add', 	table: 'Demand'}) %>
		<%- include(`${partials}/stores/mdl_line_view`, {permission: 'access_demand_lines', table: 'Demand'}) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/tabs.js'></script>
<script src="/js/search/select.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script>
	let statuses = {"0": "Cancelled", "1": "Draft", "2": "Open", "3": "Closed"};
	showTab('<%= tab %>');
</script>

<script src="/js/stores/demands/show/getDemand.js"></script>
<script async>getDemand()</script>

<% if (permissions.demand_edit) { %>
	<script src="/js/stores/utils/setButtons.js"></script>
	<script async>setButtons('demand')</script>
	<script>
		window.addEventListener( "load", function () {
			addFormListener(
				'form_complete',
				'PUT',
				`/stores/demands/${path[3]}`,
				{
					onComplete: [
						function () {getDemand}<% if (permissions.access_demand_lines) { %>,
						function () {getLines('demand')}<% } %>
					]
				}
			);
		});
	</script>
<% } %>
<% if (permissions.access_demand_lines) { %>
	<script src="/js/stores/utils/showLine.js"></script>
	<script src="/js/stores/utils/showLineActions.js"></script>
	<script src="/js/stores/utils/getLines.js"></script>
	<script src="/js/addSize.js"></script>
	<script>
		let line_statuses = {'0': 'Cancelled', '1': 'Pending', '2': 'Open', '3': 'Closed'};
		window.addEventListener('load', function () {
			document.querySelector('#reload')    .addEventListener('click',  function () {getLines('demand')});
			document.querySelector('#sel_status').addEventListener('change', function () {getLines('demand')});
			$('#mdl_line_view').on('show.bs.modal', function (event) {showLine(       'demand', event.relatedTarget.dataset[`demand_line_id`])});
			$('#mdl_line_view').on('show.bs.modal', function (event) {showLineActions('demand', event.relatedTarget.dataset[`demand_line_id`])});
		});
	</script>
	<script async>getLines('demand')</script>
	<% if (permissions.access_notes) { %>
		<script>
            set_attribute({id: 'btn_demand_lines_note_add', attribute: 'data-source', value: 'line_view'});
			$('#mdl_line_view').on('show.bs.modal', function (event) {
				set_attribute({id: 'btn_demand_lines_note_add', attribute: 'data-_table', value: 'demand_lines'});
				set_attribute({id: 'btn_demand_lines_note_add', attribute: 'data-_id',    value: event.relatedTarget.dataset.demand_line_id});
				getLineNotes({
					line_id: 'demand_lines',
					table: 	 'demand_lines',
					id:		 event.relatedTarget.dataset.demand_line_id
				})
			});
		</script>
	<% } %>
	<% if (permissions.demand_line_edit) { %>
		<script src="/js/stores/stock/list.js"></script>
		<script src="/js/stores/serials/list.js"></script>
		<script src="/js/stores/demands/show/lineEdit.js"></script>
		<script src="/js/stores/utils/setLineButtons.js"></script>
		<script>
			function setActions() {
				let actions_interval = window.setInterval(
					function () {
						if (lines_loaded === true) {
							getLineActions();
							clearInterval(actions_interval);
						}
					},
					500
				);
			};
			document.querySelector('#reload').addEventListener('click', setActions);
		</script>
		<script async>setActions()</script>
		<script async>setLineButtons('demand');</script>
		<script>
			window.addEventListener( "load", function () {
				addFormListener(
					'form_action',
					'PUT',
					`/stores/demand_lines/${path[3]}`,
					{
						onComplete: [
							function () {getLines('demand')},
							setActions,
							function () {setLineButtons('demand')}
						]
					}
				);
			});
		</script>
	<% } %>
<% } %>
<% if (permissions.demand_delete) { %>
	<script>
		window.addEventListener( "load", function () {
			addFormListener(
				'form_delete',
				'DELETE',
				`/stores/demands/${path[3]}`,
				{
					onComplete: [
						getDemand<% if (permissions.access_demand_lines) { %>,
						function () {getLines('demand')}<% } %>
					]
				}
			);
		});
	</script>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>