<% include ../../partials/head/full %>
<section class='mb-2'>
	<nav class='navbar navbar-expand navbar-light bg-nav'>
		<ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores'>Stores</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/demands'>Demands</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/demands/<%= demand.demand_id %>'>
					<%= demand.demand_id %>
				</a>
			</li>
			<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle stores_nav" href="#" id="optionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
                </a>
                <div class="dropdown-menu" aria-labelledby="optionsDropdown">
					<% if (demand._complete && demand._filename) { %>
						<a class='dropdown-item' href='javascript:download_file("<%= demand._filename %>")'>
							Download
						</a>
						<div class="dropdown-divider"></div>
					<% } %>
					<% if (!demand._complete && !demand._closed) { %>
						<% if (permissions.demand_edit) { %>
							<!-- ////////////////////////////////// -->
							<form id='completeForm'>
								<button class='dropdown-item dropdown_button confirm'>
									Complete
								</button>
							</form>
						<% } %>
						<% if (permissions.demand_line_add) { %>
							<!-- ////////////////////////////////// -->
							<a class="dropdown-item" href='javascript:addSize("demand",<%= demand.demand_id %>,"supplier_id=<%= demand.supplier_id %>")'>
								Add Item
							</a>
						<% } %>
						<div class="dropdown-divider"></div>
						<% if (permissions.demand_delete) { %>
							<form id='deleteForm'>
								<button class='dropdown-item dropdown_button confirm'>
									Delete
								</button>
							</form>
						<% }; %>
					<% } else if (demand._complete && !demand._closed && permissions.demand_line_edit) { %> %>
						<button form='actionForm' class='dropdown-item dropdown_button confirm'>
							Action Selected Lines
						</button>
					<% }; %>
                </div>
            </li>
		</ul>
	</nav>
</section>
<section class='container'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lines-tab" data-toggle="tab" href="#lines" role="tab" aria-controls="lines" aria-selected="true">
                Lines (<span id='line_count'></span>)
            </a>
        </li>
        <% if (permissions.access_notes) { %>
            <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
                    Notes (<span id='note_count'></span>)
                </a>
            </li>
        <% } %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
				<div class="input-group mb-1">
					<div class="input-group-prepend w-30">
						<span class="input-group-text w-100">Supplier</span>
					</div>
					<p class="form-control"><%= demand.supplier._name %></p>
					<div class="input-group-append">
						<a class="float-right btn btn-primary" href='/stores/suppliers/<%= demand.supplier_id %>'>
							<i class='fas fa-search'></i>
						</a>
					</div>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-30">
						<span class="input-group-text w-100">Raised By</span>
					</div>
					<p class="form-control"><%= demand.user.rank._rank %> <%= demand.user.full_name %></p>
					<div class="input-group-append">
						<a class="float-right btn btn-primary" href='/stores/users/<%= demand.user_id %>'>
							<i class='fas fa-search'></i>
						</a>
					</div>
				</div>
				<%- include('../../partials/inputs/display', {title: 'Date', text: demand._date.toDateString()}) %>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-30">
						<span class="input-group-text w-100">Complete</span>
					</div>
					<p class="form-control"><% if (demand._complete) { %>Yes<% } else { %>No<% } %></p>
				</div>
				<%- include('../../partials/inputs/display', {title: 'Filename', text: demand._filename}) %>
			</div>
		</div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
            <div class="container">
				<div class="input-group mb-2">
					<div class="input-group-prepend w-30">
						<label class="input-group-text w-100" for="sel_status">Status</label>
					</div>
					<select class="custom-select" id='sel_status' onchange='getLines(<%= demand.demand_id %>, <%= demand._complete %>, <%= permissions.demand_line_delete || false %>)'>
						<option value='All' selected>All</option>
						<option value='Pending'>Pending</option>
						<option value='Received'>Received</option>
						<option value='Cancelled'>Cancelled</option>
					</select>
				</div>
				<%- include('../../partials/spinner', {id: 'demands'}) %>
				<% if (permissions.demand_line_edit && demand._complete && !demand._closed) { %>
					<form id='actionForm'>
				<% } %>
				<table class='table table-sm table-hover'>
					<thead class='thead-dark'>
						<th class="w-5" onclick="sortTable(0, 'demandTable')">Line</th>
						<th class='w-25' onclick="sortTable(1, 'demandTable')">Item</th>
						<th class='w-30' onclick="sortTable(2, 'demandTable')">Size</th>
						<th class='w-10' onclick="sortTable(3, 'demandTable')">Qty</th>
						<th class='w-<% if (demand._complete) { %>15<% } else { %>30<% } %>' onclick="sortTable(4, 'demandTable')">Status</th>
						<% if (demand._complete) { %> 
							<th class='w-15' onclick="sortTable(4, 'demandTable')">Received</th>
						<% } else { %>
							<% if (permissions.demand_line_delete) { %><th><i class="fas fa-trash-alt"></i></th><% } %>
						<% } %>
					</thead>
					<tbody id='demandTable'>
					</tbody>
				</table>
				<% if (permissions.demand_line_edit && demand._complete && !demand._closed) { %>
				</form>
				<% } %>
			</div>
		</div>
		<% include ../../partials/noteTable %>
    </div>
	<div class='row'>
</section>
<% include ../../partials/foot/full %>
<script src="/js/addSize.js"></script>
<script src="/js/get/demand_lines.js"></script>
<script>
    window.addEventListener( "load", function () {
		<% if (!demand._complete && !demand._closed) { %>
			<% if (permissions.demand_edit) { %>
				addFormListener('completeForm', 'PUT', '/stores/demands/<%= demand.demand_id %>', {reload: true})
			<% } %>
			<% if (permissions.demand_delete) { %>
				addFormListener('deleteForm', 'DELETE', '/stores/demands/<%= demand.demand_id %>', {redirect: '/stores/demands'})
			<% } %>
		<% } %>
		<% if (permissions.demand_line_edit && demand._complete && !demand._closed) { %>
			addFormListener('actionForm', 'PUT', '/stores/demand_lines/<%= demand.demand_id %>',{reload: true});
		<% } %>
    });
	showTab('<%= show_tab %>');
</script>
<script async>getDemandLines(<%= demand.demand_id %>, <%= demand._complete %>, <%= permissions.demand_line_delete || false %>)</script>
<% include ../../partials/foot/htmlClose %>