<% include ../../partials/head/full %>
<section class='mb-2'>
	<nav class='navbar navbar-expand navbar-light bg-nav'>
		<ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores'>Stores</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/demands'>Demands</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/demands/<%= demand.demand_id %>'>
					<%= demand.demand_id %>
				</a>
			</li>
		</ul>
	</nav>
</section>
<section class='container'>
	<div class='row'>
		<div class='col-12 col-lg-6 col-xl-5 mb-3 bordered'>
			<% if (demand._filename) { %>
				<a class='float-left btn btn-primary mr-1' href='/stores/demands/<%= demand.demand_id %>/download'>
					<i class='fas fa-file-download'></i>
				</a>
			<% } %>
			<% if (permissions.demand_delete) { %>
				<form action='/stores/demands/<%= demand.demand_id %>?_method=DELETE' method='POST'>
					<button class='float-left btn btn-danger confirm'>
						<i class='fas fa-trash-alt'></i>
					</button>
				</form>
			<% }; %>
			<h4 class='mb-3'>Details</h4>
			<div class='row'>
				<div class='col-sm-4'>
					<label class='col-form-label'>Supplier:</label>
				</div>
				<div class='col-sm-6'>
					<input class='form-control' type='text' value='<%= demand.supplier._name %>' readonly>
				</div>
				<div class='col-sm-2'>
					<a class="float-right btn btn-primary" href='/stores/suppliers/<%= demand.supplier_id %>'><i class='fas fa-search'></i></a class="btn btn-primary">
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-4'>
					<label class='col-form-label'>Raised By:</label>
				</div>
				<div class='col-sm-6'>
						<input class='form-control' type='text' value='<%= demand.user.rank._rank %> <%= demand.user._name %>, <%= demand.user._ini %>' readonly>
				</div>
				<div class='col-sm-2'>
					<a class="float-right btn btn-primary" href='/stores/users/<%= demand.user_id %>'><i class='fas fa-search'></i></a>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-4'>
					<label class='col-form-label'>Date:</label>
				</div>
				<div class='col-sm-8'>
					<input class='form-control' type='text' value='<%= demand._date.toDateString() %>' readonly>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-4'>
					<label class='col-form-label'>Complete:</label>
				</div>
				<div class='col-sm-8'>
					<input class='form-control form-control-sm' type='checkbox' disabled<% if (demand._complete) { %> checked<% } %>>
				</div>
			</div>
		</div>
		<% if (permissions.access_notes) { %> 
			<div class='col-12 col-lg-6 col-xl-7 mb-3 bordered'>
				<% if (permissions.note_add) { %>
					<a class='float-left btn btn-success' href='javascript:addNote("demands","<%= demand.demand_id %>")'>
						<i class='fas fa-plus'></i>
					</a>
				<% } %>
				<% include ../../partials/noteTable %>
			</div>
		<% } %>
		<div class='col-12 col-lg-6 col-xl-12 mb-3 bordered'>
			<% if (!demand._complete) { %>
			<form action='/stores/demands/<%= demand.demand_id %>?_method=PUT' method='POST'>
				<div class="row">
					<div class="col-md-6">
						<select class='form-control' name="action">
							<option value="receive">Receive Selected Lines</option>
							<option value="receive">Cancel Selected Lines</option>
						</select>
					</div>
					<div class="col-md-6">
						<button class='btn btn-success w-100 mb-3 confirm'>Go</button>
					</div>
				</div>
				<% } %>
				<table class='table table-sm table-hover mx-auto w-100'>
					<thead class='thead-dark'>
						<% if (!demand._complete) { %><th class="w-5"></th><% } %>
						<th class='w-25' onclick="sortTable(0, 'demandTable')">Item</th>
						<th class='w-20' onclick="sortTable(1, 'demandTable')">Size</th>
						<th class='w-10' onclick="sortTable(2, 'demandTable')">Qty</th>
						<th class='w-30' onclick="sortTable(4, 'demandTable')">Status</th>
					</thead>
					<tbody id='demandTable'>
						<% if (demand.lines) demand.lines.forEach(line => { %>
							<tr>
								<% if (!demand._complete) { %>
									<td>
										<input class='form-control' type="checkbox" name='selected[]' value='<%= line.line_id %>'>
									</td>
								<% } %>
								<td>
									<a class='float-right btn btn-sm btn-primary' href='/stores/items/<%= line.size.item_id %>'><i class='fas fa-search'></i></a>
									<%= line.size.item._description %>
								</td>
								<td>
									<a class='float-right btn btn-sm btn-primary' href='/stores/sizes/<%= line.size.size_id %>'><i class='fas fa-search'></i></a>
									<%= line.size._size %>
								</td>
								<td>
									<%= line._qty %>
								</td>
								<td>
									<%= line._status %>
								</td>
							</tr>
						<% }) %>
					</tbody>
				</table>
			<% if (!demand._complete) { %></form><% } %>
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['system'], '/stores/demands/<%= demand.demand_id %>');
    };
</script>
<% include ../../partials/foot/htmlClose %>