<% include ../../partials/head/full %>
<section class='mb-2'>
	<nav class='navbar navbar-expand navbar-light bg-nav'>
		<ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores'>Stores</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/demands'>Demands</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/demands/<%= demand.demand_id %>'>
					<%= demand.demand_id %>
				</a>
			</li>
			<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle stores_nav" href="#" id="optionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
                </a>
                <div class="dropdown-menu" aria-labelledby="optionsDropdown">
					<% if (demand._filename) { %>
						<a class='dropdown-item' href='/stores/demands/<%= demand.demand_id %>/download'>
							Download
						</a>
						<div class="dropdown-divider"></div>
					<% } %>
					<% if (permissions.demand_edit && !demand._complete && !demand._closed) { %>
						<!-- ////////////////////////////////// -->
						<a class="dropdown-item" href='#'>
							Complete
						</a>
					<% } %>
					<% if (permissions.demand_line_add && !demand._complete && !demand._closed) { %>
						<!-- ////////////////////////////////// -->
						<a class="dropdown-item" href='javascript:addSize("demand",<%= demand.demand_id %>,"supplier_id=<%= demand.supplier_id%>")'>
							Add Item
						</a>
					<% } %>
					<div class="dropdown-divider"></div>
					<% if (permissions.demand_delete && !demand._complete && !demand._closed) { %>
						<form id='deleteForm'>
							<button class='dropdown-item dropdown_button confirm'>
								Delete
							</button>
						</form>
					<% }; %>
					
                </div>
            </li>
		</ul>
	</nav>
</section>
<section class='container'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lines-tab" data-toggle="tab" href="#lines" role="tab" aria-controls="lines" aria-selected="true">
                Lines (<span id='line_count'></span>)
            </a>
        </li>
        <% if (permissions.access_notes) { %>
            <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
                    Notes (<span id='note_count'></span>)
                </a>
            </li>
        <% } %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
				<div class="input-group mb-1">
					<div class="input-group-prepend w-20">
						<span class="input-group-text w-100">Supplier</span>
					</div>
					<p class="form-control"><%= demand.supplier._name %></p>
					<div class="input-group-append">
						<a class="float-right btn btn-primary" href='/stores/suppliers/<%= demand.supplier_id %>'>
							<i class='fas fa-search'></i>
						</a>
					</div>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-20">
						<span class="input-group-text w-100">Raised By</span>
					</div>
					<p class="form-control"><%= demand.user.rank._rank %> <%= demand.user._name %>, <%= demand.user._ini %></p>
					<div class="input-group-append">
						<a class="float-right btn btn-primary" href='/stores/users/<%= demand.user_id %>'>
							<i class='fas fa-search'></i>
						</a>
					</div>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-20">
						<span class="input-group-text w-100">Date</span>
					</div>
					<p class="form-control"><%= demand._date.toDateString() %></p>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend w-20">
						<span class="input-group-text w-100">Complete</span>
					</div>
					<p class="form-control"><% if (demand._complete) { %>Yes<% } else { %>No<% } %></p>
				</div>
			</div>
		</div>
        <div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
            <div class="container">
				<% if (demand._complete && !demand._closed) { %>
				<form action='/stores/demands/<%= demand.demand_id %>?_method=PUT' method='POST'>
					<div class="input-group mb-1">
						<select class="custom-select" name='action'>
							<option value="receive">Receive Selected Lines</option>
							<option value="cancel">Cancel Selected Lines</option>
						</select>
						<div class="input-group-append w-25">
							<button class="btn btn-success w-100 confirm" type="button">Go</button>
						</div>
					</div>
				<% } %>
				<div class="input-group mb-2">
					<div class="input-group-prepend w-20">
						<label class="input-group-text w-100" for="sel_status">Status</label>
					</div>
					<select class="custom-select" id='sel_status' onchange='getLines(<%= demand.demand_id %>, <%= demand._complete %>, <%= demand._closed %>, <%= permissions.demand_line_delete %>)'>
						<option value='All' selected>All</option>
						<option value='Pending'>Pending</option>
						<option value='Received'>Received</option>
						<option value='Cancelled'>Cancelled</option>
					</select>
				</div>
				<div id='spn_demands' class="spinner-border text-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<table class='table table-sm table-hover'>
					<thead class='thead-dark'>
						<% if (demand._complete && !demand._closed) { %><th class="w-5"></th><% } %>
						<th class='w-30' onclick="sortTable(0, 'demandTable')">Item</th>
						<th class='w-30' onclick="sortTable(1, 'demandTable')">Size</th>
						<th class='w-10' onclick="sortTable(2, 'demandTable')">Qty</th>
						<th class='w-30' onclick="sortTable(3, 'demandTable')">Status</th>
						<% if (permissions.demand_line_delete) { %><th><i class="fas fa-trash-alt"></i></th><% } %>
					</thead>
					<tbody id='demandTable'>
					</tbody>
				</table>
				<% if (demand._complete && !demand._closed) { %></form><% } %>
			</div>
		</div>
		<% include ../../partials/noteTable %>
    </div>
	<div class='row'>
</section>
<% include ../../partials/foot/full %>
<script src="/js/addSize.js"></script>
<script src="/js/specific/demands_show.js"></script>
<script>
    window.addEventListener( "load", function () {
		<% if (permissions.demand_delete && !demand._complete && !demand._closed) { %>
			addFormListener('deleteForm', 'DELETE', '/stores/demands/<%= demand.demand_id %>', {redirect: '/stores/demands'})
		<% } %>
    });
	showTab('<%= show_tab %>');
</script>
<script async>getLines(<%= demand.demand_id %>, <%= demand._complete %>, <%= demand._closed %>, <%= permissions.demand_line_delete %>)</script>
<% include ../../partials/foot/htmlClose %>