<%- include(`${partials}/head/app`,	  {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/demands', text: 'Demands'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<%- include(`${partials}/sidebar/button`, {id: 'actions', text: 'Actions', float: true}) %>
	<%- include(`${partials}/sidebar/open`, {id: 'actions', text: 'Actions'}) %>
		<%- include(`${partials}/button/form`, {id: 'complete', text: 'Complete', colour: 'success'}) %>
		<%- include(`${partials}/button/form`, {id: 'close', 	text: 'Close', 	  colour: 'warning'}) %>
		<%- include(`${partials}/button/form`, {id: 'download', text: 'Download', colour: 'primary'}) %>
		<button id="btn_action" type='button' class="btn btn-success w-100 mb-2" form='form_lines' disabled>
			Action Lines
		</button>
		<%- include(`${partials}/button/form`, {id: 'delete', 	text: 'Cancel',	  colour: 'danger', align_bottom: true}) %>
    <%- include(`${partials}/sidebar/close`) %>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'demand'}) %>
        <%- include(`${partials}/tab_head`, {id: 'lines',   title: 'Lines',	  spinner: 'demand_lines',  count_id: 'line'}) %>
        <%- include(`${partials}/common/actions/tab_head`) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/inputs/display`, {id: 'demand_supplier',  title: 'Supplier',  link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'demand_user',	   title: 'Raised By', link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'demand_createdAt', title: 'Date'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'demand_updatedAt', title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'demand_status',    title: 'Status'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'demand_file',      title: 'Filename'}) %>
		</div>
		<div class="tab-pane fade" id="lines" role="tabpanel" aria-labelledby="lines-tab">
			<div class="row justify-content-between">
                <%- include(`${partials}/sort`, {table: 'demand_lines'}) %>
                <div class="col-12 col-md-4 mb-1">
                    <%- include(`${partials}/sidebar/button`, {id: 'demand_lines', text: 'Filter'}) %>
                </div>
            </div>
            <%- include(`${partials}/sidebar/open`, {id: 'demand_lines', text: 'Filter Lines'}) %>
				<div class="input-group mb-1">
					<span class="input-group-text w-30">Status</span>
					<select id="sel_lines_statuses" class="form-select" multiple size="4">
						<option value="0">Cancelled</option>
						<option value="1" selected>Pending</option>
						<option value="2" selected>Open</option>
						<option value="3">Received</option>
					</select>
				</div>
			<%- include(`${partials}/sidebar/close`) %>

	        <form id='form_lines'>
				<table class='table table-sm table-hover'>
					<thead class='thead-dark' id='tbl_demand_lines_head'>
						<th class='w-25' data-column='["size","item","description"]' data-dir='ASC'>Item</th>
						<th class='w-30' data-column='["size","size1"]'							   >Size</th>
						<th class='w-10' data-column='["qty"]'									   >Qty</th>
						<th class='w-15' data-column='["status"]'								   >Status</th>
						<th class='w-20'>Action</th>
						<th><i class='fas fa-search'></i></th>
					</thead>
					<tbody id='tbl_lines'></tbody>
				</table>
				<%- include(`${partials}/limit`, {table: 'demand_lines'}) %>
			</form>
		</div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
	</div>
	<div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
		<%- include(`${partials}/modals/stores/mdl_line_view`, {table: 'Demand'}) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/common/receive_options.js"></script>
<script>receive_option_func('demand_line');</script>

<script src="/js/common/radios/nil_cancel.js"></script>
<script src="/js/common/radios/receive.js"></script>
<script>show_tab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>

<script src="/js/stores/demands/show/view.js"></script>
<script async>getDemand()</script>
<script src="/js/stores/demands/show/edit.js"></script>
<script src="/js/stores/demands/show/delete.js"></script>
<script src="/js/stores/demands/show/lines/view.js"></script>
<script src="/js/stores/stocks/list.js"></script>
<script src="/js/stores/serials/list.js"></script>
<%- include(`${partials}/foot/components/htmlClose`) %>