<%- include(`${partials}/menu/button`, {id: 'user_edit',        text: 'Edit User',        modal: 'user_edit'}) %>
<% if (permissions.user_edit) { %><form id='form_password_reset'><% } %>
<%- include(`${partials}/menu/button`, {id: 'password_reset',   text: 'Toggle Reset Password'}) %>
<% if (permissions.user_edit) { %></form><% } %>
<%- include(`${partials}/menu/button`, {id: 'user_password',    text: 'Change Password',  modal: 'user_password'}) %>
<%- include(`${partials}/menu/button`, {id: 'permissions_edit', text: 'Edit Permissions', modal: 'permissions_edit'}) %>
<%- include(`${partials}/menu/button`, {id: 'note_add',         text: 'Add Note',         modal: 'note_add'}) %>
<div class="dropdown-divider"></div>