<%- include(`${process.env.PARTIALS}/head/head`) %>
<body>
<%- include(`${process.env.PARTIALS}/head/flash`) %>
<section id='body'>
    <div id="itemDiv" class='mb-2 bordered'>
        <h3><%= callType.substring(0, 1).toUpperCase() + callType.substring(1, callType.length) %></h3>
        <h5>Items</h5>
        <input class='form-control' type='text' id='itemSearch' onkeyup='searchTable("itemSelect", "itemSearch")' placeholder='Search for items...'>
        <form id='itemForm'>
            <input type='hidden' name='callType' value='<%= callType %>'>
            <input type='hidden' name='supplier_id' value='<%= supplier_id %>'>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">Select Item</span>
                </div>
                <select class='form-control' name='item_id' id='itemSelect' type='text' size='10' onchange="getSizes()">
                    <option value=''></option>
                    <% items.forEach(item => { %>
                        <option value='<%= item.item_id %>'><%= item._description %></option>
                    <% }); %>
                </select>
            </div>
        </form>
    </div>
    <div id='sizeDiv' style='display:none;' class='mb-2 bordered'>
        <form id='sizeForm'>
            <input type='hidden' name='item_id'     id='item_id' value=''>
            <input type='hidden' name='callType'    value='<%= callType %>'>
            <input type='hidden' name='supplier_id' value='<%= supplier_id %>'>
            <input class='form-control' type='text' id='sizeSearch' onkeyup='searchTable("sizeSelect", "sizeSearch")' placeholder='Search for sizes...'>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">Select Size</span>
                </div>
                <select class='form-control' name='size_id' id='sizeSelect' type='text' size='10' onchange='getSize()'>
                </select>
            </div>
        </form>
    </div>
    <div id='detailDiv' style='display:none;' class='mb-2 bordered'>
        <form id="addForm">
            <input type="hidden" name='line[size_id]' id='size_id' value=''>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">Item</span>
                </div>
                <p id='item_name' class="form-control"></p>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">Size</span>
                </div>
                <p id='size_name' class="form-control"></p>
            </div>
            <% if (callType === 'issue') { %>
                <input class='form-control' type='text' id='nsnSearch' onkeyup='searchTable("nsnSelect", "nsnSearch")' placeholder='Search for NSNs...'>
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-30">
                        <span class="input-group-text w-100">Select NSN</span>
                    </div>
                    <select class='form-control' name='line[nsn_id]' id='nsnSelect' type='text' size='2'>
                    </select>
                </div>
            <% } %>
            <% if (callType === 'issue' || callType === 'receipt') { %>
                <input class='form-control' type='text' id='serialSearch' onkeyup='searchTable("serialSelect", "serialSearch")' placeholder='Search for Serials...'>
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-30">
                        <span class="input-group-text w-100">Select Serial</span>
                    </div>
                    <select class='form-control' name='line[serial_id]' id='serialSelect' type='text' size='2'>
                    </select>
                </div>
                <input class='form-control' type='text' id='stockSearch' onkeyup='searchTable("stockSelect", "stockSearch")' placeholder='Search for stock...'>
                <div class="input-group mb-3">
                    <div class="input-group-prepend w-30">
                        <span class="input-group-text w-100">Location</span>
                    </div>
                    <select class='form-control' name='line[stock_id]' id='stockSelect' type='text' size='2'>
                    </select>
                </div>
            <% } %>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">Quantity</span>
                </div>
                <input class='form-control' type='number' name='line[_qty]' input='numeric' value='1'>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class='btn btn-success w-100 mb-1'>Add Size</button>
                    <a class='float-left btn btn-danger w-100' href='javascript:close()'>Close</a>
                </div>
            </div>
        </form>
    </div>
<% include(`${process.env.PARTIALS}/foot/noNav`) %>
<script src="/js/data/addFormListener.js"></script>
<script src="/js/data/send.js"></script>
<script>
    function getSizes() {
        const XHR = new XMLHttpRequest();
        const FD = new FormData(itemForm);
        XHR.addEventListener("load", function(event) {
            let response = JSON.parse(event.target.responseText);
            if (response.result) {
                let sizeSelect = document.querySelector('#sizeSelect'),
                    itemSelect = document.querySelector('#itemSelect'),
                    size_div   = document.querySelector('#sizeDiv'),
                    item_id    = document.querySelector('#item_id'),
                    detail_div = document.querySelector('#detailDiv');
                detail_div.style.display = 'none';
                size_div.style.display   = 'block';
                sizeSelect.innerHTML     = '';
                sizeSelect.appendChild(document.createElement('option'));
                if (response.sizes) response.sizes.forEach(size => {
                    itemSelect.size = '1';
                    let _option   = document.createElement('option'),
                        item_name = document.querySelector('#item_name');
                    item_name.innerText = itemSelect.options[itemSelect.selectedIndex].text;
                    _option.value       = size.size_id;
                    _option.innerText   = size._size;
                    sizeSelect.appendChild(_option);
                });
            } else alert('Error: ' + response.error);
        });
        XHR.addEventListener("error", function(event) {
            alert('Oops! Something went wrong.');
        });
        XHR.open('POST', '/stores/itemSearch');
        XHR.send(FD);
    };
    function getSize() {
        const XHR = new XMLHttpRequest();
        const FD = new FormData(sizeForm);
        XHR.addEventListener("load", function(event) {
            let response = JSON.parse(event.target.responseText);
            if (response.result) {
                let detail_div = document.querySelector('#detailDiv'),
                    sizeSelect = document.querySelector('#sizeSelect'),
                    size_name  = document.querySelector('#size_name'),
                    size_id    = document.querySelector('#size_id');
                size_id.value            = sizeSelect.value;
                size_name.innerText      = sizeSelect.options[sizeSelect.selectedIndex].text;
                sizeSelect.size          = '1';
                detail_div.style.display = 'block';
                <% if (callType === 'issue') { %>
                    if (response.size.nsns && response.size.nsns.length > 0) {
                        let nsnSelect = document.querySelector('#nsnSelect');
                        nsnSelect.innerHTML = '';
                        nsnSelect.required  = response.size._nsns;
                        response.size.nsns.forEach(nsn => {
                            let _option = document.createElement('option');
                            _option.value     = nsn.nsn_id;
                            _option.innerText = nsn._nsn;
                            nsnSelect.appendChild(_option);
                        })
                    };
                <% } %>
                <% if (callType === 'issue' || callType === 'receipt') { %>
                    if (response.size.serials && response.size.serials.length > 0) {
                        let serialSelect = document.querySelector('#serialSelect');
                        serialSelect.innerHTML = '';
                        serialSelect.required  = response.size._serials;
                        response.size.serials.forEach(serial => {
                            let _option      = document.createElement('option');
                            _option.value     = serial.serial_id;
                            _option.innerText = serial._serial;
                            serialSelect.appendChild(_option);
                        })
                    };
                    if (response.size.stocks && response.size.stocks.length > 0) {
                        let stockSelect = document.querySelector('#stockSelect');
                        stockSelect.innerHTML = '';
                        stockSelect.required  = true;
                        response.size.stocks.forEach(stock => {
                            let _option     = document.createElement('option');
                            _option.value     = stock.stock_id;
                            _option.innerText = stock.location._location + ', Qty: ' + stock._qty;
                            stockSelect.appendChild(_option);
                        })
                    };
                <% } %>
            } else alert('Error: ' + response.error);
        });
        XHR.addEventListener("error", function(event) {
            alert('Oops! Something went wrong.');
        });
        XHR.open('POST', '/stores/itemSearch/size');
        XHR.send(FD);
    };
    window.addEventListener( "load", function () {
        addFormListener('addForm', 'POST', '/stores/<%= callType %>_lines/<%= id %>', {onComplete: window.opener.get<%= callType %>lines});
        let itemForm = document.querySelector("#itemForm"),
            sizeForm = document.querySelector("#sizeForm");
        itemForm.addEventListener("submit", function (event) {
            event.preventDefault();
            getSizes();
        });
        sizeForm.addEventListener("submit", function (event) {
            event.preventDefault();
            getSize();
        });
    });
</script>
<% include(`${process.env.PARTIALS}/foot/htmlClose`) %>
