<% include ../../partials/head/head %>
<body>
<% include ../../partials/head/flash %>
<section id='body'>
<div class='row container mx-auto'>
    <div class='col-12 col-md-6 bordered mb-2 mx-auto'>
        <h3><%= callType %></h3>
        <h4><%= description %></h4>
        <input class='form-control' type='text' id='sizeSearch' onkeyup='searchTable("sizesTable", "sizeSearch")' placeholder='Search for sizes...'>
        <form action='/stores/itemSearch/size' method='POST'>
            <input type='hidden' name='item_id' value='<%= item_id %>'>
            <input type='hidden' name='callType' value='<%= callType %>'>
            <input type='hidden' name='supplier_id' value='<%= supplier_id %>'>
            <select class='form-control w-100' name='size' id='sizesTable' type='text' size='15'>
                <option value=''></option>
                <% sizes.forEach(size => { %>
                    <option value='<%= size.size_id %>'><%= size._size %></option>
                <% }); %>
            </select>
            <button class='btn btn-success w-100'>Select</button>
        </form>
        <% if (callType === 'issue') { %>
            <div>
                <p>Note: only valid sizes are shown.</p>
                <p>Sizes must have associated NSNs and stock records to be valid</p>
            </div>
        <% }; %>
    </div>
    <div class='col-12 mb-2'>
        <a class='btn btn-primary w-100' href='/stores/itemSearch?callType=<%= callType %>&supplier_id=<%= supplier_id %>'>Back</a>
    </div>
    <div class='col-12 mb-2'>
        <a class='btn btn-danger w-100' href='javascript:close()'>Finished Adding Items</a>
    </div>
</div>
<% include ../../partials/foot/js %>
<script src='/js/selectSearch.js'></script>
<% include ../../partials/foot/htmlClose %>