<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {text: 'Stores', href: '/stores'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'Loancards'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'loancards'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
	<%- include(`${partials}/inputs/select`, {title: 'User',   id: 'sel_users',	 spinner: true, spinner_id: 'users', reload_id: 'reload_users'}) %>
	<%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{value: '', text: 'All'}, {value: 'status=0', text: 'Cancelled'}, {value: 'status=1', text: 'Draft', selected: true}, {value: 'status=2', text: 'Complete'}, {value: 'status=3', text: 'Closed'}]}) %>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-30" onclick="sortTable(0, 'tbl_loancards')">Date</th>
			<th class="w-30" onclick="sortTable(1, 'tbl_loancards')">User</th>
			<th class="w-15" onclick="sortTable(2, 'tbl_loancards')">Lines</th>
			<th class="w-25" onclick="sortTable(3, 'tbl_loancards')">Status</th>
			<th><i class="fas fa-search"></i></th>
		</thead>
		<tbody id="tbl_loancards"></tbody>
	</table>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/stores/loancards/index/view.js'></script>
<script src='/js/utils/list/users.js'></script>
<script async>getLoancards()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>