<%- include(`${partials}/head/app`,   {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/loancards', text: 'Loancards'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details', title: 'Details', spinner: 'loancard'}) %>
        <%- include(`${partials}/tab_head`, {id: 'lines',   title: 'Lines',	  spinner: 'loancard_lines', count_id: 'line'}) %>
        <%- include(`${partials}/common/actions/tab_head`) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
			<%- include(`${partials}/inputs/display`, {id: 'loancard_user_loancard', title: 'User',  	 link: true}) %>
			<%- include(`${partials}/inputs/display`, {id: 'loancard_createdAt', 	 title: 'Date'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'loancard_date_due', 	 title: 'Date Due',  edit: true, modal: 'due_edit'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'loancard_updatedAt', 	 title: 'Last Updated'}) %>
			<%- include(`${partials}/inputs/display`, {id: 'loancard_status',   	 title: 'Status'}) %>
			<div class="input-group mb-1">
				<span class="input-group-text w-30">Filename</span>
				<p class="form-control mb-0" id='loancard_filename'></p>
				<form id="form_loancard_file_download">
					<button class='btn btn-success' id='btn_loancard_file_download'>
						<i class="fas fa-file-download"></i>
					</button>
				</form>
				<form id="form_loancard_file_print">
					<button class='btn btn-primary' id='btn_loancard_file_print'>
						<i class="fas fa-print"></i>
					</button>
				</form>
				<form id="form_loancard_file_delete">
					<button class='btn btn-danger' id='btn_loancard_file_delete'>
						<i class="fas fa-trash-alt"></i>
					</button>
				</form>
			</div>
			<%- include(`${partials}/inputs/display`, {id: 'loancard_user',			 title: 'Raised By', link: true}) %>
            <div id="div_details_menu" class="mb-1">
                <span class="float-start">
                    <%- include(`${partials}/button/modal/open`, {id: 'loancard_complete', icon: 'check', type: 'success', modal: 'loancard_complete'}) %>
                </span>
                <span class="float-end">
                    <%- include(`${partials}/button/delete`) %>
                </span>
            </div>
		</div>
		<div class="tab-pane fade" id="lines" 	role="tabpanel" aria-labelledby="lines-tab">
			<%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{value: '', text: 'All', selected: true}, {value: '"status":0', text: 'Cancelled'}, {value: '"status":1', text: 'Pending'}, {value: '"status":2', text: 'Open'}, {value: '"status":3', text: 'Returned'}]}) %>
			<% if (permissions.issuer) { %><form id='form_actions'><% } %>
			<!-- <div class="mb-1">
				<span class="float-start"> -->
					<%- include(`${partials}/button/button`, {id: 'lines_action', text: 'Action Lines', type: 'success', classes: ['mb-1', 'w-100']}) %>
				<!-- </span>
			</div> -->
			<table class='table table-sm table-hover'>
				<thead class='thead-dark'>
					<th class='w-35'>Item</th>
					<th class='w-35' onclick='sortByRow(this, getLines)' data-sort_col='size_id'>Size<span class='sort_ind float-end'></span></th>
					<th class='w-10' onclick='sortByRow(this, getLines)' data-sort_col='qty'	>Qty<span class='sort_ind float-end'></span></th>
					<th class='w-10' onclick='sortByRow(this, getLines)' data-sort_col='status'	>Status<span class='sort_ind float-end'></span></th>
					<th class='w-10'>Actions</th>
					<th><i class='fas fa-search'></i></th>
				</thead>
				<tbody id='tbl_lines'></tbody>
			</table>
			<% if (permissions.issuer) { %></form><% } %>
		</div>
        <%- include(`${partials}/common/actions/tab_body`) %>
        <%- include(`${partials}/common/notes/tab_body`) %>
	</div>
	<div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <%- include(`${partials}/common/actions/modals`) %>
		<% if (permissions.issuer) { %>
			<div id='mdl_loancard_complete' class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-lg" role="document">
					<form id='form_complete' class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Complete Loancard</h5>
						</div>
						<div class="modal-body">
							<%- include(`${partials}/inputs/date`, {id: 'date_due_complete', title: 'Due Date', name: 'date_due'}) %>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success w-100">Complete</button>
							<%- include(`${partials}/button/modal/close`) %>
						</div>
					</form>
				</div>
			</div>
		<% } %>
		<% if (permissions.issuer) { %>
			<div id='mdl_due_edit' class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-lg" role="document">
					<form id='form_due_edit' class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Change due date</h5>
						</div>
						<div class="modal-body">
							<input type="date" class="form-control" id='date_due_edit' name='loancard[date_due]'>
						</div>
						<div class="modal-footer">
							<%- include(`${partials}/button/save`) %>
						</div>
					</form>
				</div>
			</div>
		<% } %>
		<%- include(`${partials}/stores/mdl_line_view`, {table: 'Loancard'}) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/search/select.js"></script>
<script>showTab('<%= tab %>')</script>
<%- include(`${partials}/common/notes/scripts`) %>
<%- include(`${partials}/common/actions/scripts`) %>

<script src="/js/stores/loancards/show/view.js"></script>
<script async>getLoancard()</script>

<script src="/js/stores/loancards/show/lines/view.js"></script>
<script async>getLines()</script>
<% if (permissions.issuer) { %>
	<script src="/js/stores/loancards/show/edit.js"></script>
	<script src="/js/utils/list/stocks.js"></script>
	<script src="/js/utils/list/serials.js"></script>
	<script src="/js/stores/loancard_lines/edit.js"></script>
<% } %>
<%- include(`${partials}/foot/components/htmlClose`) %>