<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores'>Stores</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/settings'>Settings</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/settings'>Genders</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/settings'><%= gender._gender %></a>
			</li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/genders/<%= gender.gender_id %>'>Edit</a>
            </li>
        </ul>
    </nav>
</section>
<section class='mb-2'>
	<nav class='navbar navbar-expand navbar-dark bg-dark stores'>
		<ul class='navbar-nav mr-auto'>
			<li class='nav-item dropdown'>
				<a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
					Options
				</a>
				<div class='dropdown-menu' aria-labelledby='navbarDropdown'>
					<% if (permissions.notes_add) { %>
						<a class='dropdown-item' href='/stores/notes/new?table=genders&id=<%= gender.gender_id %>'>Add Note</a>
						<div class='dropdown-divider'></div>
					<% } %>
				</div>
			</li>
		</ul>
	</nav>
</section>
<section class='container'>
	<div class='row'>
		<div class='col-12 col-md-3 mx-auto bordered'>
			<h4>Gender</h4>
			<form action='/stores/genders/<%= gender.gender_id %>?_method=PUT' method='POST'>
				<div class='mb-2'>
					<input class='form-control' type='text' name='gender[_gender]' maxlength='20' value='<%= gender._gender %>' required>
				</div>
				<input class='btn btn-success w-100 confirm' type='submit' value='Save'>
			</form>
		</div>
		<div class='col-12 col-md-9 mx-auto bordered'>
			<% include ../../partials/noteTable %>
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['system'],'/stores/genders/<%= gender.gender_id %>/edit');
    };
</script>
<% include ../../partials/foot/htmlClose %>
