<%- include(`${process.env.PARTIALS}/head/head`) %>
<body>
<%- include(`${process.env.PARTIALS}/head/flash`) %>
<section id='body'>
    <form id='noteForm'>
        <%- include(`${process.env.PARTIALS}/spinner`, {id: 'notes'}) %>
        <textarea class="form-control" id='_note' name="note[_note]" rows="19" maxlength="1000" required></textarea>
        <%- include(`${process.env.PARTIALS}/save_cancel`) %>
    </form>
<%- include(`${process.env.PARTIALS}/foot/noNav`) %>
<script src="/js/data/addFormListener.js"></script>
<script src="/js/data/send.js"></script>
<script src="/js/notes/showNote.js"></script>
<script src="/js/spinner.js"></script>
<script src="/js/get.js"></script>
<script src="/js/data/XHRsend.js"></script>
<script async>get(showNote, {table: 'notes', query: [`note_id=${path[3]}`]})</script>
<script>
    window.addEventListener( "load", function () {
        addFormListener(
            'noteForm',
            'PUT',
            `/stores/notes/${path[3]}`,
            {
                onComplete: window.opener.getNotes,
                _close: true
            }
        );
    });
</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>