<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
<section class="container">
    <form id='noteForm'>
        <textarea class="form-control" name="note[_note]" rows="19" maxlength="1000" required><%= note._note %></textarea>
        <input class=" btn btn-success w-100 confirm" type="submit" value="Save">
        <a class="float-left" href="javascript:close()">Cancel</a>
    </form>
</section>
<%- include('../../partials/foot/noNav') %>
<script>
    window.addEventListener( "load", function () {
        let form = document.querySelector("#noteForm");
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            sendData(form, 'PUT', "/stores/notes/<%= note.note_id %>");
        });
    });
</script>
<%- include('../../partials/foot/htmlClose') %>