<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>
                    Stores
                </a>
			</li>
			<li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>
                    Notes
                </a>
			</li>
			<li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/notes/<%= note.note_id %>'>
                    <%= note.note_id %>
                </a>
			</li>
			<li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/notes/<%= note.note_id %>'>
                    Edit
                </a>
			</li>
        </ul>
    </nav>
</section>
<section class='container'>
    <div class='row'>
        <div class='col-12 col-lg-6 bordered mx-auto'>
            <div class='row mb-3'>
                <div class='col-12'>
                    <h3>Edit Note <%= note.note_id %> For Record:</h3>
                    <div class='row'>
                        <div class='col-6'>
                            <input class='form-control' type='text' value='<%= note._table %>' readonly>
                        </div>
                        <div class='col-6'>
                            <input class='form-control' type='text' value='<%= note._id %>' readonly>
                        </div>
                    </div>
                </div>
            </div>
            <form action='/stores/notes/<%= note.note_id %>?_method=PUT' method='POST'>
                <input type='hidden' name='_table' value='<%= note._table %>'>
                <input type='hidden' name='_id'    value='<%= note._id %>'>
                <div class='row'>
                    <div class='col-12'>
                        <textarea class='form-control' name='note[_note]' rows='10' maxlength='1000' required><%= note._note %></textarea>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-12'>
                        <input class='btn btn-success confirm' type='submit' value='Save'>
                        <a class='float-left' href='/stores/notes/<%= note.note_id %>'>Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>