<% include ../../partials/head/full %>
<section class="container page_title">
    <a href="/stores"><h2>Stores Management</h2></a>
    <h3>New Note For:</h3>
    <h4><%= link.table %></h4>
    <h5><%= link.id %></h5>
</section>
<section class="container p-5">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto">
            <form action="/stores/notes" method="POST" onsubmit="return confirm('Add note?');">
                <input type="hidden" name="note[_table]"  value="<%= link.table %>" readonly>
                <input type="hidden" name="note[_id]"     value="<%= link.id %>" readonly>
                <input type="hidden" name="note[_system]" value="0" readonly>
                <input type="hidden" name="note[_date]"   value="<%= Date.now() %>" readonly>
                <div class="form-group row">
                    <div class="col-12">
                        <textarea class="w-100" name="note[_note]" rows="10" maxlength="1000" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <button class="btn btn-primary btn-lg col-12" type="submit" id="_submit">Save</button>
                </div>
                <div class="form-group row">
                    <a href="/stores/<%= link.table %>/<%= link.id %>">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>