<%- include(`${process.env.PARTIALS}/head/head`) %>
<body>
<%- include(`${process.env.PARTIALS}/head/flash`) %>
<section id='body'>
    <form id='noteForm'>
        <input type="hidden" name="note[_table]" value="<%= table %>">
        <input type="hidden" name="note[_id]"    value="<%= id %>">
        <textarea class="form-control" name="note[_note]" rows="19" maxlength="1000" required></textarea>
        <%- include(`${process.env.PARTIALS}/save_cancel`) %>
    </form>
<%- include(`${process.env.PARTIALS}/foot/noNav`) %>
<script src="/js/data/addFormListener.js"></script>
<script src="/js/data/send.js"></script>
<script>
    window.addEventListener( "load", function () {
        addFormListener(
            'noteForm',
            'POST',
            '/stores/notes',
            {
                onComplete: window.opener.getNotes,
                _close: true
            }
        );
    });
</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>