<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'><section class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto bordered">
            <form id='noteForm'>
                <input type="hidden" name="note[_table]" value="<%= table %>">
                <input type="hidden" name="note[_id]"    value="<%= id %>">
                <textarea class="form-control" name="note[_note]" rows="19" maxlength="1000" required></textarea>
                <input class=" btn btn-success confirm" type="submit" value="Save">
                <a class="float-left" href="javascript:close()">Cancel</a>
            </form>
        </div>
    </div>
</section>
<%- include('../../partials/foot/full') %>
<script>
    window.addEventListener( "load", function () {
        function sendData() {
            const XHR = new XMLHttpRequest();
            const FD = new FormData(form);
            XHR.addEventListener("load", function(event) {
                let response = JSON.parse(event.target.responseText);
                if (response.result) {
                    alert('Note added');
                    window.opener.location.reload();
                    close();
                } else {
                    alert('Note NOT added: ' + response.error);
                };
            });
            XHR.addEventListener("error", function(event) {
                alert('Something went wrong.');
            });
            XHR.open("POST", "/stores/notes");
            XHR.send(FD);
        };

        let form = document.querySelector("#noteForm");
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            sendData();
        });
    });
</script>
<%- include('../../partials/foot/htmlClose') %>