<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'><section class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto bordered">
            <form id='noteForm'>
                <textarea class="form-control" rows="19" maxlength="1000" readonly><%= note._note %></textarea>
                <% if (permissions.note_edit) { %>
                    <a class=" btn btn-warning w-100" href="/stores/notes/<%= note.note_id %>/edit">Edit</a>
                <% } %>
                <a class="float-left" href="javascript:close()">Close</a>
            </form>
        </div>
    </div>
</section>
<%- include('../../partials/foot/full') %>
<%- include('../../partials/foot/htmlClose') %>