<!-- USER SHOW PAGE -->
<% include ../../partials/head/full %>
<section class="container page_title">
    <a href="/stores"><h2>Stores Management</h2></a>
    <h3>Notes</h3>
</section> 
<nav class="navbar navbar-expand navbar-dark bg-dark stores">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Options
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="/stores/notes/<%= note.note_id %>/edit">Edit</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/stores/<%= note._table %>/<%= note._id %>">Back to <%= note._table %></a>
                <% if (permissions.notes_delete) { %>
                    <form action="/stores/notes/<%= note.note_id %>?_method=DELETE" method="POST">
                        <button class="dropdown-item dropdown_button">Delete Note</button>
                    </form>
                <% } %>
            </div>
		</li>
	</ul>
</nav>
<section class="container-fluid pt-3">
	<div class="row">
		<div class="col-6 mb-3 mx-auto bordered">
            <h4>Details</h4>
            <div class="row">
                <div class="col-sm-3">
                    <label class= col-form-label>User:</label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" value="<%= user.rank._rank %> <%= user._name %>, <%= user._ini %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class= col-form-label>Date:</label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" value="<%= note.createdAt.toDateString() %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class= col-form-label>For Table:</label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" value="<%= note._table %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class= col-form-label>Id:</label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" value="<%= note._id %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class= col-form-label>System note:</label>
                </div>
                <div class="col-sm-9">
                    <input class="form-control" type="text" value="<%= Boolean(note._system) %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class= col-form-label>Text:</label>
                </div>
                <div class="col-12">
                    <textarea class="w-100 form-control" rows="10" readonly><%= note._note %></textarea>
                </div>
            </div>
		</div>
    </div>
</section>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>