<% if (permissions.access_notes) { %>
    <div id='mdl_note_view' class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Note
                        <%- include(`${partials}/spinner`, {id: 'note_view'}) %>
                    </h5>
                    <span class='float-end'>
                        <% if (permissions.note_edit) { %>
                            <span id='note_edit_btn' class='float-end me-1'></span>
                        <% } %>
                        <% if (permissions.note_delete) { %>
                            <span id='note_delete_btn' class='float-end me-1'></span>
                        <% } %>
                    </span>
                </div>
                <div class="modal-body">
                    <%- include(`${partials}/inputs/display`,  {id: 'note_createdAt', title: 'Added'}) %>
                    <%- include(`${partials}/inputs/display`,  {id: 'note_user',      title: 'Added By', link: true}) %>
                    <%- include(`${partials}/inputs/display`,  {id: 'note_system',    title: 'System'}) %>
                    <%- include(`${partials}/inputs/textarea`, {id: 'note_note',      title: 'Note',     rows: 5}) %>
                </div>
                <div class="modal-footer">
                    <p class='me-auto'>ID: <span id='note_id_view'></span></p>
                </div>
            </div>
        </div>
    </div>
    <% if (permissions.note_add) { %>
        <div id='mdl_note_add' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_note_add'>
                    <div class="modal-header">
                        <h5 class="modal-title">Add Note</h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name='note[_table]' id='_table'>
                        <input type="hidden" name='note[id]'     id='id'>
                        <%- include(`${partials}/inputs/textarea`, {name: 'note[note]', id: 'note_add', title: 'Note', maxlength: 1000, rows: 5, required: true}) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100" value='Save Note'>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
    <% if (permissions.note_edit) { %>
        <div id='mdl_note_edit' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_note_edit'>
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Note
                            <%- include(`${partials}/spinner`, {id: 'note_edit'}) %>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id='note_id_edit' name='note_id'>
                        <%- include(`${partials}/inputs/textarea`, {name: 'note[note]', id: 'note_edit', title: 'Note', maxlength: 1000, rows: 5, required: true}) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100" value='Save Note'>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
<% } %>