<div id='mdl_user_add' class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form class="modal-content" id='form_user_add'>
            <%- include(`${partials}/modals/header`, {title: 'Add User to Site'}) %>
            <div class="modal-body">
                <%- include(`${partials}/inputs/text`,   {title: 'Service #',  name: 'user[service_number]', required: true, id: 'inp_service_number'}) %>
                <%- include(`${partials}/inputs/select`, {title: 'Rank',       name: 'user[rank_id]',   	 required: true, id: 'sel_ranks_add',  	 reload_id: 'reload_ranks_add'}) %>
                <%- include(`${partials}/inputs/text`,   {title: 'Surname',    name: 'user[surname]', 	   	 required: true, id: 'inp_surname'}) %>
                <%- include(`${partials}/inputs/text`,   {title: 'First Name', name: 'user[first_name]', 	 required: true, id: 'inp_first_name'}) %>
                <%- include(`${partials}/inputs/select`, {title: 'Status',     name: 'user[status_id]', 	 required: true, id: 'sel_statuses_add', reload_id: 'reload_statuses_add'}) %>
                <%- include(`${partials}/inputs/text`,   {title: 'Login ID',   name: 'user[login_id]',  	 required: true, id: 'inp_login_id'}) %>
                <h4>Matched Users</h4>
                <p>
                    Based on the service number entered, the following matched users already exist.<br>
                    Click the "Add" button to add them to the current site
                </p>
                <form id="form_users_existing">
                    <table class="table table-sm table-hover">
                        <thead class="thead-dark" id="tbl_users_existing_head">
                            <th>Service #</th>
                            <th>Rank</th>
                            <th>Surname</th>
                            <th>First Name</th>
                            <th>Status</th>
                            <th>Login ID</th>
                            <th><i class="fas fa-plus"></i></th>
                        </thead>
                        <tbody id="tbl_users_existing"></tbody>
                    </table>
                    <%- include(`${partials}/limit`, {table: 'users_existing'}) %>
                </form>
            </div>
            <%- include(`${partials}/modals/footer`, {submit: {text: 'Save', disabled: true}}) %>
        </form>
    </div>
    <script src="/js/users/add.js"></script>
</div>