<%- include(`${process.env.PARTIALS}/head/head`) %>
<body>
<%- include(`${process.env.PARTIALS}/head/flash`) %>
<section id='body'>
	<form id='nsnForm'>
        <%- include(`${process.env.PARTIALS}/inputs/text`, {title: 'NSN', name: 'nsn[_nsn]', value: nsn._nsn, placeholder: 'Required', required: true, inputmode: 'numeric'}) %>
		<%- include(`${process.env.PARTIALS}/inputs/select_yes_no`, {title: 'Default?', name: 'default',   selected: 0}) %>
		<%- include(`${process.env.PARTIALS}/save_cancel`) %>
	</form>
	<%- include(`${process.env.PARTIALS}/foot/noNav`) %>
<script>
    window.addEventListener( "load", () => {
		addFormListener(
			'nsnForm',
			'PUT',
			`/stores/nsns/${path[3]}`,
			{_close: true}
		);
    });
</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>
