<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores'>
					Stores
				</a>
            </li>
            <li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/items'>
					Items
				</a>
            </li>
            <li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/items/<%= nsn.size.item_id %>'>
					<%= nsn.size.item._description %>
				</a>
            </li>
            <li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/sizes/<%= nsn.size_id %>'>
					Size: <%= nsn.size._size %>
				</a>
            </li>
            <li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/nsns/<%= nsn.nsn_id %>'>
					NSN: <%= nsn._nsn %>
				</a>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
	<div class='row'>
		<div class='col-12 col-md-4 mx-auto bordered'>
			<h4>NSN</h4>
			<form action='/stores/nsns/<%= nsn.nsn_id %>?_method=PUT' method='POST''>
				<input type='hidden' name='nsn[nsn_id]' value='<%= nsn.nsn_id %>' readonly>
				<input type='hidden' name='size_id' value='<%= nsn.size_id %>' readonly>
				<input type='hidden' name='currentDefault' value='<%= nsn.size.nsn_id %>' readonly>

				<div class='row'>
                    <div class='col-12'>
                        <input class='form-control' type='text' inputmode='numeric' name='nsn[_nsn]' maxlength='20' value='<%= nsn._nsn %>' placeholder='NSN' required>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-4'>
                        <label class='col-form-label'>Make Default:</label>
                    </div>
                    <div class='col-8'>
                        <input class='form-control' type='checkbox' name='default' value='1' <% if (Number(nsn.size.nsn_id) === Number(nsn.nsn_id)) { %> checked <% } %>>
                    </div>
                </div>
				<input class='btn btn-success confirm w-100' type='submit' value='Save'>
			</form>
		</div>
		<div class='col-12 col-md-8 mx-auto bordered'>
			<% if (permissions.note_add) { %>
				<a class='float-left btn btn-success' href='javascript:addNote("nsns","<%= nsn.nsn_id %>")'>
					<i class='fas fa-plus'></i>
				</a>
			<% } %>
			<% include ../../partials/noteTable %>
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['system'],'/stores/nsns/<%= nsn.nsn_id %>/edit');
    };
</script>
<% include ../../partials/foot/htmlClose %>
