<%- include(`${partials}/head/head`) %>
<body>
<%- include(`${partials}/head/flash`) %>
<section id='body'>
	<form id='nsnForm'>
		<%- include(`${partials}/spinner`, {id: 'nsns'}) %>
        <%- include(`${partials}/inputs/text`, {id: '_nsn', title: 'NSN', name: 'nsn[_nsn]', placeholder: 'Required', required: true, inputmode: 'numeric'}) %>
		<%- include(`${partials}/save_cancel`) %>
	</form>
<%- include(`${partials}/foot/noNav`) %>
<script src="/js/stores/nsns/edit/nsn.js"></script>
<script src='/js/data/addFormListener.js'></script>
<script src='/js/data/send.js'></script>
<script src="/js/data/XHRsend.js"></script>
<script src="/js/spinner.js"></script>
<script src="/js/get.js"></script>
<script async>get(showNSN, {table: 'nsns', query: [`nsn_id=${path[3]}`]})</script>
<script>
    window.addEventListener( "load", () => {
		addFormListener(
			'nsnForm',
			'PUT',
			`/stores/nsns/${path[3]}`,
			{
				onComplete: window.opener.getNSN,
				_close: true
			}
		);
    });
</script>
<%- include(`${partials}/foot/htmlClose`) %>
