<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/items">Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/items/<%= nsn.item_size.item_id %>"><%= nsn.item_size.item._description %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/item_sizes/<%= nsn.itemsize_id %>">Size: <%= nsn.item_size._size %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/nsns/<%= nsn.nsn_id %>">NSN: <%= nsn._nsn %></a>
            </li>
        </ul>
    </nav>
</section>
<nav class="navbar navbar-expand navbar-dark bg-dark stores">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Options
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<% if (permissions.notes_add) { %>
					<a class="dropdown-item" href="/stores/notes/new?table=nsns&id=<%= nsn.nsn_id %>">Add Note</a>
					<div class="dropdown-divider"></div>
				<% } %>
				<a class="dropdown-item" href="/stores/items_sizes/<%= nsn.itemsize_id %>">Back to <%= nsn.item_size.item._description %>/Size: <%= nsn.item_size._size %></a>
			</div>
		</li>
	</ul>
</nav>
<section class="container pt-3">
	<div class="row">
		<div class="col-12 col-md-3 mx-auto bordered">
			<h4>NSN</h4>
			<form action="/stores/nsns/<%= nsn.nsn_id %>?_method=PUT" method="POST" onsubmit="return confirm('Edit NSN?');">
				<input type="hidden" name="nsn[nsn_id]" value="<%= nsn.nsn_id %>" readonly>
				<input type="hidden" name="itemsize_id" value="<%= nsn.itemsize_id %>" readonly>
				<input type="hidden" name="currentDefault" value="<%= nsn.item_size.nsn_id %>" readonly>
				<input class="form-control" type="text" name="nsn[_nsn]" maxlength="20" value="<%= nsn._nsn %>" required>
				Default:<input class="form-control" name="default" type="checkbox" value="1" <% if (Number(nsn.item_size.nsn_id) === Number(nsn.nsn_id)) { %> checked <% } %>>
				<button class="btn btn-success">Save</button>
			</form>
		</div>
		<div class="col-12 col-md-9 mx-auto bordered">
			<% include ../../partials/noteTable %>
		</div>
	</div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['system'],"/stores/nsns/<%= nsn.nsn_id %>/edit");
    };
</script>
<% include ../../partials/foot/htmlClose %>
