<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
	<form id='nsnForm'>
		<input type='hidden' name='size_id'	value='<%= nsn.size_id %>' readonly>
        <%- include('../../partials/inputs/text', {title: 'NSN', name: 'nsn[_nsn]', value: nsn._nsn, placeholder: 'Required', required: true, inputmode: 'numeric'}) %>
		<div class="input-group mb-1">
			<div class="input-group-prepend w-30">
				<span class="input-group-text w-100">Default?</span>
			</div>
			<select class='form-control' name="default">
				<option value="0"<% if (Number(nsn.size.nsn_id) !== Number(nsn.nsn_id)) { %> selected<% } %>>No</option>
				<option value="1"<% if (Number(nsn.size.nsn_id) === Number(nsn.nsn_id)) { %> selected<% } %>>Yes</option>
			</select>
		</div>
		<% include ../../partials/save_cancel %>
	</form>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", () => {
		addFormListener(
			'nsnForm',
			'PUT',
			'/stores/nsns/<%= nsn.nsn_id %>'
		);
    });
</script>
<% include ../../partials/foot/htmlClose %>
