<%- include(`${partials}/head/head`) %>
<body>
<%- include(`${partials}/head/flash`) %>
<section id='body'>
    <form id='nsnForm'>
        <input type='hidden' name='nsn[size_id]' value='<%= size.size_id %>'>
        <%- include(`${partials}/inputs/text`,          {title: 'NSN',      name: 'nsn[_nsn]', placeholder: 'Required', required: true, inputmode: 'numeric'}) %>
        <%- include(`${partials}/inputs/select_yes_no`, {title: 'Default?', name: 'default',   selected: 0}) %>
        <%- include(`${partials}/save_cancel`) %>
    </form>
<%- include(`${partials}/foot/noNav`) %>
<script src="/js/data/addFormListener.js"></script>
<script src="/js/data/send.js"></script>
<script>
    window.addEventListener( "load", () => {
        addFormListener(
            'nsnForm',
            'POST',
            '/stores/nsns',
            {
                onComplete: window.opener.getNSNs,
                _close: true
            }
        );
    });
</script>
<%- include(`${partials}/foot/htmlClose`) %>
