<%- include(`${process.env.PARTIALS}/head/head`) %>
<body>
<%- include(`${process.env.PARTIALS}/head/flash`) %>
<section id='body'>
	<ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.size_edit) { %>
                    <%- include(`${process.env.PARTIALS}/edit`) %>
                <% } %>
                <div class="dropdown-divider"></div>
                <%- include(`${process.env.PARTIALS}/notes/menu_add`) %>
                <% if (permissions.nsn_delete) { %>
                    <%- include(`${process.env.PARTIALS}/delete`, {close: true, onComplete: 'getNSNs'}) %>
                <% } %>
            </div>
        </li>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'details', title: 'Details'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'notes',   title: 'Notes', count_id: 'note_count', permission: 'access_notes'}) %>
        <%- include(`${process.env.PARTIALS}/reload`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${process.env.PARTIALS}/spinner`, {id: 'nsns'}) %>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">NSN</span>
                </div>
                <p class="form-control" id='group'></p>
                <p class="form-control" id='classification'></p>
                <p class="form-control">-</p>
                <p class="form-control" id='country'></p>
                <p class="form-control">-</p>
                <p class="form-control w-25" id='_item_number'></p>
            </div>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_group',          title: 'Group'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_classification', title: 'Classification'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_country',        title: 'Country'}) %>
		</div>
        <%- include(`${process.env.PARTIALS}/notes/tab_body`) %>
    </div>
<%- include(`${process.env.PARTIALS}/foot/noNav`) %>
<!-- get/spinner/XHRsend/send from notes include -->
<script src="/js/data/addFormListener.js"></script>
<script src="/js/nsns/show/showNSN.js"></script>
<script src='/js/tabs.js'></script>
<script src='/js/edit.js'></script>
<script src='/js/add.js'></script>
<script>showTab('<%= tab %>');</script>
<script>
    getNSN = () => {
        get(showNSN, {table: 'nsns', query: [`nsn_id=${path[3]}`]});
        window.opener.getNSNs();
    };
    document.querySelector('#reload').addEventListener('click', () => getNSN());
</script>
<script async>getNSN()</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>
