<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">
                    Stores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers">
                    Suppliers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers/<%= supplier.supplier_id %>">
                    <%= supplier._name %>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers/<%= supplier.supplier_id %>/edit">
                    Edit
                </a>
            </li>
        </ul>
    </nav>
</section>
<section class="row">
    <div class="col-md-9 col-xl-6 container bordered">
        <form action="/stores/suppliers/<%= supplier.supplier_id %>?_method=PUT" method="POST">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="col-form-label" for="_name">Supplier Name:</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" id="_name" name="supplier[_name]" type="text" value="<%= supplier._name %>" maxlength="20" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="col-form-label" for="_address1">Address:</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" id="_address1" name="supplier[_address1]" type="text" value="<%= supplier._address1 %>" maxlength="45" required>
                        <input class="form-control" name="supplier[_address2]" type="text" value="<%= supplier._address2 %>" maxlength="45">
                        <input class="form-control" name="supplier[_address3]" type="text" value="<%= supplier._address3 %>" maxlength="45">
                        <input class="form-control" name="supplier[_address4]" type="text" value="<%= supplier._address4 %>" maxlength="45">
                        <input class="form-control" name="supplier[_address5]" type="text" value="<%= supplier._address5 %>" maxlength="45">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="col-form-label" for="_telephone">Telephone:</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" id="_telephone" name="supplier[_telephone]" type="text" value="<%= supplier._telephone %>" maxlength="20">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="col-form-label" for="_email">Email:</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" id="_email" name="supplier[_email]" type="text" value="<%= supplier._email %>" maxlength="255">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="col-form-label" for="_stores">Account/Inventory:</label>
                    </div>
                    <div class="col-10 col-sm-8">
                        <select class='form-control' name="supplier[account_id]" required>
                            <% accounts.forEach(account => { %>
                                <option value="<%= account.account_id %>" <% if (Number(account.account_id) === Number(supplier.account_id)) { %> selected <% } %>><%= account._number %>: <%= account._name %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="col-2 col-sm-1">
                        <a class='float-right btn btn-success' href="/stores/accounts/new?supplier_id=<%= supplier.supplier_id %>"><i class='fas fa-plus'></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="col-form-label" for="_stores">RAF Stores?:</label>
                    </div>
                    <div class="col-sm-7">
                        <input class="form-control" id="_stores" name="supplier[_stores]" value="1" type="checkbox"<% if (supplier._stores) { %> checked <% } %>>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label class="col-form-label" for="_stores">Create Demand File?:</label>
                    </div>
                    <div class="col-sm-7">
                        <input class="form-control" id="_stores" name="supplier[_raise_demand]" value="1" type="checkbox"<% if (supplier._raise_demand) { %> checked <% } %>>
                    </div>
                </div>
                <input class="btn btn-success w-100 confirm" type="submit" value='Save'>
                <a class='float-left' href="/stores/suppliers">Cancel</a>
            </div>
        </form>
    </div>
</section>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>