<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
    <form id='supplierForm'>
        <%- include('../../partials/inputs/text',          {title: 'Supplier Name', name: 'supplier[_name]',      maxLength: 20,  placeholder: 'Required', required: true}) %>
        <%- include('../../partials/inputs/text',          {title: 'Address',       name: 'supplier[_address1]',  maxLength: 45,  placeholder: 'Required', required: true}) %>
        <%- include('../../partials/inputs/text',          {title: '',              name: 'supplier[_address2]',  maxLength: 45}) %>
        <%- include('../../partials/inputs/text',          {title: '',              name: 'supplier[_address3]',  maxLength: 45}) %>
        <%- include('../../partials/inputs/text',          {title: '',              name: 'supplier[_address4]',  maxLength: 45}) %>
        <%- include('../../partials/inputs/text',          {title: '',              name: 'supplier[_address5]',  maxLength: 45}) %>
        <%- include('../../partials/inputs/text',          {title: 'Telephone',     name: 'supplier[_telephone]', maxLength: 20}) %>
        <%- include('../../partials/inputs/text',          {title: 'Email',         name: 'supplier[_email]',     maxLength: 255}) %>
        <%- include('../../partials/spinner',              {id: 'accounts'}) %>
        <%- include('../../partials/inputs/select',        {id: 'accountsSelect',   title: 'Account/Inventory',   name: 'supplier[account_id]', append: {a: {type: 'success', href: 'javascript:add("accounts")', text: '<i class="fas fa-plus"></i>'}}}) %>
        <%- include('../../partials/inputs/select_yes_no', {title: 'RAF Stores?',   name: 'supplier[_stores]',    selected: 0}) %>
        <% include ../../partials/save_cancel %>
    </form>
<% include ../../partials/foot/noNav %>
<script src="/js/spinner.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script src="/js/data/send.js"></script>
<script src="/js/data/XHRsend.js"></script>
<script src="/js/get.js"></script>
<script src="/js/specific/listAccounts.js"></script>
<script async>get(listAccounts, {table: 'accounts', query: []})</script>
<script>
    window.addEventListener( "load", () => {
        addFormListener(
            'supplierForm',
            'POST',
            '/stores/suppliers',
            {
                onComplete: window.opener.get,
                args: [window.opener.asCards, {table: 'suppliers', query: []}],
                _close: true
            }
        );
    });
</script>
<% include ../../partials/foot/htmlClose %>