<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers">Suppliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers/<%= supplier.supplier_id %>"><%= supplier._name %></a>
            </li>
        </ul>
    </nav>
</section>
<section>
    <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if (permissions.suppliers_edit) { %>
                        <a class="dropdown-item" href="/stores/suppliers/<%= supplier.supplier_id %>/edit">Edit</a>
                        <form action="/stores/suppliers/<%= supplier.supplier_id %>/default?_method=PUT" method="POST" onsubmit="return confirm('Make supplier the default?');">
                            <button class="dropdown-item dropdown_button">Make Default</button>
                        </form>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <% if (permissions.receipts_add) { %>
                        <a class="dropdown-item" href="/stores/receipts/new?s=<%= supplier.supplier_id %>">Receive</a>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <% if (permissions.notes_add) { %>
                        <a class="dropdown-item" href="/stores/notes/new?table=suppliers&id=<%= supplier.supplier_id %>">Add Note</a>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <% if (permissions.suppliers_delete === 1) { %>
                        <form action="/stores/suppliers/<%= supplier.supplier_id %>?_method=DELETE" method="POST" onsubmit="return confirm('Confirm delete supplier?');">
                            <button class="dropdown-item dropdown_button">Delete Supplier</button>
                        </form>
                    <% } %>
                    <a class="dropdown-item" href="/stores/suppliers">Back to Suppliers</a>
                </div>
            </li>
        </ul>
    </nav>
</section>
<section class="container">
	<div class="row">
		<div class="col-12 col-lg-5 bordered">
            <h4>Details</h4>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-form-label">Supplier Name:</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control form-control-sm" type="text" value="<%= supplier._name %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-form-label">Address:</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control form-control-sm" type="text" value="<%= supplier._address1 %>" readonly>
                    <input class="form-control form-control-sm" type="text" value="<%= supplier._address2 %>" readonly>
                    <input class="form-control form-control-sm" type="text" value="<%= supplier._address3 %>" readonly>
                    <input class="form-control form-control-sm" type="text" value="<%= supplier._address4 %>" readonly>
                    <input class="form-control form-control-sm" type="text" value="<%= supplier._address5 %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-form-label">Tel:</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control form-control-sm" type="text" value="<%= supplier._telephone %>" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-form-label">Email:</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control form-control-sm" type="text" value="<%= supplier._email %>" readonly>
                </div>
            </div>
            <% if (supplier.inventory) { %>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-form-label"><a class="a-label" href="/stores/inventories/<%= supplier.inventory_id %>/edit">Inventory:</a></label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control form-control-sm" type="text" value="<%= supplier.inventory._code %>" readonly>
                </div>
            </div>
            <% } %>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-form-label">RAF Stores?:</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control form-control-sm" type="checkbox" id="_stores" value="1"<% if (supplier._stores) { %> checked<% } %> disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label class="col-form-label" for="_stores">Create Demand File?:</label>
                </div>
                <div class="col-sm-8">
                    <input class="form-control form-control-sm" id="_stores" name="supplier[_raise_demand]" value="1" type="checkbox"<% if (supplier._raise_demand) { %> checked <% } %> disabled>
                </div>
            </div>
            <div class="row mb-1">
                <% if (supplier.file) { %>
                    <div class="col-sm-4">
                        <label class="col-form-label"><a class="a-label" href="/stores/files/<%= supplier.file_id %>/edit">Demand File:</a></label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control form-control-sm" type="text" value="<%= supplier.file._path %>" readonly>
                    </div>
                <% }; %>
                <% if (permissions.files_add) { %>
                    <div class="col-12">
                        <form ref="uploadForm" id="uploadForm" action="/stores/files?s=<%= supplier.supplier_id %>" method="POST" encType="multipart/form-data" onsubmit="return confirm('Confirm upload file?');">
                            <input class="mb-1" type="file" name="demandfile">
                            <input class="btn btn-primary" type="submit" value="Upload Demand Spreadsheet">
                        </form>
                    </div>
                <% }; %>
            </div>
        </div>
        <div class="col-12 col-lg-7 bordered">
            <h4>Items From This Supplier</h4>
            <select id="itemsize_id" class="form-control form-control-sm" size="24" ondblclick=goToItemSize()>
                <% if (supplier.item_sizes) { %>
                    <% supplier.item_sizes.forEach(item_size => { %>
                        <option value="<%= item_size.itemsize_id %>"><%= item_size.item._description %>, size: <%= item_size._size %></option>
                    <% }); %>
                <% }; %>
            </select>
        </div>
        <div class="col-12 bordered">
            <% include ../../partials/noteTable %>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['system'],"/stores/suppliers/<%= supplier.supplier_id %>");
    };
    function goToItemSize() {
        var item_size = document.querySelector('#itemsize_id');
        if (item_size) window.location = '/stores/item_sizes/' + item_size.value;
    };
</script>
<% include ../../partials/foot/htmlClose %>
