<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers">Suppliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers/<%= supplier.supplier_id %>"><%= supplier._name %></a>
            </li>
        </ul>
    </nav>
</section>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="items-tab" data-toggle="tab" href="#items" role="tab" aria-controls="items" aria-selected="true">
                Items (<span id='item_count'></span>)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="demands-tab" data-toggle="tab" href="#demands" role="tab" aria-controls="demands" aria-selected="true">
                Demands (<span id='demand_count'></span>)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="receipts-tab" data-toggle="tab" href="#receipts" role="tab" aria-controls="receipts" aria-selected="true">
                Receipts (<span id='receipt_count'></span>)
            </a>
        </li>
        <% if (permissions.access_notes) { %>
            <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
                    Notes (<span id='note_count'></span>)
                </a>
            </li>
        <% } %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
                <% if (permissions.supplier_edit) { %>
                    <a class="float-right btn btn-primary m-1" href='javascript:edit("suppliers",<%= supplier.supplier_id %>,{"height":555})'>
                        <i class='fas fa-pencil-alt'></i>
                    </a>
                    <% if (_default != supplier.supplier_id) { %>
                        <form action="/stores/suppliers/<%= supplier.supplier_id %>/default?_method=PUT" method="POST">
                            <button class="float-right btn btn-warning m-1 confirm">
                                <i class='fas fa-check'></i>
                            </button>
                        </form>
                    <% } %>
                <% } %>
                <% if (permissions.supplier_delete === 1) { %>
                    <form action="/stores/suppliers/<%= supplier.supplier_id %>?_method=DELETE" method="POST">
                        <button class="float-right btn btn-danger m-1 confirm">
                            <i class='fas fa-trash-alt'></i>
                        </button>
                    </form>
                <% } %>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">Supplier Name</span>
                    </div>
                    <p class="form-control"><%= supplier._name %></p>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">Address</span>
                    </div>
                    <p class="form-control"><%= supplier._address1 %></p>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100"></span>
                    </div>
                    <p class="form-control"><%= supplier._address2 %></p>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100"></span>
                    </div>
                    <p class="form-control"><%= supplier._address3 %></p>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100"></span>
                    </div>
                    <p class="form-control"><%= supplier._address4 %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100"></span>
                    </div>
                    <p class="form-control"><%= supplier._address5 %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">Telephone</span>
                    </div>
                    <p class="form-control"><%= supplier._telephone %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">Email</span>
                    </div>
                    <p class="form-control"><%= supplier._email %></p>
                </div>
                <% if (supplier.account) { %>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend w-35">
                            <span class="input-group-text w-100">Account</span>
                        </div>
                        <p class="form-control"><%= supplier.account._number %></p>
                        <div class="input-group-append">
                            <a class="btn btn-primary" href='javascript:show("accounts",<%= supplier.account_id %>,{"height":400})'>
                                <i class='fas fa-search'></i>
                            </a>
                        </div>
                    </div>
                <% } %>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">RAF Stores</span>
                    </div>
                    <p class="form-control"><% if (supplier._stores) { %>Yes<% } else { %>No<% } %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">Create Demand File</span>
                    </div>
                    <p class="form-control"><% if (supplier._raise_demand) { %>Yes<% } else { %>No<% } %></p>
                </div>
                <% if (supplier.file) { %>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend w-35">
                            <span class="input-group-text w-100">Demand File</span>
                        </div>
                        <p class="form-control"><%= supplier.file._path %></p>
                        <div class="input-group-append">
                            <a class="btn btn-primary" href='javascript:edit("files",<%= supplier.file_id %>,{"height":708})'>
                                <i class='fas fa-pencil-alt'></i>
                            </a>
                        </div>
                        <div class="input-group-append">
                            <form id='fileDeleteForm'>
                                <button class='btn btn-danger confirm'>
                                    <i class='fas fa-trash-alt'></i>
                                </button>
                            </form>
                        </div>
                    </div>
                <% } else if (supplier._raise_demand && permissions.file_add) { %>
                    <form id="fileForm" encType="multipart/form-data">
                        <input type="hidden" name='supplier_id' value='<%= supplier.supplier_id %>'>
                        <div class="input-group">
                            <div class="custom-file w-25">
                                <input type="file" class="custom-file-input" name="demandfile" id="file_upload">
                                <label class="custom-file-label" for="file_upload">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-success confirm">
                                    <i class='fas fa-file-upload'></i>
                                </button>
                            </div>
                        </div>
                    </form>
                <% }; %>
            </div>
        </div>
        <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
            <div id='spn_items' class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="container">
                <select id="size_id" class="form-control" size="20" ondblclick=goToItemSize()>
                </select>
            </div>
        </div>
        <div class="tab-pane fade" id="demands" role="tabpanel" aria-labelledby="demands-tab">
            <div class="container">
                <div id='spn_demands' class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="row">
                    <% if (permissions.demand_add) { %>
                        <div class="col-1">
                            <form id='newDemandForm'>
                                <input type="hidden" name='supplier_id' value='<%= supplier.supplier_id %>'>
                                <button class="float-left btn btn-success confirm">
                                    <i class='fas fa-plus'></i>
                                </button>
                            </form>
                        </div>
                    <% } %>
                    <div class="col-<% if (permissions.note_add) { %>11<% } else { %>12<% } %>">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend w-20">
                                <label class="input-group-text w-100" for="sel_complete_demands">Completed Demands</label>
                            </div>
                            <select class="custom-select" id='sel_complete_demands' onchange=getDemands(<%= supplier.supplier_id %>)>
                                <option value='1' selected>Include</option>
                                <option value='2'>Exclude</option>
                                <option value='3'>Only</option>
                            </select>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend w-20">
                                <label class="input-group-text w-100" for="sel_closed">Closed Demands</label>
                            </div>
                            <select class="custom-select" id='sel_closed' onchange=getDemands(<%= supplier.supplier_id %>)>
                                <option value='1' selected>Include</option>
                                <option value='2'>Exclude</option>
                                <option value='3'>Only</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-35" onclick="sortTable(0, 'demandTable')">Date</th>
                        <th class="w-10" onclick="sortTable(1, 'demandTable')">Lines</th>
                        <th class="w-10" onclick="sortTable(2, 'demandTable')">Complete</th>
                        <th class="w-10" onclick="sortTable(3, 'demandTable')">Closed</th>
                        <th class="w-35" onclick="sortTable(4, 'demandTable')">User</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id="demandTable">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="receipts" role="tabpanel" aria-labelledby="receipts-tab">
            <div class="container">
                <div id='spn_receipts' class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="row">
                    <% if (permissions.receipt_add) { %>
                        <div class="col-1">
                            <a class="float-left btn btn-success" href="/stores/receipts/new?supplier_id=<%= supplier.supplier_id %>">
                                <i class='fas fa-plus'></i>
                            </a>
                        </div>
                    <% } %>
                    <div class="col-<% if (permissions.note_add) { %>11<% } else { %>12<% } %>">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend w-20">
                                <label class="input-group-text w-100" for="sel_complete_receipts">Completed Receipts</label>
                            </div>
                            <select class="custom-select" id='sel_complete_receipts' onchange=getReceipts(<%= supplier.supplier_id %>)>
                                <option value='1' selected>Include</option>
                                <option value='2'>Exclude</option>
                                <option value='3'>Only</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table class="table table-sm table-hover smallFont07 limit-height-200 w-100">
                    <thead class="thead-dark">
                        <th class="w-40" onclick="sortTable(0, 'receiptTable')">Date</th>
                        <th class="w-10" onclick="sortTable(1, 'receiptTable')">Lines</th>
                        <th class="w-10" onclick="sortTable(2, 'receiptTable')">Complete</th>
                        <th class="w-40" onclick="sortTable(3, 'receiptTable')">User</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id="receiptTable">
                    </tbody>
                </table>
            </div>
        </div>
        <% if (permissions.access_notes) { %>
            <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                <div class="container">
                    <% include ../../partials/noteTable %>
                </div>
            </div>
        <% } %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/specific/suppliers_show.js"></script>
<script>
    window.addEventListener( "load", function () {
        let newDemandForm = document.querySelector("#newDemandForm");
        newDemandForm.addEventListener("submit", function (event) {
            event.preventDefault();
            sendData(newDemandForm, 'POST', '/stores/demands', {reload: true});
        });
        <% if (supplier.file) { %>
            let deleteFileForm = document.querySelector("#fileDeleteForm");
            deleteFileForm.addEventListener("submit", function (event) {
                event.preventDefault();
                sendData(deleteFileForm, 'DELETE', '/stores/files/<%= supplier.file_id %>', {reload: true});
            });
        <% } else if (supplier._raise_demand && permissions.file_add) { %>
            let uploadForm = document.querySelector("#fileForm");
            uploadForm.addEventListener("submit", function (event) {
                event.preventDefault();
                sendData(uploadForm, 'POST', '/stores/files', {reload: true});
            });
        <% } %>
    });
    showTab('<%= show_tab %>');
</script>
<script async>getItems(<%= supplier.supplier_id %>)</script>
<script async>getDemands(<%= supplier.supplier_id %>)</script>
<script async>getReceipts(<%= supplier.supplier_id %>)</script>
<% include ../../partials/foot/htmlClose %>
