<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers">Suppliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers/<%= supplier.supplier_id %>"><%= supplier._name %></a>
            </li>
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle stores_nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if (permissions.supplier_edit) { %>
                        <a class="dropdown-item" href='javascript:edit("suppliers",<%= supplier.supplier_id %>,{"height":555})'>
                            Edit
                        </a>
                        <% if (_default != supplier.supplier_id) { %>
                            <form id='defaultForm'>
                                <button class="dropdown-item dropdown_button confirm">
                                    Make Default
                                </button>
                            </form>
                        <% } %>
                    <% } %>
                    <% include ../../partials/notes/menu_add %>
                    <% if (permissions.supplier_delete) { %>
                        <form id='deleteForm'>
                            <button class="dropdown-item dropdown_button confirm">
                            Delete
                            </button>
                        </form>
                    <% } %>
                    <% if (permissions.demand_add) { %>
                        <form id='newDemandForm'>
                            <input type="hidden" name='supplier_id' value='<%= supplier.supplier_id %>'>
                            <button class="dropdown-item dropdown_button confirm">
                                New Demand
                            </button>
                        </form>
                    <% } %>
                    <% if (permissions.receipt_add) { %>
                        <form id='newReceiptForm'>
                            <input type="hidden" name='supplier_id' value='<%= supplier.supplier_id %>'>
                            <button class="dropdown-item dropdown_button confirm">
                                New Receipt
                            </button>
                        </form>
                    <% } %>
                </div>
            </li>
        </ul>
    </nav>
</section>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="items-tab" data-toggle="tab" href="#items" role="tab" aria-controls="items" aria-selected="true">
                Items (<span id='item_count'></span>)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="demands-tab" data-toggle="tab" href="#demands" role="tab" aria-controls="demands" aria-selected="true">
                Demands (<span id='demand_count'></span>)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="receipts-tab" data-toggle="tab" href="#receipts" role="tab" aria-controls="receipts" aria-selected="true">
                Receipts (<span id='receipt_count'></span>)
            </a>
        </li>
        <% include ../../partials/notes/tab_head %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">Supplier Name</span>
                    </div>
                    <p class="form-control"><%= supplier._name %></p>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">Address</span>
                    </div>
                    <p class="form-control"><%= supplier._address1 %></p>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100"></span>
                    </div>
                    <p class="form-control"><%= supplier._address2 %></p>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100"></span>
                    </div>
                    <p class="form-control"><%= supplier._address3 %></p>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100"></span>
                    </div>
                    <p class="form-control"><%= supplier._address4 %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100"></span>
                    </div>
                    <p class="form-control"><%= supplier._address5 %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">Telephone</span>
                    </div>
                    <p class="form-control"><%= supplier._telephone %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">Email</span>
                    </div>
                    <p class="form-control"><%= supplier._email %></p>
                </div>
                <% if (supplier.account) { %>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend w-35">
                            <span class="input-group-text w-100">Account</span>
                        </div>
                        <p class="form-control"><%= supplier.account._number %></p>
                        <div class="input-group-append">
                            <a class="btn btn-primary" href='javascript:show("accounts",<%= supplier.account_id %>,{"height":300})'>
                                <i class='fas fa-search'></i>
                            </a>
                        </div>
                    </div>
                <% } %>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">RAF Stores</span>
                    </div>
                    <p class="form-control"><% if (supplier._stores) { %>Yes<% } else { %>No<% } %></p>
                </div>
                <% if (supplier.file) { %>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend w-35">
                            <span class="input-group-text w-100">Demand File</span>
                        </div>
                        <p class="form-control"><%= supplier.file._path %></p>
                        <div class="input-group-append">
                            <a class="btn btn-primary" href='javascript:edit("files",<%= supplier.file_id %>,{"height":708})'>
                                <i class='fas fa-pencil-alt'></i>
                            </a>
                        </div>
                        <div class="input-group-append">
                            <form id='fileDeleteForm'>
                                <button class='btn btn-danger confirm'>
                                    <i class='fas fa-trash-alt'></i>
                                </button>
                            </form>
                        </div>
                    </div>
                <% } else if (supplier._raise_demand && permissions.file_add) { %>
                    <form id="fileForm" encType="multipart/form-data">
                        <input type="hidden" name='supplier_id' value='<%= supplier.supplier_id %>'>
                        <div class="input-group">
                            <div class="custom-file w-25">
                                <input type="file" class="custom-file-input" name="demandfile" id="file_upload">
                                <label class="custom-file-label" for="file_upload">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-success confirm">
                                    <i class='fas fa-file-upload'></i>
                                </button>
                            </div>
                        </div>
                    </form>
                <% }; %>
            </div>
        </div>
        <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
            <div class="container">
                <div id='spn_items' class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-50" onclick="sortTable(0, 'sizeTable')">Item</th>
                        <th class="w-50" onclick="sortTable(1, 'sizeTable')">Size</th>
                    </thead>
                    <tbody id="sizeTable">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="demands" role="tabpanel" aria-labelledby="demands-tab">
            <div class="container">
                <div id='spn_demands' class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend w-20">
                                <label class="input-group-text w-100" for="sel_complete_demands">Completed Demands</label>
                            </div>
                            <select class="custom-select" id='sel_complete_demands' onchange=getDemands(<%= supplier.supplier_id %>)>
                                <option value='1' selected>Include</option>
                                <option value='2'>Exclude</option>
                                <option value='3'>Only</option>
                            </select>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend w-20">
                                <label class="input-group-text w-100" for="sel_closed">Closed Demands</label>
                            </div>
                            <select class="custom-select" id='sel_closed' onchange=getDemands(<%= supplier.supplier_id %>)>
                                <option value='1' selected>Include</option>
                                <option value='2'>Exclude</option>
                                <option value='3'>Only</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-35" onclick="sortTable(0, 'demandTable')">Date</th>
                        <th class="w-10" onclick="sortTable(1, 'demandTable')">Lines</th>
                        <th class="w-10" onclick="sortTable(2, 'demandTable')">Complete</th>
                        <th class="w-10" onclick="sortTable(3, 'demandTable')">Closed</th>
                        <th class="w-35" onclick="sortTable(4, 'demandTable')">User</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id="demandTable">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="receipts" role="tabpanel" aria-labelledby="receipts-tab">
            <div class="container">
                <div id='spn_receipts' class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend w-20">
                                <label class="input-group-text w-100" for="sel_complete_receipts">Completed Receipts</label>
                            </div>
                            <select class="custom-select" id='sel_complete_receipts' onchange=getReceipts(<%= supplier.supplier_id %>)>
                                <option value='1' selected>Include</option>
                                <option value='2'>Exclude</option>
                                <option value='3'>Only</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table class="table table-sm table-hover smallFont07 limit-height-200 w-100">
                    <thead class="thead-dark">
                        <th class="w-40" onclick="sortTable(0, 'receiptTable')">Date</th>
                        <th class="w-10" onclick="sortTable(1, 'receiptTable')">Lines</th>
                        <th class="w-10" onclick="sortTable(2, 'receiptTable')">Complete</th>
                        <th class="w-40" onclick="sortTable(3, 'receiptTable')">User</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id="receiptTable">
                    </tbody>
                </table>
            </div>
        </div>
        <% include ../../partials/notes/tab_body %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/specific/suppliers_show.js"></script>
<script>
    window.addEventListener( "load", function () {
        <% if (_default != supplier.supplier_id) { %>
            addFormListener('defaultForm', 'PUT', '/stores/suppliers/<%= supplier.supplier_id %>/default', {reload: true});
        <% } %>
        <% if (permissions.supplier_delete) { %>
            addFormListener('deleteForm', 'DELETE', '/stores/suppliers/<%= supplier.supplier_id %>', {redirect: '/stores/suppliers'});
        <% } %>
        <% if (permissions.demand_add) { %>
            addFormListener('newDemandForm', 'POST', '/stores/demands', {reload: true});
        <% } %>
        <% if (permissions.receipt_add) { %>
            addFormListener('newReceiptForm', 'POST', '/stores/receipts', {reload: true});
        <% } %>
        <% if (supplier.file) { %>
            addFormListener('fileDeleteForm', 'DELETE', '/stores/files/<%= supplier.file_id %>', {redirect: '/stores/suppliers'});
        <% } else if (supplier._raise_demand && permissions.file_add) { %>
            addFormListener('fileForm', 'POST', '/stores/files', {reload: true});
        <% } %>
    });
</script>
<script async>getItems(<%= supplier.supplier_id %>)</script>
<script async>getDemands(<%= supplier.supplier_id %>)</script>
<script async>getReceipts(<%= supplier.supplier_id %>)</script>
<% include ../../partials/foot/htmlClose %>
