<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',           text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/suppliers', text: 'Suppliers'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.supplier_edit) { %>
                    <%- include(`${partials}/menu/edit`) %>
                    <form id='form_set_default'>
                        <input class='supplier_id' type="hidden" name='setting[_name]' value='default_supplier'>
                        <input class='supplier_id' type="hidden" name='setting[_value]'>
                        <button id='default_button' class="dropdown-item confirm">
                            Make Default
                        </button>
                    </form>
                <% } %>
                <%- include(`${partials}/notes/menu_add`) %>
                <%- include(`${partials}/menu/delete`, {permission: 'supplier_delete', text: 'Delete'}) %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details',  title: 'Details', spinner: 'supplier'}) %>
        <%- include(`${partials}/tab_head`, {id: 'items',    title: 'Items',   spinner: 'sizes',   count_id: 'size',   permission: 'access_sizes'}) %>
        <%- include(`${partials}/tab_head`, {id: 'demands',  title: 'Demands', spinner: 'demands', count_id: 'demand', permission: 'access_demands'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',    title: 'Notes',   spinner: 'notes',   count_id: 'note',   permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/spinner`, {id: 'suppliers'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_name',      title: 'Name'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_address1',  title: 'Address'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_address2',  title: ''}) %>
            <%- include(`${partials}/inputs/display`, {id: '_address3',  title: ''}) %>
            <%- include(`${partials}/inputs/display`, {id: '_address4',  title: ''}) %>
            <%- include(`${partials}/inputs/display`, {id: '_address5',  title: ''}) %>
            <%- include(`${partials}/inputs/display`, {id: '_telephone', title: 'Telephone'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_email',     title: 'Email'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_account',   title: 'Account',     append: {a: {id: 'account_link', type: 'primary', text: '<i class="fas fa-search"></i>'}}}) %>
            <%- include(`${partials}/inputs/display`, {id: '_stores',    title: 'RAF Stores'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_default',   title: 'Default Supplier'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_file',      title: 'Demand File', append: {a: {id: 'file_link',    type: 'primary', text: '<i class="fas fa-search"></i>'}}}) %>
            <% if (permissions.file_add) { %>
                <form id="form_file_add" encType="multipart/form-data">
                    <input class='supplier_id' type="hidden" name='supplier_id'>
                    <div class="input-group">
                        <div class="custom-file">
                            <label class="custom-file-label" for="file_upload">Choose file</label>
                            <input type="file" class="custom-file-input" name="demandfile" id="file_upload">
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-success confirm">
                                <i class='fas fa-file-upload'></i>
                            </button>
                        </div>
                    </div>
                </form>
            <% }; %>
        </div>
        <% if (permissions.access_sizes) { %>
            <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
                <%- include(`${partials}/spinner`, {id: 'sizes'}) %>
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-50" onclick="sortTable(0, 'tbl_sizes')">Item</th>
                        <th class="w-50" onclick="sortTable(1, 'tbl_sizes')">Size</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id="tbl_sizes"></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_demands) { %>
            <div class="tab-pane fade" id="demands" role="tabpanel" aria-labelledby="demands-tab">
                <%- include(`${partials}/spinner`, {id: 'demands'}) %>
                <%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_demand_status', options: [{value: '', text: 'All', selected: true}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Draft'}, {value: '_status=2', text: 'Complete'}, {value: '_status=3', text: 'Closed'}]}) %>
	            <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-50" onclick="sortTable(0, 'tbl_demands')">Date</th>
                        <th class="w-10" onclick="sortTable(1, 'tbl_demands')">Lines</th>
                        <th class="w-40" onclick="sortTable(2, 'tbl_demands')">Status</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id="tbl_demands"></tbody>
                </table>
            </div>
        <% } %>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<!-- Get/spinner/send from notes include -->
<script src='/js/add.js'></script>
<script src='/js/show.js'></script>
<script src='/js/edit.js'></script>
<script src='/js/tabs.js'></script>
<script>showTab('<%= tab %>');</script>
<script src='/js/data/addFormListener.js'></script>
<script src='/js/stores/suppliers/show/getSupplier.js'></script>
<script src='/js/stores/suppliers/show/getDefault.js'></script>
<script async>getSupplier()</script>
<% if (permissions.access_sizes) { %>
    <script src="/js/stores/suppliers/show/getSizes.js"></script>
    <script async>getSizes()</script>
<% } %>
<% if (permissions.access_demands) { %>
    <script src="/js/stores/suppliers/show/getDemands.js"></script>
    <script async>getDemands()</script>
<% } %>
<% if (permissions.file_add) { %>
    <script src="/js/stores/suppliers/show/fileAdd.js"></script>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>
