<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',           text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/suppliers', text: 'Suppliers'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%- include(`${partials}/menu/button`, {id: 'supplier_edit', text: 'Edit', modal: 'supplier_edit'}) %>
                <% if (permissions.setting_edit) { %>
                    <form id='form_set_default'>
                        <input type="hidden" name='setting[_name]' value='default_supplier'>
                        <input class='supplier_id' type="hidden" name='setting[_value]'>
                        <%- include(`${partials}/menu/button`, {id: 'default', text: 'Make Default'}) %>
                    </form>
                <% } %>
				<%- include(`${partials}/menu/button`, {id: 'file_add',        text: 'Add File', modal: 'file_add'}) %>
				<%- include(`${partials}/menu/button`, {id: 'note_add',        text: 'Add Note', modal: 'note_add'}) %>
				<% if (permissions.supplier_delete) { %><form id='form_supplier_delete'><% } %>
				<%- include(`${partials}/menu/button`, {id: 'supplier_delete', text: 'Delete'}) %>
				<% if (permissions.supplier_delete) { %></form><% } %>
            </div>
        </li>
        <%- include(`${partials}/tab_head`, {id: 'details',  title: 'Details', spinner: 'supplier'}) %>
        <%- include(`${partials}/tab_head`, {id: 'files',    title: 'Files',   spinner: 'files',   count_id: 'file',   permission: 'access_files'}) %>
        <%- include(`${partials}/tab_head`, {id: 'items',    title: 'Items',   spinner: 'sizes',   count_id: 'size',   permission: 'access_sizes'}) %>
        <%- include(`${partials}/tab_head`, {id: 'demands',  title: 'Demands', spinner: 'demands', count_id: 'demand', permission: 'access_demands'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',    title: 'Notes',   spinner: 'notes',   count_id: 'note',   permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${partials}/spinner`, {id: 'suppliers'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_name',      title: 'Name'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_address1',  title: 'Address'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_address2',  title: ''}) %>
            <%- include(`${partials}/inputs/display`, {id: '_address3',  title: ''}) %>
            <%- include(`${partials}/inputs/display`, {id: '_address4',  title: ''}) %>
            <%- include(`${partials}/inputs/display`, {id: '_address5',  title: ''}) %>
            <%- include(`${partials}/inputs/display`, {id: '_telephone', title: 'Telephone'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_email',     title: 'Email'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_account',   title: 'Account', link: true, modal: 'account_view'}) %>
            <%- include(`${partials}/inputs/display`, {id: '_stores',    title: 'RAF Stores'}) %>
            <% if (permissions.access_settings) { %>
            <%- include(`${partials}/inputs/display`, {id: '_default',   title: 'Default Supplier'}) %>
            <% } %>
        </div>
        <% if (permissions.access_files) { %>
            <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-50" onclick="sortTable(0, 'tbl_files')">Path</th>
                        <th class="w-50" onclick="sortTable(1, 'tbl_files')">Description</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id="tbl_files"></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_sizes) { %>
            <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-50" onclick="sortTable(0, 'tbl_sizes')">Item</th>
                        <th class="w-50" onclick="sortTable(1, 'tbl_sizes')">Size</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id="tbl_sizes"></tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_demands) { %>
            <div class="tab-pane fade" id="demands" role="tabpanel" aria-labelledby="demands-tab">
                <%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_demand_status', options: [{value: '', text: 'All', selected: true}, {value: '_status=0', text: 'Cancelled'}, {value: '_status=1', text: 'Draft'}, {value: '_status=2', text: 'Complete'}, {value: '_status=3', text: 'Closed'}]}) %>
	            <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-50" onclick="sortTable(0, 'tbl_demands')">Date</th>
                        <th class="w-10" onclick="sortTable(1, 'tbl_demands')">Lines</th>
                        <th class="w-40" onclick="sortTable(2, 'tbl_demands')">Status</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id="tbl_demands"></tbody>
                </table>
            </div>
        <% } %>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <% if (permissions.supplier_edit) { %>
            <div id='mdl_supplier_edit' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_supplier_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Supplier</h5>
                            <%- include(`${partials}/spinner`, {id: 'supplier_edit'}) %>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/text`,   {id: '_name_edit',      title: 'Supplier Name', name: 'supplier[_name]',      maxLength: 20, required: true}) %>
                            <%- include(`${partials}/inputs/text`,   {id: '_address1_edit',  title: 'Address',       name: 'supplier[_address1]',  maxLength: 45}) %>
                            <%- include(`${partials}/inputs/text`,   {id: '_address2_edit',  title: '',              name: 'supplier[_address2]',  maxLength: 45}) %>
                            <%- include(`${partials}/inputs/text`,   {id: '_address3_edit',  title: '',              name: 'supplier[_address3]',  maxLength: 45}) %>
                            <%- include(`${partials}/inputs/text`,   {id: '_address4_edit',  title: '',              name: 'supplier[_address4]',  maxLength: 45}) %>
                            <%- include(`${partials}/inputs/text`,   {id: '_address5_edit',  title: '',              name: 'supplier[_address5]',  maxLength: 45}) %>
                            <%- include(`${partials}/inputs/text`,   {id: '_telephone_edit', title: 'Telephone',     name: 'supplier[_telephone]', maxLength: 20}) %>
                            <%- include(`${partials}/inputs/text`,   {id: '_email_edit',     title: 'Email',         name: 'supplier[_email]',     maxLength: 255}) %>
                            <%- include(`${partials}/inputs/select`, {id: 'sel_accounts',    title: 'Account',       name: 'supplier[account_id]', spinner: true, spinner_id: 'accounts', reload_id: 'reload_accounts'}) %>
                            <%- include(`${partials}/inputs/select`, {id: '_stores_edit',    title: 'RAF Stores?',   name: 'supplier[_stores]',    options: [{text: 'No', value: '0'}, {text: 'Yes', value: '1'}]}) %>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success w-100" value='Save Supplier'>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_accounts) { %>
            <div id='mdl_account_view' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Account: <span id="account_id_view"></span></h5>
                            <%- include(`${partials}/spinner`, {id: 'account_view'}) %>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/display`, {id:'_name_account_view',     title: 'Name'}) %>
                            <%- include(`${partials}/inputs/display`, {id:'_number_account_view',   title: 'Number'}) %>
                            <%- include(`${partials}/inputs/display`, {id:'user_account_view',      title: 'Owner', link: true}) %>
                            <%- include(`${partials}/inputs/display`, {id:'createdAt_account_view', title: 'Created'}) %>
                            <%- include(`${partials}/inputs/display`, {id:'updatedAt_account_view', title: 'Updated'}) %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_files) { %>
            <div id='mdl_file_view' class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">File: <span id="file_id_view"></span></h5>
                            <%- include(`${partials}/spinner`, {id: 'file_view'}) %>
                            <span class="float-right">
                                <form id="form_file_download" method='GET' class='float-right ml-1'>
                                    <button class='btn btn-primary'><i class="fas fa-file-download"></i></button>
                                </form>
                                <span id="span_file_edit_btn"   class='float-right ml-1'></span>
                                <span id="span_file_delete_btn" class='float-right ml-1'></span>
                            </span>
                        </div>
                        <div class="modal-body">
                            <%- include(`${partials}/inputs/display`, {id: '_filename',    title: 'Filename'}) %>
                            <%- include(`${partials}/inputs/display`, {id: '_description', title: 'Description'}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'user_file',    title: 'Added By'}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'createdAt',    title: 'Added'}) %>
                            <%- include(`${partials}/inputs/display`, {id: 'updatedAt',    title: 'Updated'}) %>
                            <% if (permissions.access_file_details) { %>
                                <h4>Details</h4>
                                <% if (permissions.file_detail_add) { %>
                                    <form id="form_file_detail_add">
                                        <input type="hidden" id='file_id_detail_add' name='detail[file_id]'>
                                        <%- include(`${partials}/inputs/text`, {id: '_name_file_detail_add',  title: 'Name',  name: 'detail[_name]',  maxLength: 45,  required: true}) %>
                                        <%- include(`${partials}/inputs/text`, {id: '_value_file_detail_add', title: 'Value', name: 'detail[_value]', maxLength: 255, required: true}) %>
                                        <button class="btn btn-success w-100 mb-1">Save</button>
                                    </form>
                                <% } %>
                                <table class="table table-sm table-hover">
                                    <thead class="thead-dark">
                                        <th class="w-50" onclick="sortTable(0, 'tbl_file_details')">Name</th>
                                        <th class="w-50" onclick="sortTable(1, 'tbl_file_details')">Value</th>
                                        <th><i class="fas fa-pencil-alt"></i></th>
                                        <th><i class="fas fa-trash-alt"></i></th>
                                    </thead>
                                    <tbody id="tbl_file_details"></tbody>
                                </table>
                            <% } %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <% if (permissions.file_add) { %>
                <div id='mdl_file_add' class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <form class="modal-content" id="form_file_add" encType="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title">Add File</h5>
                                <%- include(`${partials}/spinner`, {id: 'file_add'}) %>
                            </div>
                            <div class="modal-body">
                                <input class='supplier_id' type="hidden" name='file[supplier_id]'>
                                <%- include(`${partials}/inputs/text`, {id: '_description_add', title: 'Description', name: 'file[_description]', maxLength: 45, required: true}) %>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <label class="custom-file-label" for="file_upload">Choose file</label>
                                        <input type="file" class="custom-file-input" name="file" id="file_upload" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input  type="submit" class="btn btn-success w-100" value='Save File'>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            <% } %>
            <% if (permissions.file_edit) { %>
                <div id='mdl_file_edit' class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <form class="modal-content" id='form_file_edit'>
                            <div class="modal-header">
                                <h5 class="modal-title">Edit File</h5>
                                <%- include(`${partials}/spinner`, {id: 'file_edit'}) %>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id='file_id_edit' name='file_id'>
                                <%- include(`${partials}/inputs/text`, {id: '_description_edit', title: 'Description', name: 'file[_description]', maxLength: 45, required: true}) %>
                            </div>
                            <div class="modal-footer">
                                <input  type="submit" class="btn btn-success w-100" value='Save File'>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            <% } %>
            <% if (permissions.file_detail_edit) { %>
                <div id='mdl_file_detail_edit' class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <form class="modal-content" id='form_file_detail_edit'>
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Detail</h5>
                                <%- include(`${partials}/spinner`, {id: 'file_detail_edit'}) %>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id='file_detail_id_edit' name='file_detail_id'>
                                <%- include(`${partials}/inputs/text`, {id: '_name_detail_edit',  title: 'Name',  name: 'detail[_name]',  maxLength: 45,  required: true}) %>
                                <%- include(`${partials}/inputs/text`, {id: '_value_detail_edit', title: 'Value', name: 'detail[_value]', maxLength: 255, required: true}) %>
                            </div>
                            <div class="modal-footer">
                                <input type="submit"  class="btn btn-success w-100" value='Save File'>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src='/js/tabs.js'></script>
<script>showTab('<%= tab %>');</script>
<script src='/js/addFormListener.js'></script>

<script src='/js/stores/suppliers/show/view.js'></script>
<script async>getSupplier()</script>
<% if (permissions.supplier_edit) { %>
    <script src="/js/utils/list/accounts.js"></script>
    <script src="/js/stores/suppliers/show/edit.js"></script>
<% } %>
<% if (permissions.supplier_delete) { %>
    <script src="/js/stores/suppliers/show/delete.js"></script>
<% } %>

<% if (permissions.access_settings) { %>
    <script src='/js/stores/suppliers/show/default/view.js'></script>
    <script async>getDefault()</script>
    <% if (permissions.setting_edit) { %>
        <script src='/js/stores/suppliers/show/default/edit.js'></script>
        <script async>setDefaultBtn()</script>
    <% } %>
<% } %>

<% if (permissions.access_files) { %>
    <script src="/js/stores/suppliers/show/files/view.js"></script>
    <script async>getFiles()</script>
    <% if (permissions.file_add) { %>
        <script src="/js/stores/suppliers/show/files/add.js"></script>
    <% } %>
    <% if (permissions.file_edit) { %>
        <script src="/js/stores/suppliers/show/files/edit.js"></script>
    <% } %>
    <% if (permissions.access_file_details) { %>
        <script src="/js/stores/suppliers/show/files/details/view.js"></script>
        <% if (permissions.file_detail_delete) { %>
            <script src="/js/stores/suppliers/show/files/details/delete.js"></script>
        <% } %>
        <% if (permissions.file_detail_add) { %>
            <script src="/js/stores/suppliers/show/files/details/add.js"></script>
        <% } %>
        <% if (permissions.file_detail_edit) { %>
            <script src="/js/stores/suppliers/show/files/details/edit.js"></script>
        <% } %>
        <% if (permissions.file_delete) { %>
            <script src="/js/stores/suppliers/show/files/delete.js"></script>
        <% } %>
    <% } %>
<% } %>

<% if (permissions.access_sizes) { %>
    <script src="/js/stores/suppliers/show/sizes/view.js"></script>
    <script async>getSizes()</script>
<% } %>

<% if (permissions.access_demands) { %>
    <script src="/js/stores/suppliers/show/demands/view.js"></script>
    <script async>getDemands()</script>
<% } %>

<% if (permissions.access_accounts) { %>
    <script src="/js/stores/suppliers/show/accounts/view.js"></script>
<% } %>
<%- include(`${partials}/foot/elements/htmlClose`) %>
