<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers">Suppliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers/<%= supplier.supplier_id %>"><%= supplier._name %></a>
            </li>
        </ul>
    </nav>
</section>
<section class="container">
	<div class="row">
		<div class="col-12 col-lg-5 bordered">
            <% if (permissions.supplier_edit) { %>
                <a class="float-left btn btn-primary mr-1" href="/stores/suppliers/<%= supplier.supplier_id %>/edit">
                    <i class='fas fa-pencil-alt'></i>
                </a>
                <form action="/stores/suppliers/<%= supplier.supplier_id %>/default?_method=PUT" method="POST" onsubmit="return confirm('Make supplier the default?');">
                    <button class="float-left btn btn-warning mr-1 confirm">
                        <i class='fas fa-check'></i>
                    </button>
                </form>
            <% } %>
            <% if (permissions.supplier_delete === 1) { %>
                <form action="/stores/suppliers/<%= supplier.supplier_id %>?_method=DELETE" method="POST" onsubmit="return confirm('Confirm delete supplier?');">
                    <button class="float-left btn btn-danger mr-1 confirm">
                        <i class='fas fa-trash-alt'></i>
                    </button>
                </form>
            <% } %>
            <h4 class='mb-3'>Details</h4>
            <div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend w-35">
                    <span class="input-group-text w-100">Supplier Name</span>
                </div>
                <p class="form-control"><%= supplier._name %></p>
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend w-35">
                    <span class="input-group-text w-100">Address</span>
                </div>
                <p class="form-control"><%= supplier._address1 %></p>
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend w-35">
                    <span class="input-group-text w-100"></span>
                </div>
                <p class="form-control"><%= supplier._address2 %></p>
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend w-35">
                    <span class="input-group-text w-100"></span>
                </div>
                <p class="form-control"><%= supplier._address3 %></p>
            </div>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend w-35">
                    <span class="input-group-text w-100"></span>
                </div>
                <p class="form-control"><%= supplier._address4 %></p>
            </div>
            <div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend w-35">
                    <span class="input-group-text w-100"></span>
                </div>
                <p class="form-control"><%= supplier._address5 %></p>
            </div>
            <div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend w-35">
                    <span class="input-group-text w-100">Telephone</span>
                </div>
                <p class="form-control"><%= supplier._telephone %></p>
            </div>
            <div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend w-35">
                    <span class="input-group-text w-100">Email</span>
                </div>
                <p class="form-control"><%= supplier._email %></p>
            </div>
            <% if (supplier.account) { %>
                <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend w-35">
                        <span class="input-group-text w-100">Account</span>
                    </div>
                    <p class="form-control"><%= supplier.account._number %></p>
                    <div class="input-group-append">
                        <a class="btn btn-primary" href="/stores/accounts/<%= supplier.account_id %>/edit">
                            <i class='fas fa-search'></i>
                        </a>
                    </div>
                </div>
            <% } %>
            <div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend w-35">
                    <span class="input-group-text w-100">RAF Stores</span>
                </div>
                <p class="form-control"><% if (supplier._stores) { %>Yes<% } else { %>No<% } %></p>
            </div>
            <div class="input-group input-group-sm mb-1">
                <div class="input-group-prepend w-35">
                    <span class="input-group-text w-100">Create Demand File</span>
                </div>
                <p class="form-control"><% if (supplier._raise_demand) { %>Yes<% } else { %>No<% } %></p>
            </div>
            <div class="row mb-1">
                <% if (supplier.file) { %>
                    <div class="input-group input-group-sm mb-1">
                        <div class="input-group-prepend w-35">
                            <span class="input-group-text w-100">Demand File</span>
                        </div>
                        <p class="form-control"><%= supplier.file._path %></p>
                        <div class="input-group-append">
                            <a class="btn btn-primary" href="/stores/files/<%= supplier.file_id %>/edit">
                                <i class='fas fa-pencil-alt'></i>
                            </a>
                        </div>
                    </div>
                <% }; %>
                <% if (supplier._raise_demand && permissions.file_add) { %>
                    <div class="col-12">
                        <form ref="uploadForm" id="uploadForm" action="/stores/files?s=<%= supplier.supplier_id %>" method="POST" encType="multipart/form-data">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="demandfile" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">
                                        <i class='fas fa-file-upload'></i>
                                    </button>
                                </div>
                            </div>
                         </form>
                    </div>
                <% }; %>
            </div>
        </div>
        <div class="col-12 col-lg-7 bordered">
            <h4>Items From This Supplier</h4>
            <select id="size_id" class="form-control form-control-sm" size="20" ondblclick=goToItemSize()>
                <% if (supplier.sizes) { %>
                    <% supplier.sizes.forEach(size => { %>
                        <option value="<%= size.size_id %>"><%= size.item._description %>, size: <%= size._size %></option>
                    <% }); %>
                <% }; %>
            </select>
        </div>
        <div class="col-12 mx-auto bordered mb-2">
            <% if (permissions.receipt_add) { %>
                <a class="float-left btn btn-success" href="/stores/receipts/new?supplier_id=<%= supplier.supplier_id %>">
                    <i class='fas fa-plus'></i>
                </a>
            <% } %>
			<a class="my-3" data-toggle="collapse" href="#collapseReceipt" role="button" aria-expanded="false" aria-controls="collapseReceipt">
				<h4>Receipts (<%= supplier.receipts.length %>)</h4>
			</a>
			<div class="collapse mb-3" id="collapseReceipt">
				<table class="table table-sm table-hover smallFont07 limit-height-200 w-100">
					<thead class="thead-dark">
						<th class="w-45" onclick="sortTable(0, 'receiptTable')">Date</th>
						<th class="w-10" onclick="sortTable(1, 'receiptTable')">Lines</th>
						<th class="w-45" onclick="sortTable(2, 'receiptTable')">User</th>
						<th><i class="fas fa-search"></i></th>
					</thead>
					<tbody id="receiptTable">
						<% if (supplier.receipts && supplier.receipts.length > 0) { %>
							<% supplier.receipts.forEach(receipt => { %>
								<tr>
									<td data-sort="<%= receipt._date.getTime() %>">
										<%= receipt._date.toDateString() %>
									</td>
									<td>
										<%= receipt.lines.length %>
									</td>
									<td>
										<%= receipt.user.rank._rank %> <%= receipt.user._name %>, <%= receipt.user._ini %>
									</td>
									<td>
										<a class='btn btn-sm btn-primary' href="/stores/receipts/<%= receipt.receipt_id %>">
											<i class="fas fa-search"></i>
										</a>
									</td>
								</tr>
							<% }) %>
						<% } %>
					</tbody>
				</table>
			</div>
        </div>
        <% if (permissions.access_notes) { %>
            <div class="col-12 bordered">
                <% if (permissions.note_add) { %>
                    <a class="float-left btn btn-success" href='javascript:addNote("suppliers","<%= supplier.supplier_id %>")'>
                        <i class='fas fa-plus'></i>
                    </a>
                <% } %>
                <% include ../../partials/noteTable %>
            </div>
        <% } %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script>
    function filterSelects() {
        filter(['system'],"/stores/suppliers/<%= supplier.supplier_id %>");
    };
    function goToItemSize() {
        var size = document.querySelector('#size_id');
        if (size) window.location = '/stores/sizes/' + size.value;
    };
</script>
<% include ../../partials/foot/htmlClose %>
