<!-- SUPPLIERS SHOW PAGE -->
<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers">Suppliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/suppliers/<%= supplier.supplier_id %>"><%= supplier._name %></a>
            </li>
        </ul>
    </nav>
</section>
<section>
    <nav class="navbar navbar-expand navbar-dark bg-dark stores">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if (permissions.suppliers_edit) { %>
                        <a class="dropdown-item" href="/stores/suppliers/<%= supplier.supplier_id %>/edit">Edit</a>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <% if (permissions.notes_add) { %>
                        <a class="dropdown-item" href="/stores/notes/new?table=suppliers&id=<%= supplier.supplier_id %>">Add Note</a>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <a class="dropdown-item" href="/stores/suppliers">Back to Suppliers</a>
                </div>
            </li>
        </ul>
    </nav>
</section>
<section class="detailBox container-fluid pt-3">
	<div class="row">
		<div class="col-12 col-lg-4 mb-3">
			<div class="bordered">
                <h4>Details</h4>
                <div class="details">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Supplier Name:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="<%= supplier._name %>" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Address:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="<%= supplier._address1 %>" readonly>
                            <input class="form-control" type="text" value="<%= supplier._address2 %>" readonly>
                            <input class="form-control" type="text" value="<%= supplier._address3 %>" readonly>
                            <input class="form-control" type="text" value="<%= supplier._address4 %>" readonly>
                            <input class="form-control" type="text" value="<%= supplier._address5 %>" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Tel:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="<%= supplier._telephone %>" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Email:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="<%= supplier._email %>" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">RAF Stores?:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="checkbox" id="_stores" value="1" <% if (supplier._stores) { %>checked<% } %> disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Is Default:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="checkbox" id="_default" value="1" <% if (supplier._default) { %>checked<% } %> disabled>
                        </div>
                    </div>
                </div>
			</div>
        </div>
        <div class="col-lg-8">
            <% include ../../partials/noteTable %>
        </div>
        <% if (permissions.suppliers_delete === 1) { %>
            <div class="col-12">
                <form action="/stores/suppliers/<%= supplier.supplier_id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete Supplier</button>
                </form>
            </div>
        <% } %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/tableSort.js"></script>
<script src="/js/filters.js"></script>
<script>
    function filterSelects() {
        filter(['sn'],"/stores/suppliers/<%= supplier.supplier_id %>");
	};
</script>
<% include ../../partials/foot/htmlClose %>
