<%- include(`${partials}/head/app`, {text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/suppliers', text: 'Suppliers'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/components/close`) %>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <%- include(`${partials}/tab_head`, {id: 'details',   title: 'Details',   spinner: 'supplier'}) %>
        <%- include(`${partials}/tab_head`, {id: 'files',     title: 'Files',     spinner: 'files',     count_id: 'file'}) %>
        <%- include(`${partials}/tab_head`, {id: 'addresses', title: 'Addresses', spinner: 'addresses', count_id: 'address'}) %>
        <%- include(`${partials}/tab_head`, {id: 'contacts',  title: 'Contacts',  spinner: 'contacts',  count_id: 'contact'}) %>
        <%- include(`${partials}/tab_head`, {id: 'items',     title: 'Items',     spinner: 'sizes',     count_id: 'size'}) %>
        <%- include(`${partials}/tab_head`, {id: 'demands',   title: 'Demands',   spinner: 'demands',   count_id: 'demand',  permission: 'authorised_demander'}) %>
        <%- include(`${partials}/common/notes/tab_head`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div id="div_details_menu">
                <span class="float-start">
                    <%- include(`${partials}/btn_modal`, {icon: 'pencil-alt', type: 'warning', modal: 'supplier_edit'}) %>
                </span>
                <span class="float-end">
                    <%- include(`${partials}/btn_delete`) %>
                </span>
            </div>
            <%- include(`${partials}/spinner`, {id: 'suppliers'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'supplier_name',       title: 'Name'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'supplier_account',    title: 'Account', link: true, modal: 'account_view'}) %>
            <%- include(`${partials}/inputs/display`, {id: 'supplier_is_stores',  title: 'RAF Stores'}) %>
            <% if (permissions.access_settings) { %>
                <div class="input-group mb-1">
                    <span class="input-group-text w-40">Default Supplier</span>
                    <p class="form-control mb-0" id='supplier_is_default'></p>
                    <form id='form_set_default'>
                        <button class='btn btn-warning' id='btn_default'>Set as Default</button>
                    </form>
                </div>
            <% } %>
        </div>
        <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
            <div id="div_details_menu">
                <span class="float-start">
                    <%- include(`${partials}/btn_modal`, {icon: 'file-upload', type: 'success', modal: 'file_add'}) %>
                </span>
            </div>
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
					<th class='w-50' onclick='sortByRow(this, getFiles)' data-sort_col='filename'   >Filename   <span class='sort_ind float-end'></span></th>
					<th class='w-50' onclick='sortByRow(this, getFiles)' data-sort_col='description'>Description<span class='sort_ind float-end'></span></th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id="tbl_files"></tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="addresses" role="tabpanel" aria-labelledby="addresses-tab">
            <span class="float-start">
                <%- include(`${partials}/btn_modal`, {icon: 'plus-square', type: 'success', modal: 'address_add'}) %>
            </span>
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
					<th class='w-30' onclick='sortByRow(this, getAddresses)' data-sort_col='type'>Type<span class='sort_ind float-end'></span></th>
					<th class="w-30" onclick="sortTable(1, 'tbl_addresses')">Unit/Number</th>
                    <th class="w-40" onclick="sortTable(1, 'tbl_addresses')">Street</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id="tbl_addresses"></tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
            <span class="float-start">
                <%- include(`${partials}/btn_modal`, {icon: 'plus-square', type: 'success', modal: 'contact_add'}) %>
            </span>
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class='w-30' onclick='sortByRow(this, getContacts)' data-sort_col='type'>Type<span class='sort_ind float-end'></span></th>
					<th class="w-30" onclick="sortTable(1, 'tbl_contacts')">Description</th>
                    <th class="w-40" onclick="sortTable(1, 'tbl_contacts')">Contact</th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id="tbl_contacts"></tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-50" onclick="sortTable(0, 'tbl_sizes')">Item</th>
                    <th class='w-50' onclick='sortByRow(this, getSizes)' data-sort_col='size1'>Size<span class='sort_ind float-end'></span></th>
                    <th><i class='fas fa-search'></i></th>
                </thead>
                <tbody id="tbl_sizes"></tbody>
            </table>
        </div>
        <% if (permissions.authorised_demander) { %>
            <div class="tab-pane fade" id="demands" role="tabpanel" aria-labelledby="demands-tab">
                <%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_demand_status', options: [{value: '', text: 'All', selected: true}, {value: '"status":0', text: 'Cancelled'}, {value: '"status":1', text: 'Draft'}, {value: '"status":2', text: 'Complete'}, {value: '"status":3', text: 'Closed'}]}) %>
	            <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class='w-50' onclick='sortByRow(this, getDemands)' data-sort_col='createdAt'>Date  <span class='sort_ind float-end'></span></th>
                        <th class='w-50' onclick='sortByRow(this, getDemands)' data-sort_col='status'   >Status<span class='sort_ind float-end'></span></th>
					    <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id="tbl_demands"></tbody>
                </table>
            </div>
        <% } %>
        <%- include(`${partials}/common/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <%- include(`${partials}/common/notes/modals`) %>
        <div id='mdl_supplier_edit' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_supplier_edit'>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Supplier</h5>
                        <%- include(`${partials}/spinner`, {id: 'supplier_edit'}) %>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/text`,   {id: 'supplier_name_edit',      title: 'Name',        name: 'supplier[name]',       required: true}) %>
                        <%- include(`${partials}/inputs/select`, {id: 'sel_accounts',            title: 'Account',     name: 'supplier[account_id]', spinner_id: 'accounts', reload_id: 'reload_accounts'}) %>
                        <%- include(`${partials}/inputs/select`, {id: 'supplier_is_stores_edit', title: 'RAF Stores?', name: 'supplier[stores]',     options: [{text: 'No', value: '0'}, {text: 'Yes', value: '1'}]}) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100" value='Save Supplier'>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        <div id='mdl_account_view' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Account</h5>
                        <%- include(`${partials}/spinner`, {id: 'account_view'}) %>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {id:'account_name',      title: 'Name'}) %>
                        <%- include(`${partials}/inputs/display`, {id:'account_number',    title: 'Number'}) %>
                        <%- include(`${partials}/inputs/display`, {id:'account_user',      title: 'Owner', link: true}) %>
                        <%- include(`${partials}/inputs/display`, {id:'account_createdAt', title: 'Created'}) %>
                        <%- include(`${partials}/inputs/display`, {id:'account_updatedAt', title: 'Updated'}) %>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto text-start'>ID: <span id='account_id'></span></p>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id='mdl_file_view' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">File</h5>
                        <%- include(`${partials}/spinner`, {id: 'file_view'}) %>
                        <span class="float-end">
                            <form id="form_file_download" method='GET' class='float-end ms-1'>
                                <button class='btn btn-primary'><i class="fas fa-file-download"></i></button>
                            </form>
                            <span id="span_file_edit_btn"   class='float-end ms-1'></span>
                            <span id="span_file_delete_btn" class='float-end ms-1'></span>
                        </span>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {id: 'file_filename',    title: 'Filename'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'file_description', title: 'Description'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'file_user',        title: 'Added By'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'file_createdAt',   title: 'Added'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'file_updatedAt',   title: 'Updated'}) %>
                        <h4>Details</h4>
                        <form id="form_file_detail_add">
                            <input type="hidden" id='file_id_detail_add' name='detail[file_id]'>
                            <%- include(`${partials}/inputs/text`, {id: 'file_detail_name_add',  title: 'Name',  name: 'detail[name]',  required: true, list_id: 'file_detail_names'}) %>
                            <%- include(`${partials}/inputs/text`, {id: 'file_detail_value_add', title: 'Value', name: 'detail[value]', required: true}) %>
                            <datalist id="file_detail_names"></datalist>
                            <button class="btn btn-success w-100 mb-1">Save</button>
                        </form>
                        <table class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <th class="w-50" onclick="sortTable(0, 'tbl_file_details')">Name</th>
                                <th class="w-50" onclick="sortTable(1, 'tbl_file_details')">Value</th>
                                <th><i class="fas fa-pencil-alt"></i></th>
                                <th><i class="fas fa-trash-alt"></i></th>
                            </thead>
                            <tbody id="tbl_file_details"></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto text-start'>ID: <span id='file_id'></span></p>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id='mdl_file_add' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id="form_file_add" encType="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title">Add File</h5>
                        <%- include(`${partials}/spinner`, {id: 'file_add'}) %>
                    </div>
                    <div class="modal-body">
                        <input class='supplier_id' type="hidden" name='file[supplier_id]'>
                        <%- include(`${partials}/inputs/text`, {id: 'file_description_add', title: 'Description', name: 'file[description]', required: true, list_id: 'file_descriptions'}) %>
                        <datalist id="file_descriptions"></datalist>
                        <input type="file" class="form-control text-align-start" name="uploaded" id="file_upload" required>
                    </div>
                    <div class="modal-footer">
                        <input  type="submit" class="btn btn-success w-100" value='Save File'>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        <div id='mdl_file_edit' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_file_edit'>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit File</h5>
                        <%- include(`${partials}/spinner`, {id: 'file_edit'}) %>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id='file_id_edit' name='file_id'>
                        <%- include(`${partials}/inputs/text`, {id: 'file_description_edit', title: 'Description', name: 'file[description]', required: true}) %>
                    </div>
                    <div class="modal-footer">
                        <input  type="submit" class="btn btn-success w-100" value='Save File'>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        <div id='mdl_file_detail_edit' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_file_detail_edit'>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Detail</h5>
                        <%- include(`${partials}/spinner`, {id: 'file_detail_edit'}) %>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id='file_detail_id_edit' name='file_detail_id'>
                        <%- include(`${partials}/inputs/text`, {id: 'file_detail_name_edit',  title: 'Name',  name: 'detail[name]',  required: true}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'file_detail_value_edit', title: 'Value', name: 'detail[value]', required: true}) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit"  class="btn btn-success w-100" value='Save File'>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        <div id='mdl_address_view' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Address: <span id="file_id_view"></span></h5>
                        <%- include(`${partials}/spinner`, {id: 'address_view'}) %>
                        <span class='float-end'>
                            <span id='address_edit_btn' class='float-end me-1'></span>
                            <span id='address_delete_btn' class='float-end me-1'></span>
                        </span>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {id: 'address_type',        title: 'Type'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'address_unit_number', title: 'Unit/Number'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'address_street',      title: 'Street'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'address_town',        title: 'Town'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'address_county',      title: 'County'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'address_country',     title: 'Country'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'address_postcode',    title: 'Postcode'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'address_createdAt',   title: 'Created'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'address_updatedAt',   title: 'Updated'}) %>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto text-start'>
                            Address ID: <span id='address_id'></span><br>
                            Link ID: <span id='supplier_address_id'></span>
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id='mdl_address_add' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id="form_address_add">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Address</h5>
                    </div>
                    <div class="modal-body">
                        <input class='supplier_id' type="hidden" name='supplier_id'>
                        <%- include(`${partials}/inputs/text`, {id: 'address_type_add',        name: 'type',                 title: 'Type',        required: true}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_unit_number_add', name: 'address[unit_number]', title: 'Unit/Number', required: true}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_street_add',      name: 'address[street]',      title: 'Street',      required: true}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_town_add',        name: 'address[town]',        title: 'Town'}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_county_add',      name: 'address[county]',      title: 'County'}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_country_add',     name: 'address[country]',     title: 'Country'}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_postcode_add',    name: 'address[postcode]',    title: 'Postcode'}) %>
                    </div>
                    <div class="modal-footer">
                        <input  type="submit" class="btn btn-success w-100" value='Save Address'>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        <div id='mdl_address_edit' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_address_edit'>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Address</h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id='supplier_address_id_edit' name='supplier_address_id'>
                        <%- include(`${partials}/inputs/text`, {id: 'address_type_edit',        name: 'address[type]',        title: 'Type',        required: true}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_unit_number_edit', name: 'address[unit_number]', title: 'Unit/Number', required: true}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_street_edit',      name: 'address[street]',      title: 'Street',      required: true}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_town_edit',        name: 'address[town]',        title: 'Town'}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_county_edit',      name: 'address[county]',      title: 'County'}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_country_edit',     name: 'address[country]',     title: 'Country'}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'address_postcode_edit',    name: 'address[postcode]',    title: 'Postcode'}) %>
                    </div>
                    <div class="modal-footer">
                        <input  type="submit" class="btn btn-success w-100" value='Save Address'>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>

        <div id='mdl_contact_view' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Contact</h5>
                        <%- include(`${partials}/spinner`, {id: 'contact_view'}) %>
                        <span class='float-end'>
                            <span id='contact_edit_btn' class='float-end me-1'></span>
                            <span id='contact_delete_btn' class='float-end me-1'></span>
                        </span>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/display`, {id: 'contact_type',        title: 'Type'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'contact_description', title: 'Description'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'contact_contact',     title: 'Contact'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'contact_createdAt',   title: 'Created'}) %>
                        <%- include(`${partials}/inputs/display`, {id: 'contact_updatedAt',   title: 'Updated'}) %>
                    </div>
                    <div class="modal-footer">
                        <p class='me-auto text-start'>
                            Contact ID: <span id='contact_id'></span><br>
                            Link ID: <span id='supplier_contact_id'></span>
                        </p>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id='mdl_contact_add' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id="form_contact_add">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Contact</h5>
                    </div>
                    <div class="modal-body">
                        <input class='supplier_id' type="hidden" name='supplier_id'>
                        <%- include(`${partials}/inputs/text`, {id: 'contact_type_add',        name: 'type',                 title: 'Type',        required: true}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'contact_description_add', name: 'contact[description]', title: 'Description', required: true}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'contact_contact_add',     name: 'contact[contact]',     title: 'Contact',     required: true}) %>
                    </div>
                    <div class="modal-footer">
                        <input  type="submit" class="btn btn-success w-100" value='Save Contact'>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        <div id='mdl_contact_edit' class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_contact_edit'>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Contact</h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id='supplier_contact_id_edit' name='supplier_contact_id'>
                        <%- include(`${partials}/inputs/text`, {id: 'contact_type_edit',        name: 'contact[type]',        title: 'Type',        required: true}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'contact_description_edit', name: 'contact[description]', title: 'Description', required: true}) %>
                        <%- include(`${partials}/inputs/text`, {id: 'contact_contact_edit',     name: 'contact[contact]',     title: 'Contact',     required: true}) %>
                    </div>
                    <div class="modal-footer">
                        <input  type="submit" class="btn btn-success w-100" value='Save Contact'>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script>showTab('<%= tab %>');</script>
<%- include(`${partials}/common/notes/scripts`) %>

<script src='/js/stores/suppliers/show/view.js'></script>
<script async>getSupplier()</script>
<script src="/js/utils/list/accounts.js"></script>
<script src="/js/stores/suppliers/show/edit.js"></script>
<script src="/js/stores/suppliers/show/delete.js"></script>

<% if (permissions.access_settings) { %>
    <script src='/js/stores/suppliers/show/default/view.js'></script>
    <script async>getDefault()</script>
    <script src='/js/stores/suppliers/show/default/edit.js'></script>
    <script async>setDefaultBtn()</script>
<% } %>

<script src="/js/stores/suppliers/show/files/view.js"></script>
<script async>getFiles()</script>
<script src="/js/stores/suppliers/show/files/add.js"></script>
<script src="/js/stores/suppliers/show/files/edit.js"></script>
<script src="/js/stores/suppliers/show/files/delete.js"></script>
<script src="/js/stores/suppliers/show/files/details/view.js"></script>
<script src="/js/stores/suppliers/show/files/details/delete.js"></script>
<script src="/js/stores/suppliers/show/files/details/add.js"></script>
<script src="/js/stores/suppliers/show/files/details/edit.js"></script>

<script src="/js/stores/suppliers/show/addresses/view.js"></script>
<script async>getAddresses()</script>
<script src="/js/stores/suppliers/show/addresses/add.js"></script>
<script src="/js/stores/suppliers/show/addresses/edit.js"></script>
<script src="/js/stores/suppliers/show/addresses/delete.js"></script>
<script src="/js/stores/suppliers/show/contacts/view.js"></script>
<script async>getContacts()</script>
<script src="/js/stores/suppliers/show/contacts/add.js"></script>
<script src="/js/stores/suppliers/show/contacts/edit.js"></script>
<script src="/js/stores/suppliers/show/contacts/delete.js"></script>

<script src="/js/stores/suppliers/show/sizes/view.js"></script>
<script async>getSizes()</script>

<% if (permissions.authorised_demander) { %>
    <script src="/js/stores/suppliers/show/demands/view.js"></script>
    <script async>getDemands()</script>
<% } %>

    <script src="/js/stores/suppliers/show/accounts/view.js"></script>
<%- include(`${partials}/foot/components/htmlClose`) %>
