<%- include(`${partials}/head/components/head`) %>
<body>
    <%- include(`${partials}/head/components/navbar_open`) %>
    <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= text %>
            </a>
            <div class="dropdown-menu">
                <%- include(`${partials}/head/components/dd_link`, {href: '/stores',   text: 'Stores',   permission: 'access_stores'}) %>
                <%- include(`${partials}/head/components/dd_link`, {href: '/canteen',  text: 'Canteen',  permission: 'access_canteen'}) %>
                <%- include(`${partials}/head/components/dd_link`, {href: '/settings', text: 'Settings', permission: 'access_settings'}) %>
                <%- include(`${partials}/head/components/dd_link`, {href: '/users',    text: 'Users'}) %>
            </div>
        </li>