<%- include(`${partials}/head/components/head`) %>
<div class="row">
    <div class="crests col-12 col-md-6 col-lg-5 col-xl-4">
        <a href="https://www.raf.mod.uk/aircadets/"><img class="crest" src="/img/logos_aircadets_raf.png" alt="RAFAC Logo"></a>
        <a href="/"><img class="crest" src="/img/sqnCrest.png" alt="Squadron Crest"></a>
    </div>
    <div class="sqnName col-12 col-md-6 col-lg-7 col-xl-8">
        <h1 class='f-30'>1801 (Alnwick)<span class="d-none d-md-inline d-lg-none"><br></span><span class="d-inline d-md-none d-lg-inline"> </span>Squadron ATC</h1>
    </div>
</div>
<body class="mb-60px">
    <%- include(`${partials}/head/components/navbar_open`) %>
    <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                About Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%- include(`${partials}/head/components/dd_link`, {href: '/whoWeAre', text: 'Who We Are'}) %>
                <%- include(`${partials}/head/components/dd_link`, {href: '/whatWeDo', text: 'What We Do'}) %>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
            Join Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%- include(`${partials}/head/components/dd_link`, {href: '/joinCadet', text: 'As a Cadet'}) %>
                <%- include(`${partials}/head/components/dd_link`, {href: '/joinStaff', text: 'As Staff'}) %>
            </div>
        </li>
    </ul>
    <%- include(`${partials}/head/components/navbar_menu_user`) %>
    <%- include(`${partials}/head/components/navbar_close`) %>
    <%- include(`${partials}/head/components/flash`) %>
    <%- include(`${partials}/head/components/alert_toast`) %>