<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">
                    Stores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= user.user_id %>">
                    <%= user.rank._rank %> <%= user._name %>, <%= user._ini %>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= user.user_id %>/edit">
                    Edit
                </a>
            </li>
        </ul>
    </nav>
</section>
<section class="row">
    <div class='col-md-9 col-xl-6 container bordered'>
        <form action='/stores/users/<%= user.user_id %>?_method=PUT' method='POST'>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">Bader #</span>
                </div>
                <input class='form-control' id='_bader' name='user[_bader]' type='text' value='<%= user._bader %>' required>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">Rank</span>
                </div>
                <select class='form-control' name='user[rank_id]' type='text'>
                    <% classes.ranks.forEach(rank => { %>
                        <option value='<%= rank.rank_id %>' <% if (user.rank_id === rank.rank_id) { %> selected <% } %>><%= rank._rank %></option>
                    <% }) %>
                </select>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">Name</span>
                </div>
                <input class='form-control' name='user[_name]' type='text' value='<%= user._name %>' required>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">Initials</span>
                </div>
                <input class='form-control' name='user[_ini]' type='text' value='<%= user._ini %>'>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">Status</span>
                </div>
                <select class='form-control' name='user[status_id]' type='text' >
                    <% classes.statuses.forEach(status => { %>
                        <option value='<%= status.status_id %>' <% if (user.status_id === status.status_id) { %> selected <% } %>><%= status._status %></option>
                    <% }) %>
                </select>
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend w-30">
                    <span class="input-group-text w-100">Login ID</span>
                </div>
                <input class='form-control' id='_login_id' name='user[_login_id]' type='text' value='<%= user._login_id %>' required>
            </div>
            <input class='btn btn-primary w-100 confirm' type="submit" value='Save'>
            <a class='float-left' href='/stores/users/<%= user.user_id %>'>Cancel</a>
        </form>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src='/js/loginBaderMirror.js'></script>
<script>
</script>
<% include ../../partials/foot/htmlClose %>
