<%- include(`${partials}/head/head`) %>
<body>
<%- include(`${partials}/head/flash`) %>
<section id='body'>
    <form id='userForm'>
        <%- include(`${partials}/spinner`,         {id: 'users'}) %>
        <%- include(`${partials}/inputs/text`,     {id: '_bader',    title: 'Bader #',  name: 'user[_bader]',    required: true, maxLength: 20, placeholder: 'Required'}) %>
        <%- include(`${partials}/spinner`,         {id: 'ranks'}) %>
        <%- include(`${partials}/inputs/select`,   {id: 'rank_id',   title: 'Rank',     name: 'user[rank_id]',   required: true}) %>
        <%- include(`${partials}/inputs/text`,     {id: '_name',     title: 'Name',     name: 'user[_name]',     required: true, maxLength: 50, placeholder: 'Required'}) %>
        <%- include(`${partials}/inputs/text`,     {id: '_ini',      title: 'Initials', name: 'user[_ini]',      required: true, maxLength: 5,  placeholder: 'Required'}) %>
        <%- include(`${partials}/inputs/select`,   {id: 'status_id', title: 'Status',   name: 'user[status_id]', required: true}) %>
        <%- include(`${partials}/spinner`,         {id: 'statuses'}) %>
        <% if (user_id !== user.user_id) { %>
            <%- include(`${partials}/inputs/text`, {id: '_login_id', title: 'Login ID', name: 'user[_login_id]', required: true, maxLength: 30, placeholder: 'Required'}) %>
        <% } %>
        <%- include(`${partials}/save_cancel`) %>
    </form>
<%- include(`${partials}/foot/noNav`) %>
<script src='/js/loginBaderMirror.js'></script>
<script src="/js/ranks/list.js"></script>
<script src="/js/statuses/list.js"></script>
<script src="/js/users/edit/user.js"></script>
<script src="/js/spinner.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script src="/js/data/XHRsend.js"></script>
<script src="/js/data/send.js"></script>
<script src="/js/get.js"></script>
<script src='/js/users/edit/user.js'></script>
<script>
    var ranks_loaded = false, statuses_loaded = false;
    getUsers = () => get(showUser, {table: 'users', query: [`user_id=${path[3]}`]});
    let int_load_user = window.setInterval(
        () => {
            if (ranks_loaded === true && statuses_loaded === true) {
                window.clearInterval(int_load_user);
                getUsers();
            }
        },
        100
    );
</script>
<script async>get(listRanks,       {table: 'ranks',    query: []})</script>
<script async>get(statuses_select, {table: 'statuses', query: []})</script>
<script>
    window.addEventListener( "load", function () {
        addFormListener(
            'userForm',
            'PUT',
            '/stores/users/<%= user_id %>',
            {
                onComplete: window.opener.getUser,
                _close: true
            }
        );
    });
</script>
<%- include(`${partials}/foot/htmlClose`) %>
