<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/users">Users</a>
			</li>
		</ul>
	</nav>
</section>
<% if (permissions.users_add) { %>
<section>
	<nav class="navbar navbar-expand navbar-dark bg-dark stores">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/stores/users/new">New User</a>
			</li>
		</ul>
	</nav>
</section>
<% } %>
<div class="container mt-3 pt-3">
	<label for="_system">Showing:</label>
	<select id="_system" type="text" onchange="window.location = '/stores/users?status=' + this.options[this.selectedIndex].value">
		<% statuses.forEach((stat) => { %>
			<% if (stat.status_id !== 4) { %>
				<% if (stat.status_id === Number(status)) { %>
					<option value="<%= stat.status_id %>" selected><%= stat._status %></option>
				<% } else { %>
					<option value="<%= stat.status_id %>"><%= stat._status %></option>
				<% } %>
			<% } %>
		<% }) %>
	</select>
	<table id="userTable" class="table table-sm table-hover mx-auto">
		<thead class="thead-dark">
			<th class="w-40" onclick="sortTable(0, 'userTable')">Bader/Service #</th>
			<th class="w-10" onclick="sortTable(1, 'userTable')">Rank</th>
			<th class="w-40" onclick="sortTable(2, 'userTable')">Surname</th>
			<th class="w-10" onclick="sortTable(3, 'userTable')">Initials</th>
		</thead>
		<tbody>
			<% users.forEach((user) => { %>
				<tr>
					<td><a href="/stores/users/<%=user.user_id%>"> <%= user._bader %></a></td>
					<td><a href="/stores/users/<%=user.user_id%>"> <%= user.rank._rank %></a></td>
					<td><a href="/stores/users/<%=user.user_id%>"> <%= user._name %></a></td>
					<td><a href="/stores/users/<%=user.user_id%>"> <%= user._ini %></a></td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</div>
<% include ../../partials/foot/full %>
<script src="/js/tableSort.js"></script>
<% include ../../partials/foot/htmlClose %>