<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',		  text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/users', text: 'Users'}) %>
<%- include(`${partials}/users/index/add_button`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/spinner`, {id: 'users'}) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class='container'>
	<%- include(`${partials}/inputs/select`, {title: 'Ranks', 	 classes: ['ranks'], 	id: 'rank_id',   spinner: true, spinner_id: 'ranks'}) %>
	<%- include(`${partials}/inputs/select`, {title: 'Statuses', classes: ['statuses'], id: 'status_id', spinner: true, spinner_id: 'statuses'}) %>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-40" onclick="sortTable(0, 'tbl_users')">Bader/Service #</th>
			<th class="w-10" onclick="sortTable(1, 'tbl_users')">Rank</th>
			<th class="w-40" onclick="sortTable(2, 'tbl_users')">Surname</th>
			<th class="w-10" onclick="sortTable(3, 'tbl_users')">Initials</th>
			<th><i class='fas fa-search'></i></th>
		</thead>
		<tbody id="tbl_users"></tbody>
	</table>
	<div id="div_modals">
		<%- include(`${partials}/users/index/add_modal`) %>
	</div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/spinner.js"></script>
<script src="/js/get.js"></script>
<script src="/js/users/statuses/listStatuses.js"></script>
<script src="/js/users/ranks/listRanks.js"></script>
<script src="/js/users/index/users.js"></script>
<script async>listStatuses()</script>
<script async>listRanks()</script>
<%- include(`${partials}/foot/elements/htmlClose`) %>
