<!-- USERS INDEX PAGE -->
<% include ../../partials/header %>
<% include ../../partials/nav %>
<% include ../../partials/bodyTop %>
<section class="container page_title">
	<a href="/stores"><h2>Stores Management</h2></a>
    <p class="text-left"><a href="/stores"> Main Menu </a>> > ><a href="/stores/users"> Users </a></p>
    <h3>Users</h3>
</section>
<% if (permissions.users_add) { %>
	<nav class="navbar navbar-expand navbar-dark bg-dark stores">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/stores/users/new">New User</a>
			</li>
		</ul>
	</nav>
<% } %>
<div class="container mt-3 pt-3">
	<label for="_system">Showing:</label>
	<select id="_system" type="text" onchange="window.location = '/stores/users?status=' + this.options[this.selectedIndex].value">
		<% statuses.forEach((stat) => { %>
			<% if (stat.status_id !== 4) { %>
				<% if (stat.status_id === Number(status)) { %>
					<option value="<%= stat.status_id %>" selected><%= stat._status %></option>
				<% } else { %>
					<option value="<%= stat.status_id %>"><%= stat._status %></option>
				<% } %>
			<% } %>
		<% }) %>
	</select>
	<table class="mx-auto">
		<thead>
			<th style="width:40%">Bader/Service #</th>
			<th style="width:10%">Rank</th>
			<th style="width:40%">Surname</th>
			<th style="width:10%">Initials</th>
		</thead>
		<tbody>
			<% users.forEach((user) => { %>
				<tr>
					<td><a href="/stores/users/<%=user.user_id%>"> <%= user._bader %></a></td>
					<td><a href="/stores/users/<%=user.user_id%>"> <%= user.rank._rank %></a></td>
					<td><a href="/stores/users/<%=user.user_id%>"> <%= user._name %></a></td>
					<td><a href="/stores/users/<%=user.user_id%>"> <%= user._ini %></a></td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</div>
<% include ../../partials/bodyBottom %>
<% include ../../partials/footer %>
<% include ../../partials/footjs %>
<% include ../../partials/htmlBottom %>