<%- include(`${process.env.PARTIALS}/head/full`) %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores',		  text: 'Stores'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores/users', text: 'Users'}) %>
			<% if (permissions.user_add) { %>
				<%- include(`${process.env.PARTIALS}/breadcrumb`, {href: 'javascript:add("users")', html: '<i class="fas fa-plus"></i>'}) %>
			<% } %>
			<%- include(`${process.env.PARTIALS}/			<%- include(`${process.env.PARTIALS}/reload`) %>
			) %>
		</ul>
	</nav>
</section>
<section class='container'>
	<%- include(`${process.env.PARTIALS}/inputs/select`, {title: 'Displaying', id: 'status_id', spinner: true, spinner_sm: true, spinner_float_right: true}) %>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-40" onclick="sortTable(0, 'userTable')"><%- include(`${process.env.PARTIALS}/spinner`, {id: 'users', spinner_sm: true, spinner_float_left: true}) %>Bader/Service #</th>
			<th class="w-10" onclick="sortTable(1, 'userTable')">Rank</th>
			<th class="w-40" onclick="sortTable(2, 'userTable')">Surname</th>
			<th class="w-10" onclick="sortTable(3, 'userTable')">Initials</th>
			<th><i class='fas fa-search'></i></th>
		</thead>
		<tbody id="userTable">
		</tbody>
	</table>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<script src="/js/spinner.js"></script>
<script src="/js/data/XHRsend.js"></script>
<script src="/js/get.js"></script>
<script src="/js/add.js"></script>
<script src="/js/users/index/users.js"></script>
<script src="/js/statuses/list.js"></script>
<script>
	getUsers = () => get(showUsers, {db: 'users', table: 'users', query: user_query()})
	document.querySelector('#reload').addEventListener('click', () => getUsers());
    var statuses_loaded = false;
    let int_load_users = window.setInterval(
        () => {
            if (statuses_loaded === true) {
                window.clearInterval(int_load_users);
                getUsers();
            }
        },
        100
	);
</script>
<script>listStatuses = () => get(statuses_select, {db: 'users', table: 'statuses', query: []})</script>
<script async>listStatuses()</script>
<script>
	window.addEventListener( "load", () => {
		let _select = document.querySelector(`#status_id`);
		_select.addEventListener("change", event => getUsers());
	});
</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>
