<!-- CADET NEW PAGE -->
<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= user.user_id %>"><%= user.rank._rank %> <%= user._name %>, <%= user._ini %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= user.user_id %>/password">Reset Password</a>
            </li>
        </ul>
    </nav>
</section>
<section class="container-fluid p-5">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto p-5 bordered">
            <form action="/stores/password/<%= user.user_id %>?_method=PUT" method="POST">
                <input type="hidden" name="user[user_id]", value="<%= user.user_id %>" readonly>
                <input type="hidden" name="failRedirect", value="/stores/users/<%= user.user_id %>" readonly>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="col-form-label" for="_bader">Bader #:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="_bader" type="text" value="<%= user._bader %>" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="col-form-label" for="_name">Name:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text" value="<%= user.rank._rank %>" readonly>
                        <input class="form-control" type="text" value="<%= user._name %>" readonly>
                        <input class="form-control" type="text" value="<%= user._ini %>" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="col-form-label" for="_login_id">Login ID:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="_login_id" type="text" value="<%= user._login_id %>" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="col-form-label" for="_password">Password:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="_password" name="_password" type="password" minlength="8" password>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="col-form-label" for="_confirm_password">Confirm Password:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="_confirm" type="password" minlength="8" password>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="col-form-label" for="_reset">Change at Next Login:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" name="user[_reset]" type="checkbox" value="1">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <button class="btn btn-primary btn-lg w-100" type="submit" id="_submit" disabled>Save</button>
                    </div>
                </div>
                <div class="form-group row">
                    <a href="/stores/users/<%= user.user_id %>">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/passwordCheck.js"></script>
<% include ../../partials/foot/htmlClose %>
