<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
<section class="container">
    <form id='passwordForm'>
        <input type="hidden" name="user[_reset]", value="0">
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Bader #</span>
            </div>
            <p class="form-control"><%= user._bader %></p>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Name</span>
            </div>
            <p class="form-control"><%= user.rank._rank %></p>
            <p class="form-control"><%= user._name %></p>
            <p class="form-control"><%= user._ini %></p>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Login ID</span>
            </div>
            <p class="form-control"><%= user._login_id %></p>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Password</span>
            </div>
            <input class="form-control" id="_password" name="_password" type="password" minlength="8" password>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-30">
                <span class="input-group-text w-100">Confirm Password</span>
            </div>
            <input class="form-control" id="_confirm" type="password" minlength="8" password>
        </div>
        <input class="btn btn-success w-100 confirm" id="_submit" type="submit" value='Save'disabled>
        <a class='float-left' href="javascript:close()">Cancel</a>
    </form>
</section>
<% include ../../partials/foot/noNav %>
<script src="/js/passwordCheck.js"></script>
<script>
    window.addEventListener( "load", function () {
        addFormListener('passwordForm', 'PUT', '/stores/password/<%= user.user_id %>');
    });
</script>
<% include ../../partials/foot/htmlClose %>
