<!-- CADET NEW PAGE -->
<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= user.user_id %>"><%= user.rank._rank %> <%= user._name %>, <%= user._ini %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= user.user_id %>/password">Reset Password</a>
            </li>
        </ul>
    </nav>
</section>
<section class="container-fluid p-5">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto p-5 bordered">
            <form action="/stores/password/<%= user.user_id %>?_method=PUT" method="POST">
                <input type="hidden" name="user[_reset]", value="0" readonly>
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="col-form-label">Bader #:</p>
                    </div>
                    <div class="col-md-10">
                        <p class="form-control"readonly><%= user._bader %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="col-form-label">Name:</p>
                    </div>
                    <div class="col-md-10">
                        <p class="form-control" readonly><%= user.rank._rank %></p>
                        <p class="form-control" readonly><%= user._name %></p>
                        <p class="form-control" readonly><%= user._ini %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <p class="col-form-label">Login ID:</p>
                    </div>
                    <div class="col-md-10">
                        <p class="form-control"readonly><%= user._login_id %></p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="col-form-label" for="_password">Password:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="_password" name="_password" type="password" minlength="8" password>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="col-form-label" for="_confirm">Confirm Password:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="_confirm" type="password" minlength="8" password>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <button class="btn btn-primary btn-lg w-100" type="submit" id="_submit" disabled>Save</button>
                    </div>
                </div>
                <div class="form-group row">
                    <a href="/stores/users/<%= user.user_id %>">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/passwordCheck.js"></script>
<% include ../../partials/foot/htmlClose %>
