<!-- CADET NEW PAGE -->
<% include ../../partials/header %>
<% include ../../partials/nav %>
<% include ../../partials/bodyTop %>
<section class="container page_title">
    <a href="/stores"><h2>Stores Management</h2></a>
    <h3>Edit User: <%= user._rank %> <%= user._ini %> <%= user._name %></h3>
</section>
<section style="width: 50%" class="container-fluid p-5">
    <form action="/stores/password/<%= user.user_id %>?_method=PUT" method="POST">
        <input type="hidden" name="permission", value="users_password" readonly>
        <input type="hidden" name="failRedirect", value="/stores/users/<%= user.user_id %>" readonly>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="_bader">Bader #:</label>
            <div class="col-sm-10">
                <input class="form-control" id="_bader" type="text" value="<%= user._bader %>" readonly>
            </div>
        </div>
        <div class="form-group row form-inline">
            <label class="col-sm-2 col-form-label" for="_name">Name:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="<%= user._rank %>" readonly>
                <input class="form-control" type="text" value="<%= user._name %>" readonly>
                <input class="form-control" type="text" value="<%= user._ini %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="_login_id">Login ID:</label>
            <div class="col-sm-10">
                <input class="form-control" id="_login_id" type="text" value="<%= user._login_id %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="_password">Password:</label>
            <div class="col-sm-10">
                <input class="form-control" id="_password" name="_password" type="password" password>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="_confirm_password">Confirm Password:</label>
            <div class="col-sm-10">
                <input class="form-control" id="_confirm" type="password" password>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="_reset">Change at Next Login:</label>
            <div class="col-sm-10">
                <input class="form-control" name="_reset" type="checkbox">
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" id="_submit" class="btn btn-primary btn-lg col-12" disabled>Save</button>
        </div>
        <div class="form-group row">
            <a href="/stores/users/<%= user.user_id %>">Cancel</a>
        </div>
    </form>
</section>
<% include ../../partials/bodyBottom %>
<% include ../../partials/footer %>
<% include ../../partials/footjs %>
<script src="/js/storesPassword.js"></script>
<% include ../../partials/htmlBottom %>