<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= f_user.user_id %>"><%= f_user.rank._rank %> <%= f_user._name %>, <%= f_user._ini %></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle stores_nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if (permissions.user_edit) { %>
                        <a class="dropdown-item" href='javascript:edit("users",<%= f_user.user_id %>,{"height":361})'>
                            Edit User
                        </a>
                    <% } %>
                    <div class="dropdown-divider"></div>
                    <% if (permissions.user_edit || f_user.user_id === user.user_id) { %>
                        <a class="dropdown-item" href='javascript:changePassword(<%= f_user.user_id %>)'>
                            Change Password
                        </a>
                    <% } %>
                    <% if (user.user_id !== f_user.user_id && permissions.user_delete) { %>
                        <form id='userDeleteForm'>
                            <button class="dropdown-item dropdown_button confirm">
                                Delete User
                            </button>
                        </form>
                    <% } %>
                    <div class="dropdown-divider"></div>
                    <% if (permissions.permission_edit && f_user.user_id !== user.user_id) { %>
                        <a class="dropdown-item" href='javascript:edit("permissions",<%= f_user.user_id %>,{"height":600})'>
                            Edit Permissions
                        </a>
                    <% } %>
                    <div class="dropdown-divider"></div>
                    <% if (user.user_id === f_user.user_id || permissions.request_add) { %>
                        <form id="newRequestForm">
                            <input type="hidden" name='requested_for' value='<%= f_user.user_id %>'>
                            <button class='dropdown-item dropdown_button confirm'>
                                New Request
                            </button>
                        </form>
                    <% } %>
                    <% if (user.user_id !== f_user.user_id && permissions.order_add) { %>
                        <form id="newOrderForm">
                            <input type="hidden" name='ordered_for' value='<%= f_user.user_id %>'>
                            <button class='dropdown-item dropdown_button confirm'>
                                New Order
                            </button>
                        </form>
                    <% } %>
                    <% if (user.user_id !== f_user.user_id && permissions.issue_add) { %>
                        <form id="newIssueForm">
                            <input type="hidden" name='issued_to' value='<%= f_user.user_id %>'>
                            <button class='dropdown-item dropdown_button confirm'>
                                New Issue
                            </button>
                        </form>
                    <% } %>
                    <div class="dropdown-divider"></div>
                    <% if (permissions.user_edit) { %>
                        <form id='resetPasswordForm'>
                            <input type="hidden" name='user[_reset]' value='<% if (f_user._reset) { %>0<% } else{ %>1<% } %>'>
                            <button class='dropdown-item dropdown_button confirm'>
                                Reset Password
                            </button>
                        </form>
                    <% } %>
                </div>
            </li>
        </ul>
    </nav>
</section>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="permissions-tab" data-toggle="tab" href="#permissions" role="tab" aria-controls="permissions" aria-selected="true">
                Permissions (<span id='permission_count'></span>)
            </a>
        </li>
        <% if (permissions.access_requests || user.user_id === f_user.user_id) { %>
            <li class="nav-item">
                <a class="nav-link" id="requests-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="true">
                    Requests (<span id='request_count'></span>)
                </a>
            </li>
        <% } %>
        <% if (permissions.access_orders || user.user_id === f_user.user_id) { %>
            <li class="nav-item">
                <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="true">
                    Orders (<span id='order_count'></span>)
                </a>
            </li>
        <% } %>
        <% if (permissions.access_issues || user.user_id === f_user.user_id) { %>
            <li class="nav-item">
                <a class="nav-link" id="issues-tab" data-toggle="tab" href="#issues" role="tab" aria-controls="issues" aria-selected="true">
                    Issues (<span id='issue_count'></span>)
                </a>
            </li>
        <% } %>
        <% if (permissions.access_notes) { %>
            <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
                    Notes (<span id='note_count'></span>)
                </a>
            </li>
        <% } %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Bader #</span>
                    </div>
                    <p class="form-control"><%= f_user._bader %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Rank</span>
                    </div>
                    <p class="form-control"><%= f_user.rank._rank %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Name</span>
                    </div>
                    <p class="form-control"><%= f_user._name %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Initials</span>
                    </div>
                    <p class="form-control"><%= f_user._ini %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Status</span>
                    </div>
                    <p class="form-control"><%= f_user.status._status %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Login ID</span>
                    </div>
                    <p class="form-control"><%= f_user._login_id %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-75">
                        <span class="input-group-text w-100">Change password on next login</span>
                    </div>
                    <p class='form-control'>
                        <input class="form-control form-control-sm" type="checkbox" disabled<% if (f_user._reset) { %> checked<% } %>>
                    </p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="permissions" role="tabpanel" aria-labelledby="permissions-tab">
            <div class="container">
                <div id='spn_permissions' class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <select id='permissionSelect' class="form-control" size="11">
                </select>
            </div>
        </div>
        <% if (permissions.access_requests || user.user_id === f_user.user_id) { %>
            <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                <div class="container">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend w-30">
                            <label class="input-group-text w-100" for="sel_requests">Status</label>
                        </div>
                        <select class="custom-select" id='sel_requests' onchange='getRequests(<%= f_user.user_id %>)'>
                            <option value="All" selected>All</option>
                            <option value="Pending">Pending</option>
                            <option value="Approved">Approved</option>
                            <option value="Declined">Declined</option>
                        </select>
                    </div>
                    <div id='spn_requests' class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <table class='table table-sm table-hover'>
                        <thead class="thead-dark">
                            <th class="w-20" onclick="sortTable(0, 'requestTable')">Date</th>
                            <th class="w-30" onclick="sortTable(1, 'requestTable')">Item</th>
                            <th class="w-20" onclick="sortTable(2, 'requestTable')">Size</th>
                            <th class="w-10" onclick="sortTable(3, 'requestTable')">Qty</th>
                            <th class="w-20" onclick="sortTable(4, 'requestTable')">Status</th>
                            <th><i class="fas fa-search"></i></th>
                        </thead>
                        <tbody id="requestTable">
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_orders || user.user_id === f_user.user_id) { %>
            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                <div class="container">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend w-30">
                            <label class="input-group-text w-100" for="sel_orders">Status</label>
                        </div>
                        <select class="custom-select" id='sel_orders' onchange='getOrders(<%= f_user.user_id %>)'>
                            <option value="All" selected>All</option>
                            <option value="Open">Open</option>
                            <option value="Demanded">Demanded</option>
                            <option value="Received">Received</option>
                            <option value="Complete">Complete</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>
                    <div id='spn_orders' class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <table class='table table-sm table-hover'>
                        <thead class="thead-dark">
                            <th class="w-25" onclick="sortTable(0, 'tableOrders')">Date</th>
                            <th class="w-25" onclick="sortTable(1, 'tableOrders')">Item</th>
                            <th class="w-20" onclick="sortTable(2, 'tableOrders')">Size</th>
                            <th class="w-10" onclick="sortTable(3, 'tableOrders')">Qty</th>
                            <th class="w-10" onclick="sortTable(4, 'tableOrders')">Status</th>
                            <th class="w-5"  onclick="sortTable(5, 'tableOrders')" data-toggle="tooltip" data-placement="bottom" title="Demanded">D</th>
                            <th class="w-5"  onclick="sortTable(6, 'tableOrders')" data-toggle="tooltip" data-placement="bottom" title="Received">R</th>
                            <th class="w-5"  onclick="sortTable(7, 'tableOrders')" data-toggle="tooltip" data-placement="bottom" title="Issued">I</th>
                            <th><i class="fas fa-search"></i></th>
                        </thead>
                        <tbody id="orderTable">
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_issues || user.user_id === f_user.user_id) { %>
            <div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
                <div class="container">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend w-30">
                            <label class="input-group-text w-100" for="sel_issues">Returned Lines</label>
                        </div>
                        <select class="custom-select" id='sel_issues' onchange='getIssues(<%= f_user.user_id %>)'>
                            <option value="1" selected>Include</option>
                            <option value="2">Exclude</option>
                            <option value="3">Only</option>
                        </select>
                    </div>
                    <div id='spn_issues' class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <table class='table table-sm table-hover'>
                        <thead class="thead-dark">
                            <th class="w-20" onclick="sortTable(0, 'tableIssues')">Date Due</th>
                            <th class="w-30" onclick="sortTable(1, 'tableIssues')">Item</th>
                            <th class="w-20" onclick="sortTable(2, 'tableIssues')">Size</th>
                            <th class="w-10" onclick="sortTable(3, 'tableIssues')">Qty</th>
                            <th class="w-20" onclick="sortTable(4, 'tableIssues')">Return Location</th>
                            <th><i class="fas fa-search"></i></th>
                        </thead>
                        <tbody id="issueTable">
                            <% if (permissions.return_add) { %>
                                <form id='returnedLines' action="/stores/returns?src=/stores/users/<%= f_user.user_id %>" method='POST'>
                                <input class="btn btn-sm btn-primary mb-1" type="submit" value="Return Selected Lines">
                                <input type="hidden" name="from" value="<%= f_user.user_id %>">
                            <% } %>
                            <% if (permissions.return_add) { %></form><% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
        <% include ../../partials/noteTable %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/changePassword.js"></script>
<script src='/js/specific/users_show.js'></script>
<script>
    window.addEventListener( "load", function () {
        <% if (permissions.user_edit) { %>
            addFormListener('resetPasswordForm', 'PUT', '/stores/users/<%= f_user.user_id %>', {reload: true});
        <% } %>
        <% if (user.user_id !== f_user.user_id && permissions.issue_add) { %>
            addFormListener('newIssueForm', 'POST', '/stores/issues', {reload: true});
        <% } %>
        <% if (user.user_id === f_user.user_id || permissions.request_add) { %>
            addFormListener('newRequestForm', 'POST', '/stores/requests', {reload: true});
        <% } %>
        <% if (user.user_id !== f_user.user_id && permissions.order_add) { %>
            addFormListener('newOrderForm', 'POST', '/stores/orders', {reload: true});
        <% } %>
        <% if (user.user_id !== f_user.user_id && permissions.user_delete) { %>
            addFormListener('userDeleteForm', 'DELETE', '/stores/users/<%= f_user.user_id %>', {redirect: '/stores/users'});
        <% } %>
    });
    showTab('<%= show_tab %>');
</script>
<script async>getRequests(<%= f_user.user_id %>)</script>
<script async>getOrders(<%= f_user.user_id %>)</script>
<script async>getIssues(<%= f_user.user_id %>)</script>
<script async>getPermissions(<%= f_user.user_id %>)</script>
<% include ../../partials/foot/htmlClose %>