<%- include(`${process.env.PARTIALS}/head/full`) %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores',       text: 'Stores'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`, {href: '/stores/users', text: 'Users'}) %>
            <%- include(`${process.env.PARTIALS}/breadcrumb`) %>
        </ul>
    </nav>
</section>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.user_edit) { %>
                    <%- include(`${process.env.PARTIALS}/edit`) %>
                <% } %>
                <%- include(`${process.env.PARTIALS}/notes/menu_add`) %>
                <% if (permissions.user_delete) { %>
                    <%- include(`${process.env.PARTIALS}/delete`) %>
                <% } %>
                <div class="dropdown-divider"></div>
                <% if (permissions.user_edit || user.user_id === user_id) { %>
                    <a class="dropdown-item" id="btn_pwd_chg">
                        Change Password
                    </a>
                <% } %>
                <% if (permissions.user_edit) { %>
                    <form id='resetPasswordForm'>
                        <input type="hidden" name='user[_reset]' id="btn_pwd_rst">
                        <button class='dropdown-item dropdown_button confirm'>
                            Reset Password
                        </button>
                    </form>
                <% } %>
                <% if (user.user_id !== user_id) { %>
                    <% if (permissions.permission_edit) { %>
                        <a class="dropdown-item" id='btn_perm_edit'>
                            Edit Permissions
                        </a>
                    <% } %>
                    <div class="dropdown-divider"></div>
                    <% if (permissions.order_add) { %>
                        <form id="newOrderForm">
                            <input type="hidden" class='user_id' name='ordered_for'>
                            <button class='dropdown-item dropdown_button confirm'>
                                New Order
                            </button>
                        </form>
                    <% } %>
                    <% if (permissions.issue_add) { %>
                        <form id="newIssueForm">
                            <input type="hidden" class='user_id' name='issued_to'>
                            <button class='dropdown-item dropdown_button confirm'>
                                New Issue
                            </button>
                        </form>
                    <% } %>
                <% } %>
                <% if (user.user_id === user_id || permissions.request_add) { %>
                    <form id="newRequestForm">
                        <input type="hidden" class='user_id' name='requested_for'>
                        <button class='dropdown-item dropdown_button confirm'>
                            New Request
                        </button>
                    </form>
                <% } %>
            </div>
        </li>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'details',     title: 'Details'}) %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'tab_permissions', title: 'Permissions', count_id: 'permission_count', permission: 'access_permissions'}) %>
        <% if (permissions.access_requests || user.user_id === user_id) { %>
            <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'requests',   title: 'Requests', count_id: 'request_count'}) %>
        <% } %>
        <% if (permissions.access_orders || user.user_id === user_id) { %>
            <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'orders',   title: 'Orders', count_id: 'order_count'}) %>
        <% } %>
        <% if (permissions.access_issues || user.user_id === user_id) { %>
            <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'issues',   title: 'Issues', count_id: 'issue_count'}) %>
        <% } %>
        <%- include(`${process.env.PARTIALS}/tab_head`, {id: 'notes',   title: 'Notes', count_id: 'note_count', permission: 'access_notes'}) %>
        <%- include(`${process.env.PARTIALS}/reload`) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <%- include(`${process.env.PARTIALS}/spinner`, {id: 'users'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_bader',      title: 'Bader #'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'rank',        title: 'Rank'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_name',       title: 'Name'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_ini',        title: 'Initials'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: 'status',      title: 'Status'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_login_id',   title: 'Login ID'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {id: '_last_login', title: 'Last Login'}) %>
            <%- include(`${process.env.PARTIALS}/inputs/display`, {title: 'Change password on next login', prepend_size: 50, html: '<div class="input-group-append w-50"><div class="input-group-text w-100"><input type="checkbox" id="_reset" disabled></div></div>'}) %>
        </div>
        <% if (permissions.access_permissions || user.user_id === user_id) { %>
            <div class="tab-pane fade" id="tab_permissions" role="tabpanel" aria-labelledby="permissions-tab">
                <%- include(`${process.env.PARTIALS}/inputs/select`, {title: 'Granted Permissions', id: 'permissions', size: '11', spinner: true, spinner_sm: true, spinner_float_right: true}) %>
            </div>
        <% } %>
        <% if (permissions.access_requests || user.user_id === user_id) { %>
            <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                <%- include(`${process.env.PARTIALS}/inputs/select`, {title: 'Status', id: 'request_status', options: [{value: '', text: 'All'}, {value: '_status=Pending', text: 'Pending'}, {value: '_status=Approved', text: 'Approved'}, {value: '_status=Declined', text: 'Declined'}], spinner: true, spinner_sm: true, spinner_float_right: true}) %>
                <table class='table table-sm table-hover'>
                    <thead class="thead-dark">
                        <th class="w-20" onclick="sortTable(0, 'requestTable')"><%- include(`${process.env.PARTIALS}/spinner`, {id: 'request_lines', spinner_sm: true, spinner_float_left: true}) %>Date</th>
                        <th class="w-30" onclick="sortTable(1, 'requestTable')">Item</th>
                        <th class="w-20" onclick="sortTable(2, 'requestTable')">Size</th>
                        <th class="w-10" onclick="sortTable(3, 'requestTable')">Qty</th>
                        <th class="w-20" onclick="sortTable(4, 'requestTable')">Status</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id="requestTable">
                    </tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_orders || user.user_id === user_id) { %>
            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                <%- include(`${process.env.PARTIALS}/inputs/select`, {title: 'Status', id: 'order_status', options: [{value: '', text: 'All'}, {value: '_status=Open', text: 'Open'}, {value: '_status=Demanded', text: 'Demanded'}, {value: '_status=Received', text: 'Received'}, {value: '_status=Complete', text: 'Complete'}, {value: '_status=Cancelled', text: 'Cancelled'}], spinner: true, spinner_sm: true, spinner_float_right: true}) %>
                <table class='table table-sm table-hover'>
                    <thead class="thead-dark">
                        <th class="w-25" onclick="sortTable(0, 'tableOrders')"><%- include(`${process.env.PARTIALS}/spinner`, {id: 'order_lines', spinner_sm: true, spinner_float_left: true}) %>Date</th>
                        <th class="w-25" onclick="sortTable(1, 'tableOrders')">Item</th>
                        <th class="w-20" onclick="sortTable(2, 'tableOrders')">Size</th>
                        <th class="w-10" onclick="sortTable(3, 'tableOrders')">Qty</th>
                        <th class="w-10" onclick="sortTable(4, 'tableOrders')">Status</th>
                        <th class="w-5"  onclick="sortTable(5, 'tableOrders')" data-toggle="tooltip" data-placement="bottom" title="Demanded">D</th>
                        <th class="w-5"  onclick="sortTable(6, 'tableOrders')" data-toggle="tooltip" data-placement="bottom" title="Received">R</th>
                        <th class="w-5"  onclick="sortTable(7, 'tableOrders')" data-toggle="tooltip" data-placement="bottom" title="Issued">I</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id="orderTable">
                    </tbody>
                </table>
            </div>
        <% } %>
        <% if (permissions.access_issues || user.user_id === user_id) { %>
            <div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
                <%- include(`${process.env.PARTIALS}/inputs/select`, {title: 'Returned Lines', id: 'returned_lines', options: [{value: '1', text: 'Include'}, {value: '2', text: 'Exclude', selected: true}, {value: '3', text: 'Only'}], spinner: true, spinner_sm: true, spinner_float_right: true}) %>
                <% if (permissions.return_add && user.user_id !== user_id) { %>
                    <form id='returnForm'>
                        <input class="btn btn-sm btn-primary confirm mb-1" type="submit" value="Return Selected Lines">
                <% } %>
                <table class='table table-sm table-hover'>
                    <thead class="thead-dark">
                        <th class="w-20" onclick="sortTable(0, 'tableIssues')"><%- include(`${process.env.PARTIALS}/spinner`, {id: 'issue_lines', spinner_sm: true, spinner_float_left: true}) %>Date Due</th>
                        <th class="w-30" onclick="sortTable(1, 'tableIssues')">Item</th>
                        <th class="w-20" onclick="sortTable(2, 'tableIssues')">Size</th>
                        <th class="w-10" onclick="sortTable(3, 'tableIssues')">Qty</th>
                        <th class="w-20" onclick="sortTable(4, 'tableIssues')">Return Location</th>
                        <th><i class="fas fa-search"></i></th>
                    </thead>
                    <tbody id="issueTable">
                    </tbody>
                </table>
                <% if (permissions.return_add) { %></form><% } %>
            </div>
        <% } %>
        <%- include(`${process.env.PARTIALS}/notes/tab_body`) %>
    </div>
</section>
<%- include(`${process.env.PARTIALS}/foot/full`) %>
<script src="/js/users/show/changePassword.js"></script>
<script src='/js/users/show/permissions.js'></script>
<script src='/js/users/show/requests.js'></script>
<script src='/js/users/show/orders.js'></script>
<script src='/js/users/show/issues.js'></script>
<script src='/js/users/show/user.js'></script>
<script src="/js/getByUser.js"></script>
<script src="/js/data/addFormListener.js"></script>
<script src='/js/tabs.js'></script>
<script>showTab('<%= tab %>');</script>
<script>
    getUser = () => get(showUser, {table: 'users', query: [`user_id=${path[3]}`]});
    document.querySelector('#reload').addEventListener('click', () => getUser());
</script>
<script async>getUser()</script>
<% if (permissions.access_permissions || user.user_id === user_id) { %>
    <script>
        getPermissions = () => get(showPermissions, {table: 'permissions', query: [`user_id=${path[3]}`]});
        document.querySelector('#reload').addEventListener('click', () => getPermissions());
    </script>
    <script async>getPermissions()</script>
<% } %>
<% if (permissions.access_requests || user.user_id === user_id) { %>
    <script>
        getRequests = () => {
            let request_status = document.querySelector('#request_status');
            getByUser(showRequests, {table: 'request_lines', user_id: path[3], query: [request_status.value]});
        };
        document.querySelector('#reload').addEventListener('click', () => getRequests());
        document.querySelector('#request_status').addEventListener('change', () => getRequests());
    </script>
    <script async>getRequests()</script>
<% } %>
<% if (permissions.access_orders || user.user_id === user_id) { %>
    <script>
        getOrders = () => {
            let order_status = document.querySelector('#order_status');
            getByUser(showOrders, {table: 'order_lines', user_id: path[3], query: [order_status.value]});
        };
        document.querySelector('#reload').addEventListener('click', () => getOrders());
        document.querySelector('#order_status').addEventListener('change', () => getOrders());
    </script>
    <script async>getOrders()</script>
<% } %>
<% if (permissions.access_issues || user.user_id === user_id) { %>
    <script>
        getIssues = () => {
            let returned_lines = document.querySelector('#returned_lines');
            getByUser(showIssues, {table: 'issue_lines', user_id: path[3], query: [returned_lines.value]});
        };
        document.querySelector('#reload').addEventListener('click', () => getIssues());
        document.querySelector('#returned_lines').addEventListener('change', () => getIssues());
    </script>
    <script async>getIssues()</script>
<% } %>
<script>
    window.addEventListener( "load", function () {
        <% if (permissions.user_edit) { %>
            addFormListener('resetPasswordForm', 'PUT', '/stores/users/<%= user_id %>', {reload: true});
        <% } %>
        <% if (user.user_id === user_id || permissions.request_add) { %>
            addFormListener('newRequestForm', 'POST', '/stores/requests', {reload: true});
        <% } %>
        <% if (user.user_id !== user_id) { %>
            <% if (permissions.return_add) { %>
                addFormListener('returnForm', 'POST', '/stores/returns', {reload: true});
            <% } %>
            <% if (permissions.issue_add) { %>
                addFormListener('newIssueForm', 'POST', '/stores/issues', {reload: true});
            <% } %>
            <% if (permissions.order_add) { %>
                addFormListener('newOrderForm', 'POST', '/stores/orders', {reload: true});
            <% } %>
            <% if (permissions.user_delete) { %>
                addFormListener('deleteForm', 'DELETE', '/stores/users/<%= user_id %>', {redirect: '/stores/users'});
            <% } %>
        <% } %>
    });
</script>
<%- include(`${process.env.PARTIALS}/foot/htmlClose`) %>