<%- include(`${partials}/head/app`) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores',       text: 'Stores'}) %>
<%- include(`${partials}/breadcrumb`, {href: '/stores/users', text: 'Users'}) %>
<%- include(`${partials}/breadcrumb`) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/head/navbar/close`) %>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%- include(`${partials}/users/show/menu_buttons`) %>
                <%- include(`${partials}/notes/menu_add`) %>
                <div class="dropdown-divider"></div>
                <% if (permissions.issue_add) { %>
                    <form id="form_issue_add">
                        <input type="hidden" class='user_id' name='user_id_issue'>
                        <button class='dropdown-item'>
                            New Issue
                        </button>
                    </form>
                    <script>
                        window.addEventListener( "load", function () {
                            addFormListener('form_issue_add', 'POST', '/stores/issues', {onComplete: getIssues});
                        });
                    </script>
                <% } %>
            </div>
        </li>
        <%- include(`${partials}/users/show/tab_heads`) %>
        <%- include(`${partials}/tab_head`, {id: 'issues', spinner: 'issues', title: 'Issues', count_id: 'issue'}) %>
        <%- include(`${partials}/tab_head`, {id: 'notes',  spinner: 'notes',  title: 'Notes',  count_id: 'note', permission: 'access_notes'}) %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <%- include(`${partials}/users/show/tab_bodies`) %>
        <div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
            <%- include(`${partials}/inputs/select`, {title: 'Status', id: 'sel_status', options: [{text: 'All'}, {value: '_status=0', text: 'Cancelled/Declined'}, {value: '_status=1', text: 'Requested'}, {value: '_status=2', text: 'Approved'}, {value: '_status=3', text: 'Ordered', {value: '_status=4', text: 'Issued', selected: true, , {value: '_status=5', text: 'Returned'}}}], spinner: true}) %>
            <% if (permissions.issue_return) { %>
                <form id='form_issue_return'>
                    <input class="btn btn-sm btn-primary mb-1" type="submit" value="Return Selected Lines">
            <% } %>
            <table class='table table-sm table-hover'>
                <thead class="thead-dark">
                    <th class="w-20" onclick="sortTable(0, 'tbl_issues')">Date</th>
                    <th class="w-30" onclick="sortTable(1, 'tbl_issues')">Item</th>
                    <th class="w-20" onclick="sortTable(2, 'tbl_issues')">Size</th>
                    <th class="w-10" onclick="sortTable(3, 'tbl_issues')">Qty</th>
                    <th class="w-20" onclick="sortTable(4, 'tbl_issues')">Status</th>
                    <th><i class="fas fa-search"></i></th>
                </thead>
                <tbody id="tbl_issues"></tbody>
            </table>
            <% if (permissions.issue_return) { %>
                </form>
                <script>
                    window.addEventListener( "load", function () {
                        addFormListener('form_issue_return', 'POST', '/stores/returns', {onComplete: getIssues});
                    });
                </script>
            <% } %>
        </div>
        <%- include(`${partials}/notes/tab_body`) %>
    </div>
    <div id="div_modals">
        <%- include(`${partials}/users/show/modals`) %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/data/addFormListener.js"></script>
<script src='/js/tabs.js'></script>
<script>showTab('<%= tab %>');</script>

<%- include(`${partials}/users/show/scripts`) %>

<script src='/js/stores/users/issues.js'></script>
<script async>getIssues()</script>

<%- include(`${partials}/foot/elements/htmlClose`) %>