<!-- USER SHOW PAGE -->
<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= user.user_id %>"><%= user.rank._rank %> <%= user._name %>, <%= user._ini %></a>
            </li>
        </ul>
    </nav>
</section>
<section>
    <nav class="navbar navbar-expand navbar-dark bg-dark stores">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if (permissions.users_permissions) { %>
                        <a class="dropdown-item" href="/stores/users/<%= user.user_id %>/edit">Edit</a>
                    <% } %>
                    <% if (permissions.users_permissions && user.user_id !== currentUser.user_id) { %>
                        <a class="dropdown-item" href="/stores/permissions/<%= user.user_id %>/edit">Edit Permissions</a>
                    <% } %>
                    <% if (permissions.users_password || user.user_id === currentUser.user_id) { %>
                        <a class="dropdown-item" href="/stores/password?user=<%= user.user_id %>">Change Password Now</a>
                    <% } %>
                    <% if (permissions.users_password || user.user_id === currentUser.user_id) { %>
                        <form action="/stores/users/<%= user.user_id %>?_method=PUT" method="POST">
                            <input type="hidden" name="user[user_id]" value="<%=user.user_id %>">
                            <input type="hidden" name="user[_reset]" value=<% if (user._reset === 0) { %>"1"<% } else { %>"0"<% } %>>
                            <button class="dropdown-item dropdown_button" type="submit">Toggle Reset at Next Login</button>
                        </form>
                        <% } %>
                    <% if (permissions.add_notes) { %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/stores/notes/new?table=users&id=<%= user.user_id %>">Add Note</a>
                    <% } %>
                    <% if (user.user_id !== currentUser.user_id && permissions.issues_add) { %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/stores/issues/new?user=<%= user.user_id %>">New Issue</a>
                    <% } %>
					<% if (user.user_id !== currentUser.user_id && permissions.issues_return) { %>
						<button form='returnedLines' class="dropdown-item dropdown_button">Return Selected Issues</button>
					<% } %>
                    <% if (user.user_id !== currentUser.user_id && permissions.orders_add) { %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/stores/orders/new?user=<%= user.user_id %>">New Order</a>
                    <% } %>
                    <% if (user.user_id === currentUser.user_id || permissions.requests_add) { %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/stores/requests/new?user=<%= user.user_id %>">New Request</a>
                    <% } %>

                    <% if (user.user_id !== currentUser.user_id && permissions.users_delete) { %>
                        <div class="dropdown-divider"></div>
                        <form action="/stores/users/<%= user.user_id %>?_method=DELETE" method="POST">
                            <button class="dropdown-item dropdown_button">Delete User</button>
                        </form>
                    <% } %>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/stores/users">Back to Users</a>
                </div>
            </li>
        </ul>
    </nav>
</section>
<section class="container pt-3 row mx-auto">
    <div class="col-12 col-lg-4">
        <div class="row">
            <div class="col-12 mb-3 bordered">
                <div id="divUsers">
                    <h4>Details</h4>
                    <div class="details">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="col-form-label">Bader #:</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="<%= user._bader %>" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="col-form-label">Rank:</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="<%= user.rank._rank %>" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="col-form-label">Name:</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="<%= user._name %>" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="col-form-label">Initials:</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="<%= user._ini %>" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="col-form-label">Gender:</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="<%= user.gender._gender %>" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="col-form-label">Status:</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="<%= user.status._status %>" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="col-form-label">Login ID:</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" value="<%= user._login_id %>" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="col-form-label">Reset:</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="checkbox" <% if (user._reset) { %>checked <% } %>disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 my-3 bordered">
                <h4>Permissions</h4>
                <div style="overflow-x:auto;">
                    <table id="permissionTable" class="table table-sm w-100 limit-height-200">
                        <thead class="thead-dark">
                            <th onclick="sortTable(0, 'permissionTable')" >Permission Name</th>
                        </thead>
                        <tbody>
                            <% for (var permission in user.permission.dataValues) { %>
                                <% if (user.permission[permission] === 1 && permission !== 'user_id' && permission !== 'createdAt' && permission !== 'updatedAt') { %>
                            <tr>
                                <td><%= permission%></td>
                            </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <% if (permissions.access_issues || currentUser.user_id === user.user_id) { %>
    <div class="col-12 col-lg-8">
        <div class="container bordered pt-3">
            <h4>Issued Items</h4>
            <div class="row px-3">
                <label class="col-5 col-form-label" for="ri">Returned Lines:</label>
                <select class='form-control form-control-sm col-7' id="ri" type="text" onchange=filterSelects()>
                    <option value="1" <% if (query.ri === 1) { %>selected<% } %> >Include</option>
                    <option value="2" <% if (query.ri === 2) { %>selected<% } %> >Exclude</option>
                    <option value="3" <% if (query.ri === 3) { %>selected<% } %> >Only</option>
                </select>
            </div>
            <table id="tableIssues" class='table table-sm table-hover mx-auto w-100'>
                <thead class="thead-dark">
                    <th class="w-25" onclick="sortTable(0, 'tableIssues')">Date</th>
                    <th class="w-25" onclick="sortTable(1, 'tableIssues')">Date Due</th>
                    <th class="w-40" onclick="sortTable(2, 'tableIssues')">Issued By</th>
                    <th class="w-10" onclick="sortTable(3, 'tableIssues')">Complete</th>
                </thead>
                <tbody>
                    <form id='returnedLines' action="/stores/issues?_method=PUT&source=/stores/users/<%= user.user_id %>" method='POST'>
                        <input type="hidden" name="selectedUser" value="<%= user.user_id %>">
                        <% if (user.issues) { %>
                            <% user.issues.forEach((issue) => { %>
                                <tr>
                                    <td><a href='/stores/issues/<%= issue.issue_id %>'><%= issue._date.toDateString() %></a></td>
                                    <td><a href='/stores/issues/<%= issue.issue_id %>'><%= issue._date_due.toDateString() %></a></td>
                                    <td><a href='/stores/issues/<%= issue.issue_id %>'><%= issue.issuedBy.rank._rank %> <%= issue.issuedBy._name %>, <%= issue.issuedBy._ini %></a></td>
                                    <td><input class="form-control form-control-sm" type="checkbox" <% if (issue._complete) { %>checked <% } %>disabled></td>
                                </tr>
                            <% }); %>
                        <% }; %>
                    </form>
                </tbody>
            </table>
        </div>
        <% } %>
        <% if (permissions.access_orders || currentUser.user_id === user.user_id) { %>
        <div class="container bordered mt-3 pt-3">
            <h4>Orders</h4>
            <div class="row px-3">
            <label class="col-form-label col-5" for="io">Issued Orders:</label>
                <select id="io" class='form-control form-control-sm col-7' type="text" onchange=filterSelects()>
                    <option value="1" <% if (query.io === 1) { %>selected<% } %> >Include</option>
                    <option value="2" <% if (query.io === 2) { %>selected<% } %> >Exclude</option>
                    <option value="3" <% if (query.io === 3) { %>selected<% } %> >Only</option>
                </select>
            </div>
            <table id="tableOrders" class='table table-sm table-hover mx-auto w-100'>
                <thead class="thead-dark">
                    <th class="w-40" onclick="sortTable(0, 'tableLoancards')">Date</th>
                    <th class="w-50" onclick="sortTable(1, 'tableLoancards')">Ordered By</th>
                    <th class="w-10" onclick="sortTable(2, 'tableLoancards')">Complete</th>
                </thead>
                <tbody>
                    <% if(user.orders) { %>
                        <% user.orders.forEach((order) => { %>
                            <tr>
                    <td><a href='/stores/orders/<%= order.order_id %>'><%= order._date.toDateString() %></a></td>
                    <td><a href='/stores/orders/<%= order.order_id %>'><%= order.orderedBy.rank._rank %> <%= order.orderedBy._name %>, <%= order.orderedBy._ini %></a></td>
                    <td><input class="form-control form-control-sm" type="checkbox" <% if (order._complete) { %>checked <% } %>disabled></td>
                    </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <% } %>
        <% if (permissions.access_requests || currentUser.user_id === user.user_id) { %>
        <div class="container bordered mt-3 pt-3">
            <h4>Requests</h4>
            <div class="row px-3">
                <label class="col-form-label col-5" for="cr">Closed Requests:</label>
                <select id="cr" class='form-control form-control-sm col-7' type="text" onchange=filterSelects()>
                    <option value="1" <% if (query.cr === 1) { %>selected<% } %> >Include</option>
                    <option value="2" <% if (query.cr === 2) { %>selected<% } %> >Exclude</option>
                    <option value="3" <% if (query.cr === 3) { %>selected<% } %> >Only</option>
                </select>
            </div>
            <table id="tableRequests" class='table table-sm table-hover mx-auto w-100'>
                <thead class="thead-dark">
                    <th class="w-40" onclick="sortTable(0, 'tableLoancards')">Date</th>
                    <th class="w-50" onclick="sortTable(1, 'tableLoancards')">Requested By</th>
                    <th class="w-10" onclick="sortTable(2, 'tableLoancards')">Complete</th>
                </thead>
                <tbody>
                    <% if(user.requests) { %>
                        <% user.requests.forEach((request) => { %>
                            <tr>
                    <td><a href='/stores/requests/<%= request.request_id %>'><%= request._date.toDateString() %></a></td>
                    <td><a href='/stores/requests/<%= request.request_id %>'><%= request.requestedBy.rank._rank %> <%= request.requestedBy._name %>, <%= request.requestedBy._ini %></a></td>
                    <td><input class="form-control form-control-sm" type="checkbox" <% if (request._complete) { %>checked <% } %>disabled></td>
                    </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <% } %>
        <% if (permissions.access_notes || currentUser.user_id === user.user_id) { %> 
        <div class="bordered mt-3">
            <% include ../../partials/noteTable %>
        </div>
        <% } %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/tableSort.js"></script>
<script src="/js/filters.js"></script>
<script>
    function filterSelects() {
        filter(['sn', 'io', 'cr', 'ri'],"/stores/users/<%= user.user_id %>");
    };
</script>
<% include ../../partials/foot/htmlClose %>