<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/<%= f_user.user_id %>"><%= f_user.rank._rank %> <%= f_user._name %>, <%= f_user._ini %></a>
            </li>
        </ul>
    </nav>
</section>
<section class="container">
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="permissions-tab" data-toggle="tab" href="#permissions" role="tab" aria-controls="permissions" aria-selected="true">
                Permissions
            </a>
        </li>
        <% if (permissions.access_requests || user.user_id === f_user.user_id) { %>
            <li class="nav-item">
                <a class="nav-link" id="requests-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="true">
                    Requests (<span id='request_count'></span>)
                </a>
            </li>
        <% } %>
        <% if (permissions.access_orders || user.user_id === f_user.user_id) { %>
            <li class="nav-item">
                <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="true">
                    Orders (<span id='order_count'></span>)
                </a>
            </li>
        <% } %>
        <% if (permissions.access_issues || user.user_id === f_user.user_id) { %>
            <li class="nav-item">
                <a class="nav-link" id="issues-tab" data-toggle="tab" href="#issues" role="tab" aria-controls="issues" aria-selected="true">
                    Issues (<span id='issue_count'></span>)
                </a>
            </li>
        <% } %>
        <% if (permissions.access_notes) { %>
            <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
                    Notes (<span id='note_count'></span>)
                </a>
            </li>
        <% } %>
    </ul>
    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container">
                <% if (permissions.user_edit) { %>
                    <a class="float-left btn btn-primary m-1" href='javascript:edit("users",<%= f_user.user_id %>,{"height":361})' data-toggle="tooltip" data-placement="bottom" title="Edit User">
                        <i class='fas fa-pencil-alt'></i>
                    </a>
                <% } %>
                <% if (permissions.user_password || f_user.user_id === user.user_id) { %>
                    <a class="float-left btn btn-warning m-1" href='javascript:changePassword(<%= f_user.user_id %>)' data-toggle="tooltip" data-placement="bottom" title="Change Password">
                        <i class='fas fa-key'></i>
                    </a>
                <% } %>
                <% if (user.user_id !== f_user.user_id && permissions.user_delete) { %>
                    <form id='userDeleteForm'>
                        <button class="float-left m-1 btn btn-danger confirm" data-toggle="tooltip" data-placement="bottom" title="Delete User">
                            <i class='fas fa-trash-alt'></i>
                        </button>
                    </form>
                <% } %>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Bader #</span>
                    </div>
                    <p class="form-control"><%= f_user._bader %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Rank</span>
                    </div>
                    <p class="form-control"><%= f_user.rank._rank %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Name</span>
                    </div>
                    <p class="form-control"><%= f_user._name %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Initials</span>
                    </div>
                    <p class="form-control"><%= f_user._ini %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Status</span>
                    </div>
                    <p class="form-control"><%= f_user.status._status %></p>
                </div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-25">
                        <span class="input-group-text w-100">Login ID</span>
                    </div>
                    <p class="form-control"><%= f_user._login_id %></p>
                </div>
                <% if (permissions.user_password) { %>
                    <form action="/stores/users/<%= f_user.user_id %>?_method=PUT" method="POST">
                <% } %>
                <div class="input-group mb-1">
                    <div class="input-group-prepend w-75">
                        <span class="input-group-text w-100">Change password on next login</span>
                    </div>
                    <p class='form-control'>
                        <input class="form-control form-control-sm confirm" <% if (permissions.user_password) { %>name="user[_reset]" onChange="this.form.submit()" value='1' <% } %>type="checkbox" <% if (f_user._reset) { %>checked <% } %>>
                    </p>
                </div>
                <% if (permissions.user_password) { %>
                    </form>
                <% } %>
            </div>
        </div>
        <div class="tab-pane fade" id="permissions" role="tabpanel" aria-labelledby="permissions-tab">
            <div class="container">
                <% if (permissions.permission_edit && f_user.user_id !== user.user_id) { %>
                    <a class="float-left btn btn-primary m-1" href='javascript:edit("permissions",<%= f_user.user_id %>,{"height":600})' data-toggle="tooltip" data-placement="bottom" title="Edit Permissions">
                        <i class='fas fa-pencil-alt'></i>
                    </a>
                <% } %>
                <select class="form-control" size="11">
                    <% f_user.permissions.forEach(permission => { %>
                        <option><%= permission._permission %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <% if (permissions.access_requests || user.user_id === f_user.user_id) { %>
            <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                <div class="container">
                    <div class="row">
                        <% if (user.user_id === f_user.user_id || permissions.request_add) { %>
                            <div class="col-1">
                                <a class="float-left btn btn-success" href="/stores/requests/new?user=<%= f_user.user_id %>" data-toggle="tooltip" data-placement="bottom" title="Add Request">
                                    <i class='fas fa-plus'></i>
                                </a>
                            </div>
                        <% } %>
                        <div class="col-<% if (user.user_id === f_user.user_id || permissions.request_add) { %>11<% } else { %>12<% } %>">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend w-30">
                                    <label class="input-group-text w-100" for="sel_requests">Status</label>
                                </div>
                                <select class="custom-select" id='sel_requests' onchange='getRequests(<%= f_user.user_id %>)'>
                                    <option value="All" selected>All</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Declined">Declined</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id='spn_requests' class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <table class='table table-sm table-hover'>
                        <thead class="thead-dark">
                            <th class="w-20" onclick="sortTable(0, 'requestTable')">Date</th>
                            <th class="w-30" onclick="sortTable(1, 'requestTable')">Item</th>
                            <th class="w-20" onclick="sortTable(2, 'requestTable')">Size</th>
                            <th class="w-10" onclick="sortTable(3, 'requestTable')">Qty</th>
                            <th class="w-20" onclick="sortTable(4, 'requestTable')">Status</th>
                            <th><i class="fas fa-search"></i></th>
                        </thead>
                        <tbody id="requestTable">
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_orders || user.user_id === f_user.user_id) { %>
            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                <div class="container">
                    <div class="row">
                        <% if (user.user_id !== f_user.user_id && permissions.order_add) { %>
                            <div class="col-1">
                                <a class="float-left btn btn-success" href="/stores/orders/new?user=<%= f_user.user_id %>" data-toggle="tooltip" data-placement="bottom" title="Add Order">
                                    <i class='fas fa-plus'></i>
                                </a>
                            </div>
                        <% } %>
                        <div class="col-<% if (user.user_id !== f_user.user_id && permissions.order_add) { %>11<% } else { %>12<% } %>">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend w-30">
                                    <label class="input-group-text w-100" for="sel_orders">Status</label>
                                </div>
                                <select class="custom-select" id='sel_orders' onchange='getOrders(<%= f_user.user_id %>)'>
                                    <option value="All" selected>All</option>
                                    <option value="Open">Open</option>
                                    <option value="Demanded">Demanded</option>
                                    <option value="Received">Received</option>
                                    <option value="Complete">Complete</option>
                                    <option value="Cancelled">Cancelled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id='spn_orders' class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <table class='table table-sm table-hover'>
                        <thead class="thead-dark">
                            <th class="w-25" onclick="sortTable(0, 'tableOrders')">Date</th>
                            <th class="w-25" onclick="sortTable(1, 'tableOrders')">Item</th>
                            <th class="w-20" onclick="sortTable(2, 'tableOrders')">Size</th>
                            <th class="w-10" onclick="sortTable(3, 'tableOrders')">Qty</th>
                            <th class="w-10" onclick="sortTable(4, 'tableOrders')">Status</th>
                            <th class="w-5"  onclick="sortTable(5, 'tableOrders')" data-toggle="tooltip" data-placement="bottom" title="Demanded">D</th>
                            <th class="w-5"  onclick="sortTable(6, 'tableOrders')" data-toggle="tooltip" data-placement="bottom" title="Received">R</th>
                            <th class="w-5"  onclick="sortTable(7, 'tableOrders')" data-toggle="tooltip" data-placement="bottom" title="Issued">I</th>
                            <th><i class="fas fa-search"></i></th>
                        </thead>
                        <tbody id="orderTable">
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_issues || user.user_id === f_user.user_id) { %>
            <div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
                <div class="container">
                    <div class="row">
                        <% if (user.user_id !== f_user.user_id && permissions.issue_add) { %>
                            <form id="newIssueForm" class='col-1'>
                                <input type="hidden" name='user_id' value='<%= f_user.user_id %>'>
                                <button class='btn btn-success float-left' data-toggle="tooltip" data-placement="bottom" title="New Issue">
                                    <i class='fas fa-plus'></i>
                                </button>
                            </form>
                        <% } %>
                        <div class="col-<% if (user.user_id !== f_user.user_id && permissions.issue_add) { %>11<% } else { %>12<% } %>">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend w-30">
                                    <label class="input-group-text w-100" for="sel_issues">Returned Lines</label>
                                </div>
                                <select class="custom-select" id='sel_issues' onchange='getIssues(<%= f_user.user_id %>)'>
                                    <option value="1" selected>Include</option>
                                    <option value="2">Exclude</option>
                                    <option value="3">Only</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id='spn_issues' class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <table class='table table-sm table-hover'>
                                <thead class="thead-dark">
                                    <th class="w-20" onclick="sortTable(0, 'tableIssues')">Date Due</th>
                                    <th class="w-30" onclick="sortTable(1, 'tableIssues')">Item</th>
                                    <th class="w-20" onclick="sortTable(2, 'tableIssues')">Size</th>
                                    <th class="w-10" onclick="sortTable(3, 'tableIssues')">Qty</th>
                                    <th class="w-20" onclick="sortTable(4, 'tableIssues')">Return Location</th>
                                    <th><i class="fas fa-search"></i></th>
                                </thead>
                                <tbody id="issueTable">
                                    <% if (permissions.return_add) { %>
                                        <form id='returnedLines' action="/stores/returns?src=/stores/users/<%= f_user.user_id %>" method='POST'>
                                        <input class="btn btn-sm btn-primary mb-1" type="submit" value="Return Selected Lines">
                                        <input type="hidden" name="from" value="<%= f_user.user_id %>">
                                    <% } %>
                                    <% if (permissions.return_add) { %></form><% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <% if (permissions.access_notes) { %>
            <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                <div class="container">
                    <% include ../../partials/noteTable %>
                </div>
            </div>
        <% } %>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/changePassword.js"></script>
<script src='/js/specific/users_show.js'></script>
<script>
    <% if (user.user_id !== f_user.user_id && permissions.issue_add) { %>
        let newIssueForm = document.querySelector("#newIssueForm");
        newIssueForm.addEventListener("submit", function (event) {
            event.preventDefault();
            sendData(newIssueForm, 'POST', '/stores/issues', {reload: true});
        });
    <% } %>
    <% if (user.user_id !== f_user.user_id && permissions.user_delete) { %>
        let deleteUserForm = document.querySelector("#userDeleteForm");
        deleteUserForm.addEventListener("submit", function (event) {
            event.preventDefault();
            sendData(deleteUserForm, 'DELETE', '/stores/users/<%= f_user.user_id %>', {reload: true});
        });
    <% } %>
    showTab('<%= show_tab %>');
</script>
<script async>getRequests(<%= f_user.user_id %>)</script>
<script async>getOrders(<%= f_user.user_id %>)</script>
<script async>getIssues(<%= f_user.user_id %>)</script>
<% include ../../partials/foot/htmlClose %>