<!-- USER SHOW PAGE -->
<% include ../../partials/header %>
<% include ../../partials/nav %>
<% include ../../partials/bodyTop %>
<section class="container page_title">
    <a href="/stores"><h2>Stores Management</h2></a>
    <p class="text-left"><a href="/stores"> Main Menu </a>> > ><a href="/stores/users"> Users </a>> > ><a href="/stores/users/<%= user.user_id %>"> <%= user._name %> </a></p>
    <a href="/stores/users"><h3>Users</h3></a>
</section> 
<nav class="navbar navbar-expand navbar-dark bg-dark stores">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Options
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (permissions.users_permissions) { %>
                    <a class="dropdown-item" href="/stores/users/<%= user.user_id %>/edit">Edit</a>
                <% } %>
                <% if (permissions.users_permissions && user.user_id !== currentUser.user_id) { %>
				    <a class="dropdown-item" href="/stores/permissions/<%= user.user_id %>/edit">Edit Permissions</a>
                <% } %>
                <% if (permissions.users_permissions || user.user_id === currentUser.user_id) { %>
				    <a class="dropdown-item" href="/stores/password/<%= user.user_id %>">Reset Password</a>
                <% } %>
                <% if (permissions.add_notes) { %>
                    <div class="dropdown-divider"></div>
				    <a class="dropdown-item" href="/stores/notes/new?table=users&id=<%= user.user_id %>">Add Note</a>
				<% } %>
                <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/stores/users">Back to Users</a>
			</div>
		</li>
	</ul>
</nav>
<section class="detailBox container-fluid pt-3">
    <div class="row">
        <% if (user.user_id !== currentUser.user_id && permissions.users_delete) { %>
            <div class="col-12 mb-3">
                <form action="/stores/users/<%= user.user_id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete User</button>
                </form>
            </div>
        <% } %>
		<div class="col-12 col-lg-4 mb-3">
			<div class="bordered" id="divUsers">
                <h4>Details</h4>
                <div class="details">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Bader #:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="<%= user._bader %>" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Rank:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="<%= user.rank._rank %>" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Name:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="<%= user._name %>" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Initials:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="<%= user._ini %>" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Gender:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="<%= user.gender._gender %>" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Status:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="<%= user.status._status %>" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Login ID:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="<%= user._login_id %>" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Reset:</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" id="_reset" type="checkbox" disabled>
                        </div>
                    </div>
                </div>
			</div>
			<div class="bordered">
				<h4>Permissions</h4>
				<div style="overflow-x:auto;">
                    <table id="permissionTable" style="width:100%">
                        <thead>
                            <th onclick="sortTable(0, 'permissionTable')" >Permission Name</th>
                        </thead>
                        <tbody>
                            <% for (var permission in user.permission.dataValues) { %>
                                <% if (user.permission[permission] === 1 && permission !== 'user_id' && permission !== 'createdAt' && permission !== 'updatedAt') { %>
                                    <tr>
                                        <td><%= permission%></td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
					</table>
				</div>
			</div>
        </div>
        <% if (permissions.access_notes) { %> 
            <div class="col-lg-8">
                <% include ../../partials/noteTable %>
            </div>
        <% } %>
	</div>
</section>
<% include ../../partials/bodyBottom %>
<% include ../../partials/footer %>
<% include ../../partials/footjs %>
<script src="/js/tableSort.js"></script>
<script>
    document.querySelector('#_reset').checked = (Boolean(<%= user._reset %>));
</script>
<% include ../../partials/htmlBottom %>