<%- include(`${partials}/head/app`, {text: 'Canteen'}) %>
<%- include(`${partials}/breadcrumb`, {text: 'POS'}) %>
<%- include(`${partials}/reload`) %>
<%- include(`${partials}/breadcrumb`, {id: 'alert_main', classes: ['alert']}) %>
<%- include(`${partials}/spinner`, {id: 'current_sale'}) %>
<%- include(`${partials}/head/components/close`) %>
<section class='container mx-auto'>
	<div class='row'>
		<div class="order-last order-lg-first col-12 col-lg-7 col-xl-8">
            <ul class="nav nav-tabs" id="tab_headers" role="tablist">
                <%- include(`${partials}/tab_head`, {id: 'all_items', title: 'All Items', active: true}) %>
            </ul>
            <div class="tab-content pt-3" id="tab_pages">
                <div class="tab-pane fade active show" id="all_items" role="tabpanel" aria-labelledby="all-items-tab">
                    <div class="row h-150-px" id="div_all_items"></div>
                </div>
            </div>
        </div>
        <div class="order-first order-lg-last col-12 col-lg-5 col-xl-4">
            <button id='btn_finish' class='btn btn-lg btn-success w-100 mb-2' data-bs-toggle="modal" data-bs-target="#mdl_sale_complete">Finish</button>
            <%- include(`${partials}/inputs/display`, {title: 'Total (£)', id: 'total', classes: ['total']}) %>
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <th class="w-40" onclick="sortTable(0, 'tbl_sale_lines')">Item</th>
                    <th class="w-25" onclick="sortTable(1, 'tbl_sale_lines')">£/Each</th>
                    <th class="w-10" onclick="sortTable(2, 'tbl_sale_lines')">Qty</th>
                    <th class="w-25" onclick="sortTable(3, 'tbl_sale_lines')">£/Total</th>
                    <th><i class='fas fa-minus'></i></th>
                </thead>
                <tbody id="tbl_sale_lines"></tbody>
            </table>
            <p class='text-start'>Sale ID: <span id='sale_id'></span></p>
        </div>
    </div>
    <div id="div_modals">
        <div id='mdl_sale_complete' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Finish Sale <span class='alert_pos'></span></h5>
                    </div>
                    <div class="modal-body">
                        <%- include(`${partials}/inputs/checkbox`, {title: 'Print Receipt?', id: 'receipt', name: 'sale[receipt]', value: '1'}) %>
                        <%- include(`${partials}/inputs/display`,  {title: 'Total (£)',      id: 'total',   classes: ['total', 'f-20']}) %>
                        <% [['7','8','9'],['4','5','6'],['1','2','3']].forEach(r => { %>
                            <div class="row mb-2">
                                <% r.forEach(e => { %>
                                    <div class="col-4">
                                        <button class='btn btn-lg btn-primary number w-100' data-number='<%= e %>' type='button'><%= e %></button>
                                    </div>
                                <% }) %>
                            </div>
                        <% }) %>
                        <div class="row mb-2">
                            <div class="col-4">
                                <a class='btn btn-lg btn-primary number w-100' data-number='0'>0</a>
                            </div>
                            <div class="col-8">
                                <a class='btn btn-lg btn-warning w-100' href="javascript:backspace()"><i class='fas fa-backspace'></i></a>
                            </div>
                        </div>
                        <form id='form_sale_complete'>
                            <input type="hidden" class='sale_id' name='sale_id'>
                            <%- include(`${partials}/inputs/select`,  {title: 'Debit from',    id: 'sel_credits', name: 'sale[user_id_debit]',  spinner_id: 'users_debit',  reload_id: 'reload_debit',  permission: 'access_credits'}) %>
                            <%- include(`${partials}/inputs/select`,  {title: 'Credit change', id: 'sel_users',   name: 'sale[user_id_credit]', spinner_id: 'users_credit', reload_id: 'reload_credit', permission: 'access_users'}) %>
                            <%- include(`${partials}/inputs/number`,  {title: 'Tendered (£)',  id: 'tendered',    name: 'sale[tendered]', step: '0.01', value: '0.00', required: true, classes: [, 'f-20']}) %>
                            <%- include(`${partials}/inputs/display`, {title: 'Change (£)',    id: 'change', classes: [, 'f-20']}) %>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id='btn_sale_complete'       class='btn btn-lg btn-success w-100 mb-2'       form='form_sale_complete'>Pay</button>
                        <button id='btn_close_sale_complete' class='btn btn-lg btn-danger w-100 mb-2 hidden' data-bs-dismiss="modal"     >Close</button>
                    </div>
                </div>
            </div>
        </div>
        <% if (permissions.pos_layout_edit) { %>
            <div id='mdl_layout_edit' class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" id='form_layout_edit'>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Button</h5>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name='layout[button]'  id='layout_button_edit'>
                            <input type="hidden" name='layout[page_id]' id='layout_page_edit'>
                            <%- include(`${partials}/inputs/select`, {title: 'Item',   id: 'sel_items',   name: 'layout[item_id]', spinner_id: 'layout_items'}) %>
                            <%- include(`${partials}/inputs/colour`, {title: 'Colour', id: 'colour_edit', name: 'layout[colour]'}) %>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success w-100" value='Save Button'>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</section>
<%- include(`${partials}/foot/app`) %>
<script src="/js/common/alert.js"></script>
<% if (permissions.pos_layout_edit) { %>
    <script src="/js/canteen/pos/layouts/edit.js"></script>
<% } %>
<script src="/js/canteen/pos/view.js"></script>
<% if (permissions.access_users) { %>
    <script src="/js/utils/list/users.js"></script>
    <script src="/js/canteen/pos/credit.js"></script>
<% } %>
<% if (permissions.access_credits) { %>
    <script src="/js/canteen/pos/debit.js"></script>
<% } %>
<script async>getPages()</script>
<%- include(`${partials}/foot/components/htmlClose`) %>    